#iubenda-cs-banner {
	position: fixed;
	bottom: 15px;
	right: 15px;
	left: 15px;
	z-index: 99999;
	background: rgba(0,0,0,0.9);
	color: #fff;
	font-family: sans-serif;
	font-size: 0.8em;
	font-weight: 200;

	.iubenda-cs-content {
		max-width: 1320px;
		padding: 0 25px;
		margin: 0 auto;
		position: relative;

		p:first-of-type {
			font-size: 1.5em;
			margin-bottom: 0;
			margin-top: 0;
			padding-top: 1em;
		}
	}

	.iubenda-cs-close-btn {
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		color: #fff;
		font-size: 24px;
		transition: opacity 0.2s ease-in-out;

		&:hover {
			opacity: 0.8;
		}
	}
}
