/* This file contains all content area classes including sidebar classes. 
   It follows content structure. Classes are defined as they appear in content.
   You can modify these classes for your theme purpose as you wish.      
 */
.site-content {
    /* max-width: @sitewidth; */
    width: 100%;
    background: @siteContentBackground;
    color: @textcolor;
    /*main-content area - add other classes as you wish */
    .content-area {
        /* max-width:  @sidebarWidth; */
        width: 100%;

        .site-main {
            .post {
                .entry-header {
                    .entry-title {
                        a {
                            color: @entryTitleColor;
                            .transition(color, 1s, ease, 0s);

                            &:hover {
                                color: @entryTitleHover;
                                .transition(color, 0.5s, ease, 0s);
                            }
                        }
                    }

                    .entry-meta {
                        .posted-on {
                        }

                        .byline {
                            .author {
                            }
                        }
                    }
                }

                .entry-content {
                }

                .entry-footer {
                    .comments-link {
                    }
                }
            }
        }

        @import "post-navigation";
    }
    /* Sidebar classes - add more classes as you wish */
    .widget-area {
        /* max-width: @contentWidth;*/
        width: 100%;

        .widget {
            .widget-title {
                color: @widgetTitlecolor;

                &:hover {
                    color: @widgettitlehover;
                }
            }

            .tag-cloud {
                a {
                    &:hover {
                    }
                }
            }
        }
    }
}
