/**
 * Deferred loading and caching of webfonts in page footer.
 */

// Aleo Light
@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: "Aleo";
    src: url('fonts/Aleo-Light-webfont.eot?#iefix') format("embedded-opentype");
}

// Aleo Light Italic
@font-face {
    font-style: italic;
    font-weight: normal;
    font-family: "Aleo";
    src: url('fonts/Aleo-LightItalic-webfont.eot?#iefix') format("embedded-opentype");
}


// Aleo Bold
@font-face {
    font-style: normal;
    font-weight: bold;
    font-family: "Aleo";
    src: url('fonts/Aleo-Bold-webfont.eot?#iefix') format("embedded-opentype");
}

// Aleo Bold Italic
@font-face {
    font-style: italic;
    font-weight: bold;
    font-family: "Aleo";
    src: url('fonts/Aleo-BoldItalic-webfont.eot?#iefix') format("embedded-opentype");
}
