.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
	margin-top: 3.4em;
	
	@media screen and (min-width: 48em) {
		margin-top: 0;
	}
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
}

.site-content .widget-area {
	
	@media screen and (min-width: 48em) {
		float: right;
		overflow: hidden;
		width: $size__site-sidebar;
	}
}


.site-footer {
	text-align: center;
	width: 100%;
	background: #f8f8f8;
	clear: both;
	
	.footer-area {
		max-width: 80%;
		margin: 0 auto;
	}
	
	#legal {
		background: #eee;
		clear: both;
		width: 100%;
		text-align: center;
		max-width: none;
	}
	
	@media screen and (min-width: 48em) {
		text-align: left;
		
		.footer-area {
			width: 50%;
			float: left;
		}
		
		img {
			max-width: 300px;
		}
	}
}

@import "no-sidebar";