.site-content {
	direction: rtl; /* Swap the positioning of .content-area and .widget-area without affecting the source order */
}

.content-area {
	display: inline-block;
	margin: 0 0 0 (-$size__site-sidebar);
	width: $size__site-main;
	direction: ltr;
}

.site-main {
	margin: 0 0 0 $size__site-sidebar;
}

.site-content .widget-area {
	display: inline-block;
	margin-left: $margin__offset-inline-block-spacing;
	padding-left: $margin__offset-inline-block-spacing * -1;
	overflow: hidden;
	width: $size__site-sidebar;
	direction: ltr;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}