#secondary {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    padding-right: 15px;
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    right: -10px;
    top: 3.4em;
    z-index: 1;
    
    &:after {
        content: "";
        background: grey;
        position: absolute;
        height: 100%;
        width: 10px;
        right: 0;
        top: 0;
    }
    
    .aside-toggle {
        position: fixed;
        z-index: 1;
        right: -20px;
        top: 50%;
        -ms-transform: rotate(-90deg) translateY(-50%);
        -webkit-transform: rotate(-90deg) translateY(-50%);
        transform: rotate(-90deg) translateY(-50%);
        right: -43px;
        transition: right 0.5s ease-in-out;
    }
    
    &.open {
        right: 0;
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        
        .aside-toggle {
            right: -26px;
        }
    }
    
    @media screen and (min-width: 48em) {
        position: static;
        width: $size__site-sidebar;
        height: 100%;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
        
        &:after{
            display: none;
        }
        
        .aside-toggle {
            display: none;
        }
    }
}