/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-svbk-testimonials {
  display: flex;
  flex-wrap: wrap;
}

.wp-block-svbk-testimonials div.type-testimonial {
   flex: 1 0 30%;
   min-height: 200px;
}