html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

.wp-block-media-text {
	display: block;
	margin: 0px -#{$padding__content-mobile};
	padding: 0 0 30px;
	
	.wp-block-media-text__content {
		padding: 0 $padding__content-mobile;
		
		&:after {
			@include clearfix();
			@include clearfix-after();
		}
		
		.has-large-font-size {
			margin-bottom: 15px;
		}
		
		.subtitle {
			@include font-size(1.5);
			margin-top: 0;
			margin-bottom: 20px;
		}
	}
	
	@media screen and (min-width: breakpoint('tablet-landscape')) {
		display: grid;
		align-items: start;
		padding: 50px $padding__content-mobile;
		
		.wp-block-media-text__content {
			padding-right: 0;
			padding-left: 8%;
			
			.has-large-font-size {
				margin-top: 0;
			}
		}
		
		&.has-media-on-the-right .wp-block-media-text__content {
			padding-right: 8%;
			padding-left: 0;
		}
	}
}

.is-style-dark-background {
	background: #555;
	color: #fff;
}