ul, ol {
	margin: 15px 0;
	list-style: none;

	li {
		margin-bottom: 8px;

		&:before {
			line-height: 1em;
			color: $color__corporate;
		}
	}
}

ul {
	padding-left: .8em;

	li:before {
		content: "\2022";
		display: inline-block;
		width: .8em;
		margin-left: -.8em;
		@include font-size(1.6);
		line-height: 1rem;
		vertical-align: middle;
		margin-bottom: 2px;
	}

	&.is-style-bullets {
		padding-left: 0;

		li {
			@include font-size(1.1);
			margin-bottom: 15px;
			padding-left: 33px;
			text-indent: -16px;
	
			&:last-of-type {
				border-bottom: none;
			}
	
			&:before {
				@include icon-content('\e90c');
				@include font-size(1.2);
				margin-left: 0;
			}
		}
	}
}

ol {
	counter-reset: li;
	padding-left: 1.5em;

	> li {
		counter-increment: li;

		&:before {
			content: "." counter(li);
			display: inline-block;
			font-weight: bold;
			width: 1em;
			margin-left: -1.5em;
			margin-right: 0.5em;
			text-align: right;
			direction: rtl;
		}
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
