//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// -------------------
// Typography / Rhythm
// -------------------

$space: 20px;





// ------
// Colors
// ------

$white: #FFF;
$black: #000;
$color-primary: $black; 





// -----
// Fonts
// -----

$font-default: 'Helvetica Neue', Helvetica, Arial, sans-serif;





// -----------
// Breakpoints
// -----------

$break-small: 480px;
$break-medium: 720px;
$break-large: 960px;
$break-xl: 1800px;
$max-width: 1200px;





// ----
// Grid
// ----

$susy: (
	columns: 12,
	container: $max-width,
	gutters: 1/2
);




