a {
	color: var(--color__link);

	&:visited {
		color: var(--color__link-visited);
	}
	&:hover,
	&:focus,
	&:active {
		color: var(--color__link-hover);
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
