// Sample partial
//
// This is a sample element. Put the description here.
//
// markup: sample-kss.hbs
//
// data: sample-kss.json
//
// Styleguide site.sample-kss

.sample-kss {
	background-color: aliceblue;
	border: 1px solid gray;
	margin: 0 auto 2rem;
	padding: 1rem;
}
