@bodybackground: #fff;

@linkcolor: royalblue;
@linkhover: purple;

@headerbackground: #fff;
@headerTextColor: #000;
@headerLinkColor: @linkcolor;
@headerLinkHover: @linkhover;

@siteContentBackground: #fff;

@textcolor: #000;
@navbackground: #eee;
@navlink: #000;
@navlinkhover: #fff;
@navLinkActive: @linkcolor;
@navLinkActiveHover: @linkhover;

@bordercolor : #eee;
@buttonbackground: @linkcolor;
@buttonHover: @navlinkhover;

@sitewidth: 1180px;
@sidebarWidth: 25%;
@contentWidth:75%;

@footerBackground: #fff;
@footerLinkColor: @linkcolor;
@footerLinkHover: @linkhover;

.transition(@property, @sec, @type, @delay) {
    transition: @property @sec @type @delay;
    -webkit-transition: @property @sec @type @delay;
    -moz-transition: @property @sec @type @delay;
}

.transform(@property){
    -moz-transform: @property;
    -webkit-transform: @property;
    -ms-transform: @property;
    transform: @property;
}

// Border radius
.border-radius(@radius) {
	background-clip: padding-box; /* stops bg color from leaking outside the border: */
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

* {
    box-sizing: border-box;
}

// default body background
body {
   background: #fff; 
}

// Default link color and hover effect with transition support
a {
    color: @linkcolor; .transition(color, 1s, ease, 0s);

    &:hover {
        color: @linkhover; .transition(color, 0.5s, ease, 0s);
    }
}
