# EditorConfig file for WordPress plugins and themes
#
# This file is for unifying the coding style for different editors and IDEs
# (see http://editorconfig.org)


root = true

# Defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = tab
trim_trailing_whitespace = true

[{.jshintrc,*.json,*.yml}]
indent_style = space
indent_size = 2

[{*.txt,wp-config-sample.php}]
end_of_line = crlf

# Markdown files
[{*.md,*.mdown,*.txt}]
trim_trailing_whitespace = false
