.gallery {
	@include rem("margin-bottom", $spacing);
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Generate gallery column classes.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			// Round **down** to 2 decimal places
			max-width: ( floor( ( 100% / $i ) * 100 ) / 100 );
		}
	}

}

.gallery-caption {
	display: block;
}
