.alignleft {
	float: left;
	margin-bottom: 1.5em;
	margin-right: 1.5em;
}

.alignright {
	float: right;
	margin-bottom: 1.5em;
	margin-left: 1.5em;
}

.aligncenter {
	@include center-block;
	clear: both;
	margin-bottom: 1.5em;
}
