/*--------------------------------------------------------------
# Functions and vars
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

.error404 {
	text-align: center;

	#primary {
		padding: 30px 0 50px;

		p {
			max-width: 40em;
			margin: 1em auto 1.5em;
		}

		h1 {
			margin: 0;

			span {
				@include font-size(10);
				display: block;
				line-height: .8em;
				margin-bottom: 20px;
				opacity: .3;
				color: $color__corporate;

				@media screen and (min-width: breakpoint('tablet-landscape')) {
					@include font-size(13);
				}
			}
		}

		.button {
			display: inline-block;
		}
	}

}
