/* Block Editor Styles */

@import "variables-site/variables-site";

@import "mixins/mixins-master";

.wp-block {
  max-width: #{$content_width}px;
  
  &[data-align="full"] {
    max-width: none;
  }
  
  &[data-align="wide"] {
    max-width: calc( #{$content_width}px + 200px );
  }
  
}

.wp-block-button__link,
.wp-block-svbk-hero__link,
.wp-block-svbk-card__link {
	background: #333;
	color: #fff;
	border-radius: 8px;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
    
	&[data-is-placeholder-visible=true] {
		top: 10px;
		bottom: 0;
		height: auto;
	}
}


/**
*	Block backgrounds
*/

.has-primary-background-color {
	background: $color__background-light;
}

.has-secondary-background-color {
	background: $color__background-light;
}

.has-light-gray-background-color {
	background: $color__background-light;
}

.has-dark-gray-background-color {
	background: $color__background-dark;
}

.is-mobile-hidden:before{
	content: "Hidden on mobile";
	font-family: sans-serif;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
	background: #333;
	color: #fff;
	padding: 3px 10px;
}


/**
*	Hero Block
*/

.wp-block-svbk-hero {
	
	> figure {
		margin: 0;
		width: 100%;
		
		img {
			width: 100%;
		}
	}
	
	@media screen and (min-width: breakpoint('desktop')) {
		position: relative;
		padding: 20px;
	
		> figure {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			
			img {
				height: 100%;
				object-fit: cover;
			}
		}
		
		.wp-block-svbk-hero__content {
			position: relative;
			background-color: #fff;
			width: 50%;
			padding: 5px 15px 15px;
		}
		
		&.has-align-right .wp-block-svbk-hero__content {
			margin-left: 50%;
		}
	}
}

/**
*	Grid
*/

.wp-block-svbk-grid {
	display: flex;
	flex-wrap: wrap;
	
	&.has-2-columns {
		
		div.block-editor-inner-blocks .block-editor-block-list__layout > .wp-block {
			flex: 0 0 50%;
		}
	}
	
	&.has-3-columns {

		div.block-editor-inner-blocks .block-editor-block-list__layout > .wp-block {
			flex: 0 0 33.33%;
		}
	}
	
	&.has-4-columns {

		div.block-editor-inner-blocks .block-editor-block-list__layout > .wp-block {
			flex: 0 0 25%;
		}
	}

	&.has-5-columns {

		div.block-editor-inner-blocks .block-editor-block-list__layout > .wp-block {
			flex: 0 0 20%;
		}
	}
	
	&.has-6-columns {

		div.block-editor-inner-blocks .block-editor-block-list__layout > .wp-block {
			flex: 0 0 16.6%;
		}
	}
}


/**
*	Cards
*/

.wp-block[data-type="svbk/card"] {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	
	iframe {
		width: 100px;
		height: 100px;
	}
}

.wp-block-svbk-card {
	
	> .block-editor-svbk-picture {
		
		img {
			width: 100%;
		}	
	}
}

.wp-block-svbk-card,
.wp-block-svbk-bullet {

	.card__image-controls {
		display: none;
		border: none;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.card__picture {
		margin: 0;
	}
	
	.wp-block-svbk-card__title {
		margin-bottom: 0;
	}
	
	.wp-block-svbk-card__subtitle {
		@include font-size(1.1);
		font-style: italic;
		margin: 10px 0;
	}
	
	&.has-secondary-background-color {
		padding: 20px;
	}
	
	&.is-selected {
	
		.card__image-controls {
			display: block;
		}	
	}
}

.wp-block-svbk-card {
	
	.block-editor-svbk-picture {
		margin: 15px 0;
	}
	
	.block-editor-block-list__layout {
		display: block !important;
	}
}

/**
*	Warranty
*/

.wp-block-svbk-warranty {
	padding-top: 130px;
	padding-bottom: 70px;
	
	.block-editor-block-list__block,
	.wp-block-cover__inner-container {
		color: $color__text-main !important;
	}
	
	.wp-block-cover__inner-container {
		background: #fff;
		padding: 20px;
	}
	
	img {
		margin: 0 auto;
		display: block;
		width: 240px;
		height: 160px;
		object-fit: contain;
	}
	
	.has-small-font-size {
		font-size: 12px !important;
	}
}
