/* Block Editor Styles */

@import "variables-site/variables-site";

@import "mixins/mixins-master";

.wp-block {
  max-width: #{$content_width}px;
  
  &[data-align="full"] {
    max-width: none;
  }
  
  &[data-align="wide"] {
    max-width: calc( #{$content_width}px + 200px );
  }
  
}

.has-light-background-color {
	background: $color__background-light;
	padding: 20px;
}

.wp-block-svbk-bullet,
.wp-block-svbk-card,
.wp-block-svbk-profile,
.wp-block-svbk-stats {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	
	iframe {
		width: 100px;
		height: 100px;
	}
}

.wp-block-group.is-style-grid {
	display: flex;
}

.wp-block-svbk-card,
.wp-block-svbk-bullet {

	.card__image-controls {
		display: none;
		border: none;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.card__picture {
		margin: 0;
	}
	
	.wp-block-svbk-card__title {
		margin-bottom: 0;
	}
	
	.wp-block-svbk-card__subtitle {
		@include font-size(1.1);
		font-style: italic;
		margin: 10px 0;
	}
	
	.wp-block-svbk-card__link {
		background-color: $color__text-main;
		color: #fff;
		display: inline-block;
		padding: 8px 20px;
		border-radius: 30px;
		margin-top: 15px;
	}
	
	&.has-secondary-background-color {
		padding: 20px;
	}
	
	&.is-selected {
	
		.card__image-controls {
			display: block;
		}	
	}
}

.wp-block-svbk-card {
	
	.block-editor-svbk-picture {
		margin: 15px 0;
	}
	
	.block-editor-block-list__layout {
		display: block !important;
	}
}

.wp-block-svbk-warranty {
	padding-top: 130px;
	padding-bottom: 70px;
	
	.block-editor-block-list__block,
	.wp-block-cover__inner-container {
		color: $color__text-main !important;
	}
	
	.wp-block-cover__inner-container {
		background: #fff;
		padding: 20px;
	}
	
	img {
		margin: 0 auto;
		display: block;
		width: 240px;
		height: 160px;
		object-fit: contain;
	}
	
	.has-small-font-size {
		font-size: 12px !important;
	}
}
