@import "variables-site/variables-site";

@import "mixins/mixins-master";

.wp-block-svbk-countdown {

	.countdown__digit,
	.countdown__segment {
		background: #BBB;
		border-radius: 2px;
		padding: 4px 8px 4px 4px;
	}

	.countdown__digit {
		background: #eee;
		padding: 2px 4px 2px 2px;
		margin-right: 4px;
	}

	.countdown__expires {
		font-size: small;
		color: #AAA;
	}
}
