@import "variables-site/variables-site";
@import "mixins/mixins-master";

body {
    width: breakpoint(3);
    @include font( 'main' );
}

h1 {
    max-width: breakpoint(3);
    @include icon('theme');
}

@media (min-width: breakpoint(3)) {

    #content {
        width: #{$content_width}px;
    }
    
}