/*--------------------------------------------------------------
# Functions and vars
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

#page {
	background: $color__background-page;
	overflow-x: hidden;
}

.site-content,
.wrap {
	padding-left: $padding__content-mobile;
	padding-right: $padding__content-mobile;
	max-width: $size__content-width;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		padding-left: $padding__content-tablet;
		padding-right: $padding__content-tablet;
	}

	@media screen and (min-width: $size__content-width + $padding__content-tablet * 2) {
		padding-left: 0;
		padding-right: 0;
	}
}

.site-content {
	clear: both;
}

.wp-block-svbk-warranty {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
}

.wp-block-image {

	&.alignwide,
	&.alignfull {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		max-width: none;
		margin-top: 0;
		margin-bottom: 0;

		@media screen and (min-width: $size__page-max-width) {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	&.alignwide {

		@media screen and (min-width: $size__page-max-width) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&.alignfull {

		@media screen and (min-width: $size__page-max-width) {
			margin-left: -$padding__content-desktop;
			margin-right: -$padding__content-desktop;
		}
	}
}

.wp-block-media-text {

	&.alignwide,
	&.alignfull {
		max-width: none;
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		padding-left: calc(50vw - 50%);
		padding-right: calc(50vw - 50%);
	}
}

.wp-block-svbk-hero {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);

	@media screen and (min-width: $size__page-max-width) {
		max-width: $size__content-width + $padding__content-desktop * 2;
		margin: 20px auto;
	}
}

.wp-block-group {

	.wp-block-group__inner-container {
		max-width: $size__content-width;
		margin-left: auto;
		margin-right: auto;
	}

	&.alignwide,
	&.alignfull {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		padding-left: $padding__content-mobile;
		padding-right: $padding__content-mobile;

		@media screen and (min-width: breakpoint('tablet-landscape')) {
			padding-left: $padding__content-tablet;
			padding-right: $padding__content-tablet;
		}
	}

	&.alignwide {
		
		@media screen and (min-width: $size__page-max-width) {
			margin-left: -$padding__content-desktop;
			margin-right: -$padding__content-desktop;
		}
	}
}

.entry-content:not(.post__content) >,
.entry-content > .wp-block-group .wp-block-group__inner-container > {

	p, ul, ol,
	h1, h2, h3, h4, h5, h6,
	.wp-block-pullquote,
	.wp-block-svbk-icon-paragraph,
	.wp-block-button,
	.wp-block-separator {
		max-width: $size__text-width;
	}

	p, ul, ol,
	h1, h2, h3, h4, h5, h6,
	.wp-block-pullquote,
	.wp-block-svbk-icon-paragraph,
	.wp-block-button {
		margin-left: auto;
		margin-right: auto;
	}

	h1, h2 {
		margin-top: 0;
	}

	@media screen and (min-width: $size__text-width) {

		.wp-block-separator {
				margin-left: calc((100% - 740px)/2);
		}

		.has-text-align-center + .wp-block-separator {
			margin-left: auto;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

.site-header {

	.search-toggle,
	.search-form,
	.sub-menu {
		display: none;
	}

	#main-navigation {
		position: fixed;
		right: -100%;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li a {
				color: $color__text-main;
				text-decoration: none;
				text-transform: uppercase;
			}
		}

		@media screen and (min-width: breakpoint('tablet-landscape')) {
			position: static;
		}
	}
}

.wp-block-svbk-testimonials,
.wp-block-svbk-grid {

	@media screen and (min-width: $size__page-width + $padding__content-desktop * 2) {
		max-width: $size__page-width;
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-block-gallery[class*="columns"] {

	.flickity-viewport {
		overflow: hidden;
		position: relative;
	}

	.flickity-enabled {

		.flickity-slider {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.blocks-gallery-item {
			display: block;
			height: 180px;
			margin-bottom: 0;

			figure, img {
				display: block;
			}

			img {
				max-width: none;
			}
	
			@media screen and (min-width: breakpoint('phone')) {
				height:250px;
			}
		}
	}

    @for $i from 2 through 5 {

        &.columns-#{$i} {
      
			.flickity-enabled .blocks-gallery-item {
				$grid-gutter: 1;
                width: (100%/$i);
				margin-right: 1% * $grid-gutter;
				height: 160px;

				@media screen and (min-width: breakpoint('tablet-portrait')) {
					height: 240px;
				}

				@media screen and (min-width: breakpoint('tablet-landscape')) {
					height: 300px;
				}

				@media screen and (min-width: breakpoint('desktop')) {
					height: 340px;
				}
			}
		}
	}

	&.columns-1 .flickity-enabled .blocks-gallery-item {

		@media screen and (min-width: breakpoint('phone')) {
			height: 300px;
		}

		@media screen and (min-width: breakpoint('tablet-portrait')) {
			height: 430px;

			.wp-block-column & {
				height: 185px;
			}
		}

		@media screen and (min-width: breakpoint('tablet-landscape')) {
			height: 530px;

			.wp-block-column & {
				height: 279px;
			}
		}

		@media screen and (min-width: breakpoint('desktop')) {
			height: 630px;

			.wp-block-column & {
				height: 362px;
			}
		}
	}
}

.flickity-button,
.flickity-page-dots {
	display: none;

	.domready & {
		display: block;
	}
}

/*--------------------------------------------------------------
# Common layout elements
--------------------------------------------------------------*/
@import "header/header";
@import "footer/footer";

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
//@import "layout/in-grid";