/*--------------------------------------------------------------
# Functions and vars
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

.wp-block-hubspot-form body {
	background: rgba(255,255,255,0);
}

.hs-error-msgs label {
	color: $color__error;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	background: #fff !important;
	max-width: none !important;
	width: 100% !important;
	border: 1px solid $color__border-input !important;

	&:focus {
		border: 1px solid $color__corporate !important;
	}
}

textarea {
	min-height: 100px !important;
}

input[type="radio"].hs-input {
	border: 2px solid #fff !important;
	box-shadow: 0 0 0 2px $color__corporate !important;
	height: 1em !important;
	width: 1em !important;
	margin-left: 2px;

	&:checked {
		box-shadow: 0 0 0 2px $color__corporate !important;
	}
}

input[type="checkbox"] {
	border: 2px solid $color__corporate !important;
	height: 1.25em !important;
	width: 1.25em !important;
	border-radius: 3px !important;
}

.legal-consent-container .hs-richtext {
	font-size: 12px !important;
	font-size: .75rem !important;
}

.field {
	margin-bottom: 10px !important;
}

fieldset.form-columns-1 .input,
fieldset.form-columns-2 > div:last-of-type .input {
	margin-right: 0 !important;
}

.wp-block-hubspot-form.is-style-dark {

	label,
	.hs-richtext {
		color: #fff !important;
	}

	input[type="checkbox"] {
		border-color: #aaa !important;
	}

	input[type="radio"] {
		box-shadow: 0 0 0 2px #aaa !important;
	}
}
