/*--------------------------------------------------------------
# Functions and vars
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

body {
	background: rgba(255,255,255,0);
}

.hs-error-msgs label {
	color: $color__error;
}

.wp-block-hubspot-form {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea,
	select {
		background: #fff;
		max-width: none;
		border: 1px solid $color__border-input;

		&:focus {
			border: 1px solid $color__corporate;
		}
	}

	label {
		color: $color__text-main;
	}

	textarea {
		min-height: 100px;
	}

	input[type="radio"].hs-input {
		border: 2px solid #fff;
		box-shadow: 0 0 0 2px $color__corporate;
		height: 1em !important;
		width: 1em !important;
		margin-left: 2px;

		&:checked {
			box-shadow: 0 0 0 2px $color__corporate;
		}
	}

	input[type="checkbox"] {
		border: 2px solid $color__corporate;
		height: 1.25em !important;
		width: 1.25em !important;
		border-radius: 3px;
	}

	.legal-consent-container .hs-richtext {
		font-size: 12px;
		font-size: .75rem;
		line-height: 1.3em;
	}

	.field {
		margin-bottom: 10px;
	}

	fieldset.form-columns-1 .input,
	fieldset.form-columns-2 > div:last-of-type .input {
		margin-right: 0;
	}

	&.is-style-dark {

		label,
		.hs-richtext {
			color: #fff;
		}

		input[type="checkbox"] {
			border-color: #aaa;
		}

		input[type="radio"] {
			box-shadow: 0 0 0 2px #aaa;
		}
	}
}
