/*--------------------------------------------------------------
# Functions and vars
--------------------------------------------------------------*/
@import "shop/shop-variables";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Sensei
--------------------------------------------------------------*/
@import "course/components";
@import "course/course-preview";
@import "course/lesson-preview";
@import "course/course-meta";
@import "course/single-course";
@import "course/single-lesson";
@import "course/lesson-quiz";

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
@import "media/media";
@import "site/primary/comments";

/**
 * Page Structure
 */
#page {
	
	@media screen and (min-width: breakpoint('tablet-landscape')) {
		
		.secondary-navigation__toggle {
            display: none;
        }
		
	    #primary {
	        padding: 0 0 50px;
	        
	        &:after {
	            @include clearfix();
	            @include clearfix-after();
	        }
	    }
	}
}

.secondary-navigation,
.content-area {
	
	@media screen and (min-width: breakpoint('tablet-landscape')) {
    	float: left;
	}
}

.content-area {
    margin-top: 30px;
    
	@media screen and (min-width: breakpoint('tablet-landscape')) {
        width: 69%;
        margin-top: 50px;
	}
}