/*--------------------------------------------------------------
# Functions and vars
--------------------------------------------------------------*/
@import "shop/shop-variables";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Shop
--------------------------------------------------------------*/
@import "shop/components";
@import "shop/account-nav";

/*--------------------------------------------------------------
# Course
--------------------------------------------------------------*/
@import "course/course-preview";

#primary {
	width: 100%;
}

h2 {
	@include font-size(1.5);
}

h3 {
	@include font-size(1.2);
}

mark {
	background: none;
	font-weight: bold;
}

.woocommerce {

	&:after {
		@include clearfix();
		@include clearfix-after();
	}
}

.woocommerce-form-login,
.lost_reset_password {
	max-width: 600px;
	margin: 50px 0;
}

.woocommerce-form-login {

	a {
		text-decoration: none;
	}

	.woocommerce-form-login__rememberme {
		display: block;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: breakpoint('tablet-landscape')) {

	.woocommerce-MyAccount-navigation,
	.woocommerce-MyAccount-content {
		float: left;
	}
	
	.woocommerce-MyAccount-navigation {
		width: 27%;
		margin-right: 6%;
	}
	
	.woocommerce-MyAccount-content {
		width: 67%;
	}
}

table {
	border-top: none;

	tr:nth-of-type(even) {
		background: rgba(0,0,0,.02);
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {

		tr:nth-of-type(even) {
			background: none;
		}
	}
}

/*--------------------------------------------------------------
# Addresses
--------------------------------------------------------------*/

.addresses {

	h3 {
		margin-bottom: 10px;
	}

	.edit {
		@include font-size(.85);
		text-decoration: none;
		text-transform: uppercase;

		&:before {
			@include icon-content('\e91d');
			@include font-size(.8);
			font-weight: normal;
			margin-right: 5px;
		}
	}

	address {
		font-style: italic;
	}
}

.woocommerce-address-fields {

	@media screen and (max-width: breakpoint('tablet-landscape'))
	and (min-width: breakpoint('tablet-portrait')), (min-width: breakpoint('desktop')) {

		[id*="first_name_field"],
		[id*="last_name_field"],
		[id*="email_field"],
		[id*="phone_field"],
		[id*="postcode_field"],
		[id*="city_field"] {
			width: 49%;
			float: left;
		}

		[id*="first_name_field"],
		[id*="email_field"],
		[id*="postcode_field"] {
			margin-right: 2%;
		}
	}

	button[type="submit"] {
		margin-top: 20px;
	}
}

/*--------------------------------------------------------------
# Account details
--------------------------------------------------------------*/
.edit-account {

	fieldset {
		background: #f5f5f5;
		border: none;
		position: relative;
		padding-top: 50px;

		@media screen and (min-width: breakpoint('tablet-portrait')) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	legend {
		@include font-size(1.2);
		position: absolute;
		top: 20px;
		font-weight: bold;
	}

	span em {
		@include font-size(.8);
		font-style: normal;
	}

	@media screen and (max-width: breakpoint('tablet-landscape'))
	and (min-width: breakpoint('tablet-portrait')), (min-width: breakpoint('desktop')) {

		.form-row-first,
		.form-row-last {
			width: 49%;
			float: left;
		}

		.form-row-first {
			margin-right: 2%;
		}
	}
}


/*.woocommerce-account .woocommerce-table--order-details {

	@media screen and (max-width: breakpoint('tablet-landscape')) {

		td, th, a {
			text-align: left;
		}

		thead {
			display: table-header-group;
		}

		tr:first-of-type {
			display: table-row;
			border-bottom: 1px solid #eee;
		}

		th, td {
			padding: 10px 15px;
		}

		th {
			background: $woocommerce__color-secondary;
		}

		td {
			display: table-cell;

			&:before {
				display: none;
			}
		}
	}
}

.addresses {

	.title h3 {
		margin: 0;
	}

	address {
		font-style: normal;
	}
}

.woocommerce-account .edit-account {

	fieldset {
		border: none;
		background: $woocommerce__color-secondary;

		legend {
			display: none;
		}
	}

	p:last-of-type {
		margin-bottom: 10px;
	}
}

body.woocommerce-order-pay article.page #order_review {
	padding: 20px;

	@media screen and (min-width: breakpoint('tablet-portrait')) {
		margin: 0 auto;
		float: none;
	}
}

.product-page-list {

	.post--preview {
		border-bottom: 1px solid $color__background-hr;
		padding-bottom: 20px;
		margin-bottom: 30px;

		.post__thumbnail img {
			display: block;
		}

		.post__title {
			margin: 10px 0;
		}

		p {
			margin-top: 0;
		}

		&:last-of-type {
			border-bottom: none;
		}
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {

		.post--preview {
			position: relative;
			padding-left: 220px;

			.post__thumbnail {
				display: block;
				position: absolute;
				top: 0;
				left: 0;

				img {
					width: 205px;
					height: auto;
				}
			}

			.post__title {
				margin: 0 0 10px;
			}
		}
	}
}
*/