/*--------------------------------------------------------------
# Functions and vars
--------------------------------------------------------------*/
@import "shop/shop-variables";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Shop
--------------------------------------------------------------*/
@import "shop/components";
@import "shop/product-thumb";
@import "shop/products";

h2 {
	@include font-size(1.5);
}

.shop_table {
	margin-top: 30px;
	border: none;

	tr {
		border-top: 1px solid #eee;
		border-bottom: none;
	}

	a {
		text-decoration: none;
	}

	.remove {
		@include font-size(1.2);
		text-decoration: none;
		background: #bbb;
		color: #fff;
		width: 25px;
		height: 25px;
		text-align: center;
		line-height: 25px;
		display: inline-block;
		border-radius: 50%;
	}

	th {
		padding: 15px;
	}

	th, td {
		border: none;
	}

	.coupon {
		padding-top: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #eee;
		border-top: 1px solid #eee;

		button {
			display: block;
			width: 100%;
			margin: 10px 0 20px;
		}
	}

	td.actions label {
		@include screen-reader-text();
	}

	@media screen and (max-width: breakpoint('tablet-portrait')) {

		tr:not(:last-of-type) {
			padding-left: 90px;
			position: relative;
			display: block;
		}
		
		.product-thumbnail {
			padding: 0;
			position: absolute;
			top: 65px;
			left: 0;

			img {
				width: 80px;
				display: block;
				margin: 0 auto;
			}
		}

		th {
			display: none;
		}

		td[data-title]:before {
			content: attr(data-title) ": ";
			font-weight: 600;
			float: left;
		}

		td {
			display: block;
			text-align: right;

			input {
				display: inline-block;
			}
		}
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {

		td.actions {
			text-align: right;

			.coupon {
				display: inline-block;
				float: left;
				border-top: none;
				border-bottom: none;

				input,
				button {
					display: inline-block;
					width: auto;
				}

				button {
					margin: 0;
				}
			}
		}
	}
}

.cart-collaterals {

	@media screen and (min-width: breakpoint('tablet-portrait')) {

		.cross-sells,
		.cart_totals {
			width: 49%;
		}

		.cross-sells {
			float: left;
			margin-right: 2%;
		}

		.cart_totals {
			float: right;
		}
	}

	.checkout-button {
		display: block;
		width: 100%;
		padding: 15px;

		&:after {
			@include font-size(.85);
			@include icon-content("\e922");
			margin-left: 10px;
		}
	}
}

.cart_totals {
	margin-bottom: 30px;

	th {
		background-color: #f0f0f0;
	}

	.shipping-calculator-form {

		> p {
			margin-bottom: 10px;
		}

		button {
			@include font-size(.85);
			padding: 10px 15px;
		}
	}
}
