/*--------------------------------------------------------------
# Functions and vars
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";
@import "shop/shop-variables";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "layout/sidebar-content";

/*--------------------------------------------------------------
# Shop
--------------------------------------------------------------*/
@import "shop/components";
@import "shop/products";
@import "shop/product-thumb";

/*--------------------------------------------------------------
# Shop specs
--------------------------------------------------------------*/
.woocommerce-shop__controls {
    @include font-size(.9);

    p,
    .woocommerce-ordering {
        display: inline-block;
    }

    p {
        margin-bottom: 5px;
    }

    .orderby {
        @include font-size(.9);
        margin-left: 10px;
    }
}

.product-category {
    
    .woocommerce-loop-category__title {
        @include font-size(1);
        text-transform: uppercase;
    }

    .count {
        background: rgba(255,255,255,0);
        font-weight: normal;
        color: #888;
    }
}