

//===================================
// 按钮
//===================================
.woocommerce{
    .button {
        @include button-base();
        @include button-bg(#f3f3f3, darken(#f3f3f3, 3%), darken(#f3f3f3, 6%));
        @include button-border(#ddd, #dadada, #d3d3d3);
        border-radius: 3px;
        padding: 0 1rem;

        &.loading {
            opacity: 0.25;
            padding-right: 2.618em;

            &::after {
                font-family: "WooCommerce";
                content: "";
                @apply align-top font-normal absolute leading-none;
                top: 13px;
                margin-left: 0.53em;
                animation: spin 2s linear infinite;
            }
        }

        &.added{
            padding-right: 2.618em;
            &::after {
                @apply absolute leading-none;
                font-family: "WooCommerce";
                content: "";
                margin-left: 0.53em;
                top: 13px;
            }
        }

        &.alt {
            @include button-bg(#3bb54a, darken(#3bb54a, 3%), darken(#3bb54a, 6%));
            @include button-border(darken(#3bb54a, 3%), darken(#3bb54a, 6%), darken(#3bb54a, 9%));
            color: #fff;
        }
    }
}

.field.has-addons .control:last-child .button {
    @apply text-base;
}

.add_to_cart_button {
    @apply text-gray-600;
}
