ul.checkout-bar {
    position: absolute;
    top: -90px;
    width: 80%;
    height: 6px;
    margin: 0 auto 20px 10%;
    padding: 0;
    border-radius: 6px;
    background-size: 35px 35px;

    li {
        display: inline-block;
        position: relative;
        width: 32%;
        margin: 24px 0 0;
        padding: 0;
        background-color: transparent;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        vertical-align: top;

        &::before {
            position: absolute;
            z-index: 5;
            top: -40px;
            left: 43%;
            width: 26px;
            height: 26px;
            border: 6px solid #fff;
            border-radius: 50%;
            color: #fff;
            background: #ddd;
            box-sizing: content-box;
            font-size: 14px;
            font-weight: 700;
            line-height: 26px;
            text-align: center;
        }

        &.active::after,
        &.next::after {
            position: absolute;
            z-index: 0;
            top: -24px;
            left: 50%;
            width: 100%;
            height: 6px;
            background-color: #ccc;
            background-size: 35px 35px;
            content: "";
        }

        &.active {
            &::after {
                background-color: #dc9814;
            }
        }

        &.next {
            color: #444;

            &::before {
                z-index: 4;
                background: #444;
            }

            &::after {
                background-color: #ccc;
            }
        }

        &.visited {
            background: 0 0;

            &::after {
                z-index: 99;
                top: -28px;
                left: 50%;
                width: 100%;
                content: "";
            }
        }
    }

    &.final {
        li.active::after {
            width: auto;
        }
    }

}

.woocommerce-cart .checkout-bar li.next::after,
ul.checkout-bar {
    background-color: #ececec;
}

ul.checkout-bar li.visited::after,
ul.checkout-bar::before {
    position: absolute;
    left: 0;
    width: 17%;
    height: 6px;
    border-radius: 6px;
    background-color: #dc9814;
    background-size: 35px 35px;
    content: " ";
}

.woocommerce-cart ul.checkout-bar li.active,
.woocommerce-checkout ul.checkout-bar li.active {
    z-index: 3;
    color: #444;
    background: 0 0;
}

.woocommerce-checkout ul.checkout-bar li.next {
    color: #444
}

.woocommerce-cart ul.checkout-bar li.active::before,
.woocommerce-checkout ul.checkout-bar li.active::before,
.woocommerce-checkout ul.checkout-bar li.next::before {
    z-index: 4;
    background: #444;
}

ul.checkout-bar li.visited::before {
    z-index: 1;
    background: #444
}

ul.checkout-bar li:nth-child(1)::before {
    content: "1";
}

ul.checkout-bar li:nth-child(2)::before {
    content: "2";
}

ul.checkout-bar li:nth-child(3)::before {
    content: "3";
}
