
.woocommerce-demo-store .shoptimizer-mini-cart-wrap {
    z-index: 10000
}

.shoptimizer-mini-cart-wrap div.blockOverlay {
    background-color: transparent !important
}

#ajax-loading {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-left: -35px
}

.spinner {
    position: relative;
    top: 50%;
    width: 70px;
    margin: -9px auto 0;
    text-align: center;

    & > div {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        background-color: #dc9814;
        animation: a 1.4s infinite ease-in-out both
    }

    .bounce1 {
        animation-delay: -.32s
    }

    .bounce2 {
        animation-delay: -.16s
    }
}

@keyframes a {
    0%, 80%, to {
        transform: scale(0)
    }

    40% {
        transform: scale(1)
    }
}

.admin-bar .shoptimizer-mini-cart-wrap {
    top: 32px
}

.admin-bar.customize-partial-edit-shortcuts-shown .shoptimizer-mini-cart-wrap {
    top: 0
}

.admin-bar.customize-partial-edit-shortcuts-shown .shoptimizer-mini-cart-wrap .widget_shopping_cart {
    height: 100%
}

.admin-bar .shoptimizer-mini-cart-wrap .widget_shopping_cart .product_list_widget {
    height: calc(100vh - 275px)
}

.drawer-open {
    height: 100%;
    overflow: hidden;
    position: relative;

    .shoptimizer-mini-cart-wrap {
        overscroll-behavior: contain;
        right: 0
    }

    @screen md {
        &:before {
            display: block;
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            width: 100%;
            height: 1000%;
            background: rgba(0, 0, 0, .7);
            content: "";
            cursor: pointer;
            transition: opacity .5s, visibility .5s
        }
    }
}

.shoptimizer-mini-cart-wrap {
    overflow: hidden;
    position: fixed;
    z-index: 101;
    top: 0;
    right: -370px;
    left: auto;
    width: 370px;
    height: 100%;
    background-color: #fff;
    transition: all .5s;

    .widget_shopping_cart {
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
        -webkit-overflow-scrolling: touch;
        z-index: 10;
        top: auto;
        left: auto;
        height: 100%;
        margin: 0;
        padding: 45px 20px 0;
        background: #fff;
        font-size: inherit;

        h2.widgettitle {
            display: none;
        }

        .product_list_widget {
            overflow-y: scroll;
            height: calc(100vh - 245px);
            height: calc((var(--vh, 1vh) * 100) - 245px);
            border-bottom-right-radius: 20px;
            -webkit-overflow-scrolling: touch;
            box-shadow: inset 0 -15px 15px -15px rgba(0, 0, 0, .06);

            .product_list_widget {
                overflow: -moz-scrollbars-none;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    width: 0 !important
                }
            }
        }
    }

    .close-drawer {
        position: absolute;
        z-index: 99;
        top: 15px;
        right: 20px;
        width: 14px;
        height: 14px;
        cursor: pointer;
        transition: opacity .3s;

        &:after,
        &:before {
            position: absolute;
            left: 0;
            width: 2px;
            height: 15px;
            background-color: #333;
            content: ""
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

}


.site-header-cart a.cart-contents {
    .amount {
        @apply hidden;
        @screen md {
            @apply inline-block;
        }
    }

    .count {
        @apply inline-block relative text-center text-xs text-primary border border-primary;
        width: 28px;
        height: 28px;
        margin-left: 5px;
        padding: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        color: $primary;
        line-height: 22px;
        letter-spacing: -0.7px;

        &::after {
            position: absolute;
            bottom: 90%;
            left: 50%;
            width: 10px;
            height: 6px;
            margin-bottom: 1px;
            margin-left: -6px;
            border: 1px solid $primary;
            border-bottom: 0;
            border-top-left-radius: 99px;
            border-top-right-radius: 99px;
            content: ""
        }
    }
}


