//===================================
// 数字分页
//===================================

nav.woocommerce-pagination {
    @apply mt-8 text-center;

    ul {
        display: inline-block;
        white-space: nowrap;
        padding: 0;
        clear: both;
        border: 1px solid darken($secondary, 10%);
        border-right: 0;
        margin: 1px;

        .page-numbers {
            @include menu();
        }

        li {
            border-right: 1px solid darken($secondary, 10%);
            padding: 0;
            margin: 0;
            float: left;
            display: inline;
            overflow: hidden;

            a,
            span {
                margin: 0;
                text-decoration: none;
                line-height: 1;
                font-size: 1em;
                font-weight: normal;
                padding: 0.5rem 0.75rem;
                min-width: 1em;
                display: block;
            }

            span.current,
            a:hover,
            a:focus {
                background: $secondary;
                color: darken($secondary, 40%);
            }
        }
    }
}

