.woocommerce-result-count {
    @apply text-base text-sm;
    top: 2px;
    padding: 5px 0;
    color: #111;
}

.woocommerce-ordering {
    @apply inline-block;
}

.woocommerce-order-overview__email {
    @screen md {
        @apply flex-grow;
    }
}

@screen lg{
    .woocommerce-ordering,
    .woocommerce-result-count {
        @apply float-left relative mb-0;
    }

    .woocommerce-result-count{
        @apply float-right;
    }
}
