//===================================
// Tabs
//===================================
.woocommerce-tabs {
    clear: both;
    @apply bg-white;

    .panel {
        @apply m-0;
    }

    ul.tabs {
        @apply relative overflow-hidden text-center mb-4;

        li {
            @apply inline-block relative leading-none z-0 mx-3;

            a {
                @apply relative block;
                padding: 2.2em 0 .1em;
                color: #888;
                font-size: 16px;

                &:after{
                    display: block;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    border-bottom: 1px solid #ccc;
                    content: "";
                    transition: transform .3s cubic-bezier(.28,.75,.22,.95);
                    transform: scaleX(0);
                    transform-origin: right center
                }

                &:hover {
                    @apply no-underline;
                    color: lighten($secondarytext, 10%);
                }
            }

            &.active {
                background: $contentbg;
                border-bottom-color: $contentbg;
                z-index: 2;

                a {
                    color: inherit;
                    text-shadow: inherit;

                    &:after {
                        transform: scale(1);
                        transform-origin: left center
                    }
                }
            }
        }

    }

    .panel {
        @apply p-0 mb-8;
    }
}

.woocommerce-Tabs-panel {
    h2 {
        @apply text-xl font-medium mb-4;
    }

    p {
        @apply text-base mb-4;
    }
}
