/**
 * WooCommerce CSS Variables */

$woocommerce: #1F65D2;

$green: $default_success_color;
$red: $default_danger_color;
$blue: $default_info_color;

// Primary color for buttons (alt)
$primarytext: desaturate(lighten($primary, 50%), 18%);

// Text on primary color bg

$secondary: $secondary;

// Secondary buttons
$secondarytext: desaturate(darken($secondary, 60%), 21%);

// Text on secondary color bg

$highlight: adjust-hue($primary, 150deg);

// Prices, In stock labels, sales flash
$highlightext: desaturate(lighten($highlight, 50%), 18%);

// Text on highlight color bg

$contentbg: #fff;

// Content BG - Tabs (active state)
$subtext: $default_text_mute_color;


// 从 Form 中复制
$input-color: $grey-darker !default;
$input-background-color: $white !default;
$input-border-color: $grey-lighter !default;
$input-shadow: inset 0 1px 2px rgba($black, 0.1) !default;

$input-hover-color: $grey-darker !default;
$input-hover-border-color: $grey-light !default;

$input-focus-color: $grey-darker !default;
$input-focus-border-color: $link !default;
$input-focus-box-shadow-size: 0 0 0 0.125em !default;
$input-focus-box-shadow-color: rgba($link, 0.25) !default;

$input-disabled-color: $text-light !default;
$input-disabled-background-color: $background !default;
$input-disabled-border-color: $background !default;

$input-arrow: $link !default;

$input-icon-color: $grey-lighter !default;
$input-icon-active-color: $grey !default;

$input-radius: $radius !default;

$file-border-color: $border !default;
$file-radius: $radius !default;

$file-cta-background-color: $white-ter !default;
$file-cta-color: $grey-dark !default;
$file-cta-hover-color: $grey-darker !default;
$file-cta-active-color: $grey-darker !default;

$file-name-border-color: $border !default;
$file-name-border-style: solid !default;
$file-name-border-width: 1px 1px 1px 0 !default;
$file-name-max-width: 16em !default;

$label-color: $grey-darker !default;
$label-weight: $weight-bold !default;

$help-size: $size-small !default;