

//===================================
// 按钮
//===================================
.woocommerce{
    a.button,
    button.button,
    input.button,
    #respond input#submit {
        //@apply leading-none font-normal uppercase border-0 bg-gray-300;
        //padding: .5em .8em;
        //font-size: 16px;
        //letter-spacing: .7px;
        //transition: background .2s ease;
        //border-radius: 3px;
        //color: #333;

        &.loading {
            opacity: 0.25;
            padding-right: 2.618em;

            &::after {
                font-family: "WooCommerce";
                content: "";
                @apply align-top font-normal absolute leading-none;
                top: 13px;
                margin-left: 0.53em;
                animation: spin 2s linear infinite;
            }
        }

        &.added{
            padding-right: 2.618em;
            &::after {
                @apply absolute leading-none;
                font-family: "WooCommerce";
                content: "";
                margin-left: 0.53em;
                top: 13px;
            }
        }

        //&.alt {
        //    //background-color: $woocommerce;
        //    //border: 1px solid lighten($woocommerce, 5%);
        //    //color: $primarytext;
        //    //-webkit-font-smoothing: antialiased;
        //
        //    //@extend .rs-button;
        //    //@extend .rs-button--primary;
        //
        //    &:hover {
        //        background-color: lighten($woocommerce, 5%);
        //        color: $primarytext;
        //    }
        //
        //    &.disabled,
        //    &:disabled,
        //    &:disabled[disabled],
        //    &.disabled:hover,
        //    &:disabled:hover,
        //    &:disabled[disabled]:hover {
        //        opacity: .4;
        //        cursor: not-allowed;
        //    }
        //}

    }

    //.cart .button,
    //.cart input.button {
    //    @apply float-none;
    //}

    //a.added_to_cart {
    //    @apply hidden;
    //}
}

.field.has-addons .control:last-child .button {
    @apply text-base;
}

.add_to_cart_button {
    @apply text-gray-600;
}
