

//===================================
// 按钮
//===================================
.woocommerce{
    a.button,
    button.button,
    input.button,
    #respond input#submit {
        @extend .rs-button;

        &.loading {
            opacity: 0.25;
            padding-right: 2.618em;

            &::after {
                font-family: "WooCommerce";
                content: "";
                @apply align-top font-normal absolute;
                top: 5px;
                right: 1em;
                animation: spin 2s linear infinite;
            }
        }

        &.added::after {
            font-family: "WooCommerce";
            content: "";
            margin-left: 0.53em;
            vertical-align: bottom;
        }

        &.alt {
            //background-color: $woocommerce;
            //border: 1px solid lighten($woocommerce, 5%);
            //color: $primarytext;
            //-webkit-font-smoothing: antialiased;

            //@extend .rs-button;
            @extend .rs-button--primary;

            &:hover {
                background-color: lighten($woocommerce, 5%);
                color: $primarytext;
            }

            &.disabled,
            &:disabled,
            &:disabled[disabled],
            &.disabled:hover,
            &:disabled:hover,
            &:disabled[disabled]:hover {
                background-color: $woocommerce;
                color: $primarytext;
            }
        }

    }

    .cart .button,
    .cart input.button {
        @apply float-none;
    }

    a.added_to_cart {
        @apply hidden;
    }
}

.single_add_to_cart_button {
    @apply text-base mt-2;
}

.field.has-addons .control:last-child .button {
    @apply text-base;
}


.add_to_cart_button {
    @apply text-gray-600;
    @extend .rs-button;

    &:before {
        @apply mr-1;
        @extend [class^="wpion-"];
        content: $wpion-cart-plus1;
    }
}
