//===================================
// 迷你购物车
//===================================
// 迷你购物车
.woocommerce-mini-cart {
    li {
        @apply py-4;

        & + li {
            @apply border-t border-gray-200;
        }
    }

    img {
        max-width: 64px;
    }

    .quantity,
    .amount {
        @apply text-sm text-gray-700;
    }

    .cart-title {
        @apply mb-2 leading-normal;
    }

    a.remove_from_cart_button {
        @apply absolute bottom-0 right-0 p-0;
        font-size: 20px !important;
        color: theme('colors.gray.500') !important;

        &:hover {
            @apply bg-transparent border-gray-700;
            color: theme('colors.gray.700') !important;
        }
    }

    &__total {
        @apply pr-0 text-center border-b border-gray-200 mb-4;

        .amount {
            @apply text-red-700 font-medium;
        }

        strong {
            @apply font-normal inline-block;
            min-width: 40px;
        }
    }

    &__empty-message {
        @apply text-gray-700 p-4 text-center;
    }

    &__buttons {
        @apply justify-center mb-4;

        .button {
            @apply mb-0;
        }
    }
}

// 侧边栏迷你购物车
.c-widget--shopping_cart {

    .woocommerce-mini-cart li {
        @apply p-4 relative;

        a {
            @apply p-0 leading-normal;
        }

        .quantity {
            @apply text-gray-500;
        }

        a.remove {
            @apply absolute leading-normal;
        }
    }

}
