/**
 * woocommerce-layout.scss
 * Applies layout to the default WooCommerce frontend design
 */

/**
 * Styling begins
 */
.woocommerce {

    /**
     * General layout styles
     */
    .col2-set {
        @include clearfix();
        width: 100%;

        .col-1 {
            @apply float-left;
            width: 48.5%;
        }

        .col-2 {
            @apply float-right;
            width: 48.5%;
        }
    }

    img {
        @apply max-w-full h-auto;
    }

    /**
     * Product page
     */
    div.product {

        div.thumbnails {
            @include clearfix();

            a {
                @apply float-left;
                width: 30.75%;
                margin-right: 3.8%;
                margin-bottom: 1em;
            }

            a.last {
                @apply mr-0;
            }

            a.first {
                clear: both;
            }

            &.columns-1 {
                a {
                    @apply w-full float-none mr-0;
                }
            }

            &.columns-2 {
                a {
                    width: 48%;
                }
            }

            &.columns-4 {
                a {
                    width: 22.05%;
                }
            }

            &.columns-5 {
                a {
                    width: 16.9%;
                }
            }
        }

        .woocommerce-tabs {
            clear: both;

            ul.tabs {
                @include menu();
            }
        }

        #reviews {
            .comment {
                @include mediaright();
            }
        }
    }



    &.columns-1 {
        ul.products {
            li.product {
                width: 100%;
                @apply w-full mr-0;
            }
        }
    }

    &.columns-2 {
        ul.products {
            li.product {
                width: 48%;
            }
        }
    }

    &.columns-3 {
        ul.products {
            li.product {
                width: 30.75%;
            }
        }
    }

    &.columns-5 {
        ul.products {
            li.product {
                width: 16.95%;
            }
        }
    }

    &.columns-6 {
        ul.products {
            li.product {
                width: 13.5%;
            }
        }
    }

    /**
     * Cart sidebar
     */
    ul.cart_list,
    ul.product_list_widget {
        li {
            @include mediaright();
        }
    }

    /**
     * oEmbeds
     */
    .woocommerce-oembed {
        @apply relative;
    }
}

/**
 * RTL styles.
 */
.rtl {
    .woocommerce, .woocommerce-page {
        .col2-set {
            .col-1 {
                @apply float-right;
            }

            .col-2 {
                @apply float-left;
            }
        }
    }
}


/**
 * Right to left styles */
.rtl.woocommerce {
    div.product div.images .flex-control-thumbs li {
        float: right;
    }

    .price_label span {
        unicode-bidi: embed;

        /* rtl:ignore */
        direction: ltr;
    }
}
