//===================================
// 评论
//===================================
.woocommerce {

    #reviews {
        h2 small {
            @apply float-right text-base text-gray-600;
            margin: 10px 0 0;

            a {
                @apply no-underline text-gray-600;
            }
        }

        #comment {
            @apply h-20 align-middle;
        }

        #comments {
            .add_review {
                @include clearfix;
            }

            h2 {
                clear: none;
            }
        }
    }

    //===================================
    // 星级评分
    //===================================
    .star-rating {
        @apply float-right overflow-hidden relative leading-none;
        height: 1em;
        font-size: 1em;
        width: 5.4em;
        font-family: "star";

        &::before {
            content: "sssss";
            @apply float-left absolute text-gray-500;
        }

        span {
            @apply overflow-hidden float-left absolute pt-6 text-red-600;
        }

        span::before {
            @apply absolute left-0 top-0;
            content: "SSSSS";
        }
    }

    .woocommerce-product-rating {
        @include clearfix;
        @apply block leading-loose;

        .star-rating {
            @apply float-left;
            margin: 0.5em 4px 0 0;
        }
    }

    .products .star-rating {
        @apply block float-none;
        margin: 0 0 0.5em;
    }

    .hreview-aggregate .star-rating {
        margin: 10px 0 0;
    }

    #review_form #respond {
        @include clearfix;
        @apply static m-0 p-0 w-auto border-0;
        background: transparent none;

        .form-submit input {
            @extend .rs-button--sm
        }

        p{
            @apply mt-0 mb-4 p-0;
        }
    }

    .comment-reply-title{
        @apply block mt-6 mb-4;
    }

    .comment-form-rating{
        label{
            @apply text-base;
        }
    }

    p.stars {
        @apply leading-none;
        a {
            @apply relative inline-block no-underline text-red-600;
            height: 1em;
            width: 1em;
            text-indent: -999em;

            &::before {
                @apply block absolute leading-none;
                width: 1em;
                height: 1em;
                font-family: "WooCommerce";
                content: "";
                text-indent: 0;
            }

            &:hover ~ a::before {
                content: "";
            }
        }

        &:hover a::before {
            content: "";
        }

        &.selected {
            a.active {
                &::before {
                    content: "";
                }

                ~ a::before {
                    content: "";
                }
            }

            a:not(.active)::before {
                content: "";
            }
        }
    }

}


ol.commentlist {
    @include clearfix;
    @apply w-full;

    li {
        @apply relative;
        margin: 0 0 20px;

        .meta {
            @apply text-sm;
            color: $subtext;
        }

        img.avatar {
            @apply float-left absolute w-8 h-auto shadow-none border border-gray-300 bg-gray-100;
            padding: 3px;
        }

        .comment-text {
            @include clearfix;
            @apply bg-white rounded p-4 border border-gray-300;
            margin: 0 0 0 50px;

            p {
                @apply mb-0;
                &:not(:last-child) {
                    @apply mb-4;
                }
            }

            p.meta {
                @apply mb-2 text-sm;
            }
        }

        & > li::before {
            content: "";
        }

    }

    ul.children {
        list-style: none outside;
        margin: 20px 0 0 50px;

        .star-rating {
            @apply hidden;
        }
    }

    #respond {
        @apply rounded border border-gray-300;
        padding: 1em 1em 0;
        margin: 20px 0 0 50px;
    }
}
