.woocommerce {
    table {
        @apply w-full;

        td.product-remove {
            min-width: 32px;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    table.shop_table {

    }
}

table.shop_attributes {
    @apply border-0 mb-6 w-full text-sm;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);

    th {
        @apply font-bold p-2 border-t-0 m-0 leading-normal;
        width: 150px;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    }

    td {
        @apply p-0 border-t-0 m-0 leading-normal;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.1);

        p {
            @apply m-0 py-2;
        }
    }

    tr:nth-child(even) td,
    tr:nth-child(even) th {
        background: rgba(0, 0, 0, 0.025);
    }
}

table.shop_table_responsive {
    tr {
        @media screen and (max-width: $phone) {
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            @apply mb-8;
            td:before {
                font-weight: 400;
                color: $text-lighter;
            }
        }
    }
}

.shop_table {
    tr td:last-of-type {
        @apply text-right;
    }

    th {
        @apply font-normal border-t text-left py-2;
    }

    td {
        @apply font-normal py-3 border-b border-gray-300 align-middle;

        small {
            @apply font-normal;
        }
    }

    thead th,
    thead td,
    tfoot th,
    tfoot td {
        @apply border-t-0 border-b-4 border-gray-300 font-normal p-1;
    }
}

.cart-collaterals {
    table {
        @apply p-0;
        border-collapse: separate;
        margin: 0 0 6px;

        tr:first-child {
            th,
            td {
                @apply border-t-0;
            }
        }

        th {
            @apply w-2/5;
        }

        td,
        th {
            @apply align-top border-l-0 border-r-0 leading-normal;
        }

        small {
            @apply text-gray-600;
        }

        select {
            @apply w-full;
        }
    }

    .discount td {
        color: $highlight;
    }

    tr td,
    tr th {
        @apply border-t border-gray-300;
    }
}
