.woocommerce {
    table {
        @apply w-full;

        td.product-remove {
            min-width: 32px;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    table.shop_table {

    }
}

table.shop_attributes {
    @apply border-0 mb-6 w-full text-sm;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);

    th {
        @apply font-bold p-2 border-t-0 m-0 leading-normal;
        width: 150px;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    }

    td {
        @apply p-0 border-t-0 m-0 leading-normal;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.1);

        p {
            @apply m-0 py-2;
        }
    }

    tr:nth-child(even) td,
    tr:nth-child(even) th {
        background: rgba(0, 0, 0, 0.025);
    }
}

table.shop_table_responsive {
    tr {
        @media screen and (max-width: $phone) {
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            @apply mb-8;
            td:before {
                font-weight: 400;
                color: $text-lighter;
            }
        }
    }
}

table.my_account_orders {
    .button {
        @apply whitespace-no-wrap;
        font-size: inherit;
    }

    .order-actions {
        @apply text-right;

        .button {
            margin: 0.125em 0 0.125em 0.25em;
        }
    }
}


.shop_table {
    tr td:last-of-type {
        @apply text-right;
    }

    th {
        @apply font-normal border-t text-left py-2;
    }

    td {
        @apply font-normal py-3 border-b border-gray-300 align-middle;

        small {
            @apply font-normal;
        }
    }

    thead th,
    thead td,
    tfoot th,
    tfoot td {
        @apply border-t-0 border-b-4 border-gray-300 font-normal p-1;
    }
}

// 购物车产品表
.woocommerce-cart-form__contents {
    .product-thumbnail {
        min-width: 32px;
    }

    img {
        @apply w-8 shadow-none;
    }

    th {
        @apply text-gray-600 text-left;
    }

    th,
    td {
        @apply align-middle;
    }

    td.actions {
        .coupon {
            @apply flex;

            .input-text {
                @apply leading-normal outline-none text-sm border border-secondary;
                width: 120px !important;
                padding: 6px 6px 5px;
                margin: 0 -1px 0 0;
            }
        }
    }

    input {
        @apply m-0 align-middle;
    }
}

// 结账审核订单表
.woocommerce-checkout-review-order-table {
    @apply text-base w-full border-collapse;
    @media screen and (max-width: $phone) {
        &:not(.woocommerce-table--order-details) {
            @apply border-0;
        }
    }

    tr td:last-of-type {
        @apply text-right;
    }

    th {
        @apply font-normal border-t text-left py-2;
    }

    td {
        @apply font-normal text-left py-3;
        @apply border-b border-gray-300 align-middle;

        small {
            font-weight: normal;
        }
    }

    thead th,
    thead td,
    tfoot th,
    tfoot td {
        @apply border-t-0 border-b-4 border-gray-300 font-normal p-1;
    }

    .shop_table td {
        @apply py-2 px-4;
    }
}

// 所有订单表格
.woocommerce-orders-table {
    &__header {
        @apply text-sm;
        padding: 10px 0 10px 30px !important;
        @apply px-4 font-medium text-gray-700 bg-gray-200;
        &:last-child {
            @apply text-right;
            padding-right: 16px !important;
        }
    }

    &__row {
        @apply border-t border-b border-gray-200;
    }

    &__cell {
        @apply text-sm whitespace-no-wrap align-middle text-left font-medium;
        padding: 20px 0 20px 30px;
        color: #354052;
    }
}


.cart-collaterals {
    table {
        @apply p-0;
        border-collapse: separate;
        margin: 0 0 6px;

        tr:first-child {
            th,
            td {
                @apply border-t-0;
            }
        }

        th {
            @apply w-2/5;
        }

        td,
        th {
            @apply align-top border-l-0 border-r-0 leading-normal;
        }

        small {
            @apply text-gray-600;
        }

        select {
            @apply w-full;
        }
    }

    .discount td {
        color: $highlight;
    }

    tr td,
    tr th {
        @apply border-t border-gray-300;
    }
}
