.woocommerce {
    table {
        @apply w-full;

        td.product-remove {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    table.shop_table {

    }
}

.woocommerce-cart-form {
    table {
        border-width: 0 0 1px;

        td {
            @apply pl-0;
        }

        div.quantity {
            @apply m-0 float-none;
        }

        small.stock {
            @apply block float-none;
        }
    }

    .group_table {
        td.woocommerce-grouped-product-list-item__label {
            padding-right: 1em;
            padding-left: 1em;
        }

        td {
            @apply align-top pb-2 border-0;
        }

        td:first-child {
            @apply w-16 text-center;
        }

        .wc-grouped-product-add-to-cart-checkbox {
            @apply inline-block w-auto mx-auto my-0;
            transform: scale(1.5, 1.5);
        }
    }

    .variations {
        @apply mb-4 border-0 w-full;

        td,
        th {
            @apply border-0 align-top leading-loose;
        }

        label {
            @apply font-bold;
        }

        td.label {
            @apply pr-4;
        }
    }
}

td.product-name {
    dl.variation, .wc-item-meta {
        list-style: none outside;

        dt, .wc-item-meta-label {
            float: left;
            clear: both;
            margin-right: 0.25em;
            display: inline-block;
            list-style: none outside;
        }

        dd {
            margin: 0;
        }

        p,
        &:last-child {
            margin-bottom: 0;
        }
    }

    p.backorder_notification {
        font-size: 0.83em;
    }

    a {
        @apply text-gray-800;
    }
}

td.product-quantity {
    min-width: 80px;
}

table.shop_attributes {
    @apply border-0 mb-6 w-full text-sm;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);

    th {
        @apply font-bold p-2 border-t-0 m-0 leading-normal;
        width: 150px;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    }

    td {
        @apply p-0 border-t-0 m-0 leading-normal;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.1);

        p {
            @apply m-0 py-2;
        }
    }

    tr:nth-child(even) td,
    tr:nth-child(even) th {
        background: rgba(0, 0, 0, 0.025);
    }
}


table.shop_table_responsive {
    tr {
        @include mobile {
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            margin-bottom: $spacer-lg;
            td:before {
                font-weight: 400;
                color: $text-lighter;
            }
        }
    }
}

table.my_account_orders {
    .button {
        @apply whitespace-no-wrap;
        font-size: inherit;
    }

    .order-actions {
        @apply text-right;

        .button {
            margin: 0.125em 0 0.125em 0.25em;
        }
    }
}


.shop_table {
    tr td:last-of-type {
        @apply text-right;
    }

    th {
        @apply font-normal border-t text-left py-2;
    }

    td {
        @apply font-normal text-left py-3 border-b border-gray-300 align-middle;

        small {
            @apply font-normal;
        }
    }

    thead th,
    thead td,
    tfoot th,
    tfoot td {
        @apply border-t-0 border-b-4 border-gray-300 font-normal p-1;
    }
}

// 购物车产品表
.woocommerce-cart-form__contents {
    .product-thumbnail {
        min-width: 32px;
    }

    img {
        width: 32px;
        box-shadow: none;
    }

    th {
        @apply text-gray-600 text-left;
    }

    th,
    td {
        @apply align-middle;
    }

    td.actions {
        .coupon {
            @apply flex;

            .input-text {
                @apply leading-normal outline-none text-sm border border-secondary;
                width: 120px !important;
                padding: 6px 6px 5px;
                margin: 0 -1px 0 0;
            }
        }
    }

    input {
        @apply m-0 align-middle;
    }
}

// 结账审核订单表
.woocommerce-checkout-review-order-table {
    border-collapse: collapse;
    @apply text-base w-full;
    @include mobile {
        &:not(.woocommerce-table--order-details) {
            border: 0;
        }
    }

    tr td:last-of-type {
        text-align: right;
    }

    th {
        @apply font-normal border-t text-left py-2;
    }

    td {
        @apply font-normal text-left py-3;
        @apply border-b border-gray-300;
        vertical-align: middle;

        small {
            font-weight: normal;
        }
    }

    thead th,
    thead td,
    tfoot th,
    tfoot td {
        @apply border-t-0 border-b-4 border-gray-300 font-normal p-1;
    }

    .shop_table td {
        @apply py-2 px-4;
    }
}

// 所有订单表格
.woocommerce-orders-table {
    &__header {
        padding: 10px 0 10px 30px !important;
        font-size: .875rem;
        @apply px-4 font-medium text-gray-700 bg-gray-200;
        &:last-child {
            text-align: right;
            padding-right: 16px !important;
        }
    }

    &__row {
        @apply border-t border-b border-gray-200;
    }

    &__cell {
        padding: 20px 0 20px 30px;
        color: #354052;
        font-size: .875rem;
        font-weight: 500;
        text-align: left;
        white-space: nowrap;
        vertical-align: middle;
    }
}


.cart-collaterals {
    table {
        @apply p-0;
        border-collapse: separate;
        margin: 0 0 6px;

        tr:first-child {
            th,
            td {
                @apply border-t-0;
            }
        }

        th {
            @apply w-2/5;
        }

        td,
        th {
            @apply align-top border-l-0 border-r-0;
            line-height: 1.5em;
        }

        small {
            color: $subtext;
        }

        select {
            @apply w-full;
        }
    }

    .discount td {
        color: $highlight;
    }

    tr td,
    tr th {
        @apply border-t border-gray-300;
    }
}

td.actions {
    @apply hidden;
}
