//===================================
// Tabs
//===================================
.woocommerce-tabs {
    @apply bg-gray-200 p-8;
    .panel {
        @apply m-0;
    }

    ul.tabs {
        @apply relative overflow-hidden justify-start mb-4;

        li {
            @apply inline-block relative leading-none z-0 rounded-tl rounded-tr;

            a {
                @apply block text-base px-6 py-3 text-gray-700 no-underline;

                &:hover {
                    @apply no-underline;
                    color: lighten($secondarytext, 10%);
                }
            }

            &.active {
                background: $contentbg;
                border-bottom-color: $contentbg;
                z-index: 2;

                a {
                    color: inherit;
                    text-shadow: inherit;
                }
            }
        }

    }

    .panel {
        @apply p-0 mb-8;
    }
}

.wc-tabs {
    @apply border-b border-gray-300;
}

.woocommerce-Tabs-panel {
    h2 {
        @apply text-xl font-medium mb-4;
    }

    p {
        @apply text-base mb-4;
    }
}
