// Variables
$primary: #e53238; // Primary colour for buttons (alt)
$primarytext: desaturate(lighten($primary, 50%), 18%); // Text on primary colour bg

$secondary: desaturate(lighten($primary, 40%), 21%); // Secondary buttons
$secondarytext: desaturate(darken($secondary, 60%), 21%); // Text on secondary colour bg


body.woocommerce-page .quantity .minus, body.woocommerce-page .quantity .plus {
    height: 29px;
    border-color: #ccc;
    background: #fff
}

body.woocommerce-page .quantity .minus:focus, body.woocommerce-page .quantity .plus:focus {
    outline: none
}

body.woocommerce-page .shop_table .quantity .minus, body.woocommerce-page .shop_table .quantity .plus {
    height: 18px
}

.quantity, .single-product #page div.product .summary, .title-left h2, ul.products li.product .price .amount, ul.products li.product .price ins {
    position: relative
}

.quantity.buttons_added input[type=number]::-webkit-inner-spin-button, .quantity.buttons_added input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.quantity.buttons_added input[type=number] {
    -moz-appearance: textfield;
    padding-right: 50px;
    text-align: center
}

.quantity.buttons_added input:focus {
    outline: 0
}

.quantity-nav {
    position: absolute;
    top: 0;
    right: -34px;
    bottom: 0;
    width: 35px;
    border: 1px solid #e2e2e2;
    background: #fff
}

.quantity-button {
    position: absolute;
    right: 0;
    left: 0;
    height: 50%;
    background: no-repeat 50%;
    background-size: auto 8px;
    cursor: pointer;
    user-select: none;
    transition: background-color .1s linear, opacity .1s linear
}

.quantity-button:active {
    background-color: #f5f5f7
}

.quantity-button.disabled {
    opacity: .25;
    cursor: default
}

.quantity-button.quantity-up {
    top: 1px;
    border-bottom: 1px solid #e2e2e2
}

.quantity-button.quantity-down:before,
.quantity-button.quantity-up:before {
    margin-left: 11px;
    font-family: icomoon, sans-serif;
    font-size: 14px;
    content: "\e92d"
}

.quantity-button.quantity-down:before {
    position: relative;
    top: 2px;
    content: "\e92a"
}

.quantity-button.quantity-down {
    bottom: 1px
}
