// 下拉迷你购物车
.c-widget--wprs_cart_widget {
    button.button {
        color: $woocommerce;
    }

    .dropdown-menu {
        @apply pt-0;
        min-width: 18rem;
        margin-top: -1px;
    }

    .widget_shopping_cart_content {
        @apply bg-white border border-gray-200;

        .woocommerce-mini-cart-item {
            @apply p-4 border border-gray-200;
        }

        .woocommerce-mini-cart__buttons {
            @apply mb-0;
        }
    }
}


// 商品分类
.c-widget--product_categories {
    .cat-item {
        @apply flex flext-wrap justify-between text-gray-500;
        padding: $spacer-sm $spacer-md !important;

        & > a {
            @apply p-0;

            & + span.count {
                @apply m-0;
            }
        }

        ul {
            @apply hidden w-full;

            li.cat-item {
                padding-right: 0 !important;
            }
        }
    }
}

// 最近查看的商品
.c-widget--recently_viewed_products {
    li {
        padding: $spacer-sm $spacer-md !important;

        a {
            @apply leading-normal p-0;
        }

        .amount {
            @apply text-orange-700;
        }
    }
}

// 商品列表
.c-widget--products {
    .amount {
        @apply text-orange-700;
    }

    del {
        .amount {
            @apply text-gray-500;
        }
    }

    ins {
        @apply text-orange-700;
    }
}

// 商品筛选
.woocommerce-widget-layered-nav-list {
    @apply m-0 p-0 border-0 list-none;

    .woocommerce-widget-layered-nav-list__item--chosen a::before {
        @include iconbefore("");
        @apply text-red-700;
    }
}

.woocommerce-widget-layered-nav-dropdown__submit {
    margin-top: 1em;
}

.c-widget--filters {
    @apply p-6 mb-8 bg-gray-300;
}

.c-widget--filters {
    @apply flex py-2;

    .c-widget__title {
        @apply pr-2 font-normal text-base;
        width: 68px;
        flex-shrink: 0;
    }
}

.c-widget--layered_nav {
    @apply border-b border-gray-200;

    .woocommerce-widget-layered-nav-list {
        @apply flex-grow;

        li {
            @apply inline-block mr-4;

            &:last-child {
                @apply mr-0;
            }

            .count {
                @apply font-light text-gray-500;
            }
        }
    }
}

// 价格筛选
.c-widget--price_filter {
    form {
        @apply flex-grow;
    }

    .price_slider {
        @apply mb-4;
    }

    .price_slider_amount {
        @apply text-right text-sm
        line-height: 2.4;

        .button {
            @apply float-right;
            font-size: 1.15em;
        }
    }

    .ui-slider {
        @apply relative text-left mx-2;
    }

    .ui-slider .ui-slider-handle {
        @apply absolute outline-none;
        z-index: 2;
        width: 1em;
        height: 1em;
        background-color: $woocommerce;
        border-radius: 1em;
        cursor: ew-resize;
        top: -4px;

        /* rtl:ignore */
        margin-left: -0.5em;
    }

    .ui-slider .ui-slider-range {
        @apply absolute z-10 block border-0;
        font-size: 0.7em;
        border-radius: 1em;
        background-color: $woocommerce;
    }

    .price_slider_wrapper .ui-widget-content {
        @apply border-0 border-gray-200;
        border-radius: 1em;
    }

    .ui-slider-horizontal {
        height: 0.5em;
    }

    .ui-slider-horizontal .ui-slider-range {
        @apply w-full top-0;
    }

    .ui-slider-horizontal .ui-slider-range-min {
        left: -1px;
    }

    .ui-slider-horizontal .ui-slider-range-max {
        right: -1px;
    }
}

// 评分筛选
.c-widget--rating_filter {
    ul {
        @apply m-0 p-0 border-0 list-none;

        li {
            @include clearfix;
            @apply list-none inline-block mr-4;
            padding: 0 0 1px;

            a {
                @apply block text-right text-gray-600;
            }

            .star-rating {
                @apply float-left mt-1 mr-1;
            }

            a {
                padding: 1px 0;
                @apply no-underline;
            }

            .star-rating {
                @apply float-none inline-block;
            }
        }

        li.chosen a::before {
            @include iconbefore("");

            color: $red;
        }

    }
}

// 已启用的过滤器
.c-widget--layered_nav_filters {
    ul {
        @apply m-0 p-0 border-0 list-none overflow-hidden;
        zoom: 1;

        li {
            @apply list-none;
            padding: 0 1em 1px 1px;

            a {
                @apply no-underline;

                &::before {
                    @include iconbefore("");
                    @apply text-red-700 mr-2;
                    vertical-align: inherit;
                }
            }
        }
    }
}

/**
 * Cart sidebar */
.product_list_widget {
    @apply m-0 p-0 list-none;

    li {
        @apply py-2 px-4;

        a {
            @apply block leading-normal pr-2;
        }

        .reviewer {
            @apply text-gray-500 font-light;
        }

        img {
            @apply float-right ml-2 h-auto shadow-none;
            width: 76px;
        }

        dl {
            @apply m-0 pl-4 flex;
            @include clearfix;
            border-left: 2px solid rgba(0, 0, 0, 0.1);

            dt,
            dd {
                @apply inline-block mb-4;
            }

            dt {
                @apply font-bold mr-1 pr-1 flex-none;
            }

            dd {
                @apply flex-grow pb-2;

                p:last-child {
                    @apply pb-0;
                }
            }
        }

        .star-rating {
            @apply float-none mb-1;
        }
    }
}

