.wp-block-group.is-style-layout-grid .block-editor-block-list__layout {
  display: flex;
  flex-wrap: wrap;
}

.wp-block-group.is-style-layout-grid .block-editor-block-list__layout .wp-block {
  flex: 1 0 30%;
}