#main-navigation {
	position: fixed;
    right: -100%;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li:before {
			display: none;;
		}

		li a {
			color: $color__text-main;
			text-decoration: none;
            text-transform: uppercase;
            font-weight: normal;
            padding: 10px 0;
            display: inline-block;
		}
    }

	@media screen and (min-width: breakpoint('phone')) {
		right: -300px;
	}

	@media screen and (min-width: breakpoint('desktop-nav')) {
		text-align: center;
		background: none;
		padding: 0;
		position: static;
		width: auto;
        overflow: visible;
        box-shadow: none;

        .sub-menu {
            @include screen-reader-text();
        }

        ul {

            &:after {
				@include clearfix();
				@include clearfix-after();
            }
            
            li {
                margin: 0;
                float: left;
                padding: 0 10px;

                a {
                    @include font-size(.9);
                    padding: 0;
                }
            }
        }
    }
}

.main-navigation-toggle {
	position: absolute;
    top: 0;
    right: $padding__content-mobile;
	padding: 0;
	height: $size__header-height-mobile;
	background: none;
	border: none;
	box-shadow: none;
	color: $color__text-main;

	&:before {
		@include icon-content("\e908");
	}

	@media screen and (min-width: breakpoint('desktop-nav')) {
			display: none;
	}
}