#main-navigation {

	ul {

		li {
			padding: 8px $padding__content-mobile;
			margin-bottom: 0;
			margin: 0;

			&.current-menu-item a {
				border-bottom: 3px solid $color__corporate;
			}

			a {
				@include font-size(.9);
			}

			&:before {
				display: none;
			}
		}
	}

	.menu-item-has-children {
		background-color: rgba(255,255,255,0);
		transition: background-color .8s ease;

		a {
			display: block;
			position: relative;
		}

		> a:after {
			@include icon-content("\e90a");
			@include font-size(.5);
			position: absolute;
			right: 0;
		}

		.sub-menu {
			display: block;
			overflow: hidden;
			max-height: 0;
			transition: max-height .8s ease;
		}

		&.expanded {
			background-color: $color__background-sub-menu;

			> a:after {
				@include icon-content("\e909");
			}

			.sub-menu {
				max-height: 300px;
				display: block;
			}
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {

		ul {

			li {
				padding: 0;

				&.cta-item {

					a {
						background: rgba(255,255,255,0);
						color: $color__corporate;
						padding: .5em .8em;
						border-radius: 8px;
						color: $color__border-button;
						border: 1px solid;
						border-color: $color__border-button;
						background: rgba(255,255,255,0);
						box-shadow: 0 0 0 1px transparent;
						transition: background .15s ease-in-out,
									border .15s ease-in-out,
									color .15s ease-in-out,
									box-shadow .15s ease-in-out;
						
						&:hover,
						&:active,
						&:focus,
						&:visited {
							background: rgba(255,255,255,0);
						}
				
						&:hover,
						&:focus {
							color: $color__border-button-hover;
							box-shadow: 0 0 0 1px $color__border-button-hover;
							border-color: $color__border-button-hover;
						}
				
						&:active {
							color: $color__border-button-focus;
							border-color: $color__border-button-focus;
						}
					}
				}
			}
		}

		.menu-item-has-children {

			.sub-menu {
				display: none;
				overflow: visible;
				background-color: $color__background-sub-menu;
				position: absolute;
				z-index: 10;
				padding: 15px;
				margin: -25px 0 0 0;
				width: 190px;
				box-shadow: 0 2px 8px rgba(0,0,0,0.3);
				text-align: left;

				li {
					float: none;
					margin-bottom: 10px;

					&:last-of-type {
						margin-bottom: 0;
					}

					a {
						line-height: normal;
					}
				}

				&:before {
					content: "";
					display: block;
					width: 0;
					height: 0;
					position: absolute;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					border-bottom: 6px solid $color__background-sub-menu;
					top: -6px;
					left: 50px;
				}
			}

			&:hover {

				.sub-menu {
					max-height: none;
					display: block;
				}
			}

			&.expanded {
				background-color: rgba(255,255,255,0);
			}

			> a:after,
			&.expanded > a:after {
				@include icon-content("\e90b");
				position: static;
				margin-left: 5px;
			}

			.sub-menu {
				position: absolute;
			}
		}
	}
}

#page {
	position: relative;

	#main-navigation {
		position: fixed;
		width: 250px;
		top: 0;
		bottom: 0;
		overflow: auto;
		box-shadow: 0 0 3px rgba(0,0,0,.0);
	}

	&.menu-toggled-on {

		#main-navigation {
			box-shadow: 0 0 3px rgba(0,0,0,.2);
		}
	}

	@media screen and (min-width: breakpoint('phone')) {

		#main-navigation {
			width: 300px;
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {

		&.menu-toggled-on #main-navigation,
		#main-navigation {
			position: static;
			width: auto;
			box-shadow: none;
			overflow: hidden;
		}
	}
}

.menu-item.login,
.menu-item.logout {

	img {
		width: 20px;
		height: 20px;
		display: inline-block;
		vertical-align: middle;
		background: #ccc;
		border-radius: 50%;
	}

	a, span {
		text-transform: none;
	}
}

.profile-nav {
	@include font-size(.8);

	.my-account {

		&:before {
			display: none;
		}

		a {
			color: $color__text-main;
			text-decoration: none;
		}

		img {
			border-radius: 50%;
			width: 20px;
			height: 20px;
			margin-right: 5px;
			object-fit: cover;
			background: #aaa;
			display: inline-block;
			vertical-align: middle;
		}

		.user-name {
			text-transform: uppercase;
		}
	}
}

.top-header,
.site-footer {

	.sub-menu {
		display: none;
	}
}
