#main-navigation {

	a {
		font-weight: normal;
		padding: 10px 0;
		display: inline-block;
	}

	ul {
		max-width: none;

		li {
			margin-bottom: 0;
			margin: 0;

			&.current-menu-item:not(.cta-item) > a,
			&.current-menu-ancestor:not(.cta-item) > a {
				color: $color__corporate;
				border-bottom: none;
				font-weight: 600;
			}

			a {
				@include font-size(.9);

				&:focus {
					background: none;
					outline: none;
				}
			}

			&:before {
				display: none;
			}

			&.cta-item {

				a {
					padding: .7em 1.2em;
					display: block;
					text-align: center;
					margin-top: 20px;
					font-weight: 600;
					color: $color__border-button;
					border-width: 2px;
					border-style: solid;
					border-color: $color__border-button;
					border-radius: $border-radius__button;

					&:hover {
						color: $color__border-button-hover;
						border-color: $color__border-button-hover;
					}
				
					&:active,
					&:focus {
						color: $color__border-button-focus;
						border-color: $color__border-button-focus;
					}
				}
			}
		}
	}

	.menu-item-has-children {

		> a {
			position: relative;
			padding-right: 25px;
		}

		> a:after {
			@include icon-content("\e90e");
			@include font-size(.45);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}

		.sub-menu {
			display: block;
			overflow: hidden;
			max-height: 0;
			transition: max-height .8s ease;
			line-height: normal;

			li {
				padding-bottom: 0;

				a {
					text-transform: none;
				}
			}
		}

		&.expanded {

			> a:after {
				@include icon-content("\e90b");
			}

			.sub-menu {
				max-height: 200px;
				padding-bottom: 10px;
				display: block;
			}
		}
	}

	@media screen and (min-width: breakpoint('desktop-nav')) {

		ul {

			li {
				padding: 0;
				
				a {
					transition: color .15s ease-in-out;
					display: block;
					padding-left: 10px;
					padding-right: 10px;
					
					&:hover {
						color: $color__corporate;
					}
				}

				&.cta-item {
					margin-left: 5px;

					a {
						display: inline;
						margin-top: 0;
					}
				}

				&.current-menu-item:not(.cta-item),
				&.current-menu-ancestor:not(.cta-item) {
					position: relative;

					&:after {
						content: '';
						display: block;
						height: 3px;
						width: 100%;
						background: $color__corporate;
					}
				}
			}
		}

		.menu-item-has-children {
			transition: none;

			.sub-menu {
				display: none;
				overflow: visible;
				background-color: $color__background-sub-menu;
				position: absolute;
				z-index: 10;
				padding: 15px 10px 20px;
				margin-left: -10px;
				width: 190px;
				text-align: left;

				li {
					float: none;
					margin-bottom: 15px;

					&:last-of-type {
						margin-bottom: 0;
					}

					a {
						line-height: normal;
					}

					&.current-menu-item:after {
						display: none;
					}
				}
			}

			&:hover,
			&.expanded {
				background-color: $color__background-sub-menu;

				&[class*="current"]:after {
					background-color: rgba(255,255,255,0);
				}

				> a:after {
					@include icon-content("\e90b");
				}
	
				.sub-menu {
					max-height: 300px;
					display: block;
					padding: 20px 10px;
					box-shadow: 1px 3px 3px rgba(0,0,0,.2);
				}
			}

			&.expanded,
			&:hover {

				a:after {
					color: $color__corporate
				}
			}

			> a:after {
				@include icon-content("\e90b");
				position: static;
				margin-left: 5px;
			}

			.sub-menu {
				position: absolute;
			}
		}
	}
}

#primary-menu > li:not(.cta-item) {
	border-bottom: 1px solid $color__background-hr;

	@media screen and (min-width: breakpoint('desktop-nav')) {
		border: none;
		padding: 0 10px;

		a {
			padding: 0;
		}
	}
}

#main-navigation {
	position: fixed;
	width: 100%;
	top: $size__header-height-mobile;
	bottom: 0;
	overflow: auto;
	box-shadow: 0 0 3px rgba(0,0,0,.0);
	padding: 20px;

	@media screen and (min-width: breakpoint('phone')) {
		width: 300px;
		box-shadow: -1px 4px 4px rgba(0,0,0,.6);
	}

	@media screen and (min-width: breakpoint('desktop-nav')) {
		padding: 0;
		position: static;
		width: auto;
		box-shadow: none;
		overflow: visible;
	}
}

.top-header,
.site-footer {

	.sub-menu {
		display: none;
	}
}
