// Post elements

.site-content {
	padding-top: 10px;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.post__header {
	margin-top: 30px;

	.post__summary {
		@include font-size(1.15);
		color: #888;
		border-top: 1px solid $color__background-hr;
		margin-top: 20px;
	}

	.post__title {
		margin: 0 0 20px;
	}

	.post__meta {
		@include font-size(.9);

		.post__categories {
			margin-bottom: 10px;
			display: block;

			a {
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}

	.page-links {
		clear: both;
		margin: 0 0 1.5em;
	}

	.post-thumbnail {
		width: 100%;

		img {
			width: 100%;
		}
	}
}

// Elements

h2 {
	@include font-size(1.6);
	margin-top: 40px;
}

h3 {
	@include font-size(1.3);
}

p {
	margin: 15px 0;
}

ul, ol {
	padding-left: 50px;

	li {
		margin-bottom: 10px;
	}
}

li > ul,
li > ol {
	padding-left: 25px;
}

@import 'blocks/index';
