.post--preview {
	box-shadow: $shadow__card;
	position: relative;
	padding-bottom: 40px;
	margin-bottom: 30px;
	background: #fff;
	border-radius: $border-radius;

	img {
		width: 100%;
		display: block;
		border-radius: $border-radius $border-radius 0 0;
	}

	> a {
		display: block;
	}

	.post__meta,
	.post__title,
	.post__excerpt {
		margin-left: 15px;
		margin-right: 15px;
	}

	.post__header {
		margin-top: 15px;
	}

	.post__meta {
		@include font-size(.9);
		line-height: normal;
		padding-bottom: 13px;
		margin-top: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $color__background-hr;
		width: auto;

		.post__categories {
			padding: 0;
			margin: 0;

			li {
				float: left;
				margin: 0 5px 0 0;
				padding: 0;

				&:before {
					display: none;
				}

				&:after {
					content: ",";
				}

				&:last-of-type:after {
					display: none;
				}
			}
		}

		&:after {
			@include clearfix();
			@include clearfix-after();
		}

		.reading-time {
			right: 0;
		}
	}

	.post__title {
		margin: 15px 15px 0;
		border: none;

		a {
			text-decoration: none;
			color: $color__text-main;
			line-height: 1.2em;
			display: block;
		}
	}

	.post__excerpt {
		margin-top: 0;
		margin-bottom: 15px;

		p {
			margin-top: 0;
			margin-bottom: 10px;
		}
	}

	.readmore {
		@include font-size(.9);
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 1em 10px;
	}
}
