@import 'variables-site/variables-site';
@import 'mixins/mixins-master';
@import 'blocks/index';
@import 'blocks/post-banner';
@import 'blocks/blocks';

h2 {
	@include font-size(1.6);
	margin-top: 40px;
}

h3 {
	@include font-size(1.3);
}

p {
	margin: 15px 0;
}

ul, ol {
	padding-left: 50px;

	li {
		margin-bottom: 10px;
	}
}

li > ul,
li > ol {
	padding-left: 25px;
}

.site-content {
	padding-top: 10px;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}
