
/* ==========================================================================
   Variables
   ========================================================================== */

/* Media Queries
   -------------------------------------------------------------------------- */

   // Breakpoints
   $mobile                               : 320px;
   $mobile-landscape                     : 480px;
   $tablet                               : 768px;
   $tablet-landscape                     : 1024px;
   $site-mid                             : 960px;
   $site-constraint                      : 1200px;
   $desktop                              : 1280px;

   // Max Width
   $mobile-max                           : max-width ( $mobile - 1 );
   $mobile-landscape-max                 : max-width ( $mobile-landscape - 1 );
   $tablet-max                           : max-width ( $tablet - 1 );
   $tablet-landscape-max                 : max-width ( $tablet-landscape - 1 );
   $site-mid-max                         : max-width ( $site-mid - 1 );
   $site-constraint-max                  : max-width ( $site-constraint - 1 );
   $desktop-max                          : max-width ( $desktop - 1 );

   // Min-Max Width
   $mobile-to-tablet                     : $mobile ( $tablet - 1 );
   $mobile-landscape-to-tablet           : $mobile-landscape ( $tablet - 1 );
   $tablet-to-mid                        : $tablet ( $site-mid - 1 );
   $tablet-to-constraint                 : $tablet ( $site-constraint - 1 );
   $tablet-to-desktop                    : $tablet ( $desktop - 1 );
   $mid-to-constraint                    : $site-mid ( $site-constraint - 1 );
   $mid-to-desktop                       : $site-mid ( $desktop - 1 );


/* Grid
   -------------------------------------------------------------------------- */

	// Susy
	$susy : (
		columns                          : 12,
		gutters                          : 1/3,
		global-box-sizing                : border-box,
		gutter-position                  : inside
	);

/* Colors
   -------------------------------------------------------------------------- */

    // Color Names: http://chir.ag/projects/name-that-color/

    // Project Specific


    // Global
	$off-white 				             : #f6f6f6;
	$off-black				             : #222222;
    $mercury                             : #e6e6e6; // grey-lt
    $alto                                : #dbdbdb; // grey
    $charcoal                            : #333332;
	$pomegranate					     : #ee3228; // red
	$endeavour 					         : #0065b2; // blue

	// Social Networks
	$facebook				             : #3b5998;
	$linkedin				             : #007fb1;
	$rss					             : #ff6600;
	$email					             : #ffdd68;
	$instagram				             : #3f729b;
	$youtube				             : #cd332d;
	$vimeo					             : #44bbff;
	$tumblr					             : #2c4762;
	$pinterest				             : #e41f11;
	$googleplus				             : #d14836;
	$flickr					             : #0063db;
	$twitter				             : #39a9e0;

	// Alerts
	$success				             : #659f13;
	$success-lt				             : #f2fae3;
	$error					             : #d85030;
	$error-lt				             : #fff1f0;
	$warning				             : #e28327;
	$warning-lt				             : #fffceb;

/* General
   -------------------------------------------------------------------------- */

	$font-family		                 : 'Open Sans', sans-serif;
	$font-family-secondary 	             : sans-serif;
	$font-size 		                     : 16px;
	$font-color 		                 : $charcoal;
	$link-color 		                 : $success;
	$selection-highlight                 : $error;
