%l-constrained {
	@extend %clearfix;
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}
.l-constrained {
	margin: 0 auto 0 auto;
	padding: 10px;
	@extend %l-constrained;
}
.l-constrained--lean {
	margin: 0 auto 0 auto;
	@extend %l-constrained;
}
.l-constrained--plump {
	margin: 0 auto 0 auto;
	padding: 10px;
	@extend %l-constrained;
	@include breakpoint( $tablet, $no-query: '.lt-ie9' ) {
		padding: 20px;
	}
}
.l-container {
	@extend %clearfix;
}
.l-breather {
	margin: 1em 0;
	img {
		width: 100%;
	}
}
.l-primary {
	@include breakpoint( $tablet, $no-query: '.lt-ie9' ) {
		@include layout( $gutter: 0 ) {
			@include grid-span( 16, 1 );
		}
	}
}
.l-secondary {
	@include breakpoint( $tablet, $no-query: '.lt-ie9' ) {
		@include layout( $gutter: 0 ) {
			@include grid-span( 8, 17 );
		}
	}
}
