/*
 * Footer areas with grey backgrounds.
 * 1. To overlap fixed-position content images.
 */
.footer {
	@include font-size-line( "small" );
	position: relative; /* 1 */
	clear: both;
	z-index: 2; /* 1 */
	text-align: center;
	background: $background-color__footer;
	font-family: $font-family__meta;
}

/*
 * 1. For the avatar positioning.
 * 2. Leave room for the avatar.
 */
.entry-footer .entry-author {
	position: relative; /* 1 */
	padding-top: ( $avatar-diameter / 2 );
}

/* Position at top-center of footer area. */
.entry-author-avatar {
	position: absolute;
	top: ( -1 * ( $avatar-diameter / 2 ) );
	left: 50%;
	margin-left: ( -1 * ( $avatar-diameter / 2 ) );
	border: 0 !important;
}

/* Leave some more space under the avatar. */
.entry-author-byline {
	@include rem( "margin-top", ( $spacing / 2 ) );
}

/* Equal spacing above and below author bio. */
.entry-author-description {
	@include rem( "margin", ( $line * 0.5 ) 0 );
}

/* Full footer (site logo and terms). */
.site-footer {
	@include rem( "padding", ( $line * 2 ) $width__menu-toggle $line );

	.site-description {
		@include rem( "margin-bottom", ( $spacing * 2 ) );
		@include font-size-line( "small" );
		display: block;
	}

	.site-editor {

	}

}

.footer-uoy-logo {
	@include rem( "margin-top", ( $line * 2 ) );
}

.site-footer .site-logo-link {
	border-bottom: 0 !important;
}
