.site-header {
	@include rem( "height", $height__masthead );
}

.site-title {
	@extend %title-font;
	@include rem( "line-height", $height__masthead );
	margin: 0;
	text-align: center;
}

.site-logo-link {
	text-align: center;

	&,
	&:hover,
	&:focus,
	&:active {
		border: 0;
	}

}

.site-logo {
	position: relative;
	top: 0.1em; /* The bottom part of the logo is a 'Y' descender, so we shift the image so its 'baseline' looks right. */
	vertical-align: middle;
}

.site-description {
	display: none;
}

.site-header-single {
	@include rem( "margin", $line 0 );
	height: auto;
	text-align: center;

	a {
		border: 0;
	}

	img {
		position: static; /* Override pos:relative for Yu logo. */
		vertical-align: top;
	}

	.slash {
		position: relative;
		top: -0.3em;
		display: inline-block;
		margin-right: 0.1em;
		font-size: 3em;
		line-height: 1;
		font-family: $font-family__sans-serif;
		color: $grey__lightest;
	}

}
