p {
	@include rem( "margin", 0 0 $line );
}

dfn,
em,
i {
	font-style: italic;
}

blockquote {
	@include rem( "margin", 0 $spacing $line );

	p {
		@include rem( "margin-bottom", ( $line * 0.5 ) );
	}

}

address {
	@include rem( "margin", 0 0 $line );
}

pre {
	@include rem( "margin-bottom", $line );
	@include rem( "padding", $line $spacing );
	@include font-size-line( "small", $lines__pre );
	overflow: auto;
	max-width: 100%;
	background: $background-color__pre;
	font-family: $font-family__pre;
}

code,
kbd,
tt,
var {
	@include font-size( "small" );
	font-family: $font-family__code;
}

/* No special styling for abbreviation elements. */
abbr,
acronym {
	&,
	&[title] {
		border-bottom: 0;
		cursor: inherit;
	}
}

mark,
ins {
	background: $background-color__ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Lead/lede. */
.lead {
	@include font-size-line( "large" );
	font-weight: bold;
}

/* Dropcaps. */
.dropcap {
	box-sizing: content-box;
	margin-left: -5px;
	margin-right: 3px;
	font-weight: bold;
	//font-family: $font-family__dropcap;
}

/* Calls-to-action. */
.call-to-action {
	@include rem( "margin-top", ( $line * 1.5 ) );
	@include rem( "padding-top", ( $line * 0.5 ) );
	font-weight: bold;
	font-family: $font-family__meta;
	border-top: $height__rule solid $background-color__rule;
}

/* Mini calls-to-action within the content (e.g. for contact details). */
.content-details {
	@include rem( "margin-bottom", $line );
	@include rem( "padding", ( $line * 0.5 ) 0 );
	font-weight: bold;
	font-family: $font-family__meta;
	border-top: 2px dotted $background-color__rule;
	border-bottom: 2px solid $background-color__rule;

	p,
	li,
	> *:last-child {
		margin-bottom: 0;
	}

	ul,
	ol {
		margin-left: 0;
	}

}

.quote-source {
	@include font-size-line( "small" );
	font-style: normal;
	font-weight: bold;
	color: $grey__light;
	text-transform: uppercase;
	text-indent: 0 !important;
}

/* Coloured box within article. */
.textbox {
	@include rem( "margin", 0 0 $line );
	@include rem( "padding", ( $line * 0.5 ) $gutter );
	@include font-size-line( "small" );
	width: 100%;
	background: $grey__lightest;

	p {
		margin-bottom: 0;
	}

	blockquote {
		margin-left: 0;
		margin-right: 0;
	}

	/* Images */
	.alignnone,
	.aligncenter {
		@include rem( "margin-left", ( $gutter * -1 ) );
		@include rem( "margin-right", ( $gutter * -1 ) );
		max-width: calc( 100% + ( #{$gutter} * 2 ) );

		&:first-child {
			@include rem( "margin-top", ( $line * -0.5 ) );
		}

	}

	h3,
	h4,
	h5,
	h6 {
		@include rem( "margin", $line 0 ( $line * 0.5 ) );

		&:first-child {
			margin-top: 0;
		}

	}

	/* Links */
	.entry-content.entry-content & a { // specificity hack
		color: $color__link-hover;
	}

	:last-child {
		margin-bottom: 0;
	}

	hr {
		@include rem( "margin-top", ( $line * 0.5 ) );
		@include rem( "margin-bottom", ( $line * 0.5 ) );
		width: 100%;
		height: 2px;
		color: $color__main;
	}

	.single-entry & .call-to-action { /* specificity hack for colours */
		margin-top: $line__px;
		margin-top: calc( ( #{$line} * 1.5 ) - #{$height__rule} );
		border-top-color: $color__main;
		color: $color__main;
	}

	/* Override subheadings' decorative coloured squares. */
	.entry-content.entry-content & h3:before {
		display: none;
	}

}

@include media( "wide-content-column" ) {

	.textbox {
		@include rem( "margin-left", $spacing );
		clear: right;
		float: right;
		width: 50%;

		/* Fix text indenting when the box is not in the flow of the content. */
		p:not(.lead) + & + p {
			text-indent: $text-indent;
		}

		.alignnone:first-child
		.aligncenter:first-child {
			@include rem( "margin-top", ( $line * -1 ) );
			@include rem( "margin-left", ( $gutter * -2 ) );
		}

	}

}

@include media( "main-spacing-1" ) {

	.textbox {
		position: relative;
		left: 10%;
		margin-left: -5%;
		margin-left: calc( -10% + #{$spacing} );
	}

}

@include media( "main-spacing-2" ) {

	.template-one-column .textbox {
		left: 20%;
		margin-left: -15%;
		margin-left: calc( -20% + #{$spacing} );
	}

}
