p {
	@include rem( "margin", 0 0 $spacing );
}

dfn,
em,
i {
	font-style: italic;
}

blockquote {
	@include rem( "margin", 0 $spacing );
}

address {
	@include rem( "margin", 0 0 $spacing );
}

pre {
	@include rem( "margin-bottom", $spacing );
	@include rem( "padding", $spacing );
	@include font-size-line( "small", $lines__pre );
	overflow: auto;
	max-width: 100%;
	background: $background-color__pre;
	font-family: $font-family__pre;
}

code,
kbd,
tt,
var {
	@include font-size( "small" );
	font-family: $font-family__code;
}

/* No special styling for abbreviation elements. */
abbr,
acronym {
	border-bottom: 0;
	cursor: inherit;
}

mark,
ins {
	background: $background-color__ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
