p {
	@include rem( "margin", 0 0 $line );
}

dfn,
em,
i {
	font-style: italic;
}

blockquote {
	@include rem( "margin", 0 $spacing $line );

	p {
		@include rem( "margin-bottom", ( $line * 0.5 ) );
	}

}

address {
	@include rem( "margin", 0 0 $line );
}

pre {
	@include rem( "margin-bottom", $line );
	@include rem( "padding", $line $spacing );
	@include font-size-line( "small", $lines__pre );
	overflow: auto;
	max-width: 100%;
	background: $background-color__pre;
	font-family: $font-family__pre;
}

code,
kbd,
tt,
var {
	@include font-size( "small" );
	font-family: $font-family__code;
}

/* No special styling for abbreviation elements. */
abbr,
acronym {
	&,
	&[title] {
		border-bottom: 0;
		cursor: inherit;
	}
}

mark,
ins {
	background: $background-color__ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Lead/lede. */
.lead {
	@include font-size-line( "large" );
	font-weight: bold;
}

/* Dropcaps. */
.dropcap {
	box-sizing: content-box;
	margin-left: -5px;
	margin-right: 3px;
	font-weight: bold;
	//font-family: $font-family__dropcap;
}

/* Calls-to-action. */
.call-to-action {
	@include rem( "margin-top", ( $line * 1.5 ) );
	@include rem( "padding-top", ( $line * 0.5 ) );
	font-weight: bold;
	font-family: $font-family__meta;
	border-top: $height__rule solid $background-color__rule;
}

/* Mini calls-to-action within the content (e.g. for contact details). */
.content-details {
	@include rem( "margin-bottom", $line );
	@include rem( "padding", ( $line * 0.5 ) 0 );
	font-weight: bold;
	font-family: $font-family__meta;
	border-top: 2px dotted $background-color__rule;
	border-bottom: 2px solid $background-color__rule;

	p,
	li,
	> *:last-child {
		margin-bottom: 0;
	}

	ul,
	ol {
		margin-left: 0;
	}

}

.quote-source {
	@include font-size-line( "small" );
	font-style: normal;
	font-weight: bold;
	color: $grey__light;
	text-transform: uppercase;
	text-indent: 0 !important;
}
