html {
	@include rem( "line-height", map_get( $line-heights, "normal" ) );
	font-size: $font-size__html__mobile;
}

body,
button,
input,
select,
textarea {
	@include font-size-line( "normal" );
	font-weight: $font-weight__main;
	font-family: $font-family__main;
	color: $color__main;
}

/* Bigger text for wider screens */
@include media( "main-spacing" ) {

	html {
		@include rem( "line-height", map_get( $line-heights, "normal" ) );
		font-size: $font-size__html;
	}

}


