.footer-fixed-bar {
	position: fixed;
	bottom: -70px;
	left: 0;
	right: 0;
	padding: 5px $padding__content-mobile;
	background: #fff;
	text-align: center;
	border-top: 1px solid #ccc;
	box-shadow: 1px 1px rgba(0,0,0,.2);
	z-index: 9;
	transition: bottom .5s ease-in-out;
	color: $color__text-main;
	display: flex;
	align-items: center;

	&:before {
		display: none;
		content: "";
		background: rgba(0,0,0,.5);
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 99;
	}
	
	img {
		border-radius: 50%;
		margin-bottom: 0;
		margin-right: 10px;
	}
	
	p {
		margin: 0;
		margin-right: 10px;
		text-align: left;
		line-height: 1.2em;
	}
	
	.button {
		@include font-size(.9);
		margin: 0;
		display: inline-block;
		vertical-align: middle;
		flex-basis: 50%;
		flex-grow: 1;
	}

	&.visible {
		bottom: 0;
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		display: none;
	}
}
