$letter-spacing: 0.1em;

$sup-position: -0.5em;
$sub-position: -0.25em;

$spacing-regular: 1rem;
$spacing-regular--half: calc(#{$spacing-regular} / 2);

$input-height: calc(1rem * 2.5);
$input-height--double: calc(1rem * 2.5 * 2);
