/*
see gutenberg-config
if custom fonts used, define it here
*/
$font__theme: custom;
$font__body: Georgia, serif;
$font__headings: Georgia, serif;
$font__forms: Georgia, serif;

/* see gutenberg-config */
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
