.site-content,
.wrap {
	max-width: $size__content-width;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: $size__content-width + $padding__content-desktop*2) {
		padding-left: 0;
		padding-right: 0;
	}
}

#page {

	.alignfull,
	.alignwide {
		margin-left: -#{$padding__content-mobile};
		margin-right: -#{$padding__content-mobile};
		width: auto;
		max-width: 1000%;
		padding-left: $padding__content-mobile;
		padding-right: $padding__content-mobile;

		&.wp-block-image {
			padding: 0;
			max-width: none;
		}

		@media screen and (min-width: breakpoint('tablet-landscape')) {
			padding-left: $padding__content-desktop;
			padding-right: $padding__content-desktop;
			margin-left: calc(50% - 50vw);
			margin-right: calc(50% - 50vw);
		}

		@media screen and (min-width: $size__content-width + $padding__content-desktop*2) {
			margin-left: calc(50% - 50vw);
			margin-right: calc(50% - 50vw);
			padding-left: calc((100vw - #{$size__content-width}) /2);
			padding-right: calc((100vw - #{$size__content-width}) /2);
		}
	}

	.is-style-download.has-media-on-the-right.alignfull,
	.wp-block-columns.is-style-offer.alignfull {

		@media screen and (min-width: breakpoint('desktop')) {
			margin-left: 0;
			margin-right: 0;
			position: relative;

			.wp-block-media-text__media,
			.wp-block-media-text__content,
			.wp-block-column {
				z-index: 1;
			}

			.wp-block-media-text__content,
			.wp-block-column:first-of-type {
				background: none;
				padding-left: 0;
				padding-right: $padding__content-desktop;
			}

			.wp-block-media-text__media,
			.wp-block-column:last-of-type {
				padding-left: $padding__content-desktop;
			}

			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: 50vw;
				z-index: 0;
			}

			&:before {
				right: 50%;
				background: $color__corporate-gradient;
			}

			&:after {
				right: -50vw;
				background: $color__background-light;
			}
		}
	}

	.wp-block-columns.wp-block-atf {

		@media screen and (min-width: $size__content-width ) {

			.wp-block-column--media {
				margin-left: calc(50% - 50vw);
				margin-right: calc(50% - 50vw);
				width: auto;
			}
		}
	}

	.is-style-method.alignfull,
	.is-style-method.alignwide {

		@media screen and (min-width: breakpoint('tablet-landscape')) {
			padding-left: $padding__content-desktop + 300px;
			padding-right: $padding__content-desktop;
			background-position: $padding__content-desktop + 208px center;

			&:before {
				background-position: $padding__content-desktop + 208px top;
			}

			&:after {
				background-position: $padding__content-desktop + 208px bottom;
			}
		}

		@media screen and (min-width: breakpoint('desktop')) {
			padding-left: calc(((100vw - #{$size__content-width}) / 2) + 300px);
			padding-right: calc((100vw - #{$size__content-width}) / 2);
			background-position: calc(((100vw - #{$size__content-width}) / 2) + 208px) center;

			&:before {
				background-position: calc(((100vw - #{$size__content-width}) / 2) + 208px) top;
			}

			&:after {
				background-position: calc(((100vw - #{$size__content-width}) / 2) + 208px) bottom;
			}
		}
	}
}
