$size__page-width: $size__content-width + $padding__content-desktop;

.site-content,
.wrap {
	
	@media screen and (min-width: breakpoint('tablet-landscape')) {
		padding-left: $padding__content-tablet;
		padding-right: $padding__content-tablet;
		max-width: $size__page-width;
	}
	
	@media screen and (min-width: breakpoint('desktop')) {
		padding-left: $padding__content-desktop;
		padding-right: $padding__content-desktop;
	}
}

#page {
	
	@media screen and (min-width: 1366px) {
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 0 3px rgba(0,0,0,.1);
		max-width: $size__page-width;
		
		.site-header.stuck .wrap {
			max-width: $size__page-width;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.site-content {

	.alignfull,
	.alignwide {
		
		@media screen and (min-width: breakpoint('tablet-landscape')) {
			padding-left: $padding__content-tablet;
			padding-right: $padding__content-tablet;
		}
		
		@media screen and (min-width: breakpoint('desktop')) {
			padding-left: $padding__content-desktop;
			padding-right: $padding__content-desktop;
		}
		
		@media screen and (min-width: 1366px) {
			margin-left: -#{$padding__content-desktop};
			margin-right: -#{$padding__content-desktop};
		}
	}
}

.wp-block-columns.wp-block-atf {

	@media screen and (min-width: breakpoint('desktop')) {

		.wp-block-column--content {
			padding: 60px $padding__content-desktop;
		}
	}
}
