body.has-secondary-nav {

	.secondary-navigation,
	.content-area {

		@media screen and (min-width: breakpoint('tablet-landscape')) {
			float: left;
		}
	}

	.content-area {
		margin-top: 30px;

		@media screen and (min-width: breakpoint('tablet-landscape')) {
			width: 69%;
			margin-top: 50px;
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {

		.secondary-navigation__toggle {
			display: none;
		}

		#primary {
			padding: 0 0 50px;

			&:after {
				@include clearfix();
				@include clearfix-after();
			}
		}
	}
}
