.woocommerce-MyAccount-navigation {

	ul {
		padding-left: 0;
		margin: 0;

		li {
			border-top: 1px solid #f5f5f5;
			margin-bottom: 0;
			padding: 15px 0;

			&:last-of-type {
				border-bottom: 1px solid #f5f5f5;
			}

			a {
				text-decoration: none;

				&:after {
					@include font-size(1.1);
					float: right;
					font-weight: normal;
					opacity: .4;
				}
			}

			&:before {
				display: none;
			}

			&.is-active a:after {
				opacity: 1;
			}

			&.woocommerce-MyAccount-navigation-link--dashboard a:after {
				@include icon-content('\e915');
			}

			&.woocommerce-MyAccount-navigation-link--orders a:after {
				@include icon-content('\e918');
			}

			&.woocommerce-MyAccount-navigation-link--downloads a:after {
				@include icon-content('\e916');
			}

			&.woocommerce-MyAccount-navigation-link--edit-address a:after {
				@include icon-content('\e914');
			}

			&.woocommerce-MyAccount-navigation-link--edit-account a:after {
				@include icon-content('\e913');
			}

			&.woocommerce-MyAccount-navigation-link--customer-logout a:after {
				@include icon-content('\e917');
			}
		}
	}
}