.site-content {
	margin-top: 50px;
	margin-bottom: 50px;
}

#customer_details,
#order_review_heading {
	margin-top: 20px;
	padding-top: 20px;
}

.woocommerce-form-login-toggle,
.woocommerce-form-coupon-toggle {

	a {
		color: #fff;
		text-decoration: none;
		font-weight: normal;
	}
}

.woocommerce-form-login,
.woocommerce-form-coupon {
	margin-bottom: 2.617924em;

	p {
		margin-top: 0;
		margin-bottom: 15px;
	}

	a {
		text-decoration: none;
		font-weight: normal;
	}
}

.woocommerce-form-coupon-toggle {
	background: rgba(0,0,0,.5);
	color: #fff;

	.woocommerce-info {
		padding: 20px 15px;
		text-align: left;
		margin-top: 15px;
		background: none;
	}
}

.woocommerce-form-coupon {

	.form-row {
		width: 100%;
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {

		&:after {
			@include clearfix();
			@include clearfix-after();
		}

		.form-row {
			width: 49%;
			float: left;

			&.form-row-first {
				margin-right: 2%;
			}
		}
	}
}

.woocommerce-form-login {

	.woocommerce-form-login__rememberme {
		display: block;
		margin-bottom: 15px;

		span {
			margin-left: 5px;
			margin-right: 10px;
		}
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {

		&:after {
			@include clearfix();
			@include clearfix-after();
		}

		.form-row-first,
		.form-row-last {
			width: 48%;
			float: left;
		}

		.form-row-first {
			margin-right: 4%;
		}
	}
}

@media screen and (min-width: 48em) {

	article.page {

		form.woocommerce-checkout:after {
			@include clearfix();
			@include clearfix-after();
		}

		#customer_details {
			width: 49%;
			float: left;
		}

		#order_review,
		#order_review_heading {
			width: 49%;
			float: left;
			clear: right;
			margin: 0 0 0 2%;
		}

		#order_review_heading {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

/*--------------------------------------------------------------
# Left column
--------------------------------------------------------------*/
#customer_details {

	h3 {
		margin-top: 0;
	}

	#ship-to-different-address span {
		@include font-size(1);
		font-weight: 600;
	}

	.create-account {

		label {
			cursor: pointer;
		}

		span {
			vertical-align: middle;
		}

		p {
			margin: 0;
		}

		#account_username_field {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 64em) {

		#billing_first_name_field,
		#billing_last_name_field,
		#shipping_first_name_field,
		#shipping_last_name_field {
			width: 49%;
			float: left;
		}

		#billing_first_name_field,
		#shipping_first_name_field {
			margin-right: 2%;
		}
	}
}

/*--------------------------------------------------------------
# Right Column
--------------------------------------------------------------*/
#order_review .shop_table {
	border: 1px solid #eee;

	ul {
		margin: 0;
	}

	tr {
		border-bottom: 1px solid #eee;
	}

	th, td {
		border-right: 1px solid #eee;

		&:last-of-type {
			border-right: 0;
		}
	}

	fieldset {
		border: none;
		padding: 0;
		margin: 10px 0 0 0;
		color: #808080;

		ul {
			margin: 0;
			padding: 0;

			li,
			li p {
				margin: 0;
			}

			li {
				line-height: normal;

				&:before {
					display: none;
				}
			}
		}
	}

	.product-name {
		position: relative;
		padding-left: 25px;
		padding-right: 50px;

		.product-remove,
		.product-quantity {
			position: absolute;
			top: 10px;
		}

		.product-remove {
			left: 10px;

			a {
				text-decoration: none;
			}
		}

		.product-quantity {
			right: 15px;
		}
	}
}

#order_review #payment {

	.wc_payment_methods {
		padding-left: 0;
	}

	.wc_payment_method {
		background: #f5f5f5;
		padding: 20px;
		margin-bottom: 15px;

		&:before {
			display: none;
		}

		label {
			cursor: pointer;

			img {
				vertical-align: middle;
				display: inline-block;
				margin-left: 10px;
			}
	
			a {
				margin-left: 10px;
				text-decoration: none;
			}
		}
	}

	.payment_box {
		@include font-size(.9);
		display: block;
		margin: 20px -20px -20px;
		padding: 5px 20px 20px;
		background: #f9f9f9;

		p {
			margin-bottom: 0;
		}
	}

	input {
		border: 2px solid #f5f5f5;

		&:focus {
			outline: none;
				border: 2px solid #f0f0f0;
		}
	}

	.woocommerce_error {
		padding: 10px;

		li {
			margin-bottom: 0;
		}
	}

	label {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0;
	}

	#payment_method_stripe {
		margin: 0;

		&:before {
			display: none;
		}
	}

	img.stripe-icon {
		float: none !important;
	}

	fieldset {
		border: none;
	}

	button[type="submit"] {
		display: block;
		width: 100%;
		padding: 15px;
	}
}

i.stripe-pf-mastercard,
i.stripe-pf-american-express,
i.stripe-pf-visa {

	&:before {
		content: "";
		height: 25px;
		width: 40px;
		display: inline-block;
		background-size: contain;
		margin-left: 2px;
		background-repeat: no-repeat;
		background-position: center;
	}
}

i.stripe-pf-mastercard {

	&:before {
		background-image: url(../images/payment-methods/mastercard.png);
	}
}

i.stripe-pf-american-express {

	&:before {
		background-image: url(../images/payment-methods/american-express.jpeg);
		width: 25px;
	}
}

i.stripe-pf-visa {

	&:before {
		background-image: url(../images/payment-methods/visa.png);
	}
}

.wc-payment-form {
	padding: 0;

	.form-row {
		margin-top: 10px;
		position: relative;
	}
}
