/*--------------------------------------------------------------
# Functions and vars
--------------------------------------------------------------*/
@import "mixins/mixins-master";
@import "shop/shop-variables";

/**
 * Header cart
 */
.site-header-cart {
	margin: 0;
	padding: 0;
	
	li {
		margin: 0;
		
		&:before {
			display: none;
		}
	}
		
	a {
		font-weight: 200;
		position: relative;
		text-indent: -9999px;
		text-decoration: none;
		display: block;
		border: none;
		color: $color__text-main;
		
		&:before {
			@include icon-content("\e900");
		    display: block;
		    text-indent: 0;
		}
		
		span {
			@include font-size(.8);
			display: block;
			text-indent: 0;
			line-height: normal;
			position: absolute;
		}
	}
}

/**
 * Tables
 */

table {
    border: 1px solid #f0f0f0;
    background: #fff;
    @include font-size(.9);
    
    .product-thumbnail img {
    	max-width: 100px;
    	min-width: 50px;
    }
    
    input[type="number"] {
    	max-width: 100px;
    }
    
    thead {
        background: $woocommerce_color-secondary;
    }
    
    tr {
        border-top: 1px solid #f0f0f0;
    }
    
    th, td {
    	border-right: 1px solid #f0f0f0;
    	padding: 10px 15px;
    }
    
    th {
        text-align: left;
    }
}

/**
 * Star rating
 */
/*.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;

	&:before {
		content: "\53\53\53\53\53";
		opacity: .25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span:before {
		content: "\53\53\53\53\53";
		top: 0;
		position: absolute;
		left: 0;
		color: $color__link;
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: "star";
			content: "\53";
			color: $color__text-main;
			text-indent: 0;
			opacity: .25;
		}

		&:hover {
			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}
	}

	&:hover {
		a {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}

			~ a:before {
				content: "\53";
				color: $color__text-main;
				opacity: .25;
			}
		}

		a:not(.active) {
			&:before {
				content: "\53";
				color: $color__link;
				opacity: 1;
			}
		}
	}
}*/

/**
 * Tabs
 */
/*.woocommerce-tabs {
	ul.tabs {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;

		li {
			display: block;
			margin: 0;
			position: relative;

			a {
				padding: 1em 0;
				display: block;
			}
		}
	}

	.panel {
		h2:first-of-type {
			margin-bottom: 1em;
		}
	}
}*/

/**
 * Password strength meter
 */
 .woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: $color__success;
	}

	&.short {
		color: $color__error;
	}

	&.bad {
		color: $color__error;
	}

	&.good {
		color: $color__success;
	}
}

/**
 * Forms
 */
/*.form-row {
	&.woocommerce-validated {
		input.input-text {
			box-shadow: inset 2px 0 0 $color__success;
		}
	}

	&.woocommerce-invalid {
		input.input-text {
			box-shadow: inset 2px 0 0 $color__error;
		}
	}
}

.required {
	color: red;
}*/

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	@include clearfix;
	background-color: $color__success;
	clear: both;
	width: 100%;
	padding: 10px 15px;
	
	.button {
		@include font-size(.9);
		text-transform: uppercase;
		margin-right: 10px;
		border: none;
		background: none;
		padding: 0;
	}
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
	background-color: $color__info;
}

.woocommerce-error {
	background-color: $color__error;
}
