/*--------------------------------------------------------------
# Functions and vars
--------------------------------------------------------------*/
@import "mixins/mixins-master";
@import "shop/shop-variables";

/**
 * Page Structure
 */
#page {
	
	@media screen and (min-width: breakpoint('tablet-landscape')) {
		
		.secondary-navigation__toggle {
            display: none;
        }
		
	    #primary {
	        padding: 0 0 50px;
	        
	        &:after {
	            @include clearfix();
	            @include clearfix-after();
	        }
	    }
	}
}

.woocommerce-MyAccount-navigation,
#sensei-navigation,
.woocommerce-MyAccount-content,
.sensei__content,
#sensei-user-courses {
	
	@media screen and (min-width: breakpoint('tablet-landscape')) {
    	float: left;
	}
}

.woocommerce-MyAccount-content,
.sensei__content,
#sensei-user-courses {
    margin-top: 30px;
    
	@media screen and (min-width: breakpoint('tablet-landscape')) {
        width: 69%;
        margin-top: 50px;
	}
}

.sensei__content #sensei-user-courses {
	margin-top: 0;
	
	@media screen and (min-width: breakpoint('tablet-landscape')) {
		width: 100%;
	}
}

.secondary-navigation__toggle {
    width: 100%;
    width: calc(100% + #{$padding__content-mobile * 2});
    margin: 0 -#{$padding__content-mobile};
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    
    &:after {
        @include icon-content('\e90b');
        @include font-size(.7);
        margin-left: 10px;
        font-weight: normal;
    }
}

.woocommerce-MyAccount-navigation,
#sensei-navigation {
    margin: 0 -#{$padding__content-mobile} 20px;
    padding: 0 $padding__content-mobile;
    background: #f5f5f5;
    display: none;
    
    ul {
        padding: 0;
        margin: 0;
    }
    
    li {
        text-transform: uppercase;
        margin: 0;
        
        &.current-menu-item  a {
        	color: $color__corporate;
        	font-weight: bold;
        	
        	&:before {
        		font-weight: normal;
        	}
        }
        
        &:before {
            display: none;
        }
        
        a {
            text-decoration: none;
            line-height: normal;
            color: #777;
            font-weight: 200;
            display: block;
            border-bottom: 1px solid #eee;
            padding: 15px 0;
        }
        
        &:last-of-type a {
            border: none;
        }
        
        &.is-active a,
        &.current-menu-item {
            color: $color__corporate;
            font-weight: 600;
        }
        
        a:before {
            margin-right: 10px;
            @include font-size(1.1);
            vertical-align: text-top;
        }
        
        &:last-of-type a {
            border-right: none;
        }
        
        &.woocommerce-MyAccount-navigation-link--dashboard a:before {
            @include icon-content("\e915");
        }
        
        &.woocommerce-MyAccount-navigation-link--orders a:before {
            @include icon-content("\e918");
        }
        
        &.woocommerce-MyAccount-navigation-link--downloads a:before {
            @include icon-content("\e916");
        }
        
        &.woocommerce-MyAccount-navigation-link--edit-address a:before {
            @include icon-content("\e914");
        }
        
        &.woocommerce-MyAccount-navigation-link--edit-account a:before {
           @include icon-content("\e913");
        }
        
        &.woocommerce-MyAccount-navigation-link--payment-methods a:before {
           @include icon-content("\e919");
        }
        
        &.woocommerce-MyAccount-navigation-link--customer-logout a:before {
            @include icon-content("\e917");
        }
    }
    
	@media screen and (min-width: breakpoint('tablet-landscape')) {
	    display: block;
	    width: 29%;
	    margin: 50px 2% 0 0;
	    background: none;
	}
	
	@media screen and (min-width: breakpoint('desktop')) {
		width: 27%;
	   	margin: 50px 4% 0 0;
	}
}

/**
 * Widgets
 */
.widget-area {
	background: none;
}

/**
 * Header cart
 */
.site-header-cart {
	margin: 0;
	padding: 0;
	
	li {
		margin: 0;
		
		&:before {
			display: none;
		}
	}
	
	.cart-contents {
		font-weight: 200;
		position: relative;
		text-indent: -9999px;
		text-decoration: none;
		display: block;
		border: none;
		color: $color__text-main;
		
		&:before {
			@include icon-content("\e900");
		    display: block;
		    text-indent: 0;
		}
		
		span {
			@include font-size(.8);
			display: block;
			text-indent: 0;
			line-height: normal;
			position: absolute;
		}
	}
	
	.widget_shopping_cart {
	    position: absolute;
	    right: -10px;
	    width: 230px;
	    background: #fff;
	    z-index: 9;
	    box-shadow: 0 0 3px rgba(0,0,0,.1);
	    @include font-size(.8);
	    display: none;
	    
		&:before {
		    content: "";
		    display: block;
		    width: 0;
		    height: 0;
		    position: absolute;
		    border-left: 6px solid transparent;
		    border-right: 6px solid transparent;
		    border-bottom: 6px solid #fff;
		    top: -6px;
		    right: 10px;
		}
	    
	    .woocommerce-mini-cart {
	    	padding: 0;
	    	margin: 0;
	    }
	    
	    .mini_cart_item {
	    	border-bottom: 1px solid #f5f5f5;
    		padding: 15px;
	    	position: relative;
	    	
	    	> a {
	    		position: static;
	    		display: block;
	    		line-height: 20px;
	    	}
	    	
	    	.remove {
	    		position: relative;
	    		text-indent: -999px;
	    		width: 20px;
	    		height: 20px;
	    		text-decoration: none;
	    		overflow: hidden;
	    		display: block;
	    		float: left;
	    		
	    		&:after {
	    			@include icon-content("\e91f");
	    			width: 20px;
	    			height: 20px;
	    			line-height: 20px;
	    			text-align: center;
	    			text-indent: 0;
	    			position: absolute;
	    			top: 0;
	    			right: 0;
	    			line-height: 20px;
	    		}
	    	}
	    	
	    	img {
	    		max-width: 30px;
	    		max-height: 30px;
	    		display: block;
				float: right;
				border-radius: 5px;
	    	}
	    	
	    	.quantity {
	    		display: block;
	    		line-height: normal;
	    		margin-top: 5px;
	    	}
	    }
	    
		.buttons,
		.total {
			padding: 0 15px;
		}
	    
	    .total {
	    	margin: 10px 0;
	    }
	    
	    .buttons {
	    	margin-bottom: 0;
	    	
	    	a {
	    		@include font-size(.8);
	    		display: block;
	    		margin-bottom: 10px;
	    	}
	    }
	}
	
	@media screen and (min-width: breakpoint('tablet-landscape')) {
		
		&:hover .widget_shopping_cart {
			display: block;
		}
		
		 .widget_shopping_cart {
		 	margin-top: -20px;	
		 }
	}
}

/**
 * Login link
 */
.menu-item.login {
	border-top: 1px solid $color__background-hr;

	a {
    	text-transform: none;
	}
	
	a:before {
		@include icon-content("\e913");
		background: $color__text-main;
		margin-right: 5px;
        color: #fff;
        width: 20px;
        height: 20px;
        line-height: 20px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
    	font-size: 12px;
	}
}

/**
 * Price
 */
.price {
    margin: 10px 0;
    
    del {
        padding: 0;
        opacity: 1;
        margin-right: 5px;
        
        &:before {
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            background: $color__text-main;
        }
    }
    
    ins {
        color: $color__error;
        background: none;
    }
}

/**
 * Breadcrumbs
 */
.woocommerce-breadcrumb {
	margin: 30px 0 15px;
	@include font-size(.9);
	
	a {
		text-decoration: none;
	}
	
	a:first-of-type:before {
		@include icon-content("\e920");
		@include font-size(.8);
		vertical-align: bottom;
		margin-right: 5px;
	}
}

/**
 * Tables
 */
table {
    border: 1px solid $color__background-hr;
    background: #fff;
    @include font-size(.9);
    border-spacing: 0;
    
    .product-thumbnail img {
    	max-width: 100px;
    	min-width: 50px;
    }
    
    input[type="number"] {
    	max-width: 100px;
    }
    
    thead, tfoot {
        background: $woocommerce__color-secondary;
    }
    
    th {
        text-align: left;
    }
    
    tr {
        border-top: 1px solid $color__background-hr;
    }
    
    th, td {
    	border-right: 1px solid $color__background-hr;
    	padding: 10px 15px;
    }
    
    ul {
    	padding: 0;
    	
    	li:before {
    		display: none;
    	}
    }
}

.woocommerce-orders-table  {
	
	tr:nth-of-type(even) {
		background: #fafafa;
	}
	
    @media screen and (max-width: breakpoint('tablet-portrait')) {
		
		thead {
			display: none;
		}
		
		tr, td {
			display: block;
		}
		
		td {
			
	    	a,
	    	&.woocommerce-orders-table__cell-order-number a {
	    		display: inline-block;
	    	}
			
			&:before {
				content: attr(data-title) ":";
			}
			
			&.woocommerce-orders-table__cell-order-actions:before {
				display: none;
			}
		}
    }
}

/**
 * Address
 */
address {
	@include font-size(.9);
	font-style: normal;
	line-height: normal;
}

/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-weight: 400;

	&:before {
		@include icon-content("\e910\e910\e910\e910\e910");
		opacity: .25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span:before {
		@include icon-content("\e910\e910\e910\e910\e910");
		top: 0;
		position: absolute;
		left: 0;
		color: $color__link;
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			@include icon-content("\e910");
			color: $color__text-main;
			text-indent: 0;
			opacity: .25;
		}

		&:hover {
			~ a:before {
				@include icon-content("\e910");
				color: $color__text-main;
				opacity: .25;
			}
		}
	}

	&:hover {
		a {
			&:before {
				@include icon-content("\e910");
				color: $color__link;
				opacity: 1;
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				@include icon-content("\e910");
				color: $color__link;
				opacity: 1;
			}

			~ a:before {
				@include icon-content("\e910");
				color: $color__text-main;
				opacity: .25;
			}
		}

		a:not(.active) {
			&:before {
				@include icon-content("\e910");
				color: $color__link;
				opacity: 1;
			}
		}
	}
}

/**
 * Tabs
 */
.woocommerce-tabs {
	clear: both;

	ul.tabs {
		margin: 0;
		padding: 0;
		text-align: left;

		li {
			display: block;
			margin: 0;
			position: relative;
			border: 1px solid $color__background-hr;
			border-bottom: none;
		    
		    &:before {
		    	display: none;
		    }
			
			&:last-of-type {
				border-bottom: 1px solid $color__background-hr;
			}
			
			&.active {
				background: $woocommerce__color-secondary;
			}

			a {
				display: block;
				text-decoration: none;
				padding: 15px;
				color: $color__text-main;
				font-weight: 600;
			}
		}
	}
	
	@media screen and (min-width: breakpoint('tablet-portrait')) {
		
		ul.tabs {
			
			&:after {
				@include clearfix();
				@include clearfix-after();
			}
			
			li {
				float: left;
				border-bottom: 1px solid $color__background-hr;
			}
		}
	}
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: $woocommerce__color-pw-strong;
	}

	&.short {
		color: $woocommerce__color-error;
	}

	&.bad {
		color: $woocommerce__color-error;
	}

	&.good {
		color: $woocommerce__color-pw-good;
	}
}

/**
 * Notices
 */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message,
.woocommerce-noreviews,
p.no-comments {
    padding: 1em 1.618em;
    margin-bottom: 2.617924em;
    background-color: #0f834d;
    margin-left: 0;
    border-radius: 2px;
    color: #fff;
    clear: both;
    border-left: .6em solid rgba(0,0,0,.15);
    
    &:after,
    &:before {
    	@include clearfix();
    }
    
    &:after {
    	@include clearfix-after();
    }
	
	a,
	a.button {
    	color: #fff;
    	
    	&:hover {
		    color: #fff;
		    opacity: .7;
    	}
	}
	
	a.button {
	    float: right;
	    padding: 0;
	    background: 0 0;
	    color: #fff;
	    box-shadow: none;
	    line-height: 1.618;
	    padding-left: 1em;
	    border-width: 0;
	    border-left-width: 1px;
	    border-left-style: solid;
	    border-left-color: rgba(255,255,255,.25)!important;
	    border-radius: 0;
	    
	    &:hover {
		    background: 0 0;
		    color: #fff;
		    opacity: .7;
	    }
	    
	    .pre {
			background-color: rgba(0,0,0,.1);
	    }
	}
}

.site-content>.col-full>.woocommerce {
	
		>.woocommerce-error,
		>.woocommerce-info,
		>.woocommerce-message {
			
		&.first-child {
    		margin-top: 2.617924em;
		}
	}
}

.woocommerce-error {
    list-style: none;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
    background-color: $woocommerce__color-info;
}

.woocommerce-error {
    background-color: $woocommerce__color-error;
}

/**
 * Thank you page
 */
.woocommerce-order-received {
	
	h2 {
		@include font-size(1.6);
	}
	
	.entry-content {
		max-width: 800px;
		margin: 0 auto;
	}
	
	.woocommerce-notice--success {
		@include font-size(1.5);
		color: $color__success;
		font-weight: 600;
		line-height: 1.2em;
		border: 3px solid $color__success;
		text-align: center;
		padding: 15px;
		padding-top: 35px;
		margin-top: 40px;
		position: relative;
		
		&:before {
			@include icon-content('\e901');
			font-size: 50px;
			position: absolute;
			top: -15px;
			left: 50%;
			transform: translateX(-50%);
			background: #fff;
		}
	}
	
	.woocommerce-thankyou-order-details {
		@include font-size(.8);
		background: #f9f9f9;
		padding: 20px;
		
		li {
			text-transform: uppercase;
			color: #777;
			line-height: normal;
			border-bottom: 1px solid #eee;
			padding-bottom: 10px;
			
			&:last-of-type {
				border-bottom: none;
				padding: 0;
				margin: 0;
			}
			
			strong {
				display: block;
				@include font-size(.9);
				color: $color__text-main;
			}
			
			&:before {
				display: none;
			}
		}
	}
}