/*--------------------------------------------------------------
# Functions and vars
--------------------------------------------------------------*/
@import "mixins/mixins-master";
@import "shop/shop-variables";

#page {
	
	.site-content {
		
		&:after {
			@include clearfix();
			@include clearfix-after();
		}
	}
}

.onsale {
	display: block;
	margin: 20px 0;
	text-decoration: none;
}

/**
 * Header cart
 */
.site-header-cart {
	margin: 0;
	padding: 0;
	
	li {
		margin: 0;
		
		&:before {
			display: none;
		}
	}
	
	.cart-contents {
		font-weight: 200;
		position: relative;
		text-indent: -9999px;
		text-decoration: none;
		display: block;
		border: none;
		color: $color__text-main;
		
		&:before {
			@include icon-content("\e900");
		    display: block;
		    text-indent: 0;
		}
		
		span {
			@include font-size(.8);
			display: block;
			text-indent: 0;
			line-height: normal;
			position: absolute;
		}
	}
	
	.widget_shopping_cart {
	    position: absolute;
	    right: -10px;
	    width: 200px;
	    background: #fff;
	    padding: 15px 15px 0;
	    z-index: 9;
	    box-shadow: 0 0 3px rgba(0,0,0,.1);
	    @include font-size(.8);
	    
		&:before {
		    content: "";
		    display: block;
		    width: 0;
		    height: 0;
		    position: absolute;
		    border-left: 6px solid transparent;
		    border-right: 6px solid transparent;
		    border-bottom: 6px solid #fff;
		    top: -6px;
		    right: 10px;
		}
	    
	    .woocommerce-mini-cart {
	    	padding: 0;
	    	margin: 0;
	    }
	    
	    .mini_cart_item {
	    	border-bottom: 1px solid #f5f5f5;
	    	padding-top: 20px;
	    	position: relative;
	    	padding: 15px 15px 10px 40px;
	    	
	    	a {
	    		position: static;
	    	}
	    	
	    	.remove {
	    		position: absolute;
	    		top: 0;
	    		right: 0;
	    		text-indent: -999px;
	    		width: 20px;
	    		height: 20px;
	    		text-decoration: none;
	    		
	    		&:after {
	    			@include icon-content("\e91f");
	    			width: 20px;
	    			height: 20px;
	    			line-height: 20px;
	    			text-align: center;
	    			text-indent: 0;
	    			position: absolute;
	    			top: 0;
	    			right: 0;
	    		}
	    	}
	    	
	    	img {
	    		max-width: 30px;
	    		max-height: 30px;
	    		display: block;
	    		position: absolute;
	    		left: 0;
	    		top: 25px;
	    	}
	    	
	    	.quantity {
	    		display: block;
	    		line-height: normal;
	    	}
	    }
	    
	    .total {
	    	margin: 10px 0;
	    }
	    
	    .buttons {
	    	margin-bottom: 0;
	    	
	    	a {
	    		@include font-size(.8);
	    		display: block;
	    		margin-bottom: 10px;
	    	}
	    }
	}
	
	@media screen and (min-width: breakpoint('tablet-landscape')) {
		
		 .widget_shopping_cart {
		 	margin-top: -20px;	
		 }
	}
}

/**
 * Price
 */

.price {
    margin: 10px 0;
    
    del {
        padding: 0;
        opacity: 1;
        margin-right: 5px;
        
        &:before {
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            background: $color__text-main;
        }
    }
    
    ins {
        color: $color__error;
        background: none;
    }
}

/**
 * Breadcrumbs
 */

.woocommerce-breadcrumb {
	margin: 30px 0 15px;
}

/**
 * Tables
 */

table {
    border: 1px solid #f0f0f0;
    background: #fff;
    @include font-size(.9);
    border-spacing: 0;
    
    .product-thumbnail img {
    	max-width: 100px;
    	min-width: 50px;
    }
    
    input[type="number"] {
    	max-width: 100px;
    }
    
    thead, tfoot {
        background: $woocommerce__color-secondary;
    }
    
    th {
        text-align: left;
    }
    
    tr {
        border-top: 1px solid #f0f0f0;
    }
    
    th, td {
    	border-right: 1px solid #f0f0f0;
    	padding: 10px 15px;
    }
    
    ul {
    	padding: 0;
    	
    	li:before {
    		display: none;
    	}
    }
}

/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-weight: 400;

	&:before {
		@include icon-content("\e910\e910\e910\e910\e910");
		opacity: .25;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span:before {
		@include icon-content("\e910\e910\e910\e910\e910");
		top: 0;
		position: absolute;
		left: 0;
		color: $color__link;
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			@include icon-content("\e910");
			color: $color__text-main;
			text-indent: 0;
			opacity: .25;
		}

		&:hover {
			~ a:before {
				@include icon-content("\e910");
				color: $color__text-main;
				opacity: .25;
			}
		}
	}

	&:hover {
		a {
			&:before {
				@include icon-content("\e910");
				color: $color__link;
				opacity: 1;
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				@include icon-content("\e910");
				color: $color__link;
				opacity: 1;
			}

			~ a:before {
				@include icon-content("\e910");
				color: $color__text-main;
				opacity: .25;
			}
		}

		a:not(.active) {
			&:before {
				@include icon-content("\e910");
				color: $color__link;
				opacity: 1;
			}
		}
	}
}

/**
 * Tabs
 */
.woocommerce-tabs {
	clear: both;

	ul.tabs {
		margin: 0;
		padding: 0;
		text-align: left;

		li {
			display: block;
			margin: 0;
			position: relative;
			border: 1px solid #f0f0f0;
			border-bottom: none;
		    
		    &:before {
		    	display: none;
		    }
			
			&:last-of-type {
				border-bottom: 1px solid #f0f0f0;
			}
			
			&.active {
				background: $woocommerce__color-secondary;
			}

			a {
				display: block;
				text-decoration: none;
				padding: 15px;
				color: $color__text-main;
				font-weight: 600;
			}
		}
	}
	
	@media screen and (min-width: breakpoint('tablet-portrait')) {
		
		ul.tabs {
			
			&:after {
				@include clearfix();
				@include clearfix-after();
			}
			
			li {
				float: left;
				border-bottom: 1px solid #f0f0f0;
			}
		}
	}
}

/**
 * Password strength meter
 */
 .woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: $color__success;
	}

	&.short {
		color: $color__error;
	}

	&.bad {
		color: $color__error;
	}

	&.good {
		color: $color__success;
	}
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	@include clearfix;
	background-color: $color__success;
	clear: both;
	width: 100%;
	padding: 10px 15px;
	@include font-size(.9);
	
	.button {
		text-transform: uppercase;
		margin-right: 10px;
		border: none;
		background: none;
		padding: 0;
		text-decoration: underline;
	}
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
	background-color: $color__info;
}

.woocommerce-error {
	background-color: $color__error;
	
	li {
		color: #fff;
		
		&:last-of-type {
			margin-bottom: 0;
		}
		
		&:before {
			margin-left: 0;
		}
	}
}
