ul.products {
	@include clearfix;
	margin: 30px 0;
	padding: 0;
	width: 100%;

	li.product {
		list-style: none;
		position: relative;
		margin-bottom: 2em;
		width: 100%;
		
		a {
			text-decoration: none;
			color: $color__text-main;
		}
		
		&:before {
			display: none;
		}

		.woocommerce-loop-product__title {
			@include font-size(1.2);
			margin-bottom: 5px;
		}

		img {
			display: block;
			width: 100%;
		}

		.button {
			display: block;
			margin-top: 15px;
		}
	}
}

@media screen and (min-width: breakpoint('phone')) and (max-width: breakpoint('tablet-landscape')) {
	
	ul.products {
		
		li.product {
			@include column-width( 2 );
		}
	}
}

@media screen and (min-width: breakpoint('tablet-landscape')) {
	
	ul.products {
		
		li.product {
			margin-right: 2%;
			float: left;
		}
	}

	.columns-1 {
		ul.products {
			li.product {
				float: none;
				width: 100%;
			}
		}
	}

	@for $i from 2 through 6 {
		.columns-#{$i} {
			ul.products {
				li.product {
					@include column-width( $i );
				}
			}
		}
	}
}
