li.product {
	list-style: none;
	position: relative;
	margin-bottom: 2em;
	width: 100%;

	.onsale {
		@include font-size(.8);
		position: absolute;
		top: 0;
		right: 0;
		background: #888;
		color: #fff;
		margin: 0;
		padding: 3px 10px;
		font-weight: normal;
	}
	
	.price {
		font-weight: normal;
	}

	a {
		text-decoration: none;
		color: $color__text-main;
	}

	&:before {
		display: none;
	}

	.woocommerce-loop-product__title {
		@include font-size(.8);
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	img {
		display: block;
		width: 100%;
	}

	.button {
		@include font-size(.85);
		display: block;
		margin-top: 15px;
	}
	
	.add_to_cart_button {
		background: rgba(255,255,255,0);
		border: none;
		box-shadow: none;
		padding: 0;
		text-align: left;
		margin-top: 10px;
		color: $color__background-button;

		&:hover {
			color: $color__background-button-hover;
		}

		&:focus {
			color: $color__background-button-focus;
		}

		&:visited {
			color: $color__background-button;
		}
	}
	
	.added_to_cart {
		display: block;
		margin: 15px 0;
		text-align: center;
		text-decoration: underline;

		&:before {
			@include icon-content('\e900');
			margin-right: 5px;
			display: inline-block;
			text-decoration: none;
		}
	}
}
