li.product {
	list-style: none;
	position: relative;
	margin-bottom: 2em;
	width: 100%;
	text-align: center;

	.woocommerce-loop-product__link {
		display: block;
	}

	.onsale {
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.price {
		font-weight: normal;
	}

	a {
		text-decoration: none;
		color: $color__text-main;
	}

	&:before {
		display: none;
	}

	.woocommerce-loop-product__title {
		@include font-size(.8);
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	img {
		display: block;
		width: 100%;
	}

	.star-rating {
		margin: 0 auto;
	}

	.add_to_cart_button,
	.added_to_cart {
		@include font-size(.85);
		display: inline-block;
		margin-top: 10px;
		text-transform: uppercase;
		padding: .6rem .8rem .5rem !important;
		line-height: 1;
		box-shadow: 0px 1px 3px rgba(0,0,0,0.35);
		transition: background .15s ease-in-out,
					border .15s ease-in-out,
					color .15s ease-in-out,
					box-shadow .15s ease-in-out;

		&:hover,
		&:focus {
			box-shadow: 0 2px 4px rgba(0,0,0,0.35);
		}
	
		&:active {
			box-shadow: 0 0 2px rgba(0,0,0,0.4);
		}
	}

	.add_to_cart_button {
		color: #fff;
	}

	.added_to_cart {
		background: $color__background-button-secondary;
		border-color: $color__border-button-secondary;
	
		&:hover,
		&:focus {
			background: $color__background-button-hover-secondary;
			border-color: $color__border-button-hover-secondary;
		}
	
		&:active {
			border-color: $color__border-button-focus-secondary;
			background-color: $color__background-button-focus-secondary;
		}

		&:after {
			@include font-size(.6);
			@include icon-content('\e922');
			margin-left: 5px;
			display: inline-block;
		}
	}
}
