@mixin column-width($i) {
    width: (100 - 2  * ($i - 1)) / $i * 1%;
    
    &:nth-of-type(#{$i}n + #{$i}) {
        margin-right: 0;
    }
    
    &:nth-of-type(#{$i}n + 1) {
        clear: left;
    }
}