/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "layout/sidebar-content";


h1 {
	@include font-size(2);
}

h2 {
	@include font-size(1.5);
}

/**
 * Product gallery
 */

.woocommerce-product-gallery {
	position: relative;
	margin-bottom: 50px;

	.woocommerce-product-gallery__trigger {
		position: absolute;
		z-index: 1;
		text-decoration: none;
		padding: 5px;
		background: $color__corporate;
		right: 10px;
		top: 10px;
		border-radius: 3px;
		color: #fff;
		text-indent: -999px;
		overflow: hidden;
		width: 30px;
		height: 30px;

		&:before {
			@include icon-content("\e912");
			text-indent: 0;
			line-height: 30px;
			width: 30px;
			height: 30px;
			position: absolute;
			top: 0;
			right: 0;
			text-align: center;
		}
	}

	figure {
		margin: 0;
	}

	img {
		width: 100%;
		display: block;
	}

	ol {
		padding: 0;

		&:after {
			@include clearfix();
			@include clearfix-after();
		}

		li {
			float: left;
			width: 18%;
			position: relative;
			margin-right: 2.5%;

			&:last-of-type {
				margin-right: 0;
			}
		}

		li:before {
			display: none;
		}
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {
		float: left;
		width: 50%;
		position: relative;
		z-index: 1;
	}
}

/**
 * Variations table
 */

.variations {
	border: none;

	tr {
		vertical-align: top;
	}

	td {
		border: none;
		padding: 0;

		label {
			padding: 0;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 40px;
		}
	}

	.reset_variations {
		@include font-size(.8);
		text-decoration: none;
		text-transform: uppercase;
		float: right;
	}
}

/**
 * Product summary
 */
 
.product {
	position: relative;

	.onsale {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.summary {
	margin: 0;
	margin-bottom: 50px;

	.product_title {
		margin-bottom: 20px;
	}

	.woocommerce-product-rating {

		.star-rating {
			display: inline-block;
			vertical-align: middle;
		}

		.woocommerce-review-link {
			@include font-size(.9);
			color: #888;
			font-weight: normal;
		}
	}

	.quantity input[type="number"] {
		max-width: 150px;
	}

	.price {
		@include font-size(2);
		font-weight: 600;
		display: block;
		margin-bottom: 20px;
	}

	.product-type-variable & {

		> .price {
			@include font-size(1);
			font-weight: normal;
		}
	}

	.cart {

		.quantity,
		.button {
			display: inline-block;
		}

		.quantity input {
			background: #eee;
		}
	}

	.product_meta {
		@include font-size(.85);
		line-height: 1.3em;
		margin-top: 20px;

		> span {
			margin-right: 8px;
			color: #999;
		}
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {
		padding-left: 40px;
		float: left;
		width: 50%;
		position: relative;
		clear: right;
		padding-left: 20px;

		.product_title {
			margin-top: 0;
		}

		.single_add_to_cart_button {
			display: inline-block;
			width: auto;
		}
	}
}

/**
 * Product reviews
 */
.commentlist {
	
	.review:before {
		display: none;
	}
}

/**
 * Tabs
 */
 .woocommerce-tabs ul.tabs {

	li {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #f0f0f0;
		position: relative;
		padding-left: 0;
		padding-right: 25px;

		&.active {
			background: rgba(255,255,255,0);

			a {
				color: $color__corporate;
			}
			
			&:after {
				@include icon-content('\e90b');
				@include font-size(.6);
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				font-weight: bold;
			}
		}
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {

		li.active:after {
			right: 8px;
		}
	}
 }