/**
 * WooCommerce Sidebar Content
 */
 
#secondary {
    
    .widget {
    	@include font-size(.85);
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
        padding-bottom: 20px;
        
        &:last-of-type {
            border-bottom: none;
        }
    }
    
    .widget-title {
        @include font-size(.9);
        text-transform: uppercase;
    }
    
    .product_list_widget {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        
        li {
            @include font-size(.8);
            width: 31%;
            margin-right: 2%;
            
            a {
                text-decoration: none;
            }
            
            .product-title {
                display: block;
                line-height: 1.2em;
                color: $color__text-main;
            }
            
            &:before {
                display: none;
            }
        }
    }
}

/**
 * WooCommerce Price Filter
 */
 
.widget_price_filter {
	
	.price_slider {
		margin-bottom: 1.5em;
	}

	.price_slider_amount {
		text-align: right;
		line-height: 2.4em;

		.button {
			float: left;
		}
	}
	
	button {
		@include font-size(.9);
		padding: 8px 20px;
	}

	.ui-slider {
		position: relative;
		text-align: left;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1em;
		height: 1em;
		cursor: ew-resize;
		outline: none;
		background: $color__link;
		box-sizing: border-box;
		margin-top: -.25em;
		opacity: 1;
		border-radius: 50%;
		margin-left: -5px;
		
		&:first-child {
			margin-left: 0;
			margin-right: -5px;
		}

		&:hover,
		&.ui-state-active {
			box-shadow: 0 0 0 .25em rgba(#000, 0.1);
		}
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		display: block;
		border: 0;
		background: $color__link;
	}

	.price_slider_wrapper .ui-widget-content {
		background: rgba(0,0,0,0.1);
	}

	.ui-slider-horizontal {
		height: .5em;
	}

	.ui-slider-horizontal .ui-slider-range {
		height: 100%;
	}
}

/**
 * WooCommerce Search Widget
 */

.widget_product_search {

	input[type="search"] {
		width: calc(100% - 47px);
	}
}

.widget {
	
	ins {
		background: rgba(255,255,255,0);
	}
}

/**
 * WooCommerce Product Categories
 */

.widget_product_categories {
	
	ul {
		padding-left: 0;

		ul {
			margin-top: 5px;
			margin-left: 15px;

			li a {
				color: #808080;
			}
		}
	}
	
	li {
		margin-bottom: 5px;
		
		&:before {
			display: none;
		}
		
		a {
			color: $color__text-main;
			font-weight: normal;
			text-decoration: none;
		}
	}

	.current-cat a {
		color: $color__corporate;
		font-weight: bold;
	}
}

.widget_layered_nav_filters {

	ul {
		padding-left: 0;

		li {
			margin-bottom: 0;

			&:before {
				display: none;
			}

			&.chosen {

				a {

					&:after {
						@include font-size(.6);
						@include icon-content('\e903');
						margin-left: 8px;
						font-weight: normal;
						color: #bbb;
					}
				}
			}

			a {
				text-decoration: none;
				color: $color__text-main;
			}
		}
	}
}