/*--------------------------------------------------------------
# Woocommerce sidebar content
--------------------------------------------------------------*/
#secondary {
    
    .widget {
    	@include font-size(.85);
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
        padding-bottom: 20px;
        
        &:last-of-type {
            border-bottom: none;
        }
    }
    
    .widget-title {
        @include font-size(.9);
        text-transform: uppercase;
    }
    
    .product_list_widget {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        
        li {
            @include font-size(.8);
            width: 31%;
            margin-right: 2%;
            
            a {
                text-decoration: none;
            }
            
            .product-title {
                display: block;
                line-height: 1.2em;
                color: $color__text-main;
            }
            
            &:before {
                display: none;
            }
        }
    }
}

/*--------------------------------------------------------------
# Woocommerce Price Filter
--------------------------------------------------------------*/
.widget_price_filter {
	
	.price_slider {
		margin-bottom: 1.5em;
	}

	.price_slider_amount {
		text-align: right;
		line-height: 2.4em;

		.button {
			float: left;
		}
	}
	
	button {
		@include font-size(.9);
		padding: 8px 20px;
	}

	.ui-slider {
		position: relative;
		text-align: left;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1em;
		height: 1em;
		cursor: ew-resize;
		outline: none;
		background: $color__link;
		box-sizing: border-box;
		margin-top: -.25em;
		opacity: 1;
		border-radius: 50%;
		margin-left: -5px;
		
		&:first-child {
			margin-left: 0;
			margin-right: -5px;
		}

		&:hover,
		&.ui-state-active {
			box-shadow: 0 0 0 .25em rgba(#000, 0.1);
		}
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		display: block;
		border: 0;
		background: $color__link;
	}

	.price_slider_wrapper .ui-widget-content {
		background: rgba(0,0,0,0.1);
	}

	.ui-slider-horizontal {
		height: .5em;
	}

	.ui-slider-horizontal .ui-slider-range {
		height: 100%;
	}
}

/*--------------------------------------------------------------
# Woocommerce Search Widget
--------------------------------------------------------------*/
.widget_product_search {

	input[type="search"] {
		width: calc(100% - 47px);
	}
}

.widget {
	
	ins {
		background: rgba(255,255,255,0);
	}
}

/*--------------------------------------------------------------
# Woocommerce Products Categories
--------------------------------------------------------------*/
.widget_product_categories {
	
	ul {
		padding-left: 0;

		ul {
			margin-top: 5px;
			margin-left: 15px;

			li a {
				color: #808080;
			}
		}
	}
	
	li {
		margin-bottom: 5px;
		
		&:before {
			display: none;
		}
		
		a {
			color: $color__text-main;
			font-weight: normal;
			text-decoration: none;
		}
	}

	.current-cat a {
		color: $color__corporate;
		font-weight: bold;
	}
}

.widget_layered_nav_filters {

	ul {
		padding-left: 0;

		li {
			margin-bottom: 0;

			&:before {
				display: none;
			}

			&.chosen {

				a {

					&:after {
						@include font-size(.6);
						@include icon-content('\e903');
						margin-left: 8px;
						font-weight: normal;
						color: #bbb;
					}
				}
			}

			a {
				text-decoration: none;
				color: $color__text-main;
			}
		}
	}
}

/*--------------------------------------------------------------
# Shopping Cart Widget
--------------------------------------------------------------*/
.widget.widget_shopping_cart {
	padding-top: 15px;

	.woocommerce-mini-cart {
		padding: 0;
		margin: 0;
	}

	.mini_cart_item {
		border-bottom: 1px solid #f5f5f5;
		padding: 0 15px 15px 25px;
		position: relative;
		width: 100%;
		margin-bottom: 15px;

		> a {
			position: static;
			display: block;
			line-height: 25px;
			line-height: normal;
		}

		.remove {
			position: absolute;
			left: 0;
			top: 0;
			text-indent: -999px;
			width: 20px;
			height: 20px;
			text-decoration: none;
			overflow: hidden;
			display: block;
			float: left;

			&:after {
				@include icon-content("\e91f");
				width: 20px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				text-indent: 0;
				position: absolute;
				top: 0;
				right: 0;
				line-height: 20px;
				font-weight: 400;
				color: #777;
			}
		}

		img {
			max-width: 30px;
			max-height: 30px;
			display: block;
			float: right;
			border-radius: 5px;
		}

		.quantity {
			display: block;
			line-height: normal;
			margin-top: 5px;
		}
	}

	.total {
		margin: 10px 0;
	}

	.buttons {
		margin-bottom: 0;

		&:after {
			@include clearfix();
			@include clearfix-after();
		}

		a {
			@include font-size(.8);
			margin-bottom: 10px;
			display: block;
			width: auto;
			float: left;

			img {
				display: block;
				margin: 0 auto;
			}

			&.wc-forward {
				margin-right: 5px;
			}

			&.wcppec-cart-widget-button {
				clear: both;
			}
		}
	}

	.site-header & {
		display: none;
		position: absolute;
		right: 3px;
		width: 280px;
		transform: translateY(8px);
		background: #fff;
		z-index: 9;
		box-shadow: 0 0 3px rgba(0,0,0,.1);
		@include font-size(.85);
		padding-left: 15px;
		padding-right: 15px;

		&:before {
			content: "";
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-bottom: 6px solid #fff;
			top: -6px;
			right: 10px;
		}
	}

	#secondary & {

		.mini_cart_item {
			width: 100%;
		}
	}
}