.site-header {

	.search-toggle {
		right: 50px;
	}

	.site-header-cart {
		position: absolute;
		top: 0;
		right: $padding__content-mobile;

		a {
			position: relative;

			a:before {
				line-height: $size__header-height-mobile;
			}
		}

		.count {
			@include font-size(.5);
			position: absolute;
			top: 10px;
			right: -5px;
			width: 12px;
			height: 12px;
			text-align: center;
			line-height: 10px;
			background: #fff;
			border-radius: 50%;
			border: 1px solid;
		}
	}
}
