.site-header {

	.site-branding {
		margin-left: 30px;
	}

	.main-navigation-toggle {
		left: $padding__content-mobile;
	}

	&.stuck {
		transition: left .5s ease-in-out;

		.menu-toggled-on & {
			left: 250px;

			@media screen and (min-width: breakpoint('phone')) {
				left: 300px;
			}
		}
	}
}

#page {
	left: 0;
	transition: left .5s ease-in-out;

	#main-navigation {
		left: -250px;
		transition: left .5s ease-in-out, box-shadow .5s ease-in-out;

	}

	&.menu-toggled-on {
		left: 250px;

		#main-navigation {
			left: 0;
		}
	}

	@media screen and (min-width: breakpoint('phone')) {

		#main-navigation {
			left: -300px;
		}

		&.menu-toggled-on {
			left: 300px;
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {

		&.menu-toggled-on {
			left: 0;
		}
	}
}

//@import "has-cart";
