// colors
$black: #000;
$white: #fff;
$dark: #4a4a4a;
$gray: #ddd;
$light: #f8f9fa;

// Small devices (landscape phones, 576px and up)
$xsmall: '(min-width: 576px)';

// Medium devices (tablets, 768px and up)
$small: '(min-width: 768px)';

// Large devices (desktops, 992px and up)
$medium: '(min-width: 992px)';

// Extra large devices (large desktops, 1200px and up)
$large: '(min-width: 1200px)';
