.main-navigation {
    
    ul {
        
        ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}
        }
        
        li {
        	position: relative;
        	float: left;
        }
    }
}