.main-navigation {
    
    .menu-main-menu-container {
        position: fixed;
        background: #fff;
        left: 0;
        right: 0;
    }
    
    ul {
        
        ul {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}
        }
    
    @media screen and (min-width: 48em) {
        
        .menu-main-menu-container {
            position: relative;
        }
        
        ul {
            
            ul {
                display: none;
                float: left;
    			top: 1.5em;
    			left: -999em;
    			z-index: 99999;
    			
    			ul {
    			    left: -999em;
    				top: 0;
    			}
            }
            
            li {
                float: left;
            }
            
            li:hover,
            li:focus {
                
                ul {
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    background: #fff;
                }
            }
        }
    }
}