article {
  body.home &.post.hentry {
    background-color: white;
  }
  .hfeed &.hentry {
	   background:#fff;
	   margin-bottom:30px;  		
       border:1px solid $light-gray;
       @include rounded(10px);
  }
}

.widget {
	background: #fff;
	@include rounded(10px);
	border:1px solid $dark-purple;
	padding: 8px 21px;
	margin: 12px auto;
	padding-top: 0;
	border-top: 0;
	overflow: hidden;
}