article {
  body.home &.post.hentry {
    background-color: white;
  }
  .hfeed &.hentry {
	   background:#fff;
	   margin-bottom:30px;  		
       border:1px solid $light-gray;
       @include rounded(10px);
  }
}

