.wp-block-svbk-hero.has-bottom-padding {
        
    .wp-block-svbk-hero__content {
        padding-bottom: 80px;
        
        @media screen and (min-width: breakpoint('tablet-portrait')) {
            padding-bottom: 20px;
        }
        
        @media screen and (min-width: breakpoint('tablet-landscape')) {
            padding-bottom: 40px;
        }
    }
    
    @media screen and (min-width: breakpoint('tablet-portrait')) {
        padding-bottom: 100px;
    }


    &.is-style-content-background .wp-block-svbk-hero__content {

        @media screen and (min-width: breakpoint('tablet-portrait')) {
            padding-bottom: 80px;
        }

        @media screen and (min-width: breakpoint('tablet-landscape')) {
            padding-bottom: 120px;
        }
    }
}