@mixin issue-section-multicolumn-layout {

	.issue-section-posts {

		.entry:nth-child(n+2) {

			.entry-image {
				display: none;
			}

		}

		@include media( "issue-2-columns" ) {

			.entry {
				@include rem( "padding", 0 ( $spacing * 0.5 ) );
				float: left;
				width: 50%;

				&:nth-child(2n+1) {
					clear: left;
				}

				@include quantity-query( 1 ) {
					/* Centre single articles */
					margin-left: 25%;
				}

				&:nth-child(n+2) {

					.entry-image {
						display: block;
					}

				}

				&:nth-child(n+3) {

					.entry-image {
						display: none;
					}

				}

			}

		}

		@include media( "issue-3-columns" ) {

			.entry {

				.entry-content {
					@include rem( "margin", ( $line * 0.5 ) 0 0 );
					@include font-size-line( "small" );
					display: block;
					text-align: left;
				}

				@include quantity-query( 3, "greater" ) {
					width: 33%;
					clear: none;

					.entry-image {
						display: block;
					}

				}

				@include quantity-query( 4, "greater" ) {

					/* Fake heading */
					&:nth-child(3):before {
						@include rem("margin-bottom", $line);
						@include rem("padding", ($gutter * 0.5));
						@include font-size-line("small");
						content: 'Also in this issue';
						float: right;
						clear: right;
						display: block;
						width: 100%;
						font-family: $font-family__heading;
						font-weight: $font-weight__serif__bold;
						text-align: center;
						text-transform: uppercase;
						background-color: $black;
						color: $white;
					}

					&:nth-child(n+3) {
						float: right;
						clear: right;

						.entry-image {
							display: none;
						}

						.entry-content {
							@include font-size-line("smaller", 0.66667);
						}

					}

				}

				@include quantity-query( 5, "greater" ) {

					&:nth-child(n+3) {

						.entry-title {
							@include font-size-line("normal");
						}

						.entry-subtitle {
							@include font-size-line("small");
						}

						.entry-content,
						.entry-meta {
							display: none;
						}

					}

				}

				@include quantity-query( 8, "greater" ) {

					&:nth-child(n+3) {

						.entry-title,
						.entry-subtitle {
							@include font-size-line("smaller", 0.5);
						}

					}

				}

				@include quantity-query( 10, "greater" ) {

					&:nth-child(3):before,
					&:nth-child(n+3) {
						@include rem("margin-bottom", ($line * 0.5));
					}

				}

			}

		}

		@include media( "issue-4-columns" ) {

			.entry {

				@include quantity-query( 4, "greater" ) {
					@include rem( "margin-bottom", $line );
					width: 25%;

					&:nth-child(n+3) {
						float: left;
						clear: none;
						padding-bottom: 0;

						/* Resets from previous media query */

						.entry-image {
							display: block;
						}

						.entry-title {
							@include font-size-line("large");
						}

						.entry-subtitle {
							@include font-size-line("normal");
						}

						.entry-content {
							@include font-size-line("small");
							display: block;
						}

					}

					/* Remove old fake heading */
					&:nth-child(3):before {
						display: none;
					}

				}

				@include quantity-query( 5, "greater" ) {

					/* Fake heading */
					&:nth-child(4):before {
						@include rem("margin-bottom", $line);
						@include rem("padding", ($gutter * 0.5));
						@include font-size-line("small");
						content: 'Also in this issue';
						float: right;
						clear: right;
						display: block;
						width: 100%;
						font-family: $font-family__heading;
						font-weight: $font-weight__serif__bold;
						text-align: center;
						text-transform: uppercase;
						background-color: $black;
						color: $white;
					}

					&:nth-child(n+4) {
						float: right;
						clear: right;

						.entry-image {
							display: none;
						}

						.entry-content {
							@include font-size-line("smaller", 0.66667);
						}

					}

				}

				@include quantity-query( 6, "greater" ) {

					&:nth-child(n+4) {

						.entry-title {
							@include font-size-line("normal");
						}

						.entry-subtitle {
							@include font-size-line("small");
						}

						.entry-content,
						.entry-meta {
							display: none;
						}

					}

				}

				@include quantity-query( 9, "greater" ) {

					&:nth-child(n+4) {

						.entry-title,
						.entry-subtitle {
							@include font-size-line("smaller", 0.5);
						}

					}

				}

				@include quantity-query ( 11, "greater" ) {

					&:nth-child(4):before,
					&:nth-child(n+4) {
						@include rem("margin-bottom", ($line * 0.5));
					}

				}

			}

		};

	}

}
