// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Center element, both horizontally and vertically
@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// Word wrapping
@mixin word-wrap {
	word-break: break-all;
	word-break: break-word; /* Non standard for webkit */
	hyphens: auto;
}

// Truncate Text
@mixin text-truncate($width:100%) {
	width: $width;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Linear Gradient
@mixin linear-gradient($from, $to) {
	background-color: $to; /* Fallback for non-supporting browsers */
	background-image: linear-gradient($from, $to);
}

// Flexible videos
@mixin flex-video {
	height: 0;
	padding-top: 30px;
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;

	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0; left: 0;
	}
}
