.site-header {
	background: $color__background-header;
	width: 100%;
	z-index: 999;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	position: relative;

	.wrap {

		&:after {
			@include clearfix();
			@include clearfix-after();
		}
	}

	.search-toggle {
		font-weight: normal;

		&:before {
			width: 40px;
			display: block;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 50%;
		}

		&:hover,
		&:focus,
		&:active,
		&:visited {
			color: $color__text-main;
		}
	}

	#main-navigation {
		background: #fff;
	}

	@media screen and (min-width: breakpoint('desktop-nav')) {

		.wrap {
			position: relative;
		}

		.site-branding {
			display: inline-block;
			vertical-align: bottom;

			img {
				height: $size__logo-height-desktop;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}

		#main-navigation {
			right: 0;
			text-align: center;
			background: none;

			ul:after {
				@include clearfix();
				@include clearfix-after();
			}

			li {
				float: left;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		#site-navigation {
			display: block;
		}

		.main-navigation-toggle {
			display: none;
		}
	}
}

.site-branding {
	display: inline-block;

	img {
		display: block;
		height: $size__logo-height-mobile;
		width: auto;
		margin-top: 7px;
		margin-bottom: 2px;
	}
}

.main-navigation-toggle {
	position: absolute;
	top: 0;
	padding: 0;
	height: $size__header-height-mobile;
	background: none;
	border: none;
	box-shadow: none;
	color: $color__text-main;

	&:hover,
	&:focus,
	&:active {
		background: none;
		color: $color__text-main;
		box-shadow: none;
	}

	&:before {
		@include icon-content("\e908");

		.menu-toggled-on & {
			@include icon-content("\e903");
		}
	}
}

@import 'mobile/right-nav';
@import 'desktop/logo-left';
//@import 'desktop/logo-center';

@import 'top-header';
@import 'header-stuck';
//@import 'utilities/has-search';