.site-header {
	background: $color__background-header;
	width: 100%;
	z-index: 999;
	box-shadow: 0 0 3px rgba(0,0,0,.2);

	.wrap {

		&:after {
			@include clearfix();
			@include clearfix-after();
		}
	}

	.site-branding {
		display: inline-block;

		img {
			display: block;
			height: $size__logo-height-mobile;
			width: auto;
			margin-top: 7px;
			margin-bottom: 2px;
		}
	}

	.main-navigation-toggle {
		position: absolute;
		top: 0;
		padding: 0;
		height: $size__header-height-mobile;
		background: none;
		border: none;
		box-shadow: none;
		color: $color__text-main;

		&:before {
			@include icon-content("\e908");
		}
	}

	.search-toggle {
		display: block;
		height: $size__header-height-mobile;
	}

	.site-header-cart li {
		line-height: $size__header-height-mobile;

		a {
			display: inline-block;
		}
	}

	.search-toggle,
	.site-header-cart > li > a {
		font-weight: normal;

		&:before {
			width: 40px;
			display: block;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 50%;
		}

		&:hover,
		&:focus,
		&:active,
		&:visited {
			color: $color__text-main;
		}
	}

	.site-header-cart .count {
		@include font-size(.5);
		position: absolute;
		top: 10px;
		right: -5px;
		width: 12px;
		height: 12px;
		text-align: center;
		line-height: 10px;
		background: #fff;
		border-radius: 50%;
		border: 1px solid;
	}

	#main-navigation {
		background: #fff;
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {

		.wrap {
			position: relative;
		}

		.site-branding {
			display: inline-block;

			img {
				height: 58px;
				margin-top: 15px;
				margin-bottom: 10px;
			}
		}

		#main-navigation {
			right: 0;
			text-align: center;
			background: none;

			ul:after {
				@include clearfix();
				@include clearfix-after();
			}

			li {
				float: left;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		#site-navigation {
			display: block;
		}

		.main-navigation-toggle {
			display: none;
		}
	}
}

//@import "mobile/left-nav/left-nav";
@import "mobile/right-nav/right-nav";

//@import 'desktop/logo-center/logo-center';
@import 'desktop/logo-left/logo-left';

@import 'top-header';
@import 'header-stuck';
