.top-header {
	@include font-size(.9);
	background: $color__corporate;
	padding-top: 9px;
	padding-bottom: 9px;
	color: #fff;

	a {
		color: #fff;

		&:hover {
			color: #eee;
		}
	}

	.company-phone,
	.company-opening-hours,
	.company-email {

		&:before {
			margin-right: 8px;
			position: relative;
			top: 1px;
		}
	}

	.company-phone,
	.company-email {

		a {
			text-decoration: none;
		}
	}

	.company-phone {
		float: left;

		&:before {
			@include icon-content('\e930');
		}
	}

	.company-email {
		float: left;
		margin-left: 20px;

		&:before {
			@include icon-content('\e93b');
		}
	}

	.company-opening-hours {
		float: right;

		&:before {
			@include icon-content('\e902');
			font-size: 1.2em;
			line-height: .9rem;
			top: 2px;
		}
	}

	@media screen and (max-width: breakpoint('tablet-landscape')) {

		.company-opening-hours,
		.company-email {
			display: none;
		}
	}
}

.top-header ~ .wrap {

	.main-navigation-toggle {
		top: 40px;
	}

	#main-navigation {
		top: 41px + $size__header-height-mobile;
	}
}