.post--preview {
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    position: relative;
    padding-bottom: 40px;
    
    img {
        width: 100%;
    }
    
    > a {
        display: block;
    }
    
    .post__meta,
    .post__title,
    .post__excerpt {
        padding-left: 20px;
    }
    
    .post__title,
    .post__excerpt {
        padding-right: 20px;
    }
    
    .post__meta {
        @include font-size(.8);
        line-height: normal;
        
        .reading-time {
            right: 20px;
        }
    }
    
    .post__title {
        margin: 0;
        
        a {
            text-decoration: none;
            color: $color__text-main;
            line-height: normal;
            display: block;
        }
    }
    
    .post__excerpt {
        margin: 0;
        
        p {
            margin-top: 0;
        }
    }
    
    .readmore {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}
    