.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.post__summary {
	@include font-size(1.15);
	font-style: italic;
	color: #888;
	border-top: 1px solid #f0f0f0;
	margin-top: 10px;
}

.post__meta {
    padding-bottom: 10px;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.post-thumbnail {
	width: 100%;
	
	img {
		width: 100%;
	}
}