.site-header {
    /* max-width: @sitewidth; */
    width: 100%;
    background: @headerbackground;
    color: @textcolor;
    /* site-header link hover incase you need it */
    a {
        color: @headerLinkColor;
        .transition(color, 0.5s, ease, 0s);

        &:hover {
            color: @headerLinkHover;
            .transition(color, 1s, ease, 0s);
        }
    }

    .site-branding {
        .site-title {
        }

        .site-description {
        }
    }

    @import 'navigation';
}
