@bodybackground: #fff;

@linkcolor: royalblue;
@linkhover: midnightblue;
@linkvisited: purple;

@headerbackground: #fff;
@headerTextColor: #000;
@headerLinkColor: @linkcolor;
@headerLinkHover: @linkhover;

@siteContentBackground: #fff;

@textcolor: #404040;
@inputTextColor: #666;
@inputTextFocus: #111;
@navbackground: #eee;
@navlink: #000;
@navlinkhover: #fff;
@navLinkActive: @linkcolor;
@navLinkActiveHover: @linkhover;

@bordercolor : #eee;
@buttonbackground: @linkcolor;
@buttonHover: @navlinkhover;

@sitewidth: 1180px;
@sidebarWidth: 25%;
@contentWidth:75%;

@entryTitleColor: @linkcolor;
@entryTitleHover: @linkhover;
@widgetTitlecolor: royalblue;
@widgettitlehover: purple;

@footerBackground: #fff;
@footerLinkColor: @linkcolor;
@footerLinkHover: @linkhover;

@hrbackground-color: #CCC;
@screen-reader-background: #f1f1f1;
@screen-reader-text-color: #21759b;
@preBackgroundColor: #fff;


@background-button: #e6e6e6;
@background-pre: #eee;
@background-ins: #fff9c0;

@border-button: #ccc #ccc #bbb;
@border-button-hover: #ccc #bbb #aaa;
@border-button-focus: #aaa #bbb #bbb;
@border-input: #666;
@border-abbr: #666;