
// ==========================================================================
// Base
// ==========================================================================

html {
    background: white;
}

/**
 * 1. Remove subpixel-antialiased default.
 * 2. Keep for retina resolutions.
 *
 * @link: http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x
 */
*,
*:after,
*:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; /* 1 */
    @media
        only screen and (-webkit-min-device-pixel-ratio: 1.25),
        only screen and ( min-device-pixel-ratio: 1.25),
        only screen and ( min-resolution: 200dpi),
        only screen and ( min-resolution: 1.25dppx) {
            -webkit-font-smoothing: subpixel-antialiased;
    } /* 2 */
}

embed,
iframe,
object {
    max-width: 100%;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}
