
// ==========================================================================
// Helpers
// ==========================================================================

%hidden {
    /*
     * Hide visually and from screen readers:
     * http://juicystudio.com/article/screen-readers-display-none.php
     */
    display: none !important;
    visibility: hidden;
}

%visuallyhidden {
    /*
     * Hide only visually, but have it available for screen readers:
     * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
     */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    /*
     * Extends the .visuallyhidden class to allow the element to be focusable
     * when navigated to via the keyboard: h5bp.com/p
     */
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;

    }
}

%invisible {
    /*
    * Hide visually and from screenreaders, but maintain layout
    */
    visibility: hidden;
}

%clearfix {
    /*
     * Clearfix: contain floats
     *
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    `contenteditable` attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that receive the `clearfix` class.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */
    &:before, &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }

    /*
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
    *zoom: 1;
}

/**
 * Cross browser support for word wrapping
 * Reference: http://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/
 */
%word-wrap {
    -ms-word-break: break-all;
        word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}





/* Visibility
   ========================================================================== */

.visuallyhidden {
    @extend %visuallyhidden;
}





/* Corners
   ========================================================================== */

.corner {
    border-radius: 4px;
}





/* Borders
   ========================================================================== */

.border {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border: 1px solid $alto;
}

.border--bottom {
    border-top: none;
    border-right: none;
    border-left: none;
}





/* Text
   ========================================================================== */

.text-center {
    text-align: center;
}

.text-center--mobile {
    @include mq( $until: tablet ) {
        text-align: center;
    }
}

.text-center--desktop {
    @include mq( $from: tablet ) {
        text-align: center;
    }
}

.text-right {
    text-align: right;
}

.text-right--mobile {
    @include mq( $until: tablet ) {
        text-align: right;
    }
}

.text-right--desktop {
    @include mq( $from: tablet ) {
        text-align: right;
    }
}

.text-capitalize {
    text-transform: capitalize;
}

.text-upper {
    text-transform: uppercase;
}





/* Alignment
   ========================================================================== */

.pull-center {
    margin: 0 auto;
    display: block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.alignleft {
    @include mq( $from: tablet ) {
        margin-right: 1.5em;
        margin-bottom: 1.5em;
        display: inline;
        float: left;
    }
}

.alignright {
    @include mq( $from: tablet ) {
        margin-left: 1.5em;
        margin-bottom: 1.5em;
        display: inline;
        float: right;
    }
}

.aligncenter {
    @include mq( $from: tablet ) {
        clear: both;
        display: block;
        margin: 0 auto;
    }
}





/* Hidden
   ========================================================================== */

.hide-on-mobile {
    @include mq( $until: tablet ) {
        display: none !important;
    }
}

.hide-on-desktop {
    @include mq( $from: tablet ) {
        display: none !important;
    }
}
