
/* ==========================================================================
   Buttons
   ========================================================================== */

%btn {
    padding: 1em 2em;
    position: relative;
    display: inline-block;
    background: $off-black;
    text-align: center;
    text-transform: uppercase;
    color: white;
    @include rem( 'font-size', 13px );
}
.btn {
    @extend %btn;
    &:hover {
        background: $charcoal;
        color: white;
    }
}
.btn.small {
    padding: 1em 2em;
    @include rem( 'font-size', 10px );
}
.btn.large {
    padding: 0.9em 1.5em;
    @include rem( 'font-size', 17px );
}
.btn.x-large {
    padding: 0.75em 1.25em;
    @include rem( 'font-size', 20px );
}
.btn.success {
    @extend %btn;
    background: $success;
    &:hover {
        background: darken( $success, 5% );
    }
}
