
/* ==========================================================================
   Comments
   ========================================================================== */

.comment-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	article.comment-body {
		margin: 1em 0;
		padding: 0.5em;
		position: relative;
		background: $grey-lt;
		footer {
			@extend %clearfix;
			margin-bottom: 0.5em;
		}
	}
	.comment-author {
		float: left;
		@include rem( 'font-size', 14px );
		> .says {
			display: none;
		}
	}
	.comment-metadata {
		margin-top: 0.5em;
		float: right;
		> a {
			@include rem( 'font-size', 12px );
			color: darken( $grey-lt, 20% );
		}
		time {
			text-transform: uppercase;
		}
	}
	.comment-content {
		padding: 0.5em;
		clear: both;
		background: white;
	}
	.reply {
		position: absolute;
		bottom: -3px;
		right: -3px;
		> a {
			padding: 4px;
			display: inline-block;
			background: white;
			border: 1px solid $grey-lt;
			@include rem( 'font-size', 12px );
			&:hover {
				background: $success;
				color: white;
			}
		}
	}
	.edit-link {
		position: absolute;
		bottom: -3px;
		left: -3px;
		> a {
			padding: 4px;
			display: inline-block;
			background: $success;
			border: 1px solid white;
			color: white;
			@include rem( 'font-size', 12px );
			&:hover {
				background: white;
				border: 1px solid $grey-lt;
				color: $success;
			}
		}
	}
	.comment-awaiting-moderation {
		margin-top: 0;
		background: $success;
		text-align: center;
		color: white;
	}
	.children {
		margin: 0;
		padding: 0;
		list-style-type: none;
		@include breakpoint( $tablet, $no-query: '.lt-ie9' ) {
			margin: 0 0 0 1em;
		}
	}
}
