//--------------------------------------------------------------
// Accessibility
//--------------------------------------------------------------

// Hide text meant only for screen readers

.screen-reader-text {
	@include size(1px auto);

	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;

	&:hover,
	&:active,
	&:focus {
		@include size(auto);

		background-color: $color-background-screen-reader;
		border-radius: $border-radius;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: $color-text-screen-reader;
		display: block;
		font-size: rem(14);
		font-weight: 700;
		left: em(5px);
		line-height: normal;
		padding: rem(15) rem(23) rem(14);
		text-decoration: none;
		top: em(5px);
		z-index: 100000; /* Above WP toolbar */
	}
}
