//--------------------------------------------------------------
// Alignments
//--------------------------------------------------------------

.alignleft {
	display: inline;
	float: left;
	margin-right: em(24px);
}

.alignright {
	display: inline;
	float: right;
	margin-left: em(24px);
}

.aligncenter {
	@include center-block;
}
