//--------------------------------------------------------------
// Alignments
//--------------------------------------------------------------

.alignleft {
    @include margin(0 24px 0 0);

    display: inline;
    float: left;
}

.alignright {
    @include margin(0 0 0 24px);

    display: inline;
    float: right;
}

.aligncenter {
    @include margin-auto;
}
