//--------------------------------------------------------------
// Clearings
//--------------------------------------------------------------

.clear,
.entry-content,
.comment-content,
.site-header,
.site-content,
.site-footer {
	@include clearfix;
}
