//--------------------------------------------------------------
// HTML Elements
//--------------------------------------------------------------

// Iframes

embed,
iframe,
object {
	max-width: 100%;
}

hr {
	@include margin(0 0 24px 0);
	@include size(auto 1px);

	background-color: $color-background-hr;
	border: 0;
}

figure {
	margin: 0;
}

// Lists

ul,
ol {
	@include margin(0 24px 48px 0);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	@include margin(0 0 0 24px);
}

dt {
	font-weight: 700;
}

dd {
	@include margin(0 24px 24px 0);
}

// Tables

table {
	@include margin(0 0 24px 0);
	@include size(100% auto);
}

th {
	font-weight: 700;
}
