// --------------------------------------------------------------
// Media
// --------------------------------------------------------------

.page-content,
.entry-content,
.comment-content {

	img.wp-smiley {
		@include margin(0);
		@include padding(0);

		border: none;
	}
}

// Images

img {
	height: auto;
	max-width: 100%;
}

// Captions

.wp-caption {
	@include margin(0 0 24px 0);

	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}

	.wp-caption-text {
		@include margin(12px 0);
	}
}

.wp-caption-text {
	text-align: center;
}

// Galleries

.gallery {
	@include margin(0 0 24px 0);
}

.gallery-item {
	@include size(100% auto);

	display: inline-block;
	text-align: center;
	vertical-align: top;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}
