.site-header #main-navigation {
    padding-top: 0;

    @media screen and (min-width: breakpoint('desktop-nav')) {
        padding-right: 60px;
    }
}

.site-header {

    .search-toggle {
        font-weight: normal;
        display: none;

		&:before {
			width: 40px;
			display: block;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 50%;
		}

		&:hover,
		&:focus,
		&:active,
		&:visited {
			color: $color__text-main;
        }
        
        @media screen and (min-width: breakpoint('desktop-nav')) {
            display: block;
            position: absolute;
            right: 0;
            height: $size__header-height-desktop;
    
            &:after {
                height: $size__header-height-desktop;
                line-height: $size__header-height-desktop;
            }
        }
	}

    .search-form {
        padding: 20px 20px 30px;
        margin: 0 -20px 10px;
        background-color: $color__background-light;
    
        @media screen and (min-width: breakpoint('desktop-nav')) {
            display: none;
            border-radius: 3px;
            box-shadow: 1px 3px 4px rgba(0,0,0,.3);
    
            .search-field {
                width: 400px;
            }
        
            &.visible {
                display: block;
                position: fixed;
                top: 100px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                padding: 30px 30px 40px;
                width: 506px;
                z-index: 9999;
            }
        }
    }
}

.search__overlay {
    display: none;

    @media screen and (min-width: breakpoint('desktop-nav')) {
        background: rgba(0,0,0, .8);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999
    }
}

.search-toggled {
    position: relative;

    .search-toggle {
        position: fixed;
        height: 40px;
        width: 40px;
        top: 53px;
        left: calc(50% + 212px);
        z-index: 9999;

        &:after {
            @include icon-content('\e903');
            color: #fff;
            line-height: 40px;
        }
    }
}