/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;

	&:hover,
	&:active,
	&:focus {
		background-color: $color-background-screen;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: $color-text-screen;
		display: block;
		@include rem(font-size, 14px);
		font-weight: 700;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar */
	}
}
