/*--------------------------------------------------------------
Optional Base Styles
--------------------------------------------------------------*/

/**
 * Structure
 */

.site {
	@include outer-container;
}

.site-content {
	margin: 20px auto 20px;

	@include wider-than(desktop) {
		margin: 40px auto 60px;
	}
}

#primary {
	@include span-columns(12);

	@include wider-than(desktop) {
		@include span-columns(8);
	}
}

#secondary {
	@include span-columns(12);

	@include wider-than(desktop) {
		@include span-columns(4);
		@include omega();
	}
}

/**
 * Branding
 */

.site-title {
	@include rem(font-size, 48px);
}

.site-description {
	@include rem(font-size, 24px);
	margin-bottom: 24px;
}

/**
 * Navigation
 */

.menu {

	ul {

		li {
			margin-right: 10px;
		}

	}

}

/**
 * Content
 */

.entry-title {
	@include rem(font-size, 36px);
}

/**
 * Comments
 */

.comments-title {
	@include rem(font-size, 24px);
}

.comment-list {
	list-style: none;
	margin: 0;
}

.comment-meta {
	margin-bottom: 14px;
}

.avatar {
	float: left;
	margin-right: 10px;
}
