/*--------------------------------------------------------------
Site Content
--------------------------------------------------------------*/

// Posts and pages

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 em(24px);
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: em(24px) 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 em(24px);
}

// Asides

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

// Comments

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
