/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/

.page-content,
.entry-content,
.comment-content {

	img.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
	}
}

// Make sure embeds and iframes fit their containers.

embed,
iframe,
object {
	max-width: 100%;
}

// Captions

.wp-caption {
	margin-bottom: em(24px);
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}

	.wp-caption-text {
		margin: em(12px) 0;
	}
}

.wp-caption-text {
	text-align: center;
}

// Galleries

.gallery {
	margin-bottom: em(24px);
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}
