/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/

a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {

			&:hover > ul {
				display: block;
			}
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			left: -999em;
			position: absolute;
			top: 1.5em;
			z-index: 99999;

			& :hover > a {
			}

			li {
			}

			li:hover > ul {
				left: 100%;
			}

			a {
				width: 200px;

				&:hover {
				}
			}

			ul {
				left: -999em;
				top: 0;
			}
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a {
		}

		&:hover > ul {
			left: auto;
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item a,
	.current-menu-item a {
	}
}

/* Small menu */

.menu-toggle {
	cursor: pointer;
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.comment-navigation,
.paging-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
