/*--------------------------------------------------------------
Optional Base Styles
--------------------------------------------------------------*/

// Structure

.site {
	@include outer-container;
}

.site-content {
	margin: em(20px) auto em(20px);

	@include wider-than(desktop) {
		margin: em(40px) auto em(60px);
	}
}

#primary {
	@include fill-parent;

	@include wider-than(desktop) {
		@include span-columns(8);
	}
}

#secondary {
	@include fill-parent;

	@include wider-than(desktop) {
		@include span-columns(4);
		@include omega();
	}
}

// Branding

.site-title {
	@include rem(font-size, 48px);
}

.site-description {
	@include rem(font-size, 24px);
	margin-bottom: em(24px);
}

// Navigation

.menu {

	ul {

		li {
			margin-right: em(10px);
		}

	}

}

// Content

.entry-title {
	@include rem(font-size, 36px);
	word-wrap: break-word;
}

// Comments

.comments-title {
	@include rem(font-size, 24px);
}

.comment-list {
	list-style: none;
	margin: 0;
}

.comment-meta {
	margin-bottom: em(14px);
}

.avatar {
	float: left;
	margin-right: em(10px);
}
