/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: $color-text-main;
	font-family: $font-sans;
	@include rem(font-size, 16px);
	line-height: $line-height-body;
}

// Headers

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

// Copy

p {
	margin-bottom: em(24px);
}

b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote, q {
	quotes: "" "";
	margin: 0 em(24px);

	&:before,
	&:after {
		content: "";
	}
}

address {
	margin: 0 0 em(24px);
}

pre {
	background: $color-background-pre;
	font-family: $font-pre;
	@include rem(font-size, 15px);
	line-height: $line-height-pre;
	margin-bottom: em(25px);
	max-width: 100%;
	overflow: auto;
	padding: em(25px);
}

code,
kbd,
tt,
var {
	@include rem(font-size, 15px);
	font-family: $font-code;
}

abbr,
acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
}

mark,
ins {
	background: $color-background-ins;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}
