//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Colors
$color-site-bg:      #fff;
$color-link:         royalblue;
$color-link-visited: purple;
$color-link-hover:   blue;

// Fonts
$font-sans:  sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-mono:  "Courier 10 Pitch", Courier, monospace;
