@use "sass:math";

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: math.div($columns--margin * ($numberColumns - 1), $numberColumns) or calc(($columns--margin * ($numberColumns - 1)) / $numberColumns);
}
