@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?133f77');
  src:  url('fonts/icomoon.eot?133f77#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?133f77') format('truetype'),
    url('fonts/icomoon.woff?133f77') format('woff'),
    url('fonts/icomoon.svg?133f77#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wpion-"], [class*=" wpion-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpion-qq-brands1:before {
  content: "\e9b1";
}
.wpion-weixin1:before {
  content: "\e9b2";
}
.wpion-alipay1:before {
  content: "\e9b3";
}
.wpion-weibo1:before {
  content: "\e9b4";
}
.wpion-google1:before {
  content: "\e9b5";
}
.wpion-facebook-square1:before {
  content: "\e9b6";
}
.wpion-twitter1:before {
  content: "\e9b8";
}
.wpion-wordpress1:before {
  content: "\e9b9";
}
.wpion-github-alt1:before {
  content: "\e9ba";
}
.wpion-apple1:before {
  content: "\e9bb";
}
.wpion-bag:before {
  content: "\f120";
}
.wpion-login:before {
  content: "\f10b";
}
.wpion-user:before {
  content: "\f11e";
}
.wpion-altcart:before {
  content: "\f107";
}
.wpion-snashicons-outline-6:before {
  content: "\67";
}
.wpion-snashicons-outline-9:before {
  content: "\6a";
}
.wpion-file-code:before {
  content: "\e9b0";
}
.wpion-minus:before {
  content: "\e900";
}
.wpion-plus:before {
  content: "\e901";
}
.wpion-times-circle2:before {
  content: "\e98d";
}
.wpion-times-circle1:before {
  content: "\e98e";
}
.wpion-times-circle:before {
  content: "\e98f";
}
.wpion-times2:before {
  content: "\e990";
}
.wpion-times1:before {
  content: "\e991";
}
.wpion-times:before {
  content: "\e992";
}
.wpion-expand-alt2:before {
  content: "\e981";
}
.wpion-expand-alt:before {
  content: "\e982";
}
.wpion-expand-alt1:before {
  content: "\e983";
}
.wpion-expand-arrows-alt:before {
  content: "\e984";
}
.wpion-expand-arrows-alt2:before {
  content: "\e985";
}
.wpion-expand-arrows-alt1:before {
  content: "\e986";
}
.wpion-link2:before {
  content: "\e987";
}
.wpion-link1:before {
  content: "\e988";
}
.wpion-link:before {
  content: "\e989";
}
.wpion-external-link2:before {
  content: "\e98a";
}
.wpion-external-link1:before {
  content: "\e98b";
}
.wpion-external-link:before {
  content: "\e98c";
}
.wpion-thumbs-up:before {
  content: "\e97b";
}
.wpion-thumbs-up1:before {
  content: "\e97c";
}
.wpion-thumbs-up2:before {
  content: "\e97d";
}
.wpion-thumbs-down:before {
  content: "\e97e";
}
.wpion-thumbs-down1:before {
  content: "\e97f";
}
.wpion-thumbs-down2:before {
  content: "\e980";
}
.wpion-share2:before {
  content: "\e975";
}
.wpion-share1:before {
  content: "\e976";
}
.wpion-share:before {
  content: "\e977";
}
.wpion-share-alt2:before {
  content: "\e978";
}
.wpion-share-alt1:before {
  content: "\e979";
}
.wpion-share-alt:before {
  content: "\e97a";
}
.wpion-folder2:before {
  content: "\e96f";
}
.wpion-folder1:before {
  content: "\e970";
}
.wpion-folder:before {
  content: "\e971";
}
.wpion-folders2:before {
  content: "\e972";
}
.wpion-folders:before {
  content: "\e973";
}
.wpion-folders1:before {
  content: "\e974";
}
.wpion-cart-plus2:before {
  content: "\e96c";
}
.wpion-cart-plus1:before {
  content: "\e96d";
}
.wpion-cart-plus:before {
  content: "\e96e";
}
.wpion-headset:before {
  content: "\e966";
}
.wpion-headset1:before {
  content: "\e967";
}
.wpion-headset2:before {
  content: "\e968";
}
.wpion-comments1:before {
  content: "\e969";
}
.wpion-comments2:before {
  content: "\e96a";
}
.wpion-comments:before {
  content: "\e96b";
}
.wpion-ios-star-outline:before {
  content: "\e90b";
}
.wpion-ios-star:before {
  content: "\e90c";
}
.wpion-check:before {
  content: "\e93b";
}
.wpion-check1:before {
  content: "\e93c";
}
.wpion-check2:before {
  content: "\e93d";
}
.wpion-check-circle:before {
  content: "\e93e";
}
.wpion-check-circle1:before {
  content: "\e93f";
}
.wpion-check-circle2:before {
  content: "\e940";
}
.wpion-exclamation-triangle:before {
  content: "\e941";
}
.wpion-exclamation-triangle1:before {
  content: "\e942";
}
.wpion-exclamation-triangle2:before {
  content: "\e943";
}
.wpion-info:before {
  content: "\e944";
}
.wpion-info1:before {
  content: "\e945";
}
.wpion-info2:before {
  content: "\e946";
}
.wpion-info-circle:before {
  content: "\e947";
}
.wpion-info-circle1:before {
  content: "\e948";
}
.wpion-info-circle2:before {
  content: "\e949";
}
.wpion-heart:before {
  content: "\e94a";
}
.wpion-heart1:before {
  content: "\e94b";
}
.wpion-heart2:before {
  content: "\e94c";
}
.wpion-home:before {
  content: "\e94d";
}
.wpion-home1:before {
  content: "\e94e";
}
.wpion-home2:before {
  content: "\e94f";
}
.wpion-question-square:before {
  content: "\e902";
}
.wpion-question-square2:before {
  content: "\e904";
}
.wpion-question-square1:before {
  content: "\e905";
}
.wpion-question:before {
  content: "\e906";
}
.wpion-question1:before {
  content: "\e909";
}
.wpion-question2:before {
  content: "\e90a";
}
.wpion-question-circle:before {
  content: "\e935";
}
.wpion-question-circle1:before {
  content: "\e936";
}
.wpion-question-circle2:before {
  content: "\e937";
}
.wpion-hashtag1:before {
  content: "\e938";
}
.wpion-hashtag2:before {
  content: "\e939";
}
.wpion-hashtag:before {
  content: "\e93a";
}
.wpion-random:before {
  content: "\e950";
}
.wpion-random1:before {
  content: "\e951";
}
.wpion-random2:before {
  content: "\e952";
}
.wpion-shopping-cart:before {
  content: "\e90d";
}
.wpion-shopping-cart1:before {
  content: "\e90e";
}
.wpion-shopping-cart2:before {
  content: "\e90f";
}
.wpion-barcode-read:before {
  content: "\e910";
}
.wpion-barcode-read1:before {
  content: "\e911";
}
.wpion-barcode-read2:before {
  content: "\e912";
}
.wpion-qrcode:before {
  content: "\e913";
}
.wpion-qrcode1:before {
  content: "\e914";
}
.wpion-qrcode2:before {
  content: "\e915";
}
.wpion-bars:before {
  content: "\e916";
}
.wpion-bars1:before {
  content: "\e917";
}
.wpion-bars2:before {
  content: "\e918";
}
.wpion-play:before {
  content: "\e919";
}
.wpion-play2:before {
  content: "\e91b";
}
.wpion-play1:before {
  content: "\e91a";
}
.wpion-play-circle:before {
  content: "\e91c";
}
.wpion-play-circle1:before {
  content: "\e91d";
}
.wpion-play-circle2:before {
  content: "\e91e";
}
.wpion-eye-slash:before {
  content: "\e91f";
}
.wpion-eye-slash1:before {
  content: "\e920";
}
.wpion-eye-slash2:before {
  content: "\e921";
}
.wpion-eye:before {
  content: "\e922";
}
.wpion-eye1:before {
  content: "\e923";
}
.wpion-eye2:before {
  content: "\e924";
}
.wpion-clock1:before {
  content: "\e926";
}
.wpion-clock2:before {
  content: "\e927";
}
.wpion-clock:before {
  content: "\e925";
}
.wpion-search-solid:before {
  content: "\e908";
}
.wpion-search:before {
  content: "\e928";
}
.wpion-search1:before {
  content: "\e929";
}
.wpion-angle-down:before {
  content: "\e92a";
}
.wpion-angle-left:before {
  content: "\e92b";
}
.wpion-angle-right:before {
  content: "\e92c";
}
.wpion-angle-up:before {
  content: "\e92d";
}
.wpion-angle-down1:before {
  content: "\e92e";
}
.wpion-angle-left1:before {
  content: "\e92f";
}
.wpion-angle-right1:before {
  content: "\e930";
}
.wpion-angle-up1:before {
  content: "\e931";
}
.wpion-question-circle-regular:before {
  content: "\e907";
}
.wpion-life-ring-regular:before {
  content: "\e903";
}
.wpion-github-alt-brands:before {
  content: "\e932";
}
.wpion-qq-brands:before {
  content: "\e933";
}
.wpion-weixin:before {
  content: "\e934";
}
.wpion-alipay:before {
  content: "\e953";
}
.wpion-weibo:before {
  content: "\e954";
}
.wpion-google:before {
  content: "\e955";
}
.wpion-facebook:before {
  content: "\e956";
}
.wpion-facebook-square:before {
  content: "\e957";
}
.wpion-facebook-f:before {
  content: "\e958";
}
.wpion-twitter-square:before {
  content: "\e959";
}
.wpion-twitter:before {
  content: "\e95a";
}
.wpion-wordpress-simple:before {
  content: "\e95b";
}
.wpion-wordpress:before {
  content: "\e95c";
}
.wpion-github:before {
  content: "\e95d";
}
.wpion-github-alt:before {
  content: "\e95e";
}
.wpion-github-square:before {
  content: "\e95f";
}
.wpion-git-square:before {
  content: "\e960";
}
.wpion-git:before {
  content: "\e961";
}
.wpion-linux:before {
  content: "\e962";
}
.wpion-apple:before {
  content: "\e963";
}
.wpion-android:before {
  content: "\e964";
}
.wpion-app-store-ios:before {
  content: "\e965";
}
.wpion-app-store:before {
  content: "\e993";
}
.wpion-chrome:before {
  content: "\e994";
}
.wpion-admin-plugins:before {
  content: "\e995";
}
.wpion-admin-appearance:before {
  content: "\e996";
}
.wpion-cubes:before {
  content: "\e997";
}
.wpion-code-branch:before {
  content: "\e998";
}
.wpion-mobile-android:before {
  content: "\e999";
}
.wpion-file-alt:before {
  content: "\e99a";
}
.wpion-drafting-compass:before {
  content: "\e99b";
}
.wpion-file-import:before {
  content: "\e99c";
}
.wpion-globe:before {
  content: "\e99d";
}
.wpion-sync-alt:before {
  content: "\e99e";
}
.wpion-search-dollar:before {
  content: "\e99f";
}
.wpion-tachometer-alt-fastest:before {
  content: "\e9a0";
}
.wpion-palette:before {
  content: "\e9a1";
}
.wpion-plugin:before {
  content: "\e9a2";
}
.wpion-speed:before {
  content: "\e9a3";
}
.wpion-maintaince:before {
  content: "\e9a4";
}
.wpion-build:before {
  content: "\e9a5";
}
.wpion-training:before {
  content: "\e9a6";
}
.wpion-bem:before {
  content: "\eae1";
  color: #666;
}
.wpion-speed1:before {
  content: "\eae2";
  color: #666;
}
.wpion-seo:before {
  content: "\eae3";
  color: #666;
}
.wpion-posttype:before {
  content: "\eae4";
  color: #666;
}
.wpion-mega:before {
  content: "\eae5";
  color: #666;
}
.wpion-widget:before {
  content: "\eae6";
  color: #666;
}
.wpion-content:before {
  content: "\eae7";
  color: #666;
}
.wpion-module:before {
  content: "\eae8";
  color: #666;
}
.wpion-hook:before {
  content: "\eae9";
  color: #666;
}
.wpion-schema:before {
  content: "\eaea";
  color: #666;
}
.wpion-colors:before {
  content: "\eaeb";
  color: #666;
}
.wpion-elementor:before {
  content: "\eaec";
  color: #666;
}
.wpion-goal:before {
  content: "\e9b7";
}
.wpion-bar-chart:before {
  content: "\e9bc";
}
.wpion-group:before {
  content: "\e9cf";
}
.wpion-target:before {
  content: "\e9d4";
}
.wpion-diamond:before {
  content: "\e9da";
}
.wpion-contract:before {
  content: "\e9de";
}
.wpion-line-chart:before {
  content: "\e9df";
}
.wpion-laptop:before {
  content: "\e9e3";
}
.wpion-coins:before {
  content: "\e9f5";
}
.wpion-diamond2:before {
  content: "\e9fd";
}
.wpion-purse:before {
  content: "\ea28";
}
.wpion-settings2:before {
  content: "\ea2b";
}
.wpion-shield:before {
  content: "\ea2c";
}
.wpion-calendar-2:before {
  content: "\ea45";
}
.wpion-clock21:before {
  content: "\ea49";
}
.wpion-curriculum:before {
  content: "\ea4e";
}
.wpion-document2:before {
  content: "\ea50";
}
.wpion-folders3:before {
  content: "\ea52";
}
.wpion-job:before {
  content: "\ea59";
}
.wpion-network:before {
  content: "\ea63";
}
.wpion-pie-chart-2:before {
  content: "\ea6b";
}
.wpion-presentation3:before {
  content: "\ea6d";
}
.wpion-search2:before {
  content: "\ea70";
}
.wpion-shipping:before {
  content: "\ea76";
}
.wpion-stopwatch:before {
  content: "\ea7a";
}
.wpion-teamwork-12:before {
  content: "\ead7";
}
.wpion-telemarketer2:before {
  content: "\ead8";
}
.wpion-worker2:before {
  content: "\eada";
}
.wpion-worldwide4:before {
  content: "\eadb";
}
.wpion-calendar:before {
  content: "\e9a7";
}
.wpion-phone:before {
  content: "\e9a8";
}
.wpion-smiley:before {
  content: "\e9aa";
}
.wpion-stack:before {
  content: "\e9af";
}
.wpion-archive:before {
  content: "\e9ab";
}
.wpion-envelope:before {
  content: "\e9a9";
}
.wpion-globe1:before {
  content: "\e9ac";
}
.wpion-compass:before {
  content: "\e9ad";
}
.wpion-navigation:before {
  content: "\e9ae";
}
