@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?133f77');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?133f77#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?133f77') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?133f77') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?133f77##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wpion-"], [class*=" wpion-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpion-qq-brands1 {
  &:before {
    content: $wpion-qq-brands1; 
  }
}
.wpion-weixin1 {
  &:before {
    content: $wpion-weixin1; 
  }
}
.wpion-alipay1 {
  &:before {
    content: $wpion-alipay1; 
  }
}
.wpion-weibo1 {
  &:before {
    content: $wpion-weibo1; 
  }
}
.wpion-google1 {
  &:before {
    content: $wpion-google1; 
  }
}
.wpion-facebook-square1 {
  &:before {
    content: $wpion-facebook-square1; 
  }
}
.wpion-twitter1 {
  &:before {
    content: $wpion-twitter1; 
  }
}
.wpion-wordpress1 {
  &:before {
    content: $wpion-wordpress1; 
  }
}
.wpion-github-alt1 {
  &:before {
    content: $wpion-github-alt1; 
  }
}
.wpion-apple1 {
  &:before {
    content: $wpion-apple1; 
  }
}
.wpion-bag {
  &:before {
    content: $wpion-bag; 
  }
}
.wpion-login {
  &:before {
    content: $wpion-login; 
  }
}
.wpion-user {
  &:before {
    content: $wpion-user; 
  }
}
.wpion-altcart {
  &:before {
    content: $wpion-altcart; 
  }
}
.wpion-snashicons-outline-6 {
  &:before {
    content: $wpion-snashicons-outline-6; 
  }
}
.wpion-snashicons-outline-9 {
  &:before {
    content: $wpion-snashicons-outline-9; 
  }
}
.wpion-file-code {
  &:before {
    content: $wpion-file-code; 
  }
}
.wpion-minus {
  &:before {
    content: $wpion-minus; 
  }
}
.wpion-plus {
  &:before {
    content: $wpion-plus; 
  }
}
.wpion-times-circle2 {
  &:before {
    content: $wpion-times-circle2; 
  }
}
.wpion-times-circle1 {
  &:before {
    content: $wpion-times-circle1; 
  }
}
.wpion-times-circle {
  &:before {
    content: $wpion-times-circle; 
  }
}
.wpion-times2 {
  &:before {
    content: $wpion-times2; 
  }
}
.wpion-times1 {
  &:before {
    content: $wpion-times1; 
  }
}
.wpion-times {
  &:before {
    content: $wpion-times; 
  }
}
.wpion-expand-alt2 {
  &:before {
    content: $wpion-expand-alt2; 
  }
}
.wpion-expand-alt {
  &:before {
    content: $wpion-expand-alt; 
  }
}
.wpion-expand-alt1 {
  &:before {
    content: $wpion-expand-alt1; 
  }
}
.wpion-expand-arrows-alt {
  &:before {
    content: $wpion-expand-arrows-alt; 
  }
}
.wpion-expand-arrows-alt2 {
  &:before {
    content: $wpion-expand-arrows-alt2; 
  }
}
.wpion-expand-arrows-alt1 {
  &:before {
    content: $wpion-expand-arrows-alt1; 
  }
}
.wpion-link2 {
  &:before {
    content: $wpion-link2; 
  }
}
.wpion-link1 {
  &:before {
    content: $wpion-link1; 
  }
}
.wpion-link {
  &:before {
    content: $wpion-link; 
  }
}
.wpion-external-link2 {
  &:before {
    content: $wpion-external-link2; 
  }
}
.wpion-external-link1 {
  &:before {
    content: $wpion-external-link1; 
  }
}
.wpion-external-link {
  &:before {
    content: $wpion-external-link; 
  }
}
.wpion-thumbs-up {
  &:before {
    content: $wpion-thumbs-up; 
  }
}
.wpion-thumbs-up1 {
  &:before {
    content: $wpion-thumbs-up1; 
  }
}
.wpion-thumbs-up2 {
  &:before {
    content: $wpion-thumbs-up2; 
  }
}
.wpion-thumbs-down {
  &:before {
    content: $wpion-thumbs-down; 
  }
}
.wpion-thumbs-down1 {
  &:before {
    content: $wpion-thumbs-down1; 
  }
}
.wpion-thumbs-down2 {
  &:before {
    content: $wpion-thumbs-down2; 
  }
}
.wpion-share2 {
  &:before {
    content: $wpion-share2; 
  }
}
.wpion-share1 {
  &:before {
    content: $wpion-share1; 
  }
}
.wpion-share {
  &:before {
    content: $wpion-share; 
  }
}
.wpion-share-alt2 {
  &:before {
    content: $wpion-share-alt2; 
  }
}
.wpion-share-alt1 {
  &:before {
    content: $wpion-share-alt1; 
  }
}
.wpion-share-alt {
  &:before {
    content: $wpion-share-alt; 
  }
}
.wpion-folder2 {
  &:before {
    content: $wpion-folder2; 
  }
}
.wpion-folder1 {
  &:before {
    content: $wpion-folder1; 
  }
}
.wpion-folder {
  &:before {
    content: $wpion-folder; 
  }
}
.wpion-folders2 {
  &:before {
    content: $wpion-folders2; 
  }
}
.wpion-folders {
  &:before {
    content: $wpion-folders; 
  }
}
.wpion-folders1 {
  &:before {
    content: $wpion-folders1; 
  }
}
.wpion-cart-plus2 {
  &:before {
    content: $wpion-cart-plus2; 
  }
}
.wpion-cart-plus1 {
  &:before {
    content: $wpion-cart-plus1; 
  }
}
.wpion-cart-plus {
  &:before {
    content: $wpion-cart-plus; 
  }
}
.wpion-headset {
  &:before {
    content: $wpion-headset; 
  }
}
.wpion-headset1 {
  &:before {
    content: $wpion-headset1; 
  }
}
.wpion-headset2 {
  &:before {
    content: $wpion-headset2; 
  }
}
.wpion-comments1 {
  &:before {
    content: $wpion-comments1; 
  }
}
.wpion-comments2 {
  &:before {
    content: $wpion-comments2; 
  }
}
.wpion-comments {
  &:before {
    content: $wpion-comments; 
  }
}
.wpion-ios-star-outline {
  &:before {
    content: $wpion-ios-star-outline; 
  }
}
.wpion-ios-star {
  &:before {
    content: $wpion-ios-star; 
  }
}
.wpion-check {
  &:before {
    content: $wpion-check; 
  }
}
.wpion-check1 {
  &:before {
    content: $wpion-check1; 
  }
}
.wpion-check2 {
  &:before {
    content: $wpion-check2; 
  }
}
.wpion-check-circle {
  &:before {
    content: $wpion-check-circle; 
  }
}
.wpion-check-circle1 {
  &:before {
    content: $wpion-check-circle1; 
  }
}
.wpion-check-circle2 {
  &:before {
    content: $wpion-check-circle2; 
  }
}
.wpion-exclamation-triangle {
  &:before {
    content: $wpion-exclamation-triangle; 
  }
}
.wpion-exclamation-triangle1 {
  &:before {
    content: $wpion-exclamation-triangle1; 
  }
}
.wpion-exclamation-triangle2 {
  &:before {
    content: $wpion-exclamation-triangle2; 
  }
}
.wpion-info {
  &:before {
    content: $wpion-info; 
  }
}
.wpion-info1 {
  &:before {
    content: $wpion-info1; 
  }
}
.wpion-info2 {
  &:before {
    content: $wpion-info2; 
  }
}
.wpion-info-circle {
  &:before {
    content: $wpion-info-circle; 
  }
}
.wpion-info-circle1 {
  &:before {
    content: $wpion-info-circle1; 
  }
}
.wpion-info-circle2 {
  &:before {
    content: $wpion-info-circle2; 
  }
}
.wpion-heart {
  &:before {
    content: $wpion-heart; 
  }
}
.wpion-heart1 {
  &:before {
    content: $wpion-heart1; 
  }
}
.wpion-heart2 {
  &:before {
    content: $wpion-heart2; 
  }
}
.wpion-home {
  &:before {
    content: $wpion-home; 
  }
}
.wpion-home1 {
  &:before {
    content: $wpion-home1; 
  }
}
.wpion-home2 {
  &:before {
    content: $wpion-home2; 
  }
}
.wpion-question-square {
  &:before {
    content: $wpion-question-square; 
  }
}
.wpion-question-square2 {
  &:before {
    content: $wpion-question-square2; 
  }
}
.wpion-question-square1 {
  &:before {
    content: $wpion-question-square1; 
  }
}
.wpion-question {
  &:before {
    content: $wpion-question; 
  }
}
.wpion-question1 {
  &:before {
    content: $wpion-question1; 
  }
}
.wpion-question2 {
  &:before {
    content: $wpion-question2; 
  }
}
.wpion-question-circle {
  &:before {
    content: $wpion-question-circle; 
  }
}
.wpion-question-circle1 {
  &:before {
    content: $wpion-question-circle1; 
  }
}
.wpion-question-circle2 {
  &:before {
    content: $wpion-question-circle2; 
  }
}
.wpion-hashtag1 {
  &:before {
    content: $wpion-hashtag1; 
  }
}
.wpion-hashtag2 {
  &:before {
    content: $wpion-hashtag2; 
  }
}
.wpion-hashtag {
  &:before {
    content: $wpion-hashtag; 
  }
}
.wpion-random {
  &:before {
    content: $wpion-random; 
  }
}
.wpion-random1 {
  &:before {
    content: $wpion-random1; 
  }
}
.wpion-random2 {
  &:before {
    content: $wpion-random2; 
  }
}
.wpion-shopping-cart {
  &:before {
    content: $wpion-shopping-cart; 
  }
}
.wpion-shopping-cart1 {
  &:before {
    content: $wpion-shopping-cart1; 
  }
}
.wpion-shopping-cart2 {
  &:before {
    content: $wpion-shopping-cart2; 
  }
}
.wpion-barcode-read {
  &:before {
    content: $wpion-barcode-read; 
  }
}
.wpion-barcode-read1 {
  &:before {
    content: $wpion-barcode-read1; 
  }
}
.wpion-barcode-read2 {
  &:before {
    content: $wpion-barcode-read2; 
  }
}
.wpion-qrcode {
  &:before {
    content: $wpion-qrcode; 
  }
}
.wpion-qrcode1 {
  &:before {
    content: $wpion-qrcode1; 
  }
}
.wpion-qrcode2 {
  &:before {
    content: $wpion-qrcode2; 
  }
}
.wpion-bars {
  &:before {
    content: $wpion-bars; 
  }
}
.wpion-bars1 {
  &:before {
    content: $wpion-bars1; 
  }
}
.wpion-bars2 {
  &:before {
    content: $wpion-bars2; 
  }
}
.wpion-play {
  &:before {
    content: $wpion-play; 
  }
}
.wpion-play2 {
  &:before {
    content: $wpion-play2; 
  }
}
.wpion-play1 {
  &:before {
    content: $wpion-play1; 
  }
}
.wpion-play-circle {
  &:before {
    content: $wpion-play-circle; 
  }
}
.wpion-play-circle1 {
  &:before {
    content: $wpion-play-circle1; 
  }
}
.wpion-play-circle2 {
  &:before {
    content: $wpion-play-circle2; 
  }
}
.wpion-eye-slash {
  &:before {
    content: $wpion-eye-slash; 
  }
}
.wpion-eye-slash1 {
  &:before {
    content: $wpion-eye-slash1; 
  }
}
.wpion-eye-slash2 {
  &:before {
    content: $wpion-eye-slash2; 
  }
}
.wpion-eye {
  &:before {
    content: $wpion-eye; 
  }
}
.wpion-eye1 {
  &:before {
    content: $wpion-eye1; 
  }
}
.wpion-eye2 {
  &:before {
    content: $wpion-eye2; 
  }
}
.wpion-clock1 {
  &:before {
    content: $wpion-clock1; 
  }
}
.wpion-clock2 {
  &:before {
    content: $wpion-clock2; 
  }
}
.wpion-clock {
  &:before {
    content: $wpion-clock; 
  }
}
.wpion-search-solid {
  &:before {
    content: $wpion-search-solid; 
  }
}
.wpion-search {
  &:before {
    content: $wpion-search; 
  }
}
.wpion-search1 {
  &:before {
    content: $wpion-search1; 
  }
}
.wpion-angle-down {
  &:before {
    content: $wpion-angle-down; 
  }
}
.wpion-angle-left {
  &:before {
    content: $wpion-angle-left; 
  }
}
.wpion-angle-right {
  &:before {
    content: $wpion-angle-right; 
  }
}
.wpion-angle-up {
  &:before {
    content: $wpion-angle-up; 
  }
}
.wpion-angle-down1 {
  &:before {
    content: $wpion-angle-down1; 
  }
}
.wpion-angle-left1 {
  &:before {
    content: $wpion-angle-left1; 
  }
}
.wpion-angle-right1 {
  &:before {
    content: $wpion-angle-right1; 
  }
}
.wpion-angle-up1 {
  &:before {
    content: $wpion-angle-up1; 
  }
}
.wpion-question-circle-regular {
  &:before {
    content: $wpion-question-circle-regular; 
  }
}
.wpion-life-ring-regular {
  &:before {
    content: $wpion-life-ring-regular; 
  }
}
.wpion-github-alt-brands {
  &:before {
    content: $wpion-github-alt-brands; 
  }
}
.wpion-qq-brands {
  &:before {
    content: $wpion-qq-brands; 
  }
}
.wpion-weixin {
  &:before {
    content: $wpion-weixin; 
  }
}
.wpion-alipay {
  &:before {
    content: $wpion-alipay; 
  }
}
.wpion-weibo {
  &:before {
    content: $wpion-weibo; 
  }
}
.wpion-google {
  &:before {
    content: $wpion-google; 
  }
}
.wpion-facebook {
  &:before {
    content: $wpion-facebook; 
  }
}
.wpion-facebook-square {
  &:before {
    content: $wpion-facebook-square; 
  }
}
.wpion-facebook-f {
  &:before {
    content: $wpion-facebook-f; 
  }
}
.wpion-twitter-square {
  &:before {
    content: $wpion-twitter-square; 
  }
}
.wpion-twitter {
  &:before {
    content: $wpion-twitter; 
  }
}
.wpion-wordpress-simple {
  &:before {
    content: $wpion-wordpress-simple; 
  }
}
.wpion-wordpress {
  &:before {
    content: $wpion-wordpress; 
  }
}
.wpion-github {
  &:before {
    content: $wpion-github; 
  }
}
.wpion-github-alt {
  &:before {
    content: $wpion-github-alt; 
  }
}
.wpion-github-square {
  &:before {
    content: $wpion-github-square; 
  }
}
.wpion-git-square {
  &:before {
    content: $wpion-git-square; 
  }
}
.wpion-git {
  &:before {
    content: $wpion-git; 
  }
}
.wpion-linux {
  &:before {
    content: $wpion-linux; 
  }
}
.wpion-apple {
  &:before {
    content: $wpion-apple; 
  }
}
.wpion-android {
  &:before {
    content: $wpion-android; 
  }
}
.wpion-app-store-ios {
  &:before {
    content: $wpion-app-store-ios; 
  }
}
.wpion-app-store {
  &:before {
    content: $wpion-app-store; 
  }
}
.wpion-chrome {
  &:before {
    content: $wpion-chrome; 
  }
}
.wpion-admin-plugins {
  &:before {
    content: $wpion-admin-plugins; 
  }
}
.wpion-admin-appearance {
  &:before {
    content: $wpion-admin-appearance; 
  }
}
.wpion-cubes {
  &:before {
    content: $wpion-cubes; 
  }
}
.wpion-code-branch {
  &:before {
    content: $wpion-code-branch; 
  }
}
.wpion-mobile-android {
  &:before {
    content: $wpion-mobile-android; 
  }
}
.wpion-file-alt {
  &:before {
    content: $wpion-file-alt; 
  }
}
.wpion-drafting-compass {
  &:before {
    content: $wpion-drafting-compass; 
  }
}
.wpion-file-import {
  &:before {
    content: $wpion-file-import; 
  }
}
.wpion-globe {
  &:before {
    content: $wpion-globe; 
  }
}
.wpion-sync-alt {
  &:before {
    content: $wpion-sync-alt; 
  }
}
.wpion-search-dollar {
  &:before {
    content: $wpion-search-dollar; 
  }
}
.wpion-tachometer-alt-fastest {
  &:before {
    content: $wpion-tachometer-alt-fastest; 
  }
}
.wpion-palette {
  &:before {
    content: $wpion-palette; 
  }
}
.wpion-plugin {
  &:before {
    content: $wpion-plugin; 
  }
}
.wpion-speed {
  &:before {
    content: $wpion-speed; 
  }
}
.wpion-maintaince {
  &:before {
    content: $wpion-maintaince; 
  }
}
.wpion-build {
  &:before {
    content: $wpion-build; 
  }
}
.wpion-training {
  &:before {
    content: $wpion-training; 
  }
}
.wpion-bem {
  &:before {
    content: $wpion-bem;     
    color: #666;
  }
}
.wpion-speed1 {
  &:before {
    content: $wpion-speed1;     
    color: #666;
  }
}
.wpion-seo {
  &:before {
    content: $wpion-seo;     
    color: #666;
  }
}
.wpion-posttype {
  &:before {
    content: $wpion-posttype;     
    color: #666;
  }
}
.wpion-mega {
  &:before {
    content: $wpion-mega;     
    color: #666;
  }
}
.wpion-widget {
  &:before {
    content: $wpion-widget;     
    color: #666;
  }
}
.wpion-content {
  &:before {
    content: $wpion-content;     
    color: #666;
  }
}
.wpion-module {
  &:before {
    content: $wpion-module;     
    color: #666;
  }
}
.wpion-hook {
  &:before {
    content: $wpion-hook;     
    color: #666;
  }
}
.wpion-schema {
  &:before {
    content: $wpion-schema;     
    color: #666;
  }
}
.wpion-colors {
  &:before {
    content: $wpion-colors;     
    color: #666;
  }
}
.wpion-elementor {
  &:before {
    content: $wpion-elementor;     
    color: #666;
  }
}
.wpion-goal {
  &:before {
    content: $wpion-goal; 
  }
}
.wpion-bar-chart {
  &:before {
    content: $wpion-bar-chart; 
  }
}
.wpion-group {
  &:before {
    content: $wpion-group; 
  }
}
.wpion-target {
  &:before {
    content: $wpion-target; 
  }
}
.wpion-diamond {
  &:before {
    content: $wpion-diamond; 
  }
}
.wpion-contract {
  &:before {
    content: $wpion-contract; 
  }
}
.wpion-line-chart {
  &:before {
    content: $wpion-line-chart; 
  }
}
.wpion-laptop {
  &:before {
    content: $wpion-laptop; 
  }
}
.wpion-coins {
  &:before {
    content: $wpion-coins; 
  }
}
.wpion-diamond2 {
  &:before {
    content: $wpion-diamond2; 
  }
}
.wpion-purse {
  &:before {
    content: $wpion-purse; 
  }
}
.wpion-settings2 {
  &:before {
    content: $wpion-settings2; 
  }
}
.wpion-shield {
  &:before {
    content: $wpion-shield; 
  }
}
.wpion-calendar-2 {
  &:before {
    content: $wpion-calendar-2; 
  }
}
.wpion-clock21 {
  &:before {
    content: $wpion-clock21; 
  }
}
.wpion-curriculum {
  &:before {
    content: $wpion-curriculum; 
  }
}
.wpion-document2 {
  &:before {
    content: $wpion-document2; 
  }
}
.wpion-folders3 {
  &:before {
    content: $wpion-folders3; 
  }
}
.wpion-job {
  &:before {
    content: $wpion-job; 
  }
}
.wpion-network {
  &:before {
    content: $wpion-network; 
  }
}
.wpion-pie-chart-2 {
  &:before {
    content: $wpion-pie-chart-2; 
  }
}
.wpion-presentation3 {
  &:before {
    content: $wpion-presentation3; 
  }
}
.wpion-search2 {
  &:before {
    content: $wpion-search2; 
  }
}
.wpion-shipping {
  &:before {
    content: $wpion-shipping; 
  }
}
.wpion-stopwatch {
  &:before {
    content: $wpion-stopwatch; 
  }
}
.wpion-teamwork-12 {
  &:before {
    content: $wpion-teamwork-12; 
  }
}
.wpion-telemarketer2 {
  &:before {
    content: $wpion-telemarketer2; 
  }
}
.wpion-worker2 {
  &:before {
    content: $wpion-worker2; 
  }
}
.wpion-worldwide4 {
  &:before {
    content: $wpion-worldwide4; 
  }
}
.wpion-calendar {
  &:before {
    content: $wpion-calendar; 
  }
}
.wpion-phone {
  &:before {
    content: $wpion-phone; 
  }
}
.wpion-smiley {
  &:before {
    content: $wpion-smiley; 
  }
}
.wpion-stack {
  &:before {
    content: $wpion-stack; 
  }
}
.wpion-archive {
  &:before {
    content: $wpion-archive; 
  }
}
.wpion-envelope {
  &:before {
    content: $wpion-envelope; 
  }
}
.wpion-globe1 {
  &:before {
    content: $wpion-globe1; 
  }
}
.wpion-compass {
  &:before {
    content: $wpion-compass; 
  }
}
.wpion-navigation {
  &:before {
    content: $wpion-navigation; 
  }
}

