button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	line-height: 1;
	padding: 1em 1.5em;
	text-decoration: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	&:focus,
	&:active {
		outline:none;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

}