.main-navigation {
	display: block;
	width: 100%;

	ul {
		// display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation {

		ul {
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		li {
			order: -1;
			display: block;
		}

		li a {
			color: black;
			text-decoration: none;
			text-transform: uppercase;
		}

		.home-logo {
			order: 0;
		}

		/*
		 * The list may contain a maximum of 11 items (10 links, plus logo).
		 * Therefore the 12th item and after are hidden.
		 */
		li:nth-child(n+12) {
			display: none;
		}

		/*
		 * Selects the last half of items, up to 5.  Examples:
		 * - For a list containing 8 elements, this list will select the last 4.
		 * - For a list containing 9 elements, this list will select the last 4.
		 * - For a list containing 10 elements, this list will select the last 5.
		 * - For a list containing 11 elements, this list will select the last 5.
		 * - For a list containing 12 elements, this list will select the last 5.
		 *
		 * See https://stackoverflow.com/a/15467744
		 */
		li:nth-child(n+2):last-child,
		li:nth-child(n+3):nth-last-child(-n+2),
		li:nth-child(n+4):nth-last-child(-n+3),
		li:nth-child(n+5):nth-last-child(-n+4),
		li:nth-child(n+6):nth-last-child(-n+5) {
			order: 1;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
