.site-header {

	@media screen and (min-width: breakpoint('tablet-landscape')) {

		.site-header-cart {
			top: 0;
			right: $padding__content-desktop;
			position: absolute;

			> li:first-child {
				line-height: $size__header-height-desktop;
			}
		}

		#main-navigation {
			margin-right: 55px;
		}
	}
}
