.site-header {

	@media screen and (min-width: breakpoint('tablet-landscape')) {

		button.search-toggle {
			right: 65px;
			height: $size__header-height-desktop;
		}

		.site-header-cart {
			position: absolute;
		}

		.site-header-cart {
			top: 0;
			right: $padding__content-tablet;
			position: absolute;

			> li:first-child {
				line-height: $size__header-height-desktop;
			}
		}

		#main-navigation {
			margin-right: 75px;
		}

		form.search-form button:before {
			right: $padding__content-tablet + 57px;
		}
	}

	@media screen and (min-width: breakpoint('desktop')) {
		
		.site-header-cart {
			right: 0;
		}

		button.search-toggle {
			right: 30px;
		}
	}
}
