/*--------------------------------------------------------------
Layout - Content Sidebar
--------------------------------------------------------------*/

.content-area {
	float: left;
	margin: 0 (-$size-site-sidebar) 0 0;
	width: $size-site-main;
}

.site-main {
	margin: 0 $size-site-sidebar 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size-site-sidebar;
}

.site-footer {
	clear: both;
	width: $size-site-main;
}
