/*--------------------------------------------------------------
Layout - Sidebar Content
--------------------------------------------------------------*/

.content-area {
	float: right;
	margin: 0 0 0 (-$size-site-sidebar);
	width: $size-site-main;
}

.site-main {
	margin: 0 0 0 $size-site-sidebar;
}

.site-content .widget-area {
	float: left;
	overflow: hidden;
	width: $size-site-sidebar;
}

.site-footer {
	clear: both;
	width: $size-site-main;
}
