@import "variables";
@import "base/functions";
@import "base/mixins";
@import "woocommerce/mixins";
@import "woocommerce/variables";
@import "woocommerce/select2";
@import "woocommerce/checkoutbar";

/**
   * Cart page
   */
table.cart {
    img {
        @apply h-auto;
    }

    td.actions {
        @apply text-right bg-transparent;

        .button {
            @screen lg{
                margin: 0 0 0 5px;
            }
        }

        button,
        input[type=submit] {
            @apply text-sm rounded-sm;
            padding-left: 22px;
            padding-right: 22px;
            color: #111;
        }

        .coupon {
            @apply float-left;

            label {
                @apply hidden;
            }
        }
    }
}


.cart-collaterals {
    @include clearfix();

    @screen lg{
        @apply float-right;
        width: 33%;
    }

    .related {
        @apply float-left;
        width: 30.75%;
    }

    .cross-sells {
        @apply float-left;
        width: 48%;

        ul.products {
            @apply float-none;

            li {
                width: 48%;
            }
        }
    }


}

.woocommerce-shipping-methods,
.woocommerce-shipping-destination{
    @apply mb-2;
}

.woocommerce-shipping-calculator {
    .button {
        @apply w-full;
    }

    .col2-set {
        .col-1,
        .col-2 {
            width: 47%;
        }
    }
}

.shipping-calculator-button{
    @apply underline flex items-center justify-end whitespace-no-wrap mb-1;
    &::after {
        @include iconafter("î€™");
    }
}


.woocommerce-cart-form {
    @screen lg{
        @apply float-left mb-0;
        width: 62%;
    }

    table {
        @screen lg{
            border-width: 0 0 1px;
        }

        img {
            @apply w-8 shadow-none;
        }

        .product-thumbnail {
            min-width: 32px;
            img{
                min-width: 64px;
            }
        }

        th {
            @apply text-gray-600 text-left;

            &.product-subtotal{
                @apply text-right;
            }
        }

        td {
            @apply border-b border-gray-300;

            @screen xl{
              @apply  py-4;
            }
        }

        th,td{
            @apply align-middle;
            @screen lg{
                @apply pl-4;
            }
        }

        td.actions {
            @media screen and (max-width: $tablet) {
                @apply border-b-0;
            }
            .coupon {
                @apply flex;

                .input-text {
                    @apply leading-normal outline-none text-sm border border-secondary;
                    margin: 0 -1px 0 0;

                    @screen lg{
                        width: 200px !important;
                    }
                }
            }
        }

        div.quantity {
            @apply m-0 float-none align-middle;
        }

        input {
            @apply m-0 align-middle;
        }

        small.stock {
            @apply block float-none;
        }
    }

    .group_table {
        td.woocommerce-grouped-product-list-item__label {
            padding-right: 1em;
            padding-left: 1em;
        }

        td {
            @apply align-top pb-2 border-0;
        }

        td:first-child {
            @apply w-16 text-center;
        }

        .wc-grouped-product-add-to-cart-checkbox {
            @apply inline-block w-auto mx-auto my-0;
            transform: scale(1.5, 1.5);
        }
    }

    .variations {
        @apply mb-4 border-0 w-full;

        td,
        th {
            @apply border-0 align-top leading-loose;
        }

        label {
            @apply font-bold;
        }

        td.label {
            @apply pr-4;
        }
    }
}

td.product-name {
    dl.variation, .wc-item-meta {
        list-style: none outside;

        dt, .wc-item-meta-label {
            float: left;
            clear: both;
            margin-right: 0.25em;
            display: inline-block;
            list-style: none outside;
        }

        dd {
            margin: 0;
        }

        p,
        &:last-child {
            margin-bottom: 0;
        }
    }

    p.backorder_notification {
        font-size: 0.83em;
    }

    a {
        @apply text-gray-800;
    }
}

td.product-quantity {
    min-width: 80px;
}

.woocommerce {
    .wc-proceed-to-checkout .button {
        @include button-bg(#3bb54a, darken(#3bb54a, 5%), darken(#3bb54a, 8%));
        color: #fff;
        display: block;
        height: 58px;
        line-height: 58px;
        font-size: 19px;
        padding: 0 1.2em;
        border-radius: 3px;
        border-width: 0;
    }
}

.cart_totals {
    h2{
        @apply mb-2;
    }
    .shop_table {
        border: 1px solid #e2e2e2;
        border-bottom: none;
        table-layout: fixed;
        background-color: #f9f9f9;
        font-size: 15px;
        margin-bottom: 1rem;

        td, th {
            padding: 1em 22px;
            color: #111;
            border-top-width: 0;
            border-bottom: 1px solid #e2e2e2;
        }
    }
}


body table.cart td.product-quantity .qty {
    background-color: #f8f8f8;
    width: 30px;
    margin-right: -2px;
    padding: 8px 0;
    border: none;
    font-size: 13px;
}


table.cart td.product-quantity .quantity-nav {
    right: 28px;
    left: auto;
    width: 26px;

    @screen xl{
        right: auto;
        left: 29px;
    }
}

.cart_item {
    .quantity-button.quantity-down:before,
    .quantity-button.quantity-up:before {
        margin-left: 6px;
    }

    .quantity-button.quantity-up:before {
        position: absolute;
        top: -2px;
        left: 0;
    }

    .quantity-button.quantity-down:before {
        top: -1px;
    }
}
