@import "variables";
@import "base/functions";
@import "base/mixins";
@import "woocommerce/mixins";
@import "woocommerce/variables";
@import "woocommerce/select2";
@import "woocommerce/checkoutbar";

//===================================
// 购物车，结账页面
//===================================

.woocommerce-checkout {

    #order_review_heading {
        @apply hidden;
    }

    #customer_details {
        @screen md {
            @apply float-left;
            width: 57%;
        }
    }

    .wc-proceed-to-checkout {
        @apply px-0 py-4;

        .checkout-button {
            @apply w-full;
            height: 58px;
            line-height: 58px;
        }

        a.checkout-buttons {
            @apply block text-center;
            margin-bottom: 1em;
            font-size: 1.25em;
        }
    }

    .checkout {
        .col-2 {
            h3#ship-to-different-address {
                @apply float-left clear-none;
            }

            .notes {
                @apply clear-left;
            }

            .form-row-first {
                @apply clear-left;
            }
        }

        .create-account small {
            @apply font-normal;
            font-size: 11px;
            color: $subtext;
        }

        .shipping_address {
            @apply clear-both;
        }
    }
}

.woocommerce-checkout-review-order {
    @screen md {
        @apply ml-8 float-right;
        width: calc(43% - 2rem);
        max-width: 480px;
    }
}

// 结账审核订单表
.woocommerce-checkout-review-order-table {
    @apply text-base w-full border-collapse;
    @media screen and (max-width: $phone) {
        &:not(.woocommerce-table--order-details) {
            @apply border-0;
        }
    }

    .shop_table td {
        @apply py-2 px-4;
    }
}

.woocommerce-checkout-payment {
    @apply mt-8;
}

.payment_box {
    @apply relative p-4 my-4 w-full text-sm text-gray-600 box-border leading-normal bg-white;
    border-radius: 2px;

    &::before {
        @apply block absolute left-0;
        content: "";
        border: 1em solid transparent;
        border-bottom-color: #fff;
        top: -0.75em;
        margin: (-1em) 0 0 2em;
    }

    input.input-text, textarea {
        border-color: darken($secondary, 15%);
        border-top-color: darken($secondary, 20%);
    }

    ::-webkit-input-placeholder {
        color: darken($secondary, 20%);
    }

    :-moz-placeholder {
        color: darken($secondary, 20%);
    }

    :-ms-input-placeholder {
        color: darken($secondary, 20%);
    }

    .woocommerce-SavedPaymentMethods {
        @apply m-0 list-none list-outside;

        .woocommerce-SavedPaymentMethods-token,
        .woocommerce-SavedPaymentMethods-new {
            margin: 0 0 0.5em;

            label {
                @apply cursor-pointer;
            }
        }

        .woocommerce-SavedPaymentMethods-tokenInput {
            @apply align-middle relative;
            margin: (-3px) 1em 0 0;
        }
    }

    .wc-credit-card-form {
        @apply border-0 p-0;
        margin: 1em 0 0;
    }

    .wc-credit-card-form-card-number,
    .wc-credit-card-form-card-expiry,
    .wc-credit-card-form-card-cvc {
        @apply p-2 bg-no-repeat;
        font-size: 1.5em;
        background-position: right 0.618em center;
        background-size: 32px 20px;

        &.visa {
            background-image: url("../images/icons/credit-cards/visa.svg");
        }

        &.mastercard {
            background-image: url("../images/icons/credit-cards/mastercard.svg");
        }

        &.laser {
            background-image: url("../images/icons/credit-cards/laser.svg");
        }

        &.dinersclub {
            background-image: url("../images/icons/credit-cards/diners.svg");
        }

        &.maestro {
            background-image: url("../images/icons/credit-cards/maestro.svg");
        }

        &.jcb {
            background-image: url("../images/icons/credit-cards/jcb.svg");
        }

        &.amex {
            background-image: url("../images/icons/credit-cards/amex.svg");
        }

        &.discover {
            background-image: url("../images/icons/credit-cards/discover.svg");
        }
    }

    span.help {
        @apply text-sm font-normal;
        color: $subtext;
    }

    .form-row {
        margin: 0 0 1em;
    }

    p:last-child {
        @apply mb-0;
    }

}

.payment_method_paypal {
    .about_paypal {
        @apply float-right;
        font-size: 0.83em;
        line-height: 32px;
    }

    img {
        @apply align-middle;
        max-height: 52px;
    }
}

.payment_methods {
    @include clearfix;

    li {
        @apply leading-loose text-left mb-2 font-normal;

        input {
            @apply mr-2;

            &[type="radio"] {
                &:active,
                &:focus {
                    @apply shadow-none;
                }
            }
        }

        img {
            @apply inline-block align-middle p-0 relative shadow-none;
            margin: (-2px) 0 0 0.5em;
        }

        img + img {
            margin-left: 2px;
        }

        &:not(.woocommerce-notice) {
            @include clearfix;
        }
    }
}

.woocommerce-billing-fields {
    @apply mb-4;
}

.wc-checkout-form {
    h3,
    &__title {
        @apply font-light;
        font-size: $h3-font-size;
    }
}

.woocommerce-terms-and-conditions {
    margin-bottom: 1.618em;
    padding: 1.618em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.05);
}

.woocommerce-privacy-policy-text {
    @apply text-gray-600 mb-4;
    font-size: 13px;
}

.woocommerce-privacy-policy-link{
    @apply underline;
}

.wc_payment_method {
    @apply p-4 bg-gray-200 border border-gray-300 rounded;
}

.woocommerce-billing-fields,
.woocommerce-shipping-fields {
    @include clearfix();
}

#payment {
    .form-row {
        select {
            @apply w-auto;
        }
    }

    .wc-terms-and-conditions, .terms {
        @apply float-right text-left;
        padding: 0 1em 0 0;
    }
}

.place-order {
    padding: 16px 0 0 !important;
}

.button#place_order {
    display: block;
    line-height: 2;
    font-size: 19px;
    border-width: 0;
    width: 100%;
}

//===================================
// 表单
//===================================
.woocommerce-shipping-methods {
    @apply list-none list-outside m-0 p-0;

    li {
        @apply m-0 list-none list-outside;
        padding: 0.25em 0 0.25em 22px;
        text-indent: -22px;

        input {
            margin: 3px 0.5ex;
        }

        label {
            @apply inline whitespace-no-wrap;
        }
    }

    .amount {
        @apply font-bold;
    }
}

p.woocommerce-shipping-contents {
    margin: 0;
}

.woocommerce .col2-set .col-1,
.woocommerce .col2-set .col-2 {
    float: none;
    width: 100%;
}
