@import "variables";
@import "base/functions";
@import "base/mixins";
@import "woocommerce/mixins";
@import "woocommerce/variables";
@import "woocommerce/gallery";
@import "woocommerce/tabs";

.woocommerce {

    /**
    * Product loops
    */
    ul.products {
        clear: both;
        @include clearfix();
        @apply mt-6 p-0 flex flex-wrap;
        min-width: 100%;
        list-style: none outside;
        width: calc(100% + 30px);
        margin-left: -15px;

        li {
            list-style: none outside;
        }

        li.product {
            @apply bg-white p-4 relative p-0 w-1/2 text-left;
            padding-right: 15px;
            padding-left: 15px;

            @screen lg {
                @apply w-1/4;
            }

            p.product__categories {
                color: #999;
                position: relative;
                z-index: 1;

                a {
                    color: #999;
                    font-size: 11px;
                    text-transform: uppercase;
                }
            }

            .woocommerce-loop-product__title,
            h2 {
                position: relative;
                width: 100%;
                margin-top: 3px;
                margin-bottom: 3px;
                color: #111 !important;
                font-size: 16px
            }

            &:not(.product-category) {
                @apply flex-wrap items-start;
                padding-bottom: 40px;
                transition: all .2s;

                &:before {
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    width: calc(100% + 10px);
                    height: calc(100% + 40px);
                    margin-top: -20px;
                    margin-left: -5px;
                    opacity: 0;
                    background-color: #fff;
                    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                    content: "";
                    transition: all .2s;
                }
            }

            &.product-category {
                img {
                    width: calc(100% - 18px);
                    margin: 10px 0 0 10px;
                    transform: scale(1)
                }

                &:before {
                    position: absolute;
                    left: 0;
                    width: calc(100% - 30px);
                    height: 100%;
                    margin-left: 15px;
                    border: 1px solid #eee;
                    content: ""
                }

                &:hover:before {
                    border-color: #ccc
                }
            }

            h3 {
                margin: 0 0 0.5rem;
                font-size: 1em;
            }

            a {
                @apply relative no-underline;
            }

            img {
                transition: all .2s ease-in-out;
            }

            a img {
                @apply w-full h-auto block shadow-none;
            }

            strong {
                @apply block;
            }

            .star-rating {
                font-size: 0.857em;
                @apply mt-1;
            }

            .button {
                //margin-top: 1em
            }

            .price {
                @apply block relative font-normal my-2;
                color: #111;

                .amount {
                    @apply text-base font-medium;
                }

                //margin-bottom: 0.5em
                //font-size: 0.857em

                del {
                    @apply inline-block opacity-50;
                    color: inherit;
                }

                ins {
                    background: none;
                    font-weight: 700;
                    display: inline-block;
                }

                .from {
                    font-size: 0.67em;
                    margin: (-2px) 0 0 0;
                    text-transform: uppercase;
                    color: rgba(desaturate($highlight, 75%), 0.5);
                }
            }

            .button {
                display: block;
                position: absolute;
                z-index: 1;
                bottom: 0;
                width: calc(100% - 30px);
                height: 40px;
                padding: 0;
                border-radius: 2px;
                color: #fff;
                background: #3bb54a;
                font-size: 14px;
                font-weight: 700;
                line-height: 40px;
                text-align: center;
                transition: all .1s;

                @screen lg {
                    opacity: 0;
                }
            }
        }

        li.product:hover {
            z-index: 2;

            img {
                transform: scale(1.02);
            }

            &:before {
                visibility: visible;
                opacity: 1;
                transition: all .2s
            }

            .woocommerce-LoopProduct-link {
                position: relative;
                z-index: 1
            }

            .added_to_cart,
            .button {
                opacity: 1;
            }
        }

        li.product-type-grouped .price .amount,
        li.product-type-variable .price {
            font-size: 14px
        }

        li.first {
            clear: both;
        }

        li.last {
            @apply mr-0;
        }

        &.columns-1 {
            li.product {
                @apply w-full mr-0;
            }
        }

        &.columns-2 {
            li.product {
                width: 50%;
            }
        }

        &.columns-3 {
            li.product {
                @screen lg {
                    width: 33.3333%;
                }
            }
        }

        &.columns-5 {
            li.product {
                @screen lg {
                    width: 20%;
                }
            }
        }

        &.columns-6 {
            li.product {
                @screen lg {
                    width: 13.6666%;
                }
            }
        }
    }


    //===================================
    // 产品详情页面
    //===================================
    div.product {
        @apply mb-0 relative;

        .product_title {
            clear: none;
            @apply text-2xl mb-2 mt-0 p-0;
        ;
        }

        span.price,
        p.price {
            @apply text-xl;
            color: $highlight;

            ins {
                @apply inline-block;
                background: inherit;
            }

            del {
                @apply inline-block opacity-50;
            }
        }

        .stock {
            color: $success;
        }

        p.stock {
            font-size: 0.92em;
            @apply mb-2;
        }

        .out-of-stock {
            color: red;
        }

        div.summary {
            @screen lg {
                width: 52%;
                @apply pl-10 float-right;
            }
        }

        div.social {
            text-align: right;
            margin: 0 0 1em;

            span {
                margin: 0 0 0 2px;

                span {
                    margin: 0;
                }

                .stButton .chicklets {
                    padding-left: 16px;
                    width: 0;
                }
            }

            iframe {
                float: left;
                margin-top: 3px;
            }
        }

        p.cart {
            @apply mb-8;
            @include clearfix;
        }
    }

}

.product-category,
.type-product {
    .c-product__image {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 200px;
    }
}

.woocommerce-product-rating {
    margin-bottom: 1.618em;
}

.woocommerce-product-details__short-description {
    @apply mt-6 mb-4 text-base;
    p {
        margin-bottom: 1em;
    }
}

.woocommerce {
    .cart button.single_add_to_cart_button {
        @include button-base();
        @include button-bg(#3bb54a, darken(#3bb54a, 3%), darken(#3bb54a, 6%));
        color: #fff;
        float: left;
        width: calc(100% - 95px);
        height: 58px;
        line-height: 58px;
        margin-left: 40px;
        padding: 0 1.2em;
        border-radius: 2px;
        text-transform: uppercase;
        transition: all .2s;
        font-size: 19px;

        &:after {
            top: 19px;
        }

        &.disabled {
            opacity: .65;
        }
    }
}

.woocommerce form select {
    width: 100%;
    max-width: 100%;
    height: 40px;
    margin-bottom: 5px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-indent: .01px;
    text-overflow: "";
    appearance: none;
    -webkit-font-smoothing: inherit;
}

// 商品页面购物车
form.cart {
    @apply flex my-8;
    @include clearfix;

    div.quantity {
        @apply float-left mr-1;
    }

    .woocommerce-variation-description p {
        margin-bottom: 1em;
    }

    .single_variation_wrap {
        @apply w-full;
    }

    .reset_variations {
        visibility: hidden;
        font-size: 0.83em;
    }

    .wc-no-matching-variations {
        @apply hidden;
    }

    .button {
        @apply float-left align-middle;
    }
}

.product .cart .quantity .input-text {
    width: 50px;
    height: 58px;
    padding: .5rem;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    box-shadow: none;
    font-size: 17px;
    font-weight: 400;
    border-radius: 0;
}

.rs-wc-sorting {
    @include clearfix;
}
