/**
 * woocommerce.scss
 * Governs the general look and feel of WooCommerce sections of stores using themes that do not
 * integrate with WooCommerce specifically. */
/**
 * Imports */
@import "variables";
@import "base/functions";
@import "base/mixins";
@import "variables";

@import "../fonts/icomoon/variables";
@import "woocommerce/mixins";
@import "woocommerce/variables";
@import "woocommerce/animation";
@import "woocommerce/fonts";
@import "woocommerce/wc-quantity-increment";
@import "woocommerce/layout";
@import "woocommerce/table";
@import "woocommerce/form";
@import "woocommerce/button";
@import "woocommerce/smallscreen";
@import "woocommerce/message";
@import "woocommerce/pagination";
@import "woocommerce/breadcrumb";
@import "woocommerce/sort-filter";
@import "woocommerce/star-rating";
@import "woocommerce/onsale";
@import "woocommerce/variations";
@import "woocommerce/mini-cart";

[class^="wpion-"], [class*=" wpion-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.woocommerce {
    @apply w-full;

    .button {
        @include button-base();
        @include button-bg(#f3f3f3, darken(#f3f3f3, 3%), darken(#f3f3f3, 6%));
        @include button-border(#ddd, #dadada, #d3d3d3);
        border-radius: 3px;
        padding: 0 1rem;

        &.alt {
            @include button-bg(#3bb54a, darken(#3bb54a, 3%), darken(#3bb54a, 6%));
            @include button-border(darken(#3bb54a, 3%), darken(#3bb54a, 6%), darken(#3bb54a, 9%));
            color: #fff;
        }
    }
}

.post-type-archive .site__shop,
.tax-product_cat .site__shop,
.tax-product_tag .site__shop {
    @apply py-8;
}

/**
 * Utility classes */
.clear {
    clear: both;
}


.woocommerce-page {
    @apply bg-white;

    .quantity.hidden {
        display: none;
    }
}

/**
 * Main WooCommerce styles */
.woocommerce {
    .blockUI.blockOverlay {
        position: relative;

        @include loader;
    }

    .loader {
        @include loader;
    }

    a.remove {
        @apply mr-4 text-center leading-none rounded-full font-medium border-0 text-gray-500;
        font-size: 1.5em;
        height: 1em;
        width: 1em;

        // Required for default theme compatibility
        text-decoration: none;
        font-family: monospace;

        &:hover {
            @apply text-gray-700;
        }

        @screen md {
            @apply block mx-auto;
        }
    }

    small.note {
        display: block;
        color: $subtext;
        font-size: $text-small-font-size;
        margin-top: 10px;
    }

    #TB_title {
        background: transparent;
        border: none;
    }

    #TB_ajaxContent {
        box-sizing: content-box;
        width: auto !important;
        height: auto !important;
        max-height: 600px;
        padding: 0 32px 15px 32px;
    }

    #TB_closeWindowButton {
        &:focus {
        }
    }

    .thickbox-loading {
        .product_list_widget li {
            @apply py-4;
        }
    }

    .checkout_coupon {
        @apply bg-white;
    }

    .page-title {
        @apply text-xl mb-4;
    }

}

.woocommerce-no-js {
    form.woocommerce-form-login,
    form.woocommerce-form-coupon {
        display: block !important;
    }

    .woocommerce-form-login-toggle,
    .woocommerce-form-coupon-toggle,
    .showcoupon {
        display: none !important;
    }
}

.woocommerce-order-details__title,
.woocommerce-column__title {
    @apply font-light text-xl mb-4;
}

.woocommerce-loop-product__title,
.woocommerce-loop-category__title {
    @apply text-base font-normal mt-2 text-gray-800;

    mark {
        font-weight: 400;
    }
}

.woocommerce-loop-product__link {
    img {
        @apply mx-auto;
    }
}

.woocommerce-invalid {
    #terms {
        outline: 2px solid red;
        outline-offset: 2px;
    }
}

.required {
    @apply text-red-700 font-bold no-underline;
    border: 0 !important;
}

.product_type_grouped,
.product_type_variable {
    color: #999;
    min-width: 44px;
}

.woocommerce-order-pay {
    .woocommerce {
        @apply w-full mx-auto;
        @screen md {
            @apply w-2/3;
        }

        #payment {
            @apply mt-8;
        }
    }
}

body .shoptimizer-mini-cart-wrap {
    overflow: hidden;
    position: fixed;
    z-index: 101;
    top: 0;
    right: -370px;
    left: auto;
    width: 370px;
    height: 100%;
    background-color: #fff;
    transition: all .5s
}

body.woocommerce-demo-store .shoptimizer-mini-cart-wrap {
    z-index: 10000
}

.shoptimizer-mini-cart-wrap div.blockOverlay {
    background-color: transparent !important
}

#ajax-loading {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-left: -35px
}

.spinner {
    position: relative;
    top: 50%;
    width: 70px;
    margin: -9px auto 0;
    text-align: center
}

.spinner > div {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #dc9814;
    animation: a 1.4s infinite ease-in-out both
}

.spinner .bounce1 {
    animation-delay: -.32s
}

.spinner .bounce2 {
    animation-delay: -.16s
}

@keyframes a {
    0%, 80%, to {
        transform: scale(0)
    }

    40% {
        transform: scale(1)
    }
}

body.admin-bar .shoptimizer-mini-cart-wrap {
    top: 32px
}

.admin-bar.customize-partial-edit-shortcuts-shown .shoptimizer-mini-cart-wrap {
    top: 0
}

body.drawer-open {
    overflow: hidden;
    position: relative
}

body.admin-bar.customize-partial-edit-shortcuts-shown .shoptimizer-mini-cart-wrap .widget_shopping_cart {
    height: 100%
}

body.drawer-open .shoptimizer-mini-cart-wrap {
    overscroll-behavior: contain;
    right: 0
}

body.drawer-open {
    height: 100%
}

@media (min-width: 993px) {
    body.drawer-open:before {
        display: block;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 1000%;
        background: rgba(0, 0, 0, .7);
        content: "";
        cursor: pointer;
        transition: opacity .5s, visibility .5s
    }
}

.shoptimizer-mini-cart-wrap .widget_shopping_cart h2.widgettitle {
    display: none
}

.shoptimizer-mini-cart-wrap .widget_shopping_cart .product_list_widget {
    overflow-y: scroll;
    height: calc(100vh - 245px);
    height: calc((var(--vh, 1vh) * 100) - 245px);
    border-bottom-right-radius: 20px;
    -webkit-overflow-scrolling: touch;
    box-shadow: inset 0 -15px 15px -15px rgba(0, 0, 0, .06)
}

.widget_shopping_cart .product_list_widget::-webkit-scrollbar {
    width: 0 !important
}

.widget_shopping_cart .product_list_widget {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none
}

.admin-bar .shoptimizer-mini-cart-wrap .widget_shopping_cart .product_list_widget {
    height: calc(100vh - 275px)
}

body .shoptimizer-mini-cart-wrap .widget_shopping_cart {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    -webkit-overflow-scrolling: touch;
    z-index: 10;
    top: auto;
    left: auto;
    height: 100%;
    margin: 0;
    padding: 45px 20px 0;
    background: #fff;
    font-size: inherit
}

.shoptimizer-mini-cart-wrap .close-drawer {
    position: absolute;
    z-index: 99;
    top: 15px;
    right: 20px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    transition: opacity .3s
}

.shoptimizer-mini-cart-wrap .close-drawer:after,
.shoptimizer-mini-cart-wrap .close-drawer:before {
    position: absolute;
    left: 0;
    width: 2px;
    height: 15px;
    background-color: #333;
    content: ""
}

.close-drawer::before {
    transform: rotate(45deg);
}

.close-drawer::after {
    transform: rotate(-45deg);
}

.site-header-cart a.cart-contents .count {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
    margin-left: 5px;
    padding: 3px;
    border: 1px solid $primary;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    color: $primary;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.7px;

    &::after {
        position: absolute;
        bottom: 90%;
        left: 50%;
        width: 10px;
        height: 6px;
        margin-bottom: 1px;
        margin-left: -6px;
        border: 1px solid $primary;
        border-bottom: 0;
        border-top-left-radius: 99px;
        border-top-right-radius: 99px;
        content: ""
    }
}
