/**
 * woocommerce.scss
 * Governs the general look and feel of WooCommerce sections of stores using themes that do not
 * integrate with WooCommerce specifically. */
/**
 * Imports */
@import "variables";
@import "base/functions";
@import "base/mixins";
@import "variables";

@import "../fonts/icomoon/variables";
@import "woocommerce/mixins";
@import "woocommerce/variables";
@import "woocommerce/animation";
@import "woocommerce/fonts";
@import "woocommerce/wc-quantity-increment";
@import "woocommerce/layout";
@import "woocommerce/table";
@import "woocommerce/tabs";
@import "woocommerce/form";
@import "woocommerce/button";
@import "woocommerce/smallscreen";
@import "woocommerce/message";
@import "woocommerce/pagination";
@import "woocommerce/breadcrumb";
@import "woocommerce/sort-filter";
@import "woocommerce/star-rating";
@import "woocommerce/onsale";
@import "woocommerce/variations";

[class^="wpion-"], [class*=" wpion-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.woocommerce{
    @apply w-full;
}

/**
 * Utility classes */
.clear {
    clear: both;
}


.woocommerce-page {
    @apply bg-white;

    .quantity.hidden {
        display: none;
    }
}

/**
 * Main WooCommerce styles */
.woocommerce {
    .blockUI.blockOverlay {
        position: relative;

        @include loader;
    }

    .loader {
        @include loader;
    }

    a.remove {
        @apply mr-4 text-center leading-none rounded-full font-medium border-0;
        font-size: 1.5em;
        height: 1em;
        width: 1em;
        color: red !important;

        // Required for default theme compatibility
        text-decoration: none;
        font-family: monospace;

        &:hover {
            color: #fff !important;

            // Required for default theme compatibility
            background: red;
        }

        @screen md {
            @apply block mx-auto;
        }
    }

    small.note {
        display: block;
        color: $subtext;
        font-size: $text-small-font-size;
        margin-top: 10px;
    }

    #TB_title {
        background: transparent;
        border: none;
    }

    #TB_ajaxContent {
        box-sizing: content-box;
        width: auto !important;
        height: auto !important;
        max-height: 600px;
        padding: 0 32px 15px 32px;
    }

    #TB_closeWindowButton {
        &:focus {
        }
    }

    .thickbox-loading {
        .product_list_widget li {
            @apply py-4;
        }
    }

    .checkout_coupon {
        @apply bg-white;
    }

    .page-title {
        @apply text-xl mb-4;
    }

}

.woocommerce-no-js {
    form.woocommerce-form-login,
    form.woocommerce-form-coupon {
        display: block !important;
    }

    .woocommerce-form-login-toggle,
    .woocommerce-form-coupon-toggle,
    .showcoupon {
        display: none !important;
    }
}

.woocommerce-order-details__title,
.woocommerce-column__title {
    @apply font-light text-xl mb-4;
}

.woocommerce-loop-product__title,
.woocommerce-loop-category__title {
    @apply text-base font-normal mt-2 text-gray-800;

    mark {
        font-weight: 400;
    }
}

.woocommerce-loop-product__link {
    img {
        @apply mx-auto;
    }
}

.woocommerce-invalid {
    #terms {
        outline: 2px solid red;
        outline-offset: 2px;
    }
}

.required {
    @apply text-red-700 font-bold no-underline;
    border: 0 !important;
}

.product_type_grouped,
.product_type_variable {
    @extend [class^="wpion-"];
    color: #999;
    min-width: 44px;

    &:before {
        content: $wpion-info1;
    }
}

.woocommerce-order-pay {
    .woocommerce {
        @apply w-full mx-auto;
        @screen md {
            @apply w-2/3;
        }

        #payment {
            @apply mt-8;
        }
    }
}

.c-product {
    padding: 16px;
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
    min-height: 100%;

    &__image {
        flex-wrap: wrap;
        position: relative;
    }

    &__content {
        text-align: center;
        padding: 8px 0 0;
    }

    &__footer {

    }

    &__price {
        text-align: center;
        @apply mt-2;
    }

    &__action {
        @apply p-2;
        align-self: flex-end;
        position: absolute;
        width: 100%;
        @apply p-2;
        background: rgba(0, 0, 0, .5);
        opacity: 0;
        transition: .3s;
    }

    &__info {
        text-align: center;
        margin-top: 8px;
    }

    .woocommerce-Price-amount {
        color: $primary;
        font-size: 16px;
        font-weight: 400;
    }

    del {
        .woocommerce-Price-amount {
            color: theme('colors.gray.600');
            font-weight: 300;
        }
    }

    &:hover {
        outline: 1px solid $primary;
        position: relative;
        z-index: 1;

        a {
            color: $primary;
        }
    }
}
