/**
 * woocommerce.scss
 * Governs the general look and feel of WooCommerce sections of stores using themes that do not
 * integrate with WooCommerce specifically. */
/**
 * Imports */
@import "variables";
@import "base/functions";
@import "base/mixins";
@import "variables";

@import "../fonts/icomoon/variables";
@import "woocommerce/mixins";
@import "woocommerce/variables";
@import "woocommerce/animation";
@import "woocommerce/fonts";
@import "woocommerce/wc-quantity-increment";
@import "woocommerce/layout";
@import "woocommerce/table";
@import "woocommerce/form";
@import "woocommerce/button";
@import "woocommerce/message";
@import "woocommerce/pagination";
@import "woocommerce/breadcrumb";
@import "woocommerce/sort-filter";
@import "woocommerce/star-rating";
@import "woocommerce/onsale";
@import "woocommerce/variations";
@import "woocommerce/mini-cart";
@import "woocommerce/drawer";
@import "woocommerce/smallscreen";

[class^="wpion-"], [class*=" wpion-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.woocommerce {
    @apply w-full;
}

.woocommerce_sidebar{
    @screen lg{
      @apply mr-8;
    }
}

.site__shop{
    @apply flex w-full;
}

.post-type-archive .site__shop,
.tax-product_cat .site__shop,
.tax-product_tag .site__shop {
    @apply py-8;
}

/**
 * Utility classes */
.clear {
    clear: both;
}


.woocommerce-page {
    @apply bg-white;

    .quantity.hidden {
        display: none;
    }
}

/**
 * Main WooCommerce styles */
.woocommerce {
    .blockUI.blockOverlay {
        position: relative;

        @include loader;
    }

    .loader {
        @include loader;
    }

    a.remove {
        @apply mr-4 text-center leading-none rounded-full font-medium border-0 text-gray-500;
        font-size: 1.5em;
        height: 1em;
        width: 1em;

        // Required for default theme compatibility
        text-decoration: none;
        font-family: monospace;

        &:hover {
            @apply text-gray-700;
        }

        @screen xl {
            @apply block mx-auto;
        }
    }

    small.note {
        display: block;
        color: $subtext;
        font-size: $text-small-font-size;
        margin-top: 10px;
    }

    #TB_title {
        background: transparent;
        border: none;
    }

    #TB_ajaxContent {
        box-sizing: content-box;
        width: auto !important;
        height: auto !important;
        max-height: 600px;
        padding: 0 32px 15px 32px;
    }

    #TB_closeWindowButton {
        &:focus {
        }
    }

    .thickbox-loading {
        .product_list_widget li {
            @apply py-4;
        }
    }

    .checkout_coupon {
        @apply bg-white;
    }

    .page-title {
        @apply text-xl mb-4;
    }

}

.woocommerce-no-js {
    form.woocommerce-form-login,
    form.woocommerce-form-coupon {
        display: block !important;
    }

    .woocommerce-form-login-toggle,
    .woocommerce-form-coupon-toggle,
    .showcoupon {
        display: none !important;
    }
}

.woocommerce-order-details__title,
.woocommerce-column__title {
    @apply font-light text-xl mb-4;
}

.woocommerce-loop-product__title,
.woocommerce-loop-category__title {
    @apply text-base font-normal mt-2 text-gray-800;

    mark {
        font-weight: 400;
    }
}

.woocommerce-loop-product__link {
    img {
        @apply mx-auto;
    }
}

.woocommerce-invalid {
    #terms {
        outline: 2px solid red;
        outline-offset: 2px;
    }
}

.required {
    @apply text-red-700 font-bold no-underline;
    border: 0 !important;
}

.product_type_grouped,
.product_type_variable {
    color: #999;
    min-width: 44px;
}


.woocommerce-order-pay {
    .woocommerce {
        @apply w-full mx-auto;
        @screen md {
            @apply w-2/3;
        }

        #payment {
            @apply mt-8;
        }
    }
}


.woocommerce-mini-cart__empty-message{
    &:before{
        @apply mx-auto block mb-8;
        content: ' ';
        background: url("../images/empty-cart.svg") center center no-repeat;
        background-size: contain;
        height: 128px;
    }
}
