/* Inherit box-sizing to more easily change it's value on a component level.
(http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Includes border and padding in the value specified for width and height. */
html {
	box-sizing: border-box;
}

/* Fallback for when there is no custom background color defined. */
body {
	background: $color__background-body;
}

blockquote,
q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

/* Make sure images are scaled correctly and adhere to the container width. */
img {
	height: auto;
	max-width: 100%;
}

/* Extra wide images within figure tags don't overflow the content area. */
figure {
	margin: 1em 0;
}

@import "tables";
