ul,
ol {
	@include rem( "margin", 0 0 $spacing $spacing );
	@include rem( "padding-left", $spacing );
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	@include rem( "margin-left", $spacing );
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd {
	@include rem( "margin", 0 $spacing $spacing );
}
