ul, ol {
	margin: 0 0 $size__site-spacing $size__site-spacing * 2;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $size__site-spacing;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $size__site-spacing $size__site-spacing;
}