.wp-block-columns.wp-block-atf {
	display: block;
	padding-left: 0;
	padding-right: 0;
	margin-left: -#{$padding__content-mobile};
	margin-right: -#{$padding__content-mobile};
	padding-top: 0;
	padding-bottom: 0;

	.wp-block-column {
		margin: 0;
		padding: 0;
	}

	.wp-block-column--media {

		img {
			width: 100%;
			display: block;
		}
	}

	.wp-block-column--content {
		padding: 20px $padding__content-mobile;

		h1, h2, .is-style-pretitle {
			margin-top: 0;
		}
	}

	@media screen and (min-width: breakpoint('phone')) {

		.wp-block-column--content {
			padding: 20px 40px;
		}
	}

	@media screen and (min-width: 600px) {

		.wp-block-column--content {
			padding: 20px $padding__content-mobile;
		}
	}

	@media screen and (min-width: 768px) {
		position: relative;

		.wp-block-column--media {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;

			img {
				height: 100%;
				object-fit: cover;
			}
		}

		.wp-block-column--content {
			position: relative;
			z-index: 1;
			width: 50%;
			padding: 40px;
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		margin-left: -#{$padding__content-desktop};
		margin-right: -#{$padding__content-desktop};
	}

	.buttons-group {
		padding-top: 0;
		padding-bottom: 0;
		text-align: center;

		.wp-block-column {
			margin-right: auto;
			margin-left: auto;

			.wp-block-button__link {
				width: 100%;
			}
		}

		@media screen and (min-width: 480px) and (max-width: 559px), (min-width: 768px) {

			.wp-block-column {
				width: 100%;
			}
		}

		@media screen and (min-width: 560px) and (max-width: 767px), (min-width: 1100px) {
			text-align: center;

			.wp-block-column {
				max-width: none;
				width: 49%;
				margin-right: 2%;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}
}

.wp-block-columns.is-style-left-margin {

	@media screen and (min-width: 768px) {

		.wp-block-column--content {
			width: calc(50% - #{$padding__content-mobile});
			margin-left: $padding__content-mobile;
			padding-right: $padding__content-mobile;
			padding-left: $padding__content-mobile;
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {

		.wp-block-column--content {
			width: calc(50% - #{$padding__content-desktop});
			margin-left: $padding__content-desktop;
			padding-right: 40px;
			padding-left: 40px;
		}
	}
}

.wp-block-columns.is-style-boxed {

	@media screen and (min-width: 768px) {
		padding: $padding__content-mobile;

		.wp-block-column--content {
			padding-right: $padding__content-mobile;
			padding-left: $padding__content-mobile;
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		padding: $padding__content-desktop;

		.wp-block-column--content {
			padding-right: 40px;
			padding-left: 40px;
		}
	}
}
