@keyframes slideRight {

	0%,
	100% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(8px, 0);
	}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-20%)
    }

    100% {
        opacity: 1;
        transform: translateX(0%)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20%)
    }

    100% {
        opacity: 1;
        transform: translateX(0%)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}