.has-dark-background,
.has-gradient-background,
.has-alpha-dark-background {
	color: #fff;

	ol li:before,
	ul li:before,
	h1, h2, h3, h4, h5, h6,
	.is-style-subtitle,
	.is-style-pretitle {
		color: #fff;
	}

	.wp-block-button.is-style-outline .wp-block-button__link {
		color: #fff;
		border-color: #fff;

		&:hover {
			color: #fff;
			box-shadow: 0 0 0 1px #fff;
			border-color: #fff;
		}

		&:active,
		&:focus {
			background: rgba(255,255,255,.15);
			color: #fff;
			border-color: #fff;
		}
	}
}

.has-primary-background {
	background: $color__corporate;
}

.has-secondary-background {
	background: $color__corporate-secondary;
}

.has-tertiary-background {
	background: $color__corporate-tertiary;
}

.has-dark-background {
	background: $color__background-dark;
}

.has-light-background {
	background: $color__background-light;
}

.has-gradient-background {
	background: $color__corporate-gradient;
}

.has-alpha-dark-background {
	background: $color__background-alpha-dark;
}

.has-alpha-light-background {
	background: $color__background-alpha-light;
}

.has-white-background {
	background: #fff;
}

/*--------------------------------------------------------------
# Block types
--------------------------------------------------------------*/
@import "media-and-text";
@import "columns";
@import "above-the-fold";
@import "faq";
@import "cards";
@import "form-and-image";
@import "offer-block";
@import "clients-gallery";
@import "method-block";
@import "testimonials";
@import "rating";
@import "latest-posts";
@import "separator";
@import "animations";
@import "warranty";
@import "team";
@import "map-and-info";
