.has-dark-gray-background-color,
.has-gradient-background-color,
.has-alpha-dark-background-color,
.has-primary-background-color,
.has-secondary-background-color {
	color: #fff;

	ol li:before,
	ul li:before,
	h1, h2, h3, h4, h5, h6,
	.is-style-subtitle,
	.is-style-pretitle {
		color: #fff;
	}

	.wp-block-button.is-style-outline .wp-block-button__link {
		color: #fff;
		border-color: #fff;

		&:hover {
			color: #fff;
			box-shadow: 0 0 0 1px #fff;
			border-color: #fff;
		}

		&:active,
		&:focus {
			background: rgba(255,255,255,.15);
			color: #fff;
			border-color: #fff;
		}
	}
	
	.wp-block-svbk-profile:not(.has-background) .wp-block-button__link {
		color: #fff;
		
		&:hover {
			background: rgba(255,255,255,.15);
		}
		
		&:active,
		&:focus {
			background: rgba(255,255,255,.2);
		}
	}
}

.has-primary-background-color {
	background: $color__corporate;
}

.has-secondary-background-color {
	background: $color__corporate-secondary;
}

.has-tertiary-background-color {
	background: $color__corporate-tertiary;
}

.has-dark-gray-background-color {
	background: $color__background-dark;
}

.has-light-gray-background-color {
	background: $color__background-light;
}

.has-gradient-background-color {
	background: $color__corporate-gradient;
}

.has-alpha-dark-background-color {
	background: $color__background-alpha-dark;
}

.has-alpha-light-background {
	background: $color__background-alpha-light;
}

.has-white-background-color {
	background: #fff;
}

/*--------------------------------------------------------------
# Block types
--------------------------------------------------------------*/
@import "above-the-fold";
@import "animations";
@import "call-us";
@import "cards/cards";
@import "clients-gallery";
@import "columns";
@import "collapse";
@import "form-and-image";
@import "grid-layout";
@import "group";
@import "icon-paragraph";
@import "latest-posts";
@import "map";
@import "media-and-text";
@import "method-block";
@import "offer-block";
@import "publication";
@import "rating";
@import "separator";
@import "team";
@import "testimonials";
@import "warranty";
