.wp-block-svbk-call-us {
	@include font-size(1.2);
	width: 100%;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	margin: 15px 0 20px;
	padding: 25px 20px;
	text-align: center;
	background: $color__background-light;
	color: $color__text-main;

	.callus__title {
		@include font-size(1.3);
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 8px;
		display: block;
		color: $color__text-main;
	}

	.callus__text {
		@include font-size(1);
		margin: 10px 0;
		display: none;
	}

	&.has-light-background a:before {
		color: $color__background-light;
	}

	&.has-dark-background,
	&.has-secondary-background {
		color: #fff;

		a:after {
			color: #fff;
		}
	}

	&.has-secondary-background a:before {
		color: $color__corporate-secondary;
	}

	&.has-dark-background a:before {
		color: $color__background-dark;
	}

	@media screen and (min-width: 600px) {
		margin: 15px 0;
	}
	
	@media screen and (min-width: breakpoint('phone')) {
		
		.callus__text {
			display: block;
		}
	}
}