.is-style-simple-cards,
.is-style-icon-cards,
.is-style-image-cards,
.is-style-stats-cards {
	padding-top: 20px;
	padding-bottom: 20px;
}

.wp-block-columns {

	&.is-style-simple-cards,
	&.is-style-icon-cards,
	&.is-style-stats-cards {

		@media screen and (min-width: 600px) {
			justify-content: center;
			flex-wrap: wrap;

			> .wp-block-column {
				flex-basis: 49%;
			}
		}

		@media screen and (max-width: breakpoint('tablet-landscape')) {

			&:nth-of-type(even) {
				margin-right: 0;
			}
		}

		@media screen and (min-width: breakpoint('tablet-landscape')) {

			&.has-3-columns,
			&.has-5-columns,
			&.has-6-columns,
			&.has-7-columns {

				> .wp-block-column {
					flex-basis: 32%;

					&:nth-of-type(even) {
						margin-right: 2%;
					}

					&:nth-of-type(3n + 3) {
						margin-right: 0;
					}
				}
			}

			&.has-4-columns {

				> .wp-block-column {
					flex-basis: 23%;
				}
			}
		}
	}
}

.is-style-icon-cards,
.is-style-image-cards {

	.wp-block-column {
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	}

	h2, h3 {
		background: $color__corporate;
		color: #fff;
		margin-top: 0;
	}

	.wp-block-image {
		margin: 0;

		img {
			display: block;
		}
	}

	.is-style-pros {
		background: $color__background-light;
		padding: 10px 10px 5px 2.6em;
		margin-bottom: 25px;
	}
}

.is-style-simple-cards,
.is-style-icon-cards {

	h2, h3 {
		@include font-size(1.3);
	}

	.wp-block-image {
		margin-left: auto;
		margin-right: auto;
	}
}

.is-style-simple-cards {

	.wp-block-image {
		width: 60px;
		height: 60px;
	}
}

.is-style-icon-cards {

	.wp-block-column {
		background: $color__background-light;
		margin-top: 50px;

		&:first-of-type {
			padding: 0 20px;
		}

		h2, h3 {
			padding: 5px 15px;
			position: relative;
			display: inline-block;
			left: 50%;
			transform: translateX(-50%);
			margin: -10px 0 0;
			max-width: calc(100% - 30px);
		}

		.wp-block-image {
			height: 80px;
			width: 80px;
			text-align: center;
			margin: -40px auto 0;
			border: 2px solid $color__corporate;
			border-radius: 50%;
			padding: 15px;
			background: #fff;

			img {
				height: 50px;
				width: 50px;
				object-fit: contain;
			}
		}
	}
}

.is-style-image-cards {

	.wp-block-column {
		padding: 0 15px;
	}

	.wp-block-image,
	h2, h3 {
		margin-left: -15px;
		margin-right: -15px;
	}

	.wp-block-image {
		max-width: none;
	}

	h2, h3 {
		@include font-size(1.8);
		padding: 5px 15px;
	}
}

.is-style-stats-cards {
	text-align: center;

	p {
		margin: 0;
	}

	em, strong {
		line-height: normal;
	}

	em {
		@include font-size(3);
		font-weight: bold;
		font-style: normal;
	}

	strong {
		display: block;
		padding-top: 10px;
		border-top: 1px solid #eee;
	}

	.wp-block-column {
		margin-top: 30px;

		em:before {
			font-weight: normal;
			color: $color__corporate;
			margin-right: 20px;
		}

		&:first-of-type em:before {
			@include icon-content('\e915');
		}

		&:nth-of-type(2) em:before {
			@include icon-content('\e914');
		}

		&:nth-of-type(3) em:before {
			@include icon-content('\e916');
		}
	}

	@media screen and (min-width: 600px) {

		.wp-block-column {
			margin-top: 0;
		}
	}
}
