.wp-block-svbk-card {
	margin-top: 20px;
	
	.wp-block-svbk-card__picture {
		margin: 0;
		
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	.wp-block-svbk-card__title {
		@include font-size(1.3);
		margin-top: 15px;
		margin-bottom: 15px;
	}
	
	.wp-block-svbk-card__subtitle {
		font-weight: bold;
		@include font-size(1.1);
		margin-top: 0;
		margin-bottom: 10px;
	}
	
	.wp-block-svbk-card__content {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	.wp-block-svbk-card__link {
		display: block;
		
		&:after {
			@include icon-content('\e922');
			@include font-size(.8);
			margin-left: 5px;
		}
	}
	
	&.is-style-bullet,
	&.is-style-preview,
	&.is-style-profile {
    	padding-bottom: 25px;
		box-shadow: 0 1px 5px rgba(0,0,0,.2);
		
		.wp-block-svbk-card__title {
			background: $color__corporate;
			color: #fff;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-top: 0;
		}
		
		@media screen and (min-width: 600px) {
			
			.wp-block-columns & {
				margin-left: -2%;
				margin-right: -2%;
			}
		}
	}
	
	&.is-style-bullet,
	&.is-style-profile {
		background: $color__background-light;
		position: relative;
		
		.wp-block-svbk-card__picture {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			
			img {
				border-radius: 50%;
				object-fit: cover;
			}
		}
		
		.wp-block-svbk-card__title {
			display: inline-block;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			padding-left: 15px;
			padding-right: 15px;
			text-align: center;
		}
	}
	
	&.is-style-preview,
	&.is-style-profile {
		
		.wp-block-svbk-card__title,
		.wp-block-svbk-card__subtitle,
		.wp-block-svbk-card__content {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		.wp-block-svbk-card__link {
			margin-left: 15px;
			margin-right: 15px;
		}
	}
	
	&.is-style-default {

		.wp-block-svbk-card__picture {
			
			img {
				max-width: 100px;
				max-height: 100px;
			}
		}
	}
	
	&.is-style-bullet {
    	padding-left: 20px;
    	padding-right: 20px;
		padding-top: 40px;
		margin-top: 70px;

		.wp-block-svbk-card__picture {
			top: -50px;
			
			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				border: 2px solid $color__corporate;
			}
		}
	}
	
	&.is-style-preview {
		
		.wp-block-svbk-card__title {
			@include font-size(1.8);
		}
	}
	
	&.is-style-profile {
		margin-top: 95px;
		padding-top: 60px;
		
		.wp-block-svbk-card__picture {
			top: -75px;
			
			img {
				width: 150px;
				height: 150px;
				border: 2px solid $color__corporate;
			}
		}
	}
}

.is-style-simple-cards,
.is-style-icon-cards,
.is-style-image-cards,
.is-style-stats-cards {
	padding-top: 20px;
	padding-bottom: 20px;
}

.wp-block-columns {

	&.is-style-simple-cards,
	&.is-style-icon-cards,
	&.is-style-stats-cards {

		@media screen and (min-width: 600px) {
			justify-content: center;
			flex-wrap: wrap;

			> .wp-block-column {
				flex-basis: 49%;
			}
		}

		@media screen and (max-width: breakpoint('tablet-landscape')) {

			> .wp-block-column:nth-of-type(even) {
				margin-right: 0;
			}
		}

		@media screen and (min-width: breakpoint('tablet-landscape')) {

			&.has-3-columns,
			&.has-5-columns,
			&.has-6-columns,
			&.has-7-columns {

				> .wp-block-column {
					flex-basis: 32%;

					&:nth-of-type(even) {
						margin-right: 2%;
					}

					&:nth-of-type(3n + 3) {
						margin-right: 0;
					}
				}
			}

			&.has-4-columns {

				> .wp-block-column {
					flex-basis: 23%;
				}
			}
		}
	}
}

.is-style-icon-cards,
.is-style-image-cards {

	.wp-block-column {
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	}

	h2, h3 {
		background: $color__corporate;
		color: #fff;
		margin-top: 0;
	}

	.wp-block-image {
		margin: 0;

		img {
			display: block;
		}
	}

	.is-style-pros {
		background: $color__background-light;
		padding: 10px 10px 5px 2.6em;
		margin-bottom: 25px;
	}
}

.is-style-simple-cards,
.is-style-icon-cards {

	h2, h3 {
		@include font-size(1.3);
	}

	.wp-block-image {
		margin-left: auto;
		margin-right: auto;
	}
}

.is-style-simple-cards {

	.wp-block-image {
		width: 60px;
		height: 60px;
	}
}

.is-style-icon-cards {

	.wp-block-column {
		background: $color__background-light;
		margin-top: 50px;

		&:first-of-type {
			padding: 0 20px;
		}

		h2, h3 {
			padding: 5px 15px;
			position: relative;
			display: inline-block;
			left: 50%;
			transform: translateX(-50%);
			margin: -10px 0 0;
			max-width: calc(100% - 30px);
		}

		.wp-block-image {
			height: 80px;
			width: 80px;
			text-align: center;
			margin: -40px auto 0;
			border: 2px solid $color__corporate;
			border-radius: 50%;
			padding: 15px;
			background: #fff;

			img {
				height: 50px;
				width: 50px;
				object-fit: contain;
			}
		}
	}
}

.is-style-image-cards {

	.wp-block-column {
		padding: 0 15px;
	}

	.wp-block-image,
	h2, h3 {
		margin-left: -15px;
		margin-right: -15px;
	}

	.wp-block-image {
		max-width: none;
	}

	h2, h3 {
		@include font-size(1.8);
		padding: 5px 15px;
	}
}

.is-style-stats-cards {
	text-align: center;

	p {
		margin: 0;
	}

	em, strong {
		line-height: normal;
	}

	em {
		@include font-size(3);
		font-weight: bold;
		font-style: normal;
	}

	strong {
		display: block;
		padding-top: 10px;
		border-top: 1px solid #eee;
	}

	.wp-block-column {
		margin-top: 30px;

		em:before {
			font-weight: normal;
			color: $color__corporate;
			margin-right: 20px;
		}

		&:first-of-type em:before {
			@include icon-content('\e915');
		}

		&:nth-of-type(2) em:before {
			@include icon-content('\e914');
		}

		&:nth-of-type(3) em:before {
			@include icon-content('\e916');
		}
	}

	@media screen and (min-width: 600px) {

		.wp-block-column {
			margin-top: 0;
		}
	}
}
