.wp-block-svbk-trust {
	text-align: center;
	position: relative;
	background: $color__background-light;
	//delete/edit when trust block will be a thing
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 15px !important;
	padding-left: $padding__content-mobile;
	padding-right: $padding__content-mobile;
	margin-left: -$padding__content-mobile;
	margin-right: -$padding__content-mobile;
    
    @media screen and (min-width: breakpoint('tablet-landscape')) {
        margin-left: -$padding__content-tablet;
		margin-right: -$padding__content-tablet;
		padding-top: 15px !important;
		padding-left: calc(#{$padding__content-mobile} + 255px);
    }
    
    @media screen and (min-width: $size__content-width) {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		padding-left: calc((100vw - #{$size__content-width}) /2 + 35px + 255px);
		padding-right: calc((100vw - #{$size__content-width}) /2 + 35px + 255px);
    }
    
    @media screen and (min-width: $size__tablet-content-width) {
        padding: 80px calc((100vw - #{$size__content-width}) /2) 80px calc((100vw - #{$size__content-width}) /2 + 255px);
    }
}

.wp-block-svbk-trust__title {
	@include font-size(1.1);
	color: #fff;
	background: #1d4e80;
	display: inline-block;
	padding: 7px 15px;
	margin: 0;
	position: relative;
	top: -1.2rem;
	box-shadow: 1px 1px 4px rgba(0,0,0,.4);
	font-weight: bold;

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		position: absolute;
		top: -6px;
		bottom: -6px;
		left: $padding__content-mobile;
		z-index: 1;
		background-color: rgba(255,255,255,0);
		background-image: url('images/svg/svbk-authority_label.svg');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		box-shadow: none;
		padding: 39px 58px;
	}

	@media screen and (min-width: $size__content-width) {
		left: calc((100vw - #{$size__content-width}) /2 + 35px);
	}

    @media screen and (min-width: $size__tablet-content-width) {
        left: calc((100vw - #{$size__content-width}) /2);
    }
}

.wp-block-svbk-trust__gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;

	img {
		display: block;
		max-height: 28px;
		max-width: 180px;
		margin: 0 8px 20px;
		height: auto;
		width: auto !important;

		@media screen and (min-width: breakpoint('tablet-portrait')) {
			height: 40px;
			margin: 15px 10px;
		}
	}
}
