.is-style-clients-gallery {
	text-align: center;
	box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
	
	p {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		margin: 0;
	}

	img {
		display: block;
		height: 28px;
		margin: 10px 8px;
		width: auto !important;
	}
	
	@media screen and (min-width: breakpoint('tablet-portrait')) {
			
		img {
			height: 40px;
			margin: 15px 10px;
		}
	}
}
