#page .wp-block-columns {
	padding-top: 50px;
	padding-bottom: 50px;
	
	.wp-block-column--content {
		
		h2 {
			margin-top: 0;
		}
	}

	.wp-block-gallery {
		margin-top: 0;
		margin-bottom: 0;
	}

	&.wp-block-container {
		display: block;
		padding-top: 20px;
		padding-bottom: 20px;

		hr {
			margin-left: auto;
			margin-right: auto;
		}

		> .wp-block-column:nth-of-type(2) {
			padding-left: 0;
			padding-right: 0;
		}

		&.is-style-full {

			.wp-block-column {
				max-width: 600px;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	@media screen and (min-width: 600px) {

		&.wp-block-container {

			.wp-block-column {
				display: block;
				flex-basis: 100%;

				@media screen and (min-width: 600px) {
					padding-right: 0;
				}
			}
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		padding-top: 70px;
		padding-bottom: 70px;
		
		.wp-block-column--media {
			padding-left: 0;
			padding-right: 0;
		}

		.wp-block-gallery {
			margin-right: 0;
			margin-left: 0;
		}

		&.wp-block-container .alignwide {
			margin-right: 0;
			margin-left: 0;

			.wp-block-media-text__content {
				padding-left: 8%;
			}
		}
	}
}

@media screen and (min-width: 600px) {

	@for $i from 2 through 6 {

		.has-#{$i}-columns {
			$columns-gap: 2;

			> .wp-block-column {
				$column-width: (100 - ($columns-gap * ($i - 1))) / $i;
				padding: 0 15px;
				flex-basis: $column-width * 1%;
				margin-right: $columns-gap * 1%;
				margin-left: 0;

				&:nth-of-type(#{$i}n + #{$i}) {
					margin-right: 0;
				}
			}
		}
	}
}
