#page .wp-block-columns {

	&.wp-columns-full {
		display: block;
		padding-top: 20px;
		padding-bottom: 20px;

		hr {
			margin-left: auto;
			margin-right: auto;
		}

		> .wp-block-column:nth-of-type(2) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media screen and (min-width: 600px) {

		&.wp-columns-full {

			.wp-block-column {
				display: block;
				flex-basis: 100%;

				@media screen and (min-width: 600px) {
					padding-right: 0;
				}
			}
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {

		&.wp-columns-full .alignwide {
			margin-right: 0;
			margin-left: 0;

			.wp-block-media-text__content {
				padding-left: 8%;
			}
		}
	}
}

@for $i from 2 through 6 {

	.has-#{$i}-columns {
		$columns-gap: 2;

		> .wp-block-column {
			$column-width: (100 - ($columns-gap * ($i - 1))) / $i;
			padding: 0 15px;
			flex-basis: $column-width * 1%;
			margin-right: $columns-gap * 1%;
			margin-left: 0;

			&:nth-of-type(#{$i}n + #{$i}) {
				margin-right: 0;
			}
		}
	}
}

.entry-content > .wp-columns-full {

	@media screen and (min-width: 1120px) {
		padding-left: 285px;
		padding-right: 285px;
	}
}
