.faq-index {
	text-align: center;
	font-weight: bold;

	p, ul {
		display: inline-block;
	}

	p {
		margin-bottom: 25px;
	}

	ul {
		margin: 0;

		li {
			display: inline-block;
			margin: 0 15px;

			a {
				text-decoration: none;
				text-transform: uppercase;
			}

			&:before {
				display: none;
			}
		}
	}
}

.faq-wrapper {
	margin-bottom: 40px;
	padding: 25px 0 0;

	.wp-block-column {
		padding: 0;
	}
}

.faq-section__title {
	@include font-size(1.5);
	border-bottom: 1px solid;
	padding-bottom: 10px;
	margin: 0;
	text-align: left;
}

.wp-block-faq {
	background: #fff;
	border-radius: 8px;
	color: $color__text-main;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	display: block;
	padding: 0;
	text-align: left;
	margin-bottom: 20px;

	.wp-block-column {
		display: block;
		padding: 0;
		margin: 0;
	}

	.faq__question {
		@include font-size(1.2);
		cursor: pointer;
		padding: 15px 50px 15px 15px;
		display: block;
		border-radius: 8px;
		position: relative;
		margin: 0;
		background: $color__background-light;

		&:after {
			@include font-size(.9);
			@include icon-content('\e90a');
			background: $color__corporate;
			color: #fff;
			position: absolute;
			right: 10px;
			top: 10px;
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			border-radius: 50%;
			box-shadow: 0 1px 4px rgba(0,0,0,.2);
		}
	}

	&.open {

		.faq__question {
			border-radius: 8px 8px 0 0;

			&:after {
				@include icon-content('\e909');
			}
		}
	}

	.wp-block-column.faq__answer {
		display: none;
		padding: 0 20px 20px;
		margin-bottom: 0;
		font-weight: normal;
		position: relative;

		p:last-of-type {
			margin-bottom: 0;
		}

		img {
			margin: 15px 0;
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		display: inline-block;
		width: 100%;

		.faq__question {
			padding: 15px 50px 15px 50px;

			&:before {
				@include font-size(1.7);
				@include icon-content("\e928");
				color: $color__corporate;
				font-weight: normal;
				position: absolute;
				top: 15px;
				left: 15px;
			}
		}
	}
}
