.is-style-form,
.is-style-guide-download {
	padding: 0;
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;

	h2, h3 {
		@include font-size(1.5);
		margin-top: 0;
	}

	figure,
	.wp-block-column {
		margin: 0;
	}

	figure {

		img {
			width: 100%;
		}
	}

	figcaption,
	.wp-block-media-text__content,
	.wp-block-column:nth-of-type(2) {
		border-radius: 8px;
		box-shadow: 0 0 5px rgba(0,0,0,.2);
	}

	figcaption {
		@include font-size(1.2);
		background: $color__background-light;
		border-radius: 8px;
		box-shadow: 0 0 5px rgba(0,0,0,.2);
		margin: 15px 0 20px;
		padding: 20px;
		text-align: center;
		font-weight: 700;
		color: #888;

		strong {
			color: $color__corporate;
			text-transform: uppercase;
			margin-bottom: 8px;
			display: block;
		}

		a {
			@include font-size(1.6);
			display: block;
			border-top: 2px solid $color__corporate;
			border-bottom: 2px solid $color__corporate;
			border-right: 2px solid $color__corporate;
			border-radius: 5px;
			padding: 15px;
			text-decoration: none;
			position: relative;
			max-width: 290px;
			margin: 13px auto 0;

			&:before {
				@include icon-content('\e932');
				background: $color__background-light;
				position: absolute;
				top: -8px;
				bottom: -8px;
				left: -25px;
				line-height: 70px;
				font-size: 70px;
				padding: 0 10px 0 0;
			}
		}

		@media screen and (min-width: 600px) {
			margin: 15px 0;
		}
	}

	.wp-block-media-text__content,
	.wp-block-column:nth-of-type(2) {
		padding: 30px $padding__content-mobile 20px;

		input[type=checkbox] {
			background-color: #fff;
			border: none;
			box-shadow: 0 0 0 2px rgba(255,255,255,.4);
		}

		input[type="submit"] {
			margin-bottom: 0;
		}

		&.has-dark-background {
			color: #fff;

			h2, h3 {
				color: #fff;
			}
		}
	}

	@media screen and (min-width: 600px) {
		position: relative;
		margin-top: 50px;
		margin-bottom: 50px;

		&.wp-block-columns {
			display: block;

			&:after {
				@include clearfix();
				@include clearfix-after();
			}

			.wp-block-column {
				width: 50%;
			}

			.wp-block-column:nth-of-type(1) {
				float: right;
				padding-right: 0;
			}

			.wp-block-column:nth-of-type(2) {
				float: left;
			}
		}

		.wp-block-media-text__media {
			order: 1;
			padding-right: 0;
			padding-left: 15px;
		}

		.wp-block-media-text__content,
		.wp-block-column:nth-of-type(2) {
			padding-top: 20px;
			padding-left: $padding__content-mobile;
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		margin-left: 0;
		margin-right: 0;
		padding: 0;

		.wp-block-column:nth-of-type(1),
		.wp-block-media-text__media {
			padding-left: 20px;
		}

		.wp-block-media-text__content,
		.wp-block-column:nth-of-type(2) {
			padding: 30px;
		}
	}

	@media screen and (min-width: breakpoint('desktop')) {

		.wp-block-media-text__content,
		.wp-block-column:nth-of-type(2) {
			padding: 40px 50px 30px;
		}
	}
}

.is-style-guide-download {
	padding-top: 20px;

	.wp-block-media-text__content {
		padding-top: 80px;
	}

	.wp-block-media-text__media {
		margin-bottom: -80px;
	}

	@media screen and (min-width: 600px) {

		.wp-block-media-text__content {
			padding-top: 20px;
		}

		.wp-block-media-text__media {
			position: absolute;
			top: 20px;
			right: 0;
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {

		.wp-block-media-text__media {
			top: -20px;
			bottom: -20px;
			margin-bottom: 0;
			width: 100%;

			img {
				height: 100%;
				object-fit: contain;
			}
		}
	}
}
