#page .is-style-clients {
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	display: block;
	padding: 0;

	.wp-block-column {
		margin: 0;
		padding: 0;
		position: relative;
		display: block;
		width: 100%;
	}

	h3 {
		@include font-size(1.2);
		margin: 0;
		background: $color__corporate;
		color: #fff;
		padding: 5px 15px;
		white-space: nowrap;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		top: -15px;
		z-index: 2;
	}

	.wp-block-column:last-of-type {
		padding-top: 10px;
	}

	.wp-block-gallery {
		display: block;
		text-align: center;
		margin: 0 -#{$padding__content-mobile};
		padding-top: 30px;
		padding-bottom: 15px;

		.blocks-gallery-item {
			width: auto;
			display: inline-block;
			margin-right: 8px;
			margin-bottom: 10px;

			&:last-of-type {
				margin-right: 0;
			}

			figure {
				display: block;

				img {
					height: 40px;
					width: auto;
					display: block;
				}
			}
		}
	}

	@media screen and (min-width: 768px) {

		h3 {
			left: 25%;
		}

		.wp-block-gallery .blocks-gallery-item figure img {
			height: 60px;
			margin-right: 10px;
		}
	}
}
