.wp-block-group {
    padding-top: 30px;
    padding-bottom: 30px;
    
    > h2, 
    > .is-style-subtitle {
        text-align: left;
    }
        
    > .wp-block-separator {
        margin-left: 0;
    }
    
    @media screen and (min-width: breakpoint('tablet-portrait')) {
        
        > h2, 
        > .is-style-subtitle {
            text-align: center;
        }

        > .wp-block-separator {
            margin-left: auto;
        }
        
        &.is-style-layout-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    
    &.has-background {
        
        svg {
            fill: #fff;
        }
        
        .wp-block-svbk-stats .wp-block-svbk-stats__description {
            border-color: rgba(255,255,255,.5);
        }
    }
}