.wp-block-group {
    padding-top: 30px;
    padding-bottom: 30px;
    
    > h2, 
    > .is-style-subtitle {
        text-align: left;
    }
        
    > .wp-block-separator {
        margin-left: 0;
    }

    &.has-background {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;

        @media screen and (min-width: breakpoint('tablet-landscape')) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    
    .page__content > & {

        &.alignwide,
        &.alignfull {
            margin-left: -$padding__content-mobile;
            margin-right: -$padding__content-mobile;
            padding-left: $padding__content-mobile;
            padding-right: $padding__content-mobile;

            @media screen and (min-width: breakpoint('tablet-landscape')) {
                margin-left: -$padding__content-tablet;
                margin-right: -$padding__content-tablet;
                padding-left: $padding__content-tablet;
                padding-right: $padding__content-tablet;
            }

            @media screen and (max-width: $size__page-width + $padding__content-desktop * 2) {
                margin-left: -$padding__content-desktop;
                margin-right: -$padding__content-desktop;
                padding-left: $padding__content-desktop;
                padding-right: $padding__content-desktop;
            }
        }

        &.alignfull {

            @media screen and (min-width: $size__page-width + $padding__content-desktop * 2) {
                margin-left: calc(50% - 50vw);
                margin-right: calc(50% - 50vw);
            }
        }

        @media screen and (min-width: breakpoint('desktop')) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    
    &.is-style-raised {
        box-shadow: $shadow__card;
        
        h2, h3, h4 {
            margin-top: 0;
        }
    }
    
    &.is-style-no-padding {
        padding-top: 1px;
        padding-bottom: 1px;
    }
    
    &.is-style-green-check {
        position: relative;
        max-width: $size__content-width;
        margin: 100px auto 80px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        
        h2 {
            @include font-size(2.8);
        }
        
        &:before {
            @include icon-content('\e90c');
            @include font-size(2.8);
            display: block;
            background: $color__success;
            width: 80px;
            height: 80px;
            line-height: 80px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -40px;
        }
    }
    
    @media screen and (min-width: breakpoint('tablet-portrait')) {
        
        > h2, 
        > .is-style-subtitle {
            text-align: center;
        }

        > .wp-block-separator {
            margin-left: auto;
        }
    }
}