.wp-block-group {
    padding-top: 30px;
    padding-bottom: 30px;
    
    .page__content > & {

        @media screen and (min-width: breakpoint('desktop')) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    &.is-style-raised,
    &.is-style-inset {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    &.is-style-raised {
        box-shadow: $shadow__card;
        
        h2, h3, h4 {
            margin-top: 0;
        }
    }

    &.is-style-inset {
        box-shadow: inset 1px 1px 5px rgba(0,0,0,.4);;
    }
    
    &.is-style-no-padding {
        padding: 1px 0;
    }
}