.wp-block-svbk-icon-paragraph {
    padding-left: 2.3rem;
    position: relative;
    
    .wp-block-svbk-icon-paragraph__icon {
        position: absolute;
        top: 0;
        left: 0;
        
        svg {
            display: block;
            width: 1.3rem;
            fill: $color__corporate;
        }
    }
    
    .wp-block-svbk-icon-paragraph__content {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}