.is-style-index {
	@include font-size(.9);
	width: 100%;
	background: rgba($color__corporate, .1);
	padding: 20px 20px 20px 35px;
	box-shadow: $shadow__card;

	li {
		line-height: normal;

		&:before {
			vertical-align: top;
		}

		a {
			color: #777;
			text-decoration: none;
			font-weight: normal;
			position: relative;
			padding-right: 50px;

			&:after {
				@include icon-content('\e90e');
				@include font-size(.5);
				color: $color__corporate;
				margin-left: 5px;
			}
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {
		max-width: 450px;
		float: left;
		margin: 0 20px 20px 0;
	}
}
