.wp-block-media-text {
	align-items: start;
	clear: both;
	padding-top: 30px;
	padding-bottom: 30px;

	h1, h2 {
		margin-top: 0;
	}
	
	.wp-block-separator {
		margin-left: 0;
	}

	.wp-block-media-text__content {
		padding: 0;

		&:after {
			@include clearfix();
			@include clearfix-after();
		}
	}

	@media screen and (max-width: breakpoint('tablet-portrait')) {

		&.is-stacked-on-mobile {
			display: block;
			padding-bottom: 30px;

			.wp-block-media-text__content {

				h1, h2 {
					margin-top: 20px;
					margin-bottom: 15px;
				}
			}

			&.alignwide,
			&.alignfull {

				.wp-block-media-text__content  {
					padding-left: $padding__content-mobile;
					padding-right: $padding__content-mobile;
				}
			}

			.wp-block-group & {
				padding-left: $padding__content-mobile;
				padding-right: $padding__content-mobile;
			}
		}
	}

	@media screen and (min-width: 600px) {
		display: flex;

		.wp-block-media-text__media,
		.wp-block-media-text__content {
			flex-basis: 50%;
		}

		&.has-media-on-the-right {

			.wp-block-media-text__content {
				order: 0;
			}

			.wp-block-media-text__media {
				order: 1;
			}
		}
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {

		.wp-block-media-text__content {
			padding-left: 4.2%;
		}

		&.has-media-on-the-right .wp-block-media-text__content {
			padding-right: 4.2%;
			padding-left: 0;
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		padding-top: 60px;
		padding-bottom: 60px;
		
		p:last-of-type {
			margin-bottom: 0;	
		}
		
		.wp-block-media-text__content {
			padding-left: 8.5%;
		}

		&.has-media-on-the-right .wp-block-media-text__content {
			padding-right: 8.5%;
		}
	}

	@media screen and (min-width: breakpoint('desktop')) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	@media screen and (min-width: $size__page-max-width) {
		max-width: $size__content-width;
		margin-right: auto;
		margin-left: auto;
	}
}