.wp-block-svbk-iter {
	text-align: center;
	background-image: url("images/steps-bar.png");
	background-position: center 100px;
	background-repeat: repeat-y;
	background-size: 13px auto;
	padding: 60px $padding__content-mobile 0;
	margin-left: -#{$padding__content-mobile};
	margin-right: -#{$padding__content-mobile};
	display: block;
	position: relative;
	border-bottom: 30px solid $color__background-light;
	
	&:before,
	&:after {
		content: '';
		display: block;
	}
	
	&:before {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 14px;
		height: 115px;
		background: $color__background-light;
	}

	&:after {
		background-size: 13px auto;
		background-repeat: no-repeat;
		height: 70px;
		width: 100%;
		background-image: url('images/steps-bar-end.png');
		background-position: 50% bottom;
	}
	
	.wp-block-svbk-iter__step {
		box-shadow: 0 0 3px rgba(0,0,0,.2);
		background: #fff;
		text-align: center;
		border-radius: 8px;
		padding: 50px 20px 25px;
		position: relative;
		margin: 70px auto 0;
		max-width: 500px;
		
		&:first-of-type {
			margin-top: 15px;
		}
	}
	
	.wp-block-svbk-iter__step-name {
		position: absolute;
		top: 20px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		background: $color__corporate;
		color: #fff;
		padding: 3px 20px;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	.wp-block-svbk-iter__step-icon {
		position: absolute;
		width: 100px;
		height: 100px;
		top: -50px;
		left: 50%;
		transform: translateX(-50%);
		margin: 0;
		background: #fff;
		border: 10px solid #b4babc;
		border-radius: 50%;

		svg {
			fill: $color__corporate;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}	
	}
	
	.wp-block-svbk-iter__step-title {
		display: block;
		@include font-size(1.4);
		margin-bottom: 10px;
	}
	
	.wp-block-svbk-iter__step-content {
		display: block;
	}
	
	@media screen and (min-width: breakpoint('tablet-landscape')) {
		margin-left: -#{$padding__content-tablet};
		margin-right: -#{$padding__content-tablet};
		position: relative;
		padding: 10px $padding__content-tablet 35px $padding__content-tablet + 300px;
		background-position: $padding__content-tablet + 109px center;
		max-width: 1100px;
		
		&:before {
			left: 144px;
			transform: none;
		}
		
		&:after {
			position: absolute;
			left: 0;
			bottom: 0;
			background-position: 144px bottom;
		}
		
		.wp-block-svbk-iter__step {
			width: 100%;
			flex-basis: 100%;
			max-width: none;
			margin-top: 30px;
			padding-top: 10px;
			padding-bottom: 15px;
			z-index: 1;
			position: relative;
			text-align: left;
		}
		
		.wp-block-svbk-iter__step-name {
			@include font-size(1.2);
			position: relative;
			transform: none;
			margin: 0 34px 0 0;
			padding: .6rem 1.3rem .7rem;
			line-height: 1rem;
			display: inline-block;
			top: 0;
			left: 0;

			&:after {
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-top: 1.15rem solid transparent;
				border-bottom: 1.15rem solid transparent;
				border-left: 1.15rem solid $color__corporate;
				position: absolute;
				right: -1.15rem;
				top: 0;
			}
		}
		
		.wp-block-svbk-iter__step-icon {
			top: 50%;
			left: -241px;
			transform: translateY(-50%);
			width: 115px;
			height: 115px;
		}
		
		.wp-block-svbk-iter__step-title {
			display: inline-block;
			margin-top: 10px;
		}
		
		.wp-block-svbk-iter__step-content {
			margin-top: 10px;
		}
	}
	
	@media screen and (min-width: 1100px) {
		margin-left: auto;
		margin-right: auto;
	}
	
	@media screen and (min-width: 1170px) {
		padding-right: 0;
	}
}

