.wp-block-columns.is-style-offer {
	padding-left: 0;
	padding-right: 0;

	.wp-block-column:first-of-type {
		background: $color__corporate-gradient;
		color: #fff;
		margin: 0;
		padding: 20px $padding__content-mobile 5px;

		ol, ul {

			li:before {
				color: #fff;
			}
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		padding: 0;
	}

	@media screen and (min-width: breakpoint('desktop')) {

		.wp-block-column:first-of-type {
			padding-top: 50px;
		}
	}
}
