hr {
	width: 100%;
	height: 1px;

 	&.wp-block-separator {
		background-color: $color__background-hr;
		border: 0;
		height: 2px;
		width: 50px;
		margin: 20px 0;

		.has-text-align-center + & {
			margin-left: auto;
			margin-right: auto;
		}

		&.is-style-wide {
			height: 1px;
			width: 100%;
		}

		&.is-style-dots {
			width: 180px;

			&:before {
				color: $color__background-hr;
			}
		}

		@each $name, $value in $colors {

			&.has-#{$name}-background-color {
				background-color: $value;
			}
		}
	}
}
