.wp-block-svbk-testimonials {
    @include clearfix();
    @include clearfix-after();
    
    .testimonial__loadmore {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        margin: 30px 0;
        
        &:after {
            @include icon-content('\e931');
            @include font-size(1.2);
            font-weight: normal;
            vertical-align: middle;
            margin-left: 8px;
            position: relative;
            bottom: 1px;
        }
    }
    
     @media screen and (min-width: breakpoint('tablet-landscape')) {
         @include clearfix();
         @include clearfix-after();
         
         .testimonial {
            width: 32%;
            margin-right: 2%;
            float: left;
            
            &:nth-of-type(3n + 3) {
                margin-right: 0;
            }
        }
    }
}

.testimonial {
    
	.wp-block-button__link,
	.more-link {
		display: block;
		
		&:after {
			@include icon-content('\e922');
			@include font-size(.8);
			margin-left: 8px;
		}
	}
    
    .wp-block-svbk-testimonial {
        background: #fff;
        box-shadow: 1px 1px 4px rgba(0,0,0,.1);
        padding: 15px 20px 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 8px;
    }
    
    .wp-block-svbk-testimonial__header {
        position: relative;
        padding-left: 85px;
        min-height: 70px;
        
        &:after {
            @include clearfix();
            @include clearfix-after();
        }   
    }
    
    .wp-block-svbk-testimonial__avatar {
        margin: 0;
        height: 70px;
        width: 70px;
        margin-right: 15px;
        position: absolute;
        top: 0;
        left: 0;
        
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid $color__corporate;
        }
    }
    
    .wp-block-svbk-testimonial__author {
        display: inline-block;
        vertical-align: top;
        line-height: normal;
    }
    
    
    
    .wp-block-svbk-testimonial__author-name {
        @include font-size(1.2);
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 3px;
    }
    
    .wp-block-svbk-testimonial__author-role {
        font-weight: bold;
        color: #aaa;
        margin-bottom: 7px;
    }
    
    .wp-block-svbk-testimonial__rating {
        display: block;
    }
    
    .wp-block-svbk-testimonial__meta {
        @include font-size(.8);
        margin-top: 10px;
        color: #aaa;
    }
    
    .wp-block-svbk-testimonial__company-logo {
        margin-bottom: 0;
        
        img {
            display: block;
            margin: 0 auto;
            max-height: 60px;
            max-width: 100%;
        }
    }
    
    &.testimonial_category-video .wp-block-svbk-testimonial {
        padding: 0;
        box-shadow: none;
    }
    
    .is-style-vip {
        margin-top: 115px;
        
        .wp-block-svbk-testimonial__header {
            text-align: center;
            padding: 0;
            margin-top: -95px;
        }
        
        .wp-block-svbk-testimonial__avatar {
            position: static;
            display: block;
            margin: 0 auto;
            width: 150px;
            height: 150px;
        }
        
        .wp-block-svbk-testimonial__author-name {
            margin-top: 10px;
        }
        
        .wp-block-svbk-testimonial__rating {
            margin: 0 auto;
        }
    }
    
    .is-style-inline {
        padding-left: 90px;
        position: relative;
        padding-bottom: 20px;
        
        &:after {
            @include clearfix();
            @include clearfix-after();
        }
        
    	.wp-block-button__link,
    	.more-link {
    		display: inline-block;
    		padding: 0;
    		float: right;
    	    margin-top: 10px;
    		
    		&:hover {
    		    background: none;
    		    color: $color__link-hover;
    		}
    	}
        
        .wp-block-svbk-testimonial__header {
            padding-left: 0;
            position: static;
            min-height: auto;
        }
        
        .wp-block-svbk-testimonial__author-name,
        .wp-block-svbk-testimonial__author-role {
            @include font-size(1);
            display: inline;
            font-weight: normal;
            text-transform: none;
        }
        
        .wp-block-svbk-testimonial__author-name:after {
            content: ",";
            margin-right: 3px;
        }
        
        .wp-block-svbk-testimonial__avatar {
            width: 60px;
            height: 60px;
            top: 15px;
            left: 15px;
            
            img {
                border: none;
            }
        }
        
        .wp-block-svbk-testimonial__content {
            margin-bottom: 10px;
        
            p {
                margin: 5px 0;
                font-style: italic;
                
                &:before,
                &:after {
                    content: '\22';
                    color: $color__corporate;
                    display: inline; 
                }
            }
        }
    }
}