.wp-block-svbk-trust {
	padding-left: $padding__content-mobile;
	padding-right: $padding__content-mobile;
	margin-left: -$padding__content-mobile;
	margin-right: -$padding__content-mobile;
	text-align: center;

	&:after {
		@include clearfix();
		@include clearfix-after();
	}
    
    @media screen and (min-width: breakpoint('tablet-landscape')) {
        margin-left: -$padding__content-tablet;
		margin-right: -$padding__content-tablet;
    }
    
    @media screen and (min-width: $size__content-width) {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		padding-left: calc((100vw - #{$size__content-width}) /2 + 35px);
		padding-right: calc((100vw - #{$size__content-width}) /2 + 35px);
    }
    
    @media screen and (min-width: $size__tablet-content-width) {
        padding: 0 calc((100vw - #{$size__content-width}) /2);
    }
}

.wp-block-svbk-trust__content {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;

	figure {
		display: inline-block;
		margin: 5px 10px;
		vertical-align: middle;
	}

	img {
		display: block;
		max-height: 28px;
		max-width: 180px;
		margin: 0;
		height: auto;
		width: auto;

		@media screen and (min-width: breakpoint('tablet-portrait')) {
			max-height: 40px;
		}
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {
		padding-top: 17px;
		padding-bottom: 17px;
		display: flex;
		align-items: center;
		justify-content: space-around;

		figure {
			display: block;
		}
	}
}

.wp-block-svbk-trust.has-ribbon {

	.wp-block-svbk-trust__content {
		padding-top: 0;

		@media screen and (min-width: breakpoint('tablet-landscape')) {
			display: flex;
			justify-content: space-around;
			flex-grow: 1;
			padding-top: 20px;
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		display: flex;
		justify-content: space-between;
	}
}

.wp-block-svbk-trust__ribbon {
	@include font-size(1.1);
	color: #fff;
	background: #1d4e80;
	display: inline-block;
	padding: 7px 15px;
	margin: 0;
	position: relative;
	top: -1.2rem;
	box-shadow: 1px 1px 4px rgba(0,0,0,.4);
	font-weight: bold;

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		position: static;
		margin-top: -6px;
		margin-bottom: -6px;
		height: calc(100% + 12px);
		z-index: 1;
		background-color: rgba(255,255,255,0);
		background-image: url('images/svg/svbk-authority_label.svg');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		box-shadow: none;
		padding: 39px 58px;
	}
}