.wp-block-svbk-trust {
	text-align: center;

	&:after {
		@include clearfix();
		@include clearfix-after();
	}
}

.wp-block-svbk-trust__content {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;

	figure {
		display: inline-block;
		margin: 5px 10px;
		vertical-align: middle;
	}

	img {
		display: block;
		max-height: 28px;
		max-width: 180px;
		margin: 0;
		height: auto;
		width: auto;

		@media screen and (min-width: breakpoint('tablet-portrait')) {
			max-height: 50px;
		}
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {
		padding-top: 17px;
		padding-bottom: 17px;
		display: flex;
		align-items: center;
		justify-content: space-around;

		figure {
			display: block;
		}
	}
}

.wp-block-svbk-trust__ribbon {
	@include font-size(.75);
	color: $color__text-main;
	display: inline-block;
	font-weight: 800;
	margin-bottom: 0;
	text-transform: uppercase;
	margin-top: 15px;
}