.wp-block-svbk-warranty {
	padding-top: 130px;
	padding-bottom: 70px;
	background-size: cover;
	color: $color__text-main;
	position: relative;
	margin-left: -$padding__content-mobile;
	margin-right: -$padding__content-mobile;
	padding-left: $padding__content-mobile;
	padding-right: $padding__content-mobile;
	
	figure {
		margin-top: -81px;
		text-align: center;

		img {
			margin: 0 auto;
			display: block;
			width: 240px;
			height: 160px;
			object-fit: contain;
		}
	}
	
	> img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	
	.wp-block-svbk-warranty__content {
		border: 2px solid #d0a83a;
		box-shadow: 0 0 0 10px rgba(255,255,255,1), 1px 1px 4px rgba(0,0,0,.1);
		background-color: #fff;
		padding: 0 20px 30px;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		color: $color__text-main;
		position: relative;
		z-index: 1;
		border-radius: 8px;

		&.has-primary-background-color {
			background-color: $color__corporate;
			box-shadow: 0 0 0 10px $color__corporate, 1px 1px 4px rgba(0,0,0,.1);
		}

		&.has-secondary-background-color {
			background-color: $color__corporate-secondary;
			box-shadow: 0 0 0 10px $color__corporate-secondary, 1px 1px 4px rgba(0,0,0,.1);
		}

		&.has-dark-gray-background-color {
			background-color: $color__background-dark;
			box-shadow: 0 0 0 10px $color__background-dark, 1px 1px 4px rgba(0,0,0,.1);
		}

		&.has-light-gray-background-color {
			background-color: $color__background-light;
			box-shadow: 0 0 0 10px $color__background-light, 1px 1px 4px rgba(0,0,0,.1);
		}

		&.has-primary-color {
			color: $color__corporate;

			h3 {
				color: $color__corporate;
			}
		}

		&.has-secondary-color {
			color: $color__corporate-secondary;

			h3 {
				color: $color__corporate-secondary;
			}
		}

		&.has-dark-gray-color {
			color: $color__background-dark;

			h3 {
				color: $color__background-dark;
			}
		}

		&.has-light-gray-color {
			color: $color__background-light;

			h3 {
				color: $color__background-light;
			}
		}

		&.has-white-color {
			color: #fff;

			h3 {
				color: #fff;
			}
		}
		
		.wp-block-svbk-warranty__header {
			text-align: center;
			
			&:after {
				content: '';
				display: block;
				height: 2px;
				width: 50px;
				margin: 17px auto;
				background-color: $color__background-light;
			}
		}

		.wp-block-svbk-warranty__title {
			max-width: none;
			padding-top: 0;
			color: $color__text-main;
			margin: 10px 0;
		}
		
		.wp-block-svbk-warranty__subtitle {
			margin: 10px 0;
		}
		
		ul {
			
			li:before {
				color: $color__corporate;
			}	
		}
		
		@media screen and (min-width: breakpoint('tablet-portrait')) {
			padding-left: 35px;
			padding-right: 35px;
		}
	}
	
	.wp-block-svbk-warranty__footer {
		@include font-size(.8);
		line-height: 1.25em;
	}
	
	@media screen and (min-width: breakpoint('tablet-portrait')) {
		margin-left: -$padding__content-tablet;
		margin-right: -$padding__content-tablet;
		padding-left: $padding__content-tablet;
		padding-right: $padding__content-tablet;
	}
	
	@media screen and (min-width: $size__page-width + $padding__content-desktop*2) {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		padding-left: calc((100vw - #{$size__page-width}) /2);
		padding-right: calc((100vw - #{$size__page-width}) /2);
	}
	
	&.is-style-small {
		@include font-size(.9);
		padding-top: 30px;
		padding-bottom: 30px;
		
		.wp-block-svbk-warranty__seal {
			margin: 0;
			position: absolute;
			top: 50%;
			left: 60px;
			transform: translateY(-50%) translateX(-50%);
			
			img {
				width: 80px;
				height: auto;
				margin: 0;
				object-fit: contain;
			}
		}
		
		p {
			margin-top: 0;
			margin-bottom: 10px;
		}
		
		.wp-block-svbk-warranty__header {
			text-align: left;
			
			&:after {
				display: none;
			}
		}
		
		.wp-block-svbk-warranty__title {
			@include font-size(1.2);
			margin-top: 0;
		}

		.wp-block-svbk-warranty__subtitle {
			@include font-size(1);
		}
		
		.wp-block-svbk-warranty__content {
			padding: 15px 15px 15px 120px;
			max-width: none;
			min-height: 140px;
			line-height: 1.4em;
			
			&.has-primary-background-color,
			&.has-dark-grey-background-color {
				color: #fff;
				
				.wp-block-svbk-warranty__title,
				.is-style-subtitle {
					color: #fff;
				}
			}
			
			&[class$="background-color"] {
				border: none;
				box-shadow: none;
				border-radius: 0;
			}
		}
		
		@media screen and (min-width: breakpoint('tablet-landscape')) {
			
			.wp-block-svbk-warranty__content {
				padding: 15px 50px 15px 180px;
				min-height: 140px;
			}
			
			.wp-block-svbk-warranty__seal {
				left: 100px;
				
				img {
					width: 100px;
				}
			}
		}
		
		@media screen and (min-width: breakpoint('desktop')) {
			
			.wp-block-svbk-warranty__content {
				padding: 50px 150px 47px 280px;
			}
			
			.wp-block-svbk-warranty__seal {
				left: 185px;
			}
		}
	}
}