.is-style-warranty {
    position: relative;
    display: block;
    padding-top: 130px;
    padding-bottom: 70px;
    
    .wp-block-media-text__media {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(0,0,0,.2);
        }
    }
    
    .wp-block-media-text__content {
        background: #fff;
        border: 2px solid #d0a83a;
        box-shadow: 0 0 0 10px rgba(255,255,255,1), 1px 1px 4px rgba(0,0,0,.1);
        padding: 0 20px 10px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1;
        
        @media screen and (min-width: breakpoint('tablet-landscape')) {
            padding: 0 40px 10px;
        }
        
        figure {
            position: relative;
            top: -97px;

            img {
                margin: 0 auto;
                display: block;
                width: 240px;
                height: 160px;
                object-fit: contain;
            }
        }
        
        h2 {
            margin-top: -97px;
        }
    }
}