p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-highlight;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.is-style-subtitle {
	@include font-size(1.2);
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 1.2;

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		@include font-size(1.5);
	}
}

.is-style-standout {
	@include font-size(1.2);
	color: $color__corporate;
	border-left: 3px solid $color__corporate-secondary;
	padding-left: 15px;
}

p.has-drop-cap:not(:focus):first-letter {
	@include font-size(5);
	padding: 0 0 10px;

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		@include font-size(7);
	}
}

.highlight,
.standout {
	font-style: normal;
}

.highlight {
	padding: 0 3px;
	background: $color__background-highlight;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, $color__background-highlight 50%);
	background-size: 200% auto;
	background-position: -0% 0;
	transition: background-position;
	transition-timing-function: linear;

	&.animated {
		background-position: -99.99%;
	}
}

.standout {
	background: $color__corporate;
	color: #fff;
}

blockquote,
.wp-block-quote {
	margin: 0;
	padding: 0 15px 0 1.8em;
	position: relative;
	font-style: italic;

	p {
		margin-bottom: 15px;
	}

	&:before {
		@include icon-content('\e925');
		position: absolute;
		top: 0;
		left: 0;
		color: $color__corporate;
		opacity: .5;
		font-style: normal;
	}

	cite {
		@include font-size(.9);
		color: #888;
		font-style: normal;
	}

	&.is-style-large {
		padding: 0 0 0 2.2em;

		&:before {
			@include font-size(1.3);
		}
	}
}

.wp-block-pullquote {
	text-align: left;

	blockquote {
		padding: 0 25px;
	}

	p {
		position: relative;


		&:before,
		&:after {
			@include font-size(1.5);
			opacity: .3;
			font-style: normal;
			position: absolute;
		}

		&:before {
			@include icon-content('\e925');
			left: -15px;
			top: -10px;
		}

		&:after {
			@include icon-content('\e924');
			right: -15px;
			bottom: -10px;
		}
	}

	&.is-style-solid-color {
		padding: 15px;

		blockquote {
			max-width: none;
		}
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {
		text-align: center;

		p:after {
			bottom: auto;
			top: -10px;
		}

		&.is-style-solid-color {
			text-align: left;
			padding: 30px 15px;

			blockquote {
				max-width: 60%;
			}

			p {

				&:before,
				&:after {
					display: inline;
					position: static;
				}
			}
		}
	}
}
