p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-highlight;
	text-decoration: none;
}

big {
	font-size: 125%;
}

p.is-style-standout {
	@include font-size(1.1);
	border-left: 3px solid $color__corporate;
	padding-left: 15px;
}

p.has-drop-cap:not(:focus):first-letter {
	@include font-size(6);
	padding: 0 0 10px;

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		@include font-size(8);
	}
}

em.underline-stroke,
em.highlight,
em.standout {
	font-style: normal;
}

em.highlight {
	padding: 0 3px;
	background: $color__background-highlight;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, $color__background-highlight 50%);
	background-size: 200% auto;
	background-position: -0% 0;
	transition: background-position;
	transition-timing-function: linear;

	&.animated {
		background-position: -99.99%;
	}
}

em.standout {
	background: $color__corporate;
	color: #fff;
}

em.underline-stroke {
	display: inline-block;
	margin-right: 3px;

	&:after {
		content: '';
		background: url('images/svg/brush-line.svg');
		display: block;
		height: 8px;
		width: 100%;
	}
}

blockquote,
.wp-block-quote,
.wp-block-quote.is-style-large {
	background: $color__background-light;
	margin: 20px 0;
	padding: 10px 30px 20px;
	font-style: normal;

	p {
		margin-bottom: 15px;
		font-style: normal;
		line-height: 1.3em;
	}

	cite {
		@include font-size(.9);
		color: #888;
		font-style: normal;
	}

	&.has-text-align-center {
		text-align: center;

		p {
			max-width: $size__content-width;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.wp-block-pullquote {
	margin: 0 auto;
	border: none;
	max-width: $size__content-width;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
	&.has-light-background {
		background: $color__background-light;
	}

	blockquote {
		background: none;
		padding: 0 40px;

		p {
			position: relative;
			@include font-size(1.375);

			&:before,
			&:after {
				@include font-size(1.5);
				opacity: .1;
				font-style: normal;
				position: absolute;
			}

			&:before {
				@include icon-content('\e925');
				left: -38px;
				top: -10px;
			}

			&:after {
				@include icon-content('\e924');
				right: -38px;
				bottom: -8px;
			}
		}

		cite {
			color: #888;
			display: block;
			text-transform: none;
			margin-top: 20px;
			
			&:before {
				content: "-";
				margin-right: 5px;
			}
		}
	}

	&.alignright,
	&.alignleft {
		max-width: none;
	}

	&.alignleft {
		text-align: left;
		margin-right: auto;
		margin-left: 0;
	}

	&.alignright {
		text-align: right;
		margin-left: auto;
		margin-right: 0;
	}
}

.wp-block-pullquote.is-style-solid-color {
	padding: 1px 25px;

	blockquote {
		padding: 1px 25px;
		max-width: none;

		p {
			@include font-size(1.375);
		}
	}
}
