body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	@include font( 'main' );
	@include font-size(.85);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	b, strong {
		font-weight: bold;
	}

	@media
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi) {
		@include font-size(1);
	}
}

p {
	margin-bottom: 1.5em;
}

h1 {
	@include font-size(2.2);
	
	@media screen and (min-width: breakpoint('tablet-landscape')) {
		@include font-size(2.5);
	}
}