h1, h2, h3, h4, h5, h6,
.is-style-subtitle,
.is-style-pretitle {
	clear: both;
	@include font( 'headings' );
	line-height: 1.2em;
	margin-bottom: 20px;
}

h1 {
	@include font-size(2.2);
	
	@media screen and (min-width: breakpoint('tablet-landscape')) {
		@include font-size(2.5);
	}
}

h2,
.media-and-text h1,
.is-style-split h1,
.is-style-split-inverted h1 {
	@include font-size(1.76);
	
	@media screen and (min-width: breakpoint('tablet-landscape')) {
		@include font-size(2);
	}
}

h3,
.widget-title,
.comments-title,
.comment-reply-title,
.wp-block-svbk-warranty__title {
	@include font-size(1.625);
}

h4 {
	@include font-size(1.25);
}

h5 {
	@include font-size(1.125);
}

h6 {
	@include font-size(1);
}

.is-style-pretitle,
.is-style-subtitle {
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 1.2;
}

.is-style-pretitle {
	@include font-size(1.1);
}

.is-style-subtitle,
.wp-block-svbk-warranty__subtitle {
	@include font-size(1.2);
	font-weight: bold;

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		@include font-size(1.3);
	}
}
