h1, h2, h3, h4, h5, h6,
.is-style-subtitle {
	clear: both;
	@include font( 'headings' );
}

h1 {
	@include font-size(2);
	line-height: 1.25em;

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		@include font-size(2.5);
		line-height: 1.125em;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		@include font-size(3);
		line-height: 1.05em;
	}
}

h2 {
	@include font-size(1.625);
	line-height: 1.154em;

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		@include font-size(2);
		line-height: 1.25em;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		@include font-size(2.25);
	}
}

h3,
.widget-title,
.comments-title,
.comment-reply-title {
	@include font-size(1.375);
	line-height: 1.136em;

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		@include font-size(1.5);
		line-height: 1.25em;
	}

	@media screen and (min-width: breakpoint('desktop')) {
		@include font-size(1.75);
	}
}

h4 {
	@include font-size(1.125);
	line-height: 1.111em;

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		line-height: 1.222em;
	}
}
