body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	@include font( 'main' );
	@include font-size(1);
	line-height: 1.5em;
	
	b, strong {
		font-weight: bold;
	}
}

@import "headings";
@import "copy";