.category-all-about-yu {

	.category-title,
	.category-title a,
	.category-description,
	.dropcap,
	.entry-subtitle,
	.entry-content a,
	.posted-on a,
	.quote-source,
	h3,
	h4,
	h5,
	h6 {
		color: $color__allaboutyu__dark;
	}

	.entry-content,
	.posted-on {

		a:hover,
		a:focus,
		a:active {
			color: $color__link-hover;
		}

	}

	hr,
	&.single-entry .entry-content:before,
	.category-header:before {
		background: $color__allaboutyu;
	}

	.call-to-action,
	.content-details {
		border-top-color: $color__allaboutyu;
	}

	.footer a {
		@extend %hide-underline;
		color: $color__allaboutyu__darker;
	}

	.iis-caption {
		border-right-color: $color__allaboutyu;
	}

	.iis-caption .cat-links a,
	.slider-subtitle {
		color: $color__allaboutyu;
	}

	@include issue-section-multicolumn-layout;

}

