.category-back-page {

	.category-title,
	.category-title a,
	.category-description,
	.dropcap,
	.entry-subtitle,
	.entry-content a,
	.posted-on a {
		color: $color__backpage__dark;
	}

	.entry-content,
	.posted-on {

		a:hover,
		a:focus,
		a:active {
			color: $color__link-hover;
		}

	}

	// Section-specific heading styling (not used in tag/search/author pages.)
	&.single-entry,
	.category-posts,
	.index-section-posts {

		.entry-title {
			font-family: $font-family__sans-serif;
		}

	}

	.dropcap {
		margin-right: 7px; /* More margin-right than usual, for the italics. */
		font-style: italic;
		font-family: $font-family__main;
		text-transform: lowercase;
	}

	hr,
	&.single-entry .entry-content:before,
	.category-header:before {
		background: $color__backpage;
	}

	.call-to-action,
	.content-details {
		border-top-color: $color__backpage;
	}

	.footer a {
		@extend %hide-underline;
		color: $color__backpage__darker;
	}

	.iis-caption {
		border-right-color: $color__backpage;
	}

	.iis-caption .cat-links a,
	.slider-subtitle {
		color: $color__backpage;
	}

}
