.post-type-archive-yumag_notice {

	.entry-header {
		@include rem( "border-top", $height__rule solid $color__allaboutyu );
		@include rem( "padding-top", $height__rule );
	}

	.type-obituary .entry-header {
		border-top-color: $color__main;
	}

	.category-header {
		@include rem( "margin-bottom", ( $line * 2 ) );
		background: $color__allaboutyu;
	}

	.index-content .index-posts .yumag_notice { /* Specificity hack */
		@include rem( "margin-bottom", $line );
	}

	.entry-title {
		@include font-size-line( "normal" );
		text-transform: uppercase;
		font-family: $font-family__sans-serif;
		font-weight: $font-weight__serif__bold;
	}

	.entry-author-student-details {
		@include font-size-line( "normal" );
		font-family: $font-family__sans-serif;
	}

	p {
		margin-bottom: 0;
	}

	.yumag_notice p:not(.notice-label) + p:not(.notice-label) {
		text-indent: $text-indent;
	}

	.index-posts .yumag_notice .entry-footer { /* Specificity hack */
		@include rem( "margin-top", ( $line / 2 ) );
	}

	.notice-label {
		font-weight: $font-weight__serif__bold;
		color: $color__allaboutyu__dark;
	}

	.cat-links a {
		@extend %hide-underline;
		color: $color__allaboutyu__dark;

		&:hover,
		&:focus,
		&:active {
			color: $color__link-hover;
		}
	}

	.obit-label {
		font-weight: $font-weight__serif__bold;
	}

	.entry-image {
		@include rem( "margin", ( $line * 0.5 ) 0 0 );
	}

}
