.category-yorklife {

	.category-title,
	.category-title a,
	.category-description,
	.dropcap,
	.entry-content a,
	.posted-on a {
		color: $color__yorklife__dark;
	}

	.entry-content,
	.posted-on {

		a:hover,
		a:focus,
		a:active {
			color: $color__link-hover;
		}

	}

	.dropcap {
		font-family: $font-family__main;
	}

	&.single-entry .entry-title {
		@include font-size-line( "gigantic", 2.5 ); /* Slightly smaller, because full caps */
	}

	// Section-specific heading styling (not used in tag/search/author pages.)
	&.single-entry,
	.category-posts,
	.issue-section-posts {

		.entry-title {
			text-transform: uppercase;
			font-family: $font-family__sans-serif;
		}

	}

	.category-posts,
	.issue-section-posts {

		.entry-title {
			@include font-size-line( "normal" );
		}

	}

	hr,
	&.single-entry .entry-content:before,
	.category-header:before {
		background: $color__yorklife;
	}

	.call-to-action,
	.content-details {
		border-color: $color__yorklife;
	}

	.footer a {
		@extend %hide-underline;
		color: $color__yorklife__darker;
	}

	.category-posts {

		.entry-meta {
			display: none;
		}

	}

	@include issue-section-multicolumn-layout;

}
