.category-yorklife {

	.category-title,
	.category-title a,
	.category-description,
	.dropcap,
	.entry-content a,
	.posted-on a {
		color: $color__yorklife__dark;
	}

	.entry-content,
	.posted-on {

		a:hover,
		a:focus,
		a:active {
			color: $color__link-hover;
		}

	}

	.dropcap {
		font-family: $font-family__main;
	}

	.entry-title {
		letter-spacing: -0.025em;

		a {
			@extend %hide-underline;
		}

	}

	hr,
	&.single-entry .entry-content:before,
	.category-header:before {
		background: $color__yorklife;
	}

	.call-to-action,
	.content-details {
		border-color: $color__yorklife;
	}

	.footer a {
		@extend %hide-underline;
		color: $color__yorklife__darker;
	}

	.category-posts {

		.entry-meta {
			display: none;
		}

	}

	@include issue-section-multicolumn-layout;

}
