// Animations
// -------------------------------------------------------------

$transition-type: ease-in;
$transition-time__scroll: 0.2s;
$transition-time__menu: 0.1s;
$transition-time__link: 0.2s;
$transition-time__navigation: $transition-time__link;
