/*
see gutenberg-config
if custom fonts used, define it here
*/
$theme: custom;
$custom-font-body: Georgia, serif;
$custom-font-headings: Georgia, serif;

/* see gutenberg-config */
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
