
// ==========================================================================
// Layout
// ==========================================================================

/* Containers
   ========================================================================== */

%l-constrained {
    margin: 0 auto;
    width: 100%;
    max-width: $site-constraint;
    @include clearfix;
}

.l-constrained {
    @extend %l-constrained;
}

.l-container {
    @include clearfix;
}
