// ==========================================================================
// Spacing Utilities
// ==========================================================================

/**
 * l-<type><direction><size>
 *
 * a = all
 * t = top
 * r = right
 * b = bottom
 * l = left
 * h = horizontal
 * v = vertical
 *
 * n = none
 * s = small
 * d = default
 * m = medium
 * l = large
 * x = xlarge
 */

/* General
   ========================================================================== */

/* All */

.l-padding-an { padding: 0; }
.l-padding-as { padding: 0.5em; }
.l-padding-ad { padding: 1em; }
.l-padding-am { padding: 2em; }
.l-padding-al { padding: 4em; }
.l-padding-ax { padding: 6em; }

.l-margin-an { margin: 0; }
.l-margin-as { margin: 0.5em; }
.l-margin-ad { margin: 1em; }
.l-margin-am { margin: 2em; }
.l-margin-al { margin: 4em; }
.l-margin-ax { margin: 6em; }

/* Vertical */

.l-padding-vn { padding-top: 0; padding-bottom: 0; }
.l-padding-vs { padding-top: 0.5em; padding-bottom: 0.5em; }
.l-padding-vd { padding-top: 1em; padding-bottom: 1em; }
.l-padding-vm { padding-top: 2em; padding-bottom: 2em; }
.l-padding-vl { padding-top: 4em; padding-bottom: 4em; }
.l-padding-vx { padding-top: 6em; padding-bottom: 6em; }

.l-margin-vn { margin-top: 0; margin-bottom: 0; }
.l-margin-vs { margin-top: 0.5em; margin-bottom: 0.5em; }
.l-margin-vd { margin-top: 1em; margin-bottom: 1em; }
.l-margin-vm { margin-top: 2em; margin-bottom: 2em; }
.l-margin-vl { margin-top: 4em; margin-bottom: 4em; }
.l-margin-vx { margin-top: 6em; margin-bottom: 6em; }

/* Horizontal */

.l-padding-hn { padding-left: 0; padding-right: 0; }
.l-padding-hs { padding-left: 0.5em; padding-right: 0.5em; }
.l-padding-hd { padding-left: 1em; padding-right: 1em; }
.l-padding-hm { padding-left: 2em; padding-right: 2em; }
.l-padding-hl { padding-left: 4em; padding-right: 4em; }
.l-padding-hx { padding-left: 6em; padding-right: 6em; }

.l-margin-hn { margin-left: 0; margin-right: 0; }
.l-margin-hs { margin-left: 0.5em; margin-right: 0.5em; }
.l-margin-hd { margin-left: 1em; margin-right: 1em; }
.l-margin-hm { margin-left: 2em; margin-right: 2em; }
.l-margin-hl { margin-left: 4em; margin-right: 4em; }
.l-margin-hx { margin-left: 6em; margin-right: 6em; }

/* Top */

.l-padding-tn { padding-top: 0; }
.l-padding-ts { padding-top: 0.5em; }
.l-padding-td { padding-top: 1em; }
.l-padding-tm { padding-top: 2em; }
.l-padding-tl { padding-top: 4em; }
.l-padding-tx { padding-top: 6em; }

.l-margin-tn { margin-top: 0; }
.l-margin-ts { margin-top: 0.5em; }
.l-margin-td { margin-top: 1em; }
.l-margin-tm { margin-top: 2em; }
.l-margin-tl { margin-top: 4em; }
.l-margin-tx { margin-top: 6em; }

/* Bottom */

.l-padding-bn { padding-bottom: 0; }
.l-padding-bs { padding-bottom: 0.5em; }
.l-padding-bd { padding-bottom: 1em; }
.l-padding-bm { padding-bottom: 2em; }
.l-padding-bl { padding-bottom: 4em; }
.l-padding-bx { padding-bottom: 6em; }

.l-margin-bn { margin-bottom: 0; }
.l-margin-bs { margin-bottom: 0.5em; }
.l-margin-bd { margin-bottom: 1em; }
.l-margin-bm { margin-bottom: 2em; }
.l-margin-bl { margin-bottom: 4em; }
.l-margin-bx { margin-bottom: 6em; }

/* Left */

.l-padding-ln { padding-left: 0; }
.l-padding-ls { padding-left: 0.5em; }
.l-padding-ld { padding-left: 1em; }
.l-padding-lm { padding-left: 2em; }
.l-padding-ll { padding-left: 4em; }
.l-padding-lx { padding-left: 6em; }

.l-margin-ln { margin-left: 0; }
.l-margin-ls { margin-left: 0.5em; }
.l-margin-ld { margin-left: 1em; }
.l-margin-lm { margin-left: 2em; }
.l-margin-ll { margin-left: 4em; }
.l-margin-lx { margin-left: 6em; }

/* Right */

.l-padding-rn { padding-right: 0; }
.l-padding-rs { padding-right: 0.5em; }
.l-padding-rd { padding-right: 1em; }
.l-padding-rm { padding-right: 2em; }
.l-padding-rl { padding-right: 4em; }
.l-padding-rx { padding-right: 6em; }

.l-margin-rn { margin-right: 0; }
.l-margin-rs { margin-right: 0.5em; }
.l-margin-rd { margin-right: 1em; }
.l-margin-rm { margin-right: 2em; }
.l-margin-rl { margin-right: 4em; }
.l-margin-rx { margin-right: 6em; }





/* Mobile
   ========================================================================== */

/* All */

.l-padding-mobile-an { @include mq( $until: tablet ) { padding: 0; } }
.l-padding-mobile-as { @include mq( $until: tablet ) { padding: 0.5em; } }
.l-padding-mobile-ad { @include mq( $until: tablet ) { padding: 1em; } }
.l-padding-mobile-am { @include mq( $until: tablet ) { padding: 2em; } }
.l-padding-mobile-al { @include mq( $until: tablet ) { padding: 4em; } }
.l-padding-mobile-ax { @include mq( $until: tablet ) { padding: 6em; } }

.l-margin-mobile-an { @include mq( $until: tablet ) { margin: 0; } }
.l-margin-mobile-as { @include mq( $until: tablet ) { margin: 0.5em; } }
.l-margin-mobile-ad { @include mq( $until: tablet ) { margin: 1em; } }
.l-margin-mobile-am { @include mq( $until: tablet ) { margin: 2em; } }
.l-margin-mobile-al { @include mq( $until: tablet ) { margin: 4em; } }
.l-margin-mobile-ax { @include mq( $until: tablet ) { margin: 6em; } }

/* Vertical */

.l-padding-mobile-vs { @include mq( $until: tablet ) { padding-top: 0.5em; padding-bottom: 0.5em; } }
.l-padding-mobile-vm { @include mq( $until: tablet ) { padding-top: 2em; padding-bottom: 2em; } }
.l-padding-mobile-vd { @include mq( $until: tablet ) { padding-top: 1em; padding-bottom: 1em; } }
.l-padding-mobile-vl { @include mq( $until: tablet ) { padding-top: 4em; padding-bottom: 4em; } }
.l-padding-mobile-vx { @include mq( $until: tablet ) { padding-top: 6em; padding-bottom: 6em; } }

.l-margin-mobile-vs { @include mq( $until: tablet ) { margin-top: 0.5em; margin-bottom: 0.5em; } }
.l-margin-mobile-vd { @include mq( $until: tablet ) { margin-top: 1em; margin-bottom: 1em; } }
.l-margin-mobile-vm { @include mq( $until: tablet ) { margin-top: 2em; margin-bottom: 2em; } }
.l-margin-mobile-vl { @include mq( $until: tablet ) { margin-top: 4em; margin-bottom: 4em; } }
.l-margin-mobile-vx { @include mq( $until: tablet ) { margin-top: 6em; margin-bottom: 6em; } }

/* Horizontal */

.l-padding-mobile-hs { @include mq( $until: tablet ) { padding-left: 0.5em; padding-right: 0.5em; } }
.l-padding-mobile-hd { @include mq( $until: tablet ) { padding-left: 1em; padding-right: 1em; } }
.l-padding-mobile-hm { @include mq( $until: tablet ) { padding-left: 2em; padding-right: 2em; } }
.l-padding-mobile-hl { @include mq( $until: tablet ) { padding-left: 4em; padding-right: 4em; } }
.l-padding-mobile-hx { @include mq( $until: tablet ) { padding-left: 6em; padding-right: 6em; } }

.l-margin-mobile-hs { @include mq( $until: tablet ) { margin-left: 0.5em; margin-right: 0.5em; } }
.l-margin-mobile-hd { @include mq( $until: tablet ) { margin-left: 1em; margin-right: 1em; } }
.l-margin-mobile-hm { @include mq( $until: tablet ) { margin-left: 2em; margin-right: 2em; } }
.l-margin-mobile-hl { @include mq( $until: tablet ) { margin-left: 4em; margin-right: 4em; } }
.l-margin-mobile-hx { @include mq( $until: tablet ) { margin-left: 6em; margin-right: 6em; } }

/* Top */

.l-padding-mobile-tn { @include mq( $until: tablet ) { padding-top: 0; } }
.l-padding-mobile-ts { @include mq( $until: tablet ) { padding-top: 0.5em; } }
.l-padding-mobile-td { @include mq( $until: tablet ) { padding-top: 1em; } }
.l-padding-mobile-tm { @include mq( $until: tablet ) { padding-top: 2em; } }
.l-padding-mobile-tl { @include mq( $until: tablet ) { padding-top: 4em; } }
.l-padding-mobile-tx { @include mq( $until: tablet ) { padding-top: 6em; } }

.l-margin-mobile-tn { @include mq( $until: tablet ) { margin-top: 0; } }
.l-margin-mobile-ts { @include mq( $until: tablet ) { margin-top: 0.5em; } }
.l-margin-mobile-td { @include mq( $until: tablet ) { margin-top: 1em; } }
.l-margin-mobile-tm { @include mq( $until: tablet ) { margin-top: 2em; } }
.l-margin-mobile-tl { @include mq( $until: tablet ) { margin-top: 4em; } }
.l-margin-mobile-tx { @include mq( $until: tablet ) { margin-top: 6em; } }

/* Bottom */

.l-padding-mobile-bn { @include mq( $until: tablet ) { padding-bottom: 0; } }
.l-padding-mobile-bs { @include mq( $until: tablet ) { padding-bottom: 0.5em; } }
.l-padding-mobile-bd { @include mq( $until: tablet ) { padding-bottom: 1em; } }
.l-padding-mobile-bm { @include mq( $until: tablet ) { padding-bottom: 2em; } }
.l-padding-mobile-bl { @include mq( $until: tablet ) { padding-bottom: 4em; } }
.l-padding-mobile-bx { @include mq( $until: tablet ) { padding-bottom: 6em; } }

.l-margin-mobile-bn { @include mq( $until: tablet ) { margin-bottom: 0; } }
.l-margin-mobile-bs { @include mq( $until: tablet ) { margin-bottom: 0.5em; } }
.l-margin-mobile-bd { @include mq( $until: tablet ) { margin-bottom: 1em; } }
.l-margin-mobile-bm { @include mq( $until: tablet ) { margin-bottom: 2em; } }
.l-margin-mobile-bl { @include mq( $until: tablet ) { margin-bottom: 4em; } }
.l-margin-mobile-bx { @include mq( $until: tablet ) { margin-bottom: 6em; } }

/* Left */

.l-padding-mobile-ln { @include mq( $until: tablet ) { padding-left: 0; } }
.l-padding-mobile-ls { @include mq( $until: tablet ) { padding-left: 0.5em; } }
.l-padding-mobile-ld { @include mq( $until: tablet ) { padding-left: 1em; } }
.l-padding-mobile-lm { @include mq( $until: tablet ) { padding-left: 2em; } }
.l-padding-mobile-ll { @include mq( $until: tablet ) { padding-left: 4em; } }
.l-padding-mobile-lx { @include mq( $until: tablet ) { padding-left: 6em; } }

.l-margin-mobile-ln { @include mq( $until: tablet ) { margin-left: 0; } }
.l-margin-mobile-ls { @include mq( $until: tablet ) { margin-left: 0.5em; } }
.l-margin-mobile-ld { @include mq( $until: tablet ) { margin-left: 1em; } }
.l-margin-mobile-lm { @include mq( $until: tablet ) { margin-left: 2em; } }
.l-margin-mobile-ll { @include mq( $until: tablet ) { margin-left: 4em; } }
.l-margin-mobile-lx { @include mq( $until: tablet ) { margin-left: 6em; } }

/* Right */

.l-padding-mobile-rn { @include mq( $until: tablet ) { padding-right: 0; } }
.l-padding-mobile-rs { @include mq( $until: tablet ) { padding-right: 0.5em; } }
.l-padding-mobile-rd { @include mq( $until: tablet ) { padding-right: 1em; } }
.l-padding-mobile-rm { @include mq( $until: tablet ) { padding-right: 2em; } }
.l-padding-mobile-rl { @include mq( $until: tablet ) { padding-right: 4em; } }
.l-padding-mobile-rx { @include mq( $until: tablet ) { padding-right: 6em; } }

.l-margin-mobile-rn { @include mq( $until: tablet ) { margin-right: 0; } }
.l-margin-mobile-rs { @include mq( $until: tablet ) { margin-right: 0.5em; } }
.l-margin-mobile-rd { @include mq( $until: tablet ) { margin-right: 1em; } }
.l-margin-mobile-rm { @include mq( $until: tablet ) { margin-right: 2em; } }
.l-margin-mobile-rl { @include mq( $until: tablet ) { margin-right: 4em; } }
.l-margin-mobile-rx { @include mq( $until: tablet ) { margin-right: 6em; } }




/* Desktop
   ========================================================================== */

/* All */

.l-padding-desktop-an { @include mq( $from: tablet ) { padding: 0; } }
.l-padding-desktop-as { @include mq( $from: tablet ) { padding: 0.5em; } }
.l-padding-desktop-ad { @include mq( $from: tablet ) { padding: 1em; } }
.l-padding-desktop-am { @include mq( $from: tablet ) { padding: 2em; } }
.l-padding-desktop-al { @include mq( $from: tablet ) { padding: 4em; } }
.l-padding-desktop-ax { @include mq( $from: tablet ) { padding: 6em; } }

.l-margin-desktop-an { @include mq( $from: tablet ) { margin: 0; } }
.l-margin-desktop-as { @include mq( $from: tablet ) { margin: 0.5em; } }
.l-margin-desktop-ad { @include mq( $from: tablet ) { margin: 1em; } }
.l-margin-desktop-am { @include mq( $from: tablet ) { margin: 2em; } }
.l-margin-desktop-al { @include mq( $from: tablet ) { margin: 4em; } }
.l-margin-desktop-ax { @include mq( $from: tablet ) { margin: 6em; } }

/* Vertical */

.l-padding-desktop-vs { @include mq( $from: tablet ) { padding-top: 0.5em; padding-bottom: 0.5em; } }
.l-padding-desktop-vm { @include mq( $from: tablet ) { padding-top: 2em; padding-bottom: 2em; } }
.l-padding-desktop-vd { @include mq( $from: tablet ) { padding-top: 1em; padding-bottom: 1em; } }
.l-padding-desktop-vl { @include mq( $from: tablet ) { padding-top: 4em; padding-bottom: 4em; } }
.l-padding-desktop-vx { @include mq( $from: tablet ) { padding-top: 6em; padding-bottom: 6em; } }

.l-margin-desktop-vs { @include mq( $from: tablet ) { margin-top: 0.5em; margin-bottom: 0.5em; } }
.l-margin-desktop-vd { @include mq( $from: tablet ) { margin-top: 1em; margin-bottom: 1em; } }
.l-margin-desktop-vm { @include mq( $from: tablet ) { margin-top: 2em; margin-bottom: 2em; } }
.l-margin-desktop-vl { @include mq( $from: tablet ) { margin-top: 4em; margin-bottom: 4em; } }
.l-margin-desktop-vx { @include mq( $from: tablet ) { margin-top: 6em; margin-bottom: 6em; } }

/* Horizontal */

.l-padding-desktop-hs { @include mq( $from: tablet ) { padding-left: 0.5em; padding-right: 0.5em; } }
.l-padding-desktop-hd { @include mq( $from: tablet ) { padding-left: 1em; padding-right: 1em; } }
.l-padding-desktop-hm { @include mq( $from: tablet ) { padding-left: 2em; padding-right: 2em; } }
.l-padding-desktop-hl { @include mq( $from: tablet ) { padding-left: 4em; padding-right: 4em; } }
.l-padding-desktop-hx { @include mq( $from: tablet ) { padding-left: 6em; padding-right: 6em; } }

.l-margin-desktop-hs { @include mq( $from: tablet ) { margin-left: 0.5em; margin-right: 0.5em; } }
.l-margin-desktop-hd { @include mq( $from: tablet ) { margin-left: 1em; margin-right: 1em; } }
.l-margin-desktop-hm { @include mq( $from: tablet ) { margin-left: 2em; margin-right: 2em; } }
.l-margin-desktop-hl { @include mq( $from: tablet ) { margin-left: 4em; margin-right: 4em; } }
.l-margin-desktop-hx { @include mq( $from: tablet ) { margin-left: 6em; margin-right: 6em; } }

/* Top */

.l-padding-desktop-tn { @include mq( $from: tablet ) { padding-top: 0; } }
.l-padding-desktop-ts { @include mq( $from: tablet ) { padding-top: 0.5em; } }
.l-padding-desktop-td { @include mq( $from: tablet ) { padding-top: 1em; } }
.l-padding-desktop-tm { @include mq( $from: tablet ) { padding-top: 2em; } }
.l-padding-desktop-tl { @include mq( $from: tablet ) { padding-top: 4em; } }
.l-padding-desktop-tx { @include mq( $from: tablet ) { padding-top: 6em; } }

.l-margin-desktop-tn { @include mq( $from: tablet ) { margin-top: 0; } }
.l-margin-desktop-ts { @include mq( $from: tablet ) { margin-top: 0.5em; } }
.l-margin-desktop-td { @include mq( $from: tablet ) { margin-top: 1em; } }
.l-margin-desktop-tm { @include mq( $from: tablet ) { margin-top: 2em; } }
.l-margin-desktop-tl { @include mq( $from: tablet ) { margin-top: 4em; } }
.l-margin-desktop-tx { @include mq( $from: tablet ) { margin-top: 6em; } }

/* Bottom */

.l-padding-desktop-bn { @include mq( $from: tablet ) { padding-bottom: 0; } }
.l-padding-desktop-bs { @include mq( $from: tablet ) { padding-bottom: 0.5em; } }
.l-padding-desktop-bd { @include mq( $from: tablet ) { padding-bottom: 1em; } }
.l-padding-desktop-bm { @include mq( $from: tablet ) { padding-bottom: 2em; } }
.l-padding-desktop-bl { @include mq( $from: tablet ) { padding-bottom: 4em; } }
.l-padding-desktop-bx { @include mq( $from: tablet ) { padding-bottom: 6em; } }

.l-margin-desktop-bn { @include mq( $from: tablet ) { margin-bottom: 0; } }
.l-margin-desktop-bs { @include mq( $from: tablet ) { margin-bottom: 0.5em; } }
.l-margin-desktop-bd { @include mq( $from: tablet ) { margin-bottom: 1em; } }
.l-margin-desktop-bm { @include mq( $from: tablet ) { margin-bottom: 2em; } }
.l-margin-desktop-bl { @include mq( $from: tablet ) { margin-bottom: 4em; } }
.l-margin-desktop-bx { @include mq( $from: tablet ) { margin-bottom: 6em; } }

/* Left */

.l-padding-desktop-ln { @include mq( $from: tablet ) { padding-left: 0; } }
.l-padding-desktop-ls { @include mq( $from: tablet ) { padding-left: 0.5em; } }
.l-padding-desktop-ld { @include mq( $from: tablet ) { padding-left: 1em; } }
.l-padding-desktop-lm { @include mq( $from: tablet ) { padding-left: 2em; } }
.l-padding-desktop-ll { @include mq( $from: tablet ) { padding-left: 4em; } }
.l-padding-desktop-lx { @include mq( $from: tablet ) { padding-left: 6em; } }

.l-margin-desktop-ln { @include mq( $from: tablet ) { margin-left: 0; } }
.l-margin-desktop-ls { @include mq( $from: tablet ) { margin-left: 0.5em; } }
.l-margin-desktop-ld { @include mq( $from: tablet ) { margin-left: 1em; } }
.l-margin-desktop-lm { @include mq( $from: tablet ) { margin-left: 2em; } }
.l-margin-desktop-ll { @include mq( $from: tablet ) { margin-left: 4em; } }
.l-margin-desktop-lx { @include mq( $from: tablet ) { margin-left: 6em; } }

/* Right */

.l-padding-desktop-rn { @include mq( $from: tablet ) { padding-right: 0; } }
.l-padding-desktop-rs { @include mq( $from: tablet ) { padding-right: 0.5em; } }
.l-padding-desktop-rd { @include mq( $from: tablet ) { padding-right: 1em; } }
.l-padding-desktop-rm { @include mq( $from: tablet ) { padding-right: 2em; } }
.l-padding-desktop-rl { @include mq( $from: tablet ) { padding-right: 4em; } }
.l-padding-desktop-rx { @include mq( $from: tablet ) { padding-right: 6em; } }

.l-margin-desktop-rn { @include mq( $from: tablet ) { margin-right: 0; } }
.l-margin-desktop-rs { @include mq( $from: tablet ) { margin-right: 0.5em; } }
.l-margin-desktop-rd { @include mq( $from: tablet ) { margin-right: 1em; } }
.l-margin-desktop-rm { @include mq( $from: tablet ) { margin-right: 2em; } }
.l-margin-desktop-rl { @include mq( $from: tablet ) { margin-right: 4em; } }
.l-margin-desktop-rx { @include mq( $from: tablet ) { margin-right: 6em; } }
