.is-style-flickity,
.is-style-flickity-slider {
    display: block;
}

.wp-block-gallery[class*="columns"] {

	.flickity-viewport {
		overflow: hidden;
		position: relative;
	}

	.flickity-slider {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.flickity-enabled {
        display: block;
		position: relative;
        
        &.is-draggable .flickity-viewport {
            cursor: grab;
        }

		&:focus {
			outline: none;
		}
	}
}

// Flickity Gallery

.wp-block-gallery[class*="columns"] {

	.blocks-gallery-item {
		display: block;
		margin-bottom: 0;

		figure, img {
			display: block;
		}

		img {
			object-fit: cover;
		}
	}

    @for $i from 1 through 5 {

        &.columns-#{$i} {
      
			.flickity-enabled .blocks-gallery-item {
                width: (100%/$i);
			}
		}
	}
}

.flickity-button,
.flickity-page-dots {
	display: none;

	.domready & {
		display: block;
	}
}

.flickity-button {
	position: absolute;
	background: none;
	border: none;
	box-shadow: none;
	top: 0;
	bottom: 40px;
	cursor: pointer;

	svg {
		display: none;
	}

	&:before {
		color: #fff;
		text-shadow: 0 0 5px rgba(0,0,0,.2);
	}

	&.previous {
		left: 0;

		&:before {
			@include font-size(1.2);
			@include icon-content('\e90d');
		}

	}

	&.next {
		right: 0;

		&:before {
			@include icon-content('\e90e');
		}
	}

	&:hover,
	&:focus,
	&:active {
		background: none;
		border: none;
		box-shadow: none;
	}
}

.flickity-page-dots {
	color: #fff;
	text-align: center;
	padding: 0;
	height: 40px;
	margin: 0;

	li {
		margin: 0 10px 0 0;
		display: inline-block;
		line-height: 40px;
		cursor: pointer;
		
		&:last-of-type {
			margin-right: 0;
		}

		&:before {
			content: "";
			width: 10px;
			height: 10px;
			border: 1px solid $color__corporate;
			border-radius: 10px;
			margin: 0;
			position: relative;
			bottom: 2px;
		}

		&.is-selected:before {
			background: $color__corporate;
		}
		
		.has-background:not(.has-light-gray-background-color) & {
			
			&:before {
				border-color: #fff;
			}
			
			&.is-selected:before {
				background: #fff;
			}
		}
	}
}