.wp-block-gallery {
	margin-top: 50px;
	margin-bottom: 50px;

	.blocks-gallery-item:before {
		display: none;
	}

	.blocks-gallery-item figcaption {
		padding: 0 $padding__content-mobile;
	}
}

.wp-block-gallery.is-style-flickity,
.wp-block-gallery.is-style-flickity-slider {
	display: block;
	position: relative;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	
	.flickity-viewport {
		overflow: hidden;
	}
	
	.wp-block-group & {
		margin-top: 40px;
		margin-bottom: 30px;
	}
	
	.wp-block-columns & {
		margin: 0;
		
		@media screen and (min-width: breakpoint('tablet-landscape')) {
			
			.blocks-gallery-item {
				padding: 0;	
			}
		}
	}
	
	&.alignfull {
		max-width: none;
		margin-left: -$padding__content-mobile;
		margin-right: -$padding__content-mobile;
	}

	.blocks-gallery-item {
		margin: 0;

		img {
			max-width: none;
			width: 100%;
		}

		figcaption {
			display: none;
			position: static;
			background: none;
			margin-top: 11px;
			color: $color__text-main;
		}
		
		.has-background & {
			
			figcaption {
				color: #fff;
			}
		}
	}

	&:focus {
		outline: none;
	}
	
	@media screen and (min-width: breakpoint('tablet-portrait')) {
		
		.blocks-gallery-item {
			margin-right: 0;
		}
	
		&.flickity--carousel {
			margin-right: 0;
			margin-left: 0;
	
			.blocks-gallery-item {
				width: 49%;
				margin-right: 20px;
	
				img {
					display: block;
				}
			}
		}
			
		&.alignfull {
			margin-left: -$padding__content-tablet;
			margin-right: -$padding__content-tablet;
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		
		.blocks-gallery-item {

			figcaption {
				display: block;
			}
		}
		
		&.alignfull {
			margin-left: -$padding__content-desktop;
			margin-right: -$padding__content-desktop;
			
			.blocks-gallery-item {
				padding-left: 0;
				padding-right: 0;	
			}
		}
	}
}

.wp-block-gallery 	{

	&.is-style-flickity,
	&.is-style-flickity-slider {

		.flickity-page-dots {
			display: block;
			color: #fff;
			text-align: center;
			padding: 0;
			height: 40px;
			margin: 0;

			li {
				margin: 0 10px 0 0;
				display: inline-block;
				line-height: 40px;
				cursor: pointer;
				
				&:last-of-type {
					margin-right: 0;
				}

				&:before {
					content: "";
					width: 10px;
					height: 10px;
					border: 1px solid $color__corporate;
					border-radius: 10px;
					margin: 0;
					position: relative;
					bottom: 2px;
				}

				&.is-selected:before {
					background: $color__corporate;
				}
				
				.has-background:not(.has-light-gray-background-color) & {
					
					&:before {
						border-color: #fff;
					}
					
					&.is-selected:before {
						background: #fff;
					}
				}
			}
		}
	}
}

.wp-block-flickity:not(.is-style-flickity-slider) {

	@for $i from 1 through 5 {
		
		&.columns-#{$i} {
			
			.blocks-gallery-item {
				width: 100% / $i;
				
				figcaption {
					text-align: left;
				}
			}
		}
		
		@media screen and (min-width: breakpoint('tablet-portrait')) {
			padding-left: 60px;
			padding-right: 60px;
			
			.flickity-button:before {
				color: $color__corporate;
			}
		}
	}
}

.flickity-button {
	position: absolute;
	background: none;
	border: none;
	box-shadow: none;
	cursor: pointer;

	svg {
		display: none;
	}

	&:before {
		color: #fff;
		text-shadow: 0 0 5px rgba(0,0,0,.2);
	}

	&.previous {
		left: 0;

		&:before {
			@include font-size(1.2);
			@include icon-content('\e90d');
		}

	}

	&.next {
		right: 0;

		&:before {
			@include icon-content('\e90e');
		}
	}

	&:hover,
	&:focus,
	&:active {
		background: none;
		border: none;
		box-shadow: none;
	}
}
