.wp-block-gallery {
	margin-top: 50px;
	margin-bottom: 50px;

	.blocks-gallery-item:before {
		display: none;
	}

	.blocks-gallery-item figcaption {
		padding: 0 $padding__content-mobile;
	}
}

@import "flickity";
