.wp-block-gallery {
	margin-top: 50px;
	margin-bottom: 50px;

	.blocks-gallery-item:before {
		display: none;
	}

	.blocks-gallery-item figcaption {
		padding: 15px $padding__content-mobile;
		background: rgba(0,0,0,.5);
	}
}

.wp-block-gallery.is-style-flickity,
.wp-block-gallery.is-style-flickity-slider {
	display: block;
	position: relative;
	overflow: hidden;

	.blocks-gallery-item {
		margin: 0;
		
		img {
			max-width: none;
			width: 100%;
		}

		figcaption {
			display: none;
		}
	}

	&:focus {
		outline: none;
	}

	&.flickity--carousel {

		.flickity-button {
			top: calc(50% - 20px);
		}

		.flickity-page-dots {
			position: static;
			background: none;

			li {

				&:before {
					border-color: $color__text-main;
				}

				&.is-selected:before {
					background: $color__text-main;
				}
			}
		}
	}

	@media screen and (min-width: 600px) {

		.blocks-gallery-item {
			margin-right: 0;
		}

		&.flickity--carousel {
			margin-right: 0;
			margin-left: 0;

			.blocks-gallery-item {
				width: 49%;
				margin-right: 20px;

				img {
					display: block;
				}
			}
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		margin-right: -#{$padding__content-desktop};
		margin-left: -#{$padding__content-desktop};

		.blocks-gallery-item {

			figcaption {
				display: block;
			}
		}

		&.flickity--carousel {

			.blocks-gallery-item {
				width: 32%;
			}
		}
	}
}

.wp-block-gallery 	{
	
	&.is-style-flickity,
	&.is-style-flickity-slider {
		
		.flickity-page-dots {
			display: block;
			color: #fff;
			text-align: center;
			padding: 0;
			height: 40px;
			margin: 0;
		
			li {
				margin: 0 10px 0 0;
				display: inline-block;
				line-height: 40px;
				cursor: pointer;
		
				&:before {
					content: "";
					width: 10px;
					height: 10px;
					border: 1px solid $color__text-main;
					border-radius: 10px;
					margin: 0;
					position: relative;
					bottom: 2px;
				}
		
				&.is-selected:before {
					background: $color__text-main;
				}
			}
		}
	}
}

.flickity-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	box-shadow: none;
	cursor: pointer;

	svg {
		display: none;
	}

	&:before {
		color: #fff;
		text-shadow: 0 0 5px rgba(0,0,0,.2);
	}

	&.previous {
		left: 0;

		&:before {
			@include icon-content('\e90d');
		}

	}

	&.next {
		right: 0;

		&:before {
			@include icon-content('\e90e');
		}
	}

	&:hover,
	&:focus,
	&:active {
		background: none;
		border: none;
		box-shadow: none;
	}
}
