//Corporate
$color__corporate: #1976d2;
$color__corporate-secondary: #7edeea;
$color__corporate-tertiary: #7edeea;
$color__corporate-gradient: linear-gradient(to right, #e94b4b, #d11f1f);

$shadow__card: 1px 1px 4px rgba(0,0,0,.1);

//Text
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: #404040;

//Error/Success
$color__success: #0f834d;
$color__error: #e2401c;

//Elements backgrounds
$color__background-body: #f5f5f5;
$color__background-page: #fff;
$color__background-screen: #f1f1f1;
$color__background-header: #fff;
$color__background-sub-menu: #f5f5f5;
$color__background-footer: #555;
$color__background-sub-footer: #333;

$color__background-dark: #6b6b6b;
$color__background-light: #F6F7F9;
$color__background-gradient: linear-gradient(to bottom, #1976d2, darken(#1976d2, 15%));

$color__background-hr: #f0f0f0;
$color__background-pre: #eee;
$color__background-highlight: rgba(233,75,75,.2);

//Elements borders
$color__border-input: #ccc;
$color__border-abbr: #666;

//Button

$color__text-button: #fff;
$color__background-button: #1976d2;
$color__border-button: $color__background-button;
$color__background-button-hover: #63a4ff;
$color__border-button-hover: $color__background-button-hover;
$color__background-button-focus: #004ba0;
$color__border-button-focus: $color__background-button-focus;

$color__background-button-secondary: #424242;
$color__border-button-secondary: $color__background-button-secondary;
$color__background-button-hover-secondary: #595959;
$color__border-button-hover-secondary: $color__background-button-hover-secondary;
$color__background-button-focus-secondary: #3b3b3b;
$color__border-button-focus-secondary: $color__background-button-focus-secondary;

//Links
$color__link: $color__background-button;
$color__link-hover: $color__background-button-hover;
$color__link-focus: $color__background-button-focus;
$color__link-visited: $color__background-button-focus;
