$color__corporate: #0091b2;
$color__corporate-secondary: #0064b2;

$color__success: #8dcf00;
$color__info: #f5f5f5;
$color__error: #b81a2c;

$color__background-body: #f5f5f5;
$color__background-page: #ffffff;
$color__background-screen: #f1f1f1;
$color__background-top-header: #dbdbdb;
$color__background-header: #f0f0f0;
$color__background-sub-menu: #dfdfdf;
$color__background-footer: #f0f0f0;
$color__background-sub-footer: #dbdbdb;

$color__background-hr: #f0f0f0;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-button: #404040;
$color__text-main: #404040;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
