//Main
$size__site-secondary: 30%;
$size__site-primary: 100% - $size__site-secondary;

$size__text-width: $text_width * 1px;
$size__large-text-width: 740px;
$size__content-width: $content_width * 1px;
$size__page-width: $page_width * 1px;
$size__page-max-width: $page_max_width * 1px;

$padding__content-mobile: 20px;
$padding__content-tablet: 35px;
$padding__content-desktop: 65px;

//Header
$size__logo-height-mobile: 38px;
$size__logo-height-desktop: 55px;
$size__header-height-mobile: $size__logo-height-mobile + 7px * 2;
$size__header-height-desktop: $size__logo-height-desktop + 10px * 2;
$size__centered-header-height: $size__logo-height-desktop + 10 * 2 + 45px;
