$size__site-main: 100%;
$size__site-secondary: 25%;
$size__site-primary: 100% - $size__site-secondary;
$size__content-width: $content_width * 1px;
$size__header-height-mobile: 53px;
$size__header-height-desktop: 88px;

$padding__content-mobile: 15px;

$breakpoint__tablet-portrait: 600px;
$breakpoint__tablet-landscape: 900px;
$breakpoint__desktop: 1200px;
$breakpoint__content-max-width: $size__content-width + $padding__content-mobile * 2;