
// ==========================================================================
// Forms
// ==========================================================================

/* General
   ========================================================================== */

::-webkit-input-placeholder {
   color: $alto;
}

:-moz-placeholder { /* Firefox 18- */
   color: $alto;
}

::-moz-placeholder { /* Firefox 19+ */
   color: $alto;
}

:-ms-input-placeholder {
   color: $alto;
}

/**
 * Padding, line-height, border => height
 * This is important to keep IE and Firefox from clipping text within.
 * Setting line-height: 1, doesn't align placeholder text properly
 */
input,
textarea {
    width: 100%;
    display: inline-block;
    background-color: white;
    border: 1px solid $alto;
    border-radius: 4px;
    @include rem( 'margin', 0 0 16px );
    @include rem( 'padding', 7px );
    @include rem( 'height', 40px );
    @include transition( border .15s );
}

input:focus,
textarea:focus,
select:focus {
    border-color: $gray;
    outline: none;
}

select {

    &[multiple] {
        @include rem( 'height', 116px );
    }
}

input[type="submit"],
button[type="submit"] {
    margin: 0;
    height: auto;
    width: auto;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

input[type="search"],
input[type="text"] {
    -webkit-appearance: none;
    border-radius: 4px;
}

button {
    @include transition( all .15s );
}

/**
 * Normalize sets as 'content-box'
 */
input[type="search"] {
  box-sizing: border-box; /* 1 */
}

textarea {
    height: auto;
    min-height: 50px;
}
