
// ==========================================================================
// Media Query Check
// ==========================================================================

/**
 * Content property must be applied to pseudo elements - http://stackoverflow.com/a/18470807
 * Cannot get value of pseudo element property with jQuery since it's not part of the DOM
 * This is possible with JavaScript using this method (http://davidwalsh.name/pseudo-element). However, it
 * isn't compatbile with LTE IE8
 *
 * 1. Needed for getting z-index value in js
 * 2. Denotes mobile
 */

.mq-state {
    position: relative; /* 1 */
    z-index: 5; /* 2 */
    display: none;

    &:before {
        content: "mobile";
    }
}
@include mq( $from: mobile-landscape ) {
    .mq-state {
        z-index: 10;

        &:before {
            content: "mobile-landscape";
        }
    }
}
@include mq( $from: mobile-wide ) {
    .mq-state {
        z-index: 15;

        &:before {
            content: "mobile-wide";
        }
    }
}
@include mq( $from: tablet ) {
    .mq-state {
        z-index: 20;

        &:before {
            content: "tablet";
        }
    }
}
@include mq( $from: tablet-landscape ) {
    .mq-state {
        z-index: 25;

        &:before {
            content: "tablet-landscape";
        }
    }
}
@include mq( $from: site-constraint ) {
    .mq-state {
        z-index: 30;

        &:before {
            content: "site-constraint";
        }
    }
}
@include mq( $from: desktop ) {
    .mq-state {
        z-index: 35;

        &:before {
            content: "desktop";
        }
    }
}
