
// ==========================================================================
// Social Profiles
// ==========================================================================

.social-profiles {
    margin: 1em 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.social-profiles__item {
    margin: 7px;
    display: inline-block;
    line-height: 1;

    .lt-ie9 & {
        display: inline;
        zoom: 1;
    }
}

.social-profiles__link {
    width: 1.75em;
    height: 1.75em;
    line-height: 1.75em;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: $off-black;
    overflow: hidden;
    box-shadow: 0 0 0 3px $off-black;
    @include transition-property( color background box-shadow );
    @include transition-duration( .15s );

    &:hover {
        background-color: rgba( $alto, 1 );
        color: $pomegranate;
        box-shadow: 0 0 0 6px rgba( $alto, .3 );
    }
}
