
// ==========================================================================
// Widgets
// ==========================================================================

/* Widget
   ========================================================================== */

.widget {
    margin-bottom: 2em;

    &:last-child {
        margin-bottom: 0;
    }
}

.widget__heading {
    margin-top: 0;
    margin-bottom: .4em;
}
