//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
	@include outer-container;
	padding: 0 2*$gutter;
	
	@include wider-than(desktop) {
		padding: 0;
	}
}

.site-header,
.site-footer {
	padding: 0 2*$gutter;
}

.site-content {
	margin: rem(20) auto;

	@include wider-than(desktop) {
		margin: rem(40) auto rem(60);
	}
}

.primary {
	@include fill-parent;

	@include wider-than(tablet-landscape) {
		@include span-columns(8);
	}
}

.secondary {
	@include fill-parent;

	@include wider-than(tablet-landscape) {
		@include span-columns(4);
		@include omega();
	}
}
