//--------------------------------------------------------------
// Colors
//-------------------------------------------------------------

$color-blue: #21759b;
$color-dark-gray: #666666;
$color-darker-gray: #333333;
$color-darkest-gray: #111111;
$color-light-gray: #cccccc;
$color-lighter-gray: #eeeeee;
$color-whitesmoke: #f1f1f1;
$color-light-yellow: #fff9c0;
$color-black: #000000;
$color-white: #ffffff;

$color-background-body: $color-white;
$color-background-screen-reader: $color-whitesmoke;
$color-background-hr: $color-light-gray;
$color-background-button: $color-blue;
$color-background-pre: $color-lighter-gray;
$color-background-ins: $color-light-yellow;

$color-text-screen-reader: $color-blue;
$color-text-input: $color-dark-gray;
$color-text-input-focus: $color-darkest-gray;
$color-link: $color-blue;
$color-link-visited: $color-blue;
$color-link-hover: $color-blue;
$color-text-main: $color-darkest-gray;

$color-border-button: $color-light-gray;
$color-border-button-hover: $color-light-gray;
$color-border-button-focus: $color-light-gray;
$color-border-input: $color-light-gray;
$color-border-abbr: $color-dark-gray;
