//--------------------------------------------------------------
// Colors
//-------------------------------------------------------------

$color-blue: #21759b;
$color-dark-gray: #666666;
$color-darker-gray: #333333;
$color-darkest-gray: #111111;
$color-light-gray: #cccccc;
$color-lighter-gray: #eeeeee;
$color-whitesmoke: #f1f1f1;
$color-light-yellow: #fff9c0;
$color-black: #000000;
$color-white: #ffffff;

$color-background-body: $color-white;
$color-background-screen-reader: $color-whitesmoke;
$color-background-hr: $color-light-gray;
$color-background-button: $color-blue;

$color-text-screen-reader: $color-blue;
$color-text-input: $color-dark-gray;
$color-text-input-focus: $color-darkest-gray;
$color-link: $color-blue;
$color-link-visited: $color-blue;
$color-link-hover: $color-blue;
$color-text-main: $color-darkest-gray;

$color-border-input: $color-light-gray;
$color-border-abbr: $color-dark-gray;

// Social Media Colors
$color-rss: #ff9900;
$color-twitter: #00aced;
$color-facebook: #3b5998;
$color-googleplus: #dd4b39;
$color-pinterest: #cb2027;
$color-linkedin: #007bb6;
$color-youtube: #bb0000;
$color-instagram: #517fa4;

$social-colors: (
	rss: $color-rss,
	rss-square: $color-rss,
	twitter: $color-twitter,
	twitter-square: $color-twitter,
	facebook: $color-facebook,
	facebook-square: $color-facebook,
	googleplus: $color-googleplus,
	googleplus-square: $color-googleplus,
	pinterest: $color-pinterest,
	pinterest-square: $color-pinterest,
	linkedin: $color-linkedin,
	linkedin-square: $color-linkedin,
	youtube: $color-youtube,
	youtube-square: $color-youtube,
	instagram: $color-instagram,
);
