a {
	border-bottom: 1px solid;
	text-decoration: none;
	color: $color__link;

	// Don't delay style changes for click/keyboard events, just for hover.
	&,
	&:hover {
		transition: $transition-time__link color $transition-type,
			$transition-time__link background-color $transition-type,
			$transition-time__link border-color $transition-type;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		border-bottom: 1px solid $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}

}

%hide-underline {
	border-bottom-color: transparent;

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		border-bottom: 1px solid $color__link-hover;
	}

}
