.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		@include font-size( "small" );
		list-style: none;
		margin: 0;
		padding-left: 0;
		font-family: $font-family__nav;
		text-transform: uppercase;

		/*
		 * Submenus.
		 * 1. Override the default sub-list styling.
		 * 2. Delay moving the menu off-screen until it's faded out.
		 */
		ul {
			@include rem( "top", $spacing );
			@include font-size( "small" ); /* 1 */
			box-shadow: 0 3px 3px rgba( 0, 0, 0, 0.2 );
			float: left;
			position: absolute;
			left: -999em;
			z-index: 99999;
			min-width: 100%;
			opacity: 0;
			line-height: 1.25; /* 1 */
			transition: $transition-time__navigation opacity $transition-type,
				0s left linear $transition-time__navigation; /* 2 */

			li {
				@include rem( "padding", ( $spacing * 0.25 ) ( $spacing * 0.5) );
				text-align: left;
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}

		}

		/*
		 * Show submenu on parent:hover.
		 * 1. For fade in effect.
		 * 2. Overwrite the delay in moving the submenu into view, so we can see
		 *    the fade in effect.
		 */
		li:hover > ul {
			left: 0;
			opacity: 1; /* 1 */
			transition: $transition-time__navigation opacity $transition-type; /* 2 */
		}

	}

	li {
		@include rem( "padding", ( $line / 2 ) $line );
		position: relative;

		&:hover > a {
		}

	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}

}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled .nav-menu {
	display: block;
}

.main-navigation .nav-menu {
	display: none;
}

/* Responsive menu */
@media screen and (min-width: 45em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation .nav-menu {
		display: table;
		width: 100%;

		> li {
			display: table-cell;
			text-align: center;
			border-right: 1px solid #fff;
			border-left:  1px solid #fff;
			background: #eee;
		}

	}

}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		@include rem( "margin", 0 0 $spacing );
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
