._header__navigation {
	position: relative;
}

._header__navigation-checkbox,
._header__navigation-toggler {
	display: none;
	
	@include mq($until: desktop) {
		display: inline-block;
	}
}

._header__navigation-checkbox {
	position: absolute;
	left: -9999px;
}

._header__menu {
	display: none;
	
	@include mq($from: desktop) {
		display: block;
	}
}

._header__navigation-checkbox:checked ~ ._header__menu {
	@include flex;
	@include direction(column);
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
}

._header__menu-list,
._header__submenu-list {
	background-color: $color__header-menu;
	margin: 0;
	padding: 0;
	list-style: none;
	
	@include mq($from: desktop) {
		@include flex;
		@include flex-justify--space-around;
	}
}

._header__submenu-list {
	@include flex-container--column;
	
	@include mq($from: desktop) {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
	}
}

._header__menu-item,
._header__submenu-item {
	@include flexbox(1);
	position: relative;
}

._header__menu-link,
._header__submenu-link {
	@include flex;
	@include flexbox(1);
	@include flex-justify--center;
	margin: 0;
}

._header__menu-item:hover > ._header__submenu-list {
	display: block;
}
