.template-two-columns .entry-image {
	text-align: center;

	/* Prevent featured image from being larger than its natural size. */
	img {
		max-width: 474px;
	}

}

@include media( "main-spacing-2" ) {

	.site-main {
		position: relative; /* for relative scaling of fixed-position images */
	}

	.template-two-columns {
		@include rem( "top", ( $spacing * 1.5 ) );

		.site-header {
			@include rem( "margin-bottom", $spacing * 2 );
		}

		.entry-title,
		.entry-subtitle,
		.entry-meta {
			text-align: left;
		}

		// Align title with top of featured image.
		.entry-header {
			margin-top: -0.8em;
		}

		.entry-title {
			margin-top: 0;
		}

		hr,
		.entry-content:before {
			margin-left: 0;
		}

	}

	.template-fixed-left,
	.template-scrolling-left {

		.entry-image {
			left: 8.33333%;
		}

	}

	.template-fixed-right,
	.template-scrolling-right {

		.entry-image {
			right: 8.33333%;
		}

	}

	.template-fixed-left,
	.template-fixed-right {

		.entry-image {
			position: fixed;
			transform: none;
			z-index: 0;
		}

		&.menu-left-toggled,
		&.menu-right-toggled {

			.entry-image {
				display: none;
			}

		}

	}

	.template-scrolling-left,
	.template-scrolling-right {

		.entry-image {
			position: absolute;
		}

	}

	.template-scrolling-left {

		.size-thumbnail.alignleft {
			position: relative;
			left: -150px;
			margin-right: -150px;
		}

	}

	.template-scrolling-right {

		.size-thumbnail.alignright {
			position: relative;
			right: -150px;
			margin-left: -150px;
		}

	}

}

@include media( "main-spacing-3" ) {

	// .template-scrolling-left {

	// 	.alignleft {
	// 		position: absolute;
	// 		left: 8.33333%;
	// 	}

	// }

	// .template-scrolling-right {

	// 	.alignright {
	// 		position: absolute;
	// 		left: 50%;
	// 	}

	// }

}
