.site-header {
    
    @media screen and (min-width: breakpoint(2)) {
        
        #site-navigation {
            display: inline-block;
        }
        
        .site-branding {
            float: none;
            display: block;
            
            img {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}