.site-header {
    background: $color__background-header;
    
    .wrap {
        
        &:after {
            @include clearfix();
            @include clearfix-after();
        }
    }
    
    .site-branding {
        float: left;
        
        img {
            display: block;
            height: 38px;
            width: auto;
            margin-top: 5px;
            margin-bottom: 5px;
        }    
    }
    
    .main-navigation-toggle {
        float: right;
        padding: 0;
        height: $size__header-height-mobile;
        background: none;
        border: none;
        
        &:before {
            @include icon-content("\e908");
        }
    }
    
    @media all and (min-width: breakpoint(2)) {
        
        .site-branding {
            
            img {
                height: 58px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        
        #main-navigation {
            right: 0;
            text-align: center;
            
            ul:after {
                @include clearfix();
                @include clearfix-after();
            }
            
            li {
               margin-right: 10px;
               float: left;
               
                a {
                    line-height: $size__header-height-desktop;
                }
               
               &:last-of-type {
                   margin-right: 0;
               }
            }
        }
        
        #site-navigation {
            display: block;
        }
        
        .main-navigation-toggle {
            display: none;
        }
    }
}
    
//@import 'center-aligned';
@import 'left-aligned';
@import 'top-header';