.alignleft {
	@include rem( "margin-right", $spacing );
	display: inline;
	float: left;
}

.alignright {
	@include rem( "margin-left", $spacing );
	display: inline;
	float: right;
}

.aligncenter {
	@include center-block;
}

/* Overhang margins on non-mobile layouts */
@include media( "main-spacing" ) {

	.alignleft {
		@include rem( "margin-left", ( $gutter-width * -1 ) );
		padding: 0;
	}

	.alignright {
		@include rem( "margin-right", ( $gutter-width * -1 ) );
		padding: 0;
	}

}

/* Fully in margins on widest layout */
// @include media( "images-in-margin" ) {

// 	.entry-content {
// 		position: relative;
// 	}

// 	.alignleft {
// 		position: absolute;
// 		right: 100%;
// 		margin-left: 0;
// 		margin-right: $gutter-width;
// 		text-align: center;
// 		max-width: ((100% / $columns) * 2);
// 	}

// 	.alignright {
// 		@include rem( "margin-left", ( -233px - $gutter-width ) );
// 	}

// }
