figure {
	@include rem( "margin", $line $text-indent );
}

.alignleft {
	@include rem( "margin-right", $spacing );
	display: inline;
	float: left;
	margin-top: 0;
}

.alignright {
	@include rem( "margin-left", $spacing );
	display: inline;
	float: right;
	margin-top: 0;
}

.aligncenter {
	@include center-block;
}

/* Thumbnail image size. */
.size-thumbnail {
	border-radius: 50% 50%;
}

/* Overhang margins on non-mobile layouts */
@include media( "main-spacing" ) {

	.alignleft {
		@include rem( "margin-left", ( $gutter-width * -1 ) );
		padding: 0;
	}

	.alignright {
		@include rem( "margin-right", ( $gutter-width * -1 ) );
		padding: 0;
	}

}

/* Fully in margins on widest layout */
@include media( "images-in-margin" ) {

	.alignleft {
		@include rem( "margin-left", ( ( ( $width__half-image / 4 ) + ( $gutter-width * 2 ) ) * -1 ) );
	}

	.alignright {
		@include rem( "margin-right", ( ( ( $width__half-image / 4 ) + ( $gutter-width * 2 ) ) * -1 ) );
	}

}
