.alignleft {
	display: inline;
	float: left;
	margin-right: $size__site-spacing;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $size__site-spacing;
}

.aligncenter {
	@include center-block;
}