//--------------------------------------------------------------
// Comments
//--------------------------------------------------------------

.comments-title {
	font-size: rem(24);
}

.comment-list {
	list-style: none;
	margin: 0;
}

.comment-meta {
	margin: 0 0 rem(14) 0;
}

.avatar {
	margin: 0 rem(10) 0 0;

	float: left;
}

.bypostauthor {
	display: block;
}
