//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

// Posts and pages

.entry-title {
	font-size: rem(36);
}

.sticky {
	display: block;
}

.hentry {
	@include margin(0 0 24px 0);
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	@include margin(24px 0 0);
}

.page-links {
	@include margin(0 0 24px 0);

	clear: both;
}

.edit-link {
	@include margin(0 24px);
}

// Asides

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
