//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

// Posts and pages

.entry-title {
	font-size: rem(36);
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 rem(24) 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: rem(24) 0 0;
}

.page-links {
	margin: 0 0 rem(24) 0;

	clear: both;
}

.edit-link {
	margin: 0 rem(24);
}

// Asides

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
