//--------------------------------------------------------------
// Forms
//--------------------------------------------------------------

button,
input,
select,
textarea {
	font-size: 100%; // Corrects font size not being inherited in all browsers
	margin: 0; // Addresses margins set differently in IE6/7, F3/4, S5, Chrome
	vertical-align: baseline; // Improves appearance and consistency in all browsers
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: $color-dark-gray;
	border: none;
	border-radius: 0;
	color: $color-white;
	min-height: rem(31);
	vertical-align: top;
	-webkit-appearance: none; // Remove iOS styles

	&:hover {
		background-color: $color-darker-gray;
	}

	&:active,
	&:focus {
		background-color: $color-darker-gray;
	}
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; // Addresses excess padding in IE8/9
}

// remove the clear x icon in IE
input[type="text"]::-ms-clear,
input[type="search"]::-ms-clear {
	display: none;
}

input[type="search"] {
	-webkit-appearance: textfield; // Addresses appearance set to searchfield in S5, Chrome
	box-sizing: content-box;

	&::-webkit-search-decoration { // Corrects inner padding displayed oddly in S5, Chrome on OSX
		-webkit-appearance: none;
	}
}

button::-moz-focus-inner,
input::-moz-focus-inner { // Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
	color: $color-text-input;
	border: 1px solid $color-border-input;
	border-radius: 0;
	line-height: 1.45;
	-webkit-appearance: none; // Remove iOS styles

	&:focus {
		color: $color-text-input-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: rem(3) rem(5);
}

textarea {
	@include size(100% auto);

	overflow: auto; // Removes default vertical scrollbar in IE6/7/8/9
	padding: rem(6);
	vertical-align: top; // Improves readability and alignment in all browsers
}
