//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

.site-title {
	font-size: rem(48);
}

.site-description {
	font-size: rem(24);
	margin: 0 0 rem(24) 0;
}

#layer-1 {
	@include z-index(layer-1, absolute);

	background-color: red;
}

#layer-2 {
	@include z-index(layer-2, absolute);

	background-color: green;
}

#layer-1,
#layer-2 {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
