//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

.site-title {
	font-size: rem(48);
}

.site-description {
	font-size: rem(24);
	margin: 0 0 rem(24) 0;
}
