//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links

a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
}

// Default menu (active after a fresh WordPress install)

.menu {

	ul {

		li {
			margin: 0 rem(10) 0 0;
		}

	}

}

// Main navigation (after creating a menu in the dashboard)

.main-navigation {
	@include size(100% auto);

	clear: both;
	display: block;
	float: left;

	// Menu area
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		// Sub-menu
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			left: -999em;
			position: absolute;
			top: em(24px);
			z-index: 99999;

			// Sub-sub menu
			ul {
				left: -999em;
				top: 0;
			}

			// Sub-menu items
			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		// Sub-menu links
		a {
			@include size(200px auto);
		}

		// Display sub-menu on hover
		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	// Menu items
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	// Menu hyperlinks
	a {
		display: block;
		text-decoration: none;
	}

	// Current items
	.current_page_item a,
	.current-menu-item a {
	}
}

// Small menu
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 rem(24) 0;
		overflow: hidden;
	}

	& .nav-previous {
		@include size(50% auto);

		float: left;
	}

	& .nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	}
}
