.menu-social-menu-container {

	.menu {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			list-style: none;
			margin-right: rem(24);

			&:last-child {
				margin: 0;
			}
		}

		a {
			color: $color-dark-gray;

			&:hover,
			&:focus {
				color: $color-light-gray;
			}
		}

		a::before {
			font-size: rem(28);
			vertical-align: middle;
		}

		a[href*="facebook.com"] {
			@include icon(before, facebook) {
				font-size: rem(22);
			}
		}

		a[href*="feed"] {
			@include icon(before, rss) {
				font-size: rem(22);
			}
		}

		a[href*="twitter.com"] {
			@include icon(before, twitter) {
				font-size: rem(28);
			}
		}

		a[href*="youtube.com"] {
			@include icon(before, youtube) {
				font-size: rem(25);
			}
		}
	}
}
