button,
.button{
    &:focus{
        outline: none;
    }

    &[disabled]{
        opacity: .68;
    }
}

.rs-button {
    @apply relative bg-white bg-gray-100 leading-none text-gray-700 font-medium border border-gray-500 rounded text-center align-middle;
    transition: all .15s ease-in-out;
    padding: calc(.5em - 1px) 1em;

    &:hover {
        @apply bg-gray-200;
    }

    &:focus,
    &:active{
        @apply bg-gray-300 outline-none;
    }

    &--primary{
        @apply bg-blue-500 border-blue-600 text-white;

        &:hover{
            @apply bg-blue-700 border-blue-800;
        }
    }

    &--ghost{
        @apply bg-transparent text-blue-700 border-blue-500;

        &:hover{
            @apply bg-blue-500 text-white border-transparent;
        }
    }

    &--sm{
        @apply text-sm;
    }
}

//[type='button'],
//[type="reset"],
//[type="submit"] {
//    @extend .rs-button;
//}
//
//[type="submit"]{
//    @extend .rs-button--primary;
//}
