/* =Comments
-------------------------------------------------------------- */
.comments-title {
    @apply mt-12 mb-8 text-base leading-normal font-normal;
}

// 评论列表样式
.content__comments {
    @apply mb-10 ml-0 pl-0;

    .avatar {
        @apply rounded-full border border-gray-300;
    }

    ol.comment-list {
        @apply list-none;

        .pingback {
            @apply leading-relaxed mb-6;
        }
    }

    .children {
        @apply ml-0 pl-10 bg-no-repeat;
        background-position: left 20px;
    }

    li.comment > div img.avatar {
        @apply absolute;
        left: 29px;
        top: 29px;
    }

}


// 评论表单
.comment-respond {
    @apply text-sm;
}

.comment-form {
    p {
        @apply py-3;

        &.logged-in-as {
            @apply mb-6;
        }

        .form-allowed-tags {
            @apply m-0 text-xs leading-loose;
            color: #5e5e5e;
        }
    }

    label {
        @apply block leading-none mb-2;
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    textarea {
        @apply w-full;
    }

    input[type="submit"]{
        @include button-base();
        @include button-bg(#f3f3f3, darken(#f3f3f3, 3%), darken(#f3f3f3, 6%));
        @include button-border(#ddd, #dadada, #d3d3d3);
        color: #383838;
    }

    &-cookies-consent {
        @apply flex w-full items-center text-sm text-gray-600;
    }

    @screen lg {
        &-author,
        &-email,
        &-url {
            @apply w-1/3 float-left;
        }

        &-author {
            @apply pr-2;
        }

        &-email {
            @apply px-2;
        }

        &-url {
            @apply pl-2;
        }
    }
}

.comment-respond {
    @apply mt-12;

    #wp-comment-cookies-consent {
        @apply mr-2;
    }

    .comment-form-cookies-consent {
        @apply flex items-center;
        label {
            margin-bottom: 0;
        }
    }
}

.required {
    color: red;
}


// 单条评论样式
.comment {
    @apply text-sm;

    .comment-body {
        @apply relative border border-gray-300 bg-gray-100;
        padding: 25px 25px 25px 98px;
        margin: 2em 0 0;
    }

    &-author {
        .avatar {
            position: absolute;
            left: 25px;
            top: 29px;
        }

        .says {
            padding-left: 2px;
        }

        b {
            @apply font-normal text-gray-600;
        }
    }

    &-metadata {
        line-height: 16px;
        margin-bottom: 10px;

        a {
            @apply text-xs text-gray-500;
        }
    }

    &-reply-link {
        @apply inline-block mt-2 text-gray-500;
    }

    &-reply-title {
        @apply mt-4 font-medium text-lg;
    }

    &-notes {
        @apply text-gray-500;
    }

    &-content {
        @apply mt-3 text-gray-800;
    }

    &-navigation {
        @apply overflow-hidden mt-8;
    }
}
