.hentry{
    @apply mb-8;
}

// 内容
.rs-entry {
    @apply flex flex-wrap;

    @screen md{
        @apply flex-no-wrap;
    }

    @screen lg{
        @apply px-0;
    }

    &__image{
        min-width: 200px;

        &+{
            .rs-entry__body{

                @screen md{
                    @apply ml-6;
                }
            }
        }
    }

    &__body{
        @apply flex-grow mt-4;

        @screen md{
            @apply mt-0;
        }
    }

    &__title{
        @apply text-xl leading-normal mb-2;
        a{
            @apply text-gray-800;
        }

        @screen lg{
            @apply text-2xl;
        }
    }

    &__desc {
        @apply text-gray-700 text-base;
    }

    &__footer{
        @apply flex justify-between items-center mt-2;

        @screen lg{
          @apply mt-4;
        }
    }

    &__meta {
        @apply mt-1 mb-2 leading-normal text-sm;

        i {
            margin-right: 4px;
            position: relative;
            top: 1px
        }

        & > span {
            @apply mr-2 text-gray-500;
            font-family: sans-serif, Arial;

            &:last-child {
                @apply mr-0;
            }

            a {
                @apply text-gray-500;
            }
        }
    }

    &__tag {
        @apply mb-1;
        a {
            @apply mr-2;

            &:hover {
                color: $primary;
            }
        }
    }

    &__tags--badge {
        a {
            @apply text-white;
            padding: 2px 8px;
            background: $primary;
            border-radius: 16px;
            font-size: 13px;

            &:hover {
                @apply text-white;
            }

            &:active {
                padding: 2px 10px;
            }
        }
    }

    &__date{
        @apply text-gray-600;
    }

    &__more {

    }

}

.post-categories{
    li{
        a{
            @apply inline-block leading-none px-2 py-1 bg-gray-300 text-gray-600 text-sm rounded-sm;
        }
    }
}
