.rs-empty {
    @apply mx-auto text-center px-8 py-16;
    color: #66758c;

    @screen md {
        max-width: 750px;
    }

    .rs-empty__icon {
        @apply text-center mb-8;

        img{
            @apply mx-auto;
            max-width: 16rem;
        }
    }

    .rs-empty__title {
        @apply text-3xl mb-3;
    }

    .rs-empty__subtitle {
        @apply mb-3;
    }

    .rs-empty__action {
        @apply mt-8;
    }
}
