input,
select,
textarea {
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    transition: all 0.3s ease;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    font-size: 16px;
    font-weight: 400;

    &:hover {
        @apply border-primary;
    }

    &:focus,
    &:active {
        @apply border-primary outline-none;
        box-shadow: 0 0 0 0.125em rgba(50, 115, 220, .25);
    }

    &[disabled] {
        @apply opacity-50;
    }

    &:focus{
        outline: 0;
    }
}

[type=submit]{
    border-width: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(.5em - 1px) calc(.75em - 1px);
}

select {
    padding: 0 3rem 0 .625rem;
}

textarea {
    @apply leading-normal;
    padding: 8px 12px;
}

select {
    width: 100%;
    max-width: 100%;
    background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
    background-size: 30px 30px;
    text-indent: .01px;
    text-overflow: "";
    appearance: none;
    padding-right: 3rem;

    &:focus{
        background-image: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23666666" d="M0,0l6,8l6-8"/></svg>')
    }
}

label {
    @apply font-normal;
}


fieldset {
    @apply border-0 my-0;

    legend {
        @apply text-sm mb-2;
    }

    input[type="text"],
    input[type="search"],
    input[type="password"],
    textarea {
        @apply w-full;
    }
}
