body {
    color: $text-color;
    @apply leading-normal;
}

a {
    color: $primary;
}

fieldset{
    @apply p-0 m-0;
}

legend{
    @apply font-medium text-lg mt-4;
}

mark {
    @apply bg-yellow-300 p-1;
}

address{
    @apply not-italic;
}

img {
    max-width: 100%;
}

summary {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

pre, code {
    overflow: auto;
}
