.container {
    max-width: $widescreen;
    @apply mx-auto px-4;

    @screen xl {
        @apply px-0;
    }
}


.site {
    @apply flex flex-col;
    min-height: 100vh;
    &__header {
        @apply flex justify-between items-center w-full bg-white border-b border-gray-300;
        height: 64px;

        .container {
            @apply flex justify-between items-center;
        }

        @screen md {
            height: 75px;
        }

        @screen lg {
            height: 100px;
        }
    }

    &__branding {
        @apply bg-white;
        z-index: 99;

        h1 {
            @apply text-4xl;
        }

        .custom-logo-link {
            @apply block;
            img {
                width: auto;
                @screen md {

                }
                @screen lg {
                    height: 64px;
                    @apply h-auto;
                }
            }
        }
    }

    &__nav {
        .nav-menu {
            @apply hidden flex-wrap ml-8 m-0 left-0 absolute;
            top: 64px;
            z-index: 98;

            @screen md {
                @apply ;
                top: 75px;
            }

            @screen lg {
                @apply flex flex-no-wrap static;
            }

            @screen xl {
                @apply ml-0;
            }

            li {
                @apply w-full relative;

                @screen lg {
                    @apply w-auto;
                }

                ul {
                    @apply hidden;
                }
            }

            a {
                @apply relative block leading-none;

                @screen md {
                    @apply leading-none;
                }
            }

        }

        &.toggled {
            .nav-menu {
                @apply flex w-full;
                box-shadow: 0 1px 3px rgba(0,0,0,.25);
            }
        }
    }

    &__content {
        max-width: $widescreen;
        @apply w-full flex flex-wrap flex-grow mx-auto p-4;

        @screen lg{
          @apply flex-no-wrap;
        }

        @screen xl {
            @apply py-8 px-0;
        }

         .elementor{
            width: 100%;
        }
    }

    &__footer {
        @apply bg-gray-200;
    }

    &__info {
        @apply mx-auto;
    }
}

.elementor-template-full-width{
    .site__content{
        @apply py-0;

        .elementor,
        .elementor-edit-area{
            @apply flex-grow;
        }
    }
}

.content {
    &__primary {
        @apply flex-grow w-full;
    }

    &__secondary {
        @apply flex-grow mt-8;

        @screen lg {
            @apply flex-none w-1/4 ml-8 px-0 mt-0;
        }
    }
}

.menu-toggle {
    @apply flex items-center ml-4;
    color: $primary;

    svg {
        @apply mr-2;
    }

    @screen lg {
        @apply hidden;
    }
}
