.container {
    @apply mx-auto px-4;

    @screen md {
        @apply px-6;
        //max-width: $tablet - 48px;
    }

    @screen lg {
        //max-width: $desktop - 64px;
    }

    @screen xl {
        @apply px-0;
        max-width: $widescreen - 64px;
    }

    &--focus {
        @screen xl {
            max-width: $tablet - 48px;
        }
    }
}

.site {
    @apply flex flex-col;
    min-height: 100vh;

    &__header {
        @apply flex justify-between items-center w-full bg-white border-b border-gray-300;
        height: 64px;

        .container {
            @apply flex justify-between items-center;
        }

        @screen md {
            height: 75px;
        }

        @screen lg {
            height: 100px;
        }
    }

    &__branding {
        @apply bg-white flex-grow;
        z-index: 99;
        @screen lg {
            @apply flex-grow-0;
        }

        h1 {
            @apply text-4xl;
        }

        .custom-logo-link {
            @apply block;
            img {
                width: auto;
                @screen lg {
                    height: 64px;
                    @apply h-auto;
                }
            }
        }
    }

    &__nav {
        @apply flex flex-grow justify-end;
        @screen lg {
            @apply mr-8;
        }
        .nav-menu {
            @apply hidden flex-wrap ml-8 m-0 left-0 absolute;
            top: 64px;
            z-index: 98;

            @screen md {
                @apply ;
                top: 75px;
            }

            @screen lg {
                @apply flex flex-no-wrap static;
            }

            @screen xl {
                @apply ml-0;
            }

            li {
                @apply w-full relative;

                @screen lg {
                    @apply w-auto;
                }
            }

            a {
                @apply relative block leading-none;

                @screen md {
                    @apply leading-none;
                }
            }

        }

        &.is-toggled {
            .nav-menu {
                @apply flex w-full;
                box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
            }
        }
    }

    &__content {
        @apply w-full flex flex-wrap flex-grow mx-auto p-4;
        @extend .container;

        @screen md {
            @apply p-6;
        }

        @screen lg {
            @apply flex-no-wrap;
        }

        @screen xl {
            @apply py-8 px-0;
        }

        .elementor {
            @apply w-full;
        }
    }

    &__footer {
        @apply bg-gray-200;
    }

    &__info {
        @apply mx-auto;
    }
}

.elementor-template-full-width {
    .site__content {
        @apply py-0;

        .elementor,
        .elementor-edit-area {
            @apply flex-grow;
        }
    }
}

.content {
    &__primary {
        @apply flex-grow w-full;

        @screen lg{
          @apply order-2;
        }
    }

    &__secondary {
        @apply flex-grow mt-8;

        @screen lg {
            @apply flex-none px-0 mt-0;
            width: 15%;
            min-width: 256px;
        }
    }

    &__footer {
        @apply py-8;
        &--inner {
            @apply flex -mx-4 flex-wrap;

            @apply lg {
                @apply flex-no-wrap;
            }
        }

        .widget {
            @apply mx-4 w-full;
            flex-grow: 1;

            @screen lg {
                @apply mb-0;
                flex: 0;
                flex-grow: 1;
            }

            img {
                @apply rounded-none shadow-none;
            }
        }
    }
}


.sidebar-left{
    .content{
        &__secondary{
            @screen lg{
                @apply order-1 mr-8;
            }

        }
    }
}


.sidebar-right{
    .content{
        &__secondary{
            @screen lg{
                @apply order-3 ml-8;
            }
        }
    }
}
