//===================
// WordPress 样式
//===================

.wp-post-image {
    @apply h-auto align-middle;
    max-width: 100%;
}

// 媒体对齐
.alignnone {
    @apply mx-0;
    max-width: 100%;
}

.aligncenter {
    @apply inline-block mx-auto my-4;
}

.alignleft,
.alignright {
    @apply mb-4;
}


.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
    @apply rounded;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.wp-caption {
    @apply p-1 max-w-full;
}

.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
    @apply leading-loose italic text-xs text-gray-700;
}

.search-form {
    @apply flex;

    label {
        @apply flex-grow;

        input {
            @apply w-full;
            outline-offset: 0;

            &,
            &:hover,
            &:focus,
            &:active {
                @apply rounded-tr-none rounded-br-none;
            }
        }
    }

    [type="submit"] {
        @apply rounded-tl-none rounded-bl-none;
    }
}

@screnn lg {
    .alignleft {
        @apply float-left mr-4;
    }

    .alignright {
        @apply float-right ml-4;
    }
}

// 图片说明
.wp-caption {
    @appy block mb-4;
    transition: border .2s ease-in-out;
}

.wp-caption-text {
    @apply relative text-white;
    padding: 6px 10px;
    margin-top: -34px;
    background-image: linear-gradient(transparent 0, #000 300%);
}

// 屏幕阅读器
.screen-reader-text {
    @apply hidden;
}

// 默认相册样式
.gallery {
    @apply flex -mx-2;

    .gallery-item {
        @apply px-2;
        .gallery-icon {
            height: 100%;
        }

        .wp-caption-text {
            margin-top: -34px;
        }
    }

    &-columns-2 {
        .gallery-item {
            @apply w-1/2;
        }
    }

    &-columns-3 {
        .gallery-item {
            @apply w-1/3;
        }
    }

    &-columns-4 {
        .gallery-item {
            @apply w-1/4;
        }
    }

    &-columns-5 {
        .gallery-item {
            @apply w-1/5;
        }
    }
}

ul.wp-block-gallery {
    margin-left: 0 !important;
}


#nav-above {
    @apply px-6 hidden;
}

.paged #nav-above {
    @apply block;
}

.nav-links {
    @apply mb-8;
    @include clearfix;
}

.nav-previous,
.previous-image {
    @apply float-left w-1/2;
}

.nav-next,
.next-image {
    @apply float-right w-1/2 text-right;
}

.nav-single + .comments-area,
#comment-nav-above {
    @apply my-16;
}

ul.blocks-gallery-grid {
    @apply ml-0;
}

.wp-block-quote {
    @apply pl-4 py-2 mb-4 border-l-4 border-primary bg-gray-200;

    p {
        &:last-child {
            @apply mb-0;
        }
    }
}

.wp-block-code {
    @apply bg-gray-100 border border-gray-200 p-4 rounded-sm;
}

.pagination {
    @apply flex;
    li {
        @apply block leading-none border border-gray-200 mr-2;
        &.active {
            @apply bg-primary border-primary;
            a {
                @apply text-white;
            }
        }

        a {
            @apply block px-3 py-2 text-gray-700;
        }
    }
}


.wp-calendar-nav,
#wp-calendar {
    margin: 0;
    width: 100%;
    font-size: 13px;
    line-height: 1.846153846;
    color: #686868;
}

#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
    @apply text-left;
}

.wp-calendar-nav {
    @apply table;
    span {
        @apply table-cell;
    }
}

.wp-calendar-nav-next,
#wp-calendar #next {
    padding-right: 24px;
    text-align: right;
}
