//===================
// WordPress 样式
//===================

.wp-post-image {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

// 媒体对齐
.alignnone {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.aligncenter {
    @apply inline-block mx-auto my-4;
}

.alignleft,
.alignright {
    @apply mb-4;
}

@screnn lg {
    .alignleft {
        @apply float-left mr-4;
    }

    .alignright {
        @apply float-right ml-4;
    }
}

// 图片说明
.wp-caption {
    @appy block mb-4;
    transition: border .2s ease-in-out;
}

.wp-caption-text {
    padding: 6px 10px;
    color: #fff;
    margin-top: -34px;
    background-image: linear-gradient(transparent 0, #000 300%);
    position: relative;
}

// 屏幕阅读器
.screen-reader-text {
    display: none;
}

// 默认相册样式
.gallery {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;

    .gallery-item {
        padding-left: 8px;
        padding-right: 8px;

        .gallery-icon {
            height: 100%;
        }

        .wp-caption-text {
            margin-top: -34px;
        }
    }

    &-columns-2 {
        .gallery-item {
            width: 50%;
        }
    }

    &-columns-3 {
        .gallery-item {
            width: 33.33%;
        }
    }

    &-columns-4 {
        .gallery-item {
            width: 25%;
        }
    }

    &-columns-5 {
        .gallery-item {
            width: 20%;
        }
    }
}

ul.wp-block-gallery {
    margin-left: 0 !important;
}


#nav-above {
    @apply px-6 hidden;
}

.paged #nav-above {
    @apply block;
}

.nav-links{
    @apply mb-8;
    @include clearfix;
}

.nav-previous,
.previous-image {
    @apply float-left w-1/2;
}

.nav-next,
.next-image {
    @apply float-right w-1/2 text-right;
}

.nav-single + .comments-area,
#comment-nav-above {
    @apply my-16;
}
