.single-course {

	article a .thumbnail {
		width: 100%;
	}

	.course-meta {

		.status {
			display: block;
			margin-left: 15px;
			margin-top: -60px;
			max-width: 170px;
		}
	}

	.entry {
		margin-top: 30px;
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {

		.course__teacher {
			float: right;
			margin-top: -40px;
		}
	}
}
