.single-course {
    
    article a .thumbnail {
        width: 100%;
    }
    
    .course-meta {
        
        .status {
            display: block;
            margin-left: 15px;
            margin-top: -60px;
            max-width: 170px;
        }
    }
}