.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	& .gallery-columns-2 {
		max-width: var(--columns-2);
	}

	& .gallery-columns-3 {
		max-width: var(--columns-3);
	}

	& .gallery-columns-4 {
		max-width: var(--columns-4);
	}

	& .gallery-columns-5 {
		max-width: var(--columns-5);
	}

	& .gallery-columns-6 {
		max-width: var(--columns-6);
	}

	& .gallery-columns-7 {
		max-width: var(--columns-7);
	}

	& .gallery-columns-8 {
		max-width: var(--columns-8);
	}

	& .gallery-columns-9 {
		max-width: var(--columns-9);
	}
}

.gallery-caption {
	display: block;
}
