@font-face {
	font-family: 'theme-icons';
	src: url('fonts/theme-icons.eot?w1zi4a');
	src: url('fonts/theme-icons.eot?w1zi4a#iefix') format('embedded-opentype'),
	url('fonts/theme-icons.ttf?w1zi4a') format('truetype'),
	url('fonts/theme-icons.woff?w1zi4a') format('woff'),
	url('fonts/theme-icons.svg?w1zi4a#theme-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'theme-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
	content: "\e929";
}

.icon-cross:before {
	content: "\e91f";
}

.icon-down-arrow:before {
	content: "\e921";
}

.icon-right-arrow:before {
	content: "\e922";
}

.icon-up-arrow:before {
	content: "\e923";
}

.icon-pa-account:before {
	content: "\e913";
	color: #8d784c;
}

.icon-pa-addresses:before {
	content: "\e914";
	color: #838383;
}

.icon-pa-dashboard:before {
	content: "\e915";
	color: #838383;
}

.icon-pa-download:before {
	content: "\e916";
	color: #838383;
}

.icon-pa-logout:before {
	content: "\e917";
	color: #838383;
}

.icon-pa-orders:before {
	content: "\e918";
	color: #838383;
}

.icon-pa-payment-methods:before {
	content: "\e919";
	color: #838383;
}

.icon-question-mark:before {
	content: "\e928";
}

.icon-bullets-check:before {
	content: "\e927";
	color: #ffc244;
}

.icon-close-quotes:before {
	content: "\e924";
	color: #a01d55;
}

.icon-open-quotes:before {
	content: "\e925";
	color: #a01d55;
}

.icon-home-icon:before {
	content: "\e920";
	color: #666;
}

.icon-cart:before {
	content: "\e900";
}

.icon-check-circle:before {
	content: "\e901";
}

.icon-clock:before {
	content: "\e902";
}

.icon-close:before {
	content: "\e903";
	color: #e32f31;
}

.icon-facebook:before {
	content: "\e904";
}

.icon-google-plus:before {
	content: "\e905";
}

.icon-instagram:before {
	content: "\e906";
}

.icon-linkedin:before {
	content: "\e907";
}

.icon-menu:before {
	content: "\e908";
}

.icon-minus-icon:before {
	content: "\e909";
}

.icon-plus-icon:before {
	content: "\e90a";
}

.icon-simple-bottom-arrow:before {
	content: "\e90b";
	color: #8e784c;
}

.icon-simple-check:before {
	content: "\e90c";
	color: #e42f31;
}

.icon-simple-left-arrow:before {
	content: "\e90d";
	color: #8e784c;
}

.icon-simple-right-arrow:before {
	content: "\e90e";
	color: #8e784c;
}

.icon-simple-top-arrow:before {
	content: "\e90f";
	color: #8e784c;
}

.icon-star:before {
	content: "\e910";
	color: #fdd835;
}

.icon-twitter:before {
	content: "\e911";
}

.icon-spinner:before {
	content: "\e926";
}

.icon-credit-card:before {
	content: "\e91e";
}

.icon-pencil:before {
	content: "\e91d";
}

.icon-bin:before {
	content: "\e91a";
}

.icon-file-text:before {
	content: "\e91b";
}

.icon-file:before {
	content: "\e91b";
}

.icon-document:before {
	content: "\e91b";
}

.icon-list:before {
	content: "\e91b";
}

.icon-paper:before {
	content: "\e91b";
}

.icon-page:before {
	content: "\e91b";
}

.icon-eye:before {
	content: "\e91c";
}

.icon-views:before {
	content: "\e91c";
}

.icon-vision:before {
	content: "\e91c";
}

.icon-visit:before {
	content: "\e91c";
}

.icon-search:before {
	content: "\e912";
}
