.widget {
	background: #f5f5f5;
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
	
	.widget-title {
		margin: 0 0 15px;
		padding-bottom: 3px;
		text-transform: uppercase;
		@include font-size(1.3);
		display: block;
		border-bottom: 1px solid $color__corporate-secondary;
	}
	
	.widget-description {
		line-height: normal;	
	}
	
	select {
		max-width: 100%;
	}
}

/**
*	Categories
*/

.widget_categories ul,
.filter-list {
	padding: 0;
	
	&:after {
		@include clearfix();
		@include clearfix-after();
	}
	
	li {
		margin: 0;
		float: left;
		margin: 0 10px 10px 0;
		
		&:before {
			display: none;
		}
		
		&.current-cat a {
			background: $color__corporate;
			cursor: default;
			
			&:hover {
				background: $color__corporate;
			}
		}
		
		a {
			@include font-size(.9);
			background: #aaa;
			color: #fff;
			text-decoration: none;
			padding: .3em 1em;
			border-radius: 5px;
			display: block;
			transition: background .2s linear;
			
			&:hover {
				background: #888;
			}
		}
	}
}

.widget_categories ul {
	margin-bottom: 0;
}

/**
*	Search
*/

.widget_search {
	
	label {
		width: calc(100% - 47px);
	}
}

/**
*	Link
*/

.widget_svbk_lead_magnet {
	text-align: center;
	
	.widget-title {
		padding: 0;
		border: none;
		@include font-size(1.6);
		margin-bottom: 10px;
	}
	
	.subtitle {
		margin-bottom: 15px;
		@include font-size(1.2);
		
		&:after {
			content: "";
			display: block;
			background: $color__corporate;
			height: 2px;
			width: 50px;
			margin: 10px auto 0;
		}
	}
	
	img {
		height: 230px;
		width: auto;
		margin: 0 auto;
		display: block;
	}
	
	.widget-description {
		margin-top: 15px;
		@include font-size(1.3);
	}
	
	.button {
		display: block;
		margin-top: 15px;
	}
}

/**
*	About
*/

.widget_svbk_site_about {
	padding-left: 110px;
	
	.about-widget__image {
		position: absolute;
		top: 20px;
		left: 20px;

		img {
			width: 70px;
			height: 70px;
			border-radius: 50%;
		}
	}
	
	.menu {
		padding: 0;
		
		&:after {
			@include clearfix();
			@include clearfix-after();
		}
		
		li {
			float: left;
			
			&:before {
				display: none;
			}
			
			&:after {
				content: "|";
				color: #555;
				margin: 0 3px;
			}
			
			&:last-of-type:after {
				display: none;
			}
		}
	}
}

/**
*	Archive
*/

.widget_svbk_post_archives {
	
	ul {
		padding: 0;
		margin-top: 5px;
	}
	
	li:before {
		display: none;
	}
	
	.month-name {
		cursor: pointer;
		
		&:after {
			@include font-size(.8);
			content: "+";
			margin-left: 10px;
		}
	}
	
	.archive-year {
	
		a {
			text-decoration: none;
		}
		
		ul {
			display: none;
			
			li {
				margin: 0;
			}
		}

		&.expanded {
			
			.month-name:after {
				content: "-";
			}
		}
	}
}