.wp-block-svbk-bullet {
	
	.wp-block-svbk-bullet__icon {
		margin: 0 auto;
		width: 100px;
		height: 100px;
		padding: 10px;

		.card__icon {
			width: 100%;
			height: 100%;
		}
		
		.has-background & svg {
			fill: $color__corporate;
		}
	}
	
	.wp-block-svbk-bullet__title {
		border-bottom: 1px solid $color__background-light;
		margin: 10px 0;
		padding-bottom: 10px;
		text-align: center;
	}
	
	.wp-block-svbk-bullet__content {
		margin-top: 10px;
	}
	
	&.is-style-offset {
		
		@media screen and (min-width: breakpoint('tablet-portrait')) {
			margin-top: -20px;
			width: 31.5%;
			margin-right: 2.5%;
			
			&:nth-of-type(3n + 3) {
				margin-right: 0;
			}
		}
	}
}