.wp-block-svbk-profile {
	position: relative;
	text-align: center;
	
	&[class*="background-color"] {
		margin-top: 120px;
		padding: 80px 20px 20px;
		color: $color__text-main;
		box-shadow: $shadow__card;
		
		.wp-block-svbk-profile__picture {
			position: absolute;
			top: -90px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	
	@media screen and (min-width: breakpoint('tablet-portrait')) {
		margin-top: 50px;
		
		.wp-block-button {
			left: 0;
			right: 0;
		}
		
		&[class$="background-color"],
		&.is-style-featured {
			
			h3 {
				color: $color__text-main;
			}
			
			.wp-block-button {
				left: 20px;
				right: 20px;
			}
		}
	}
}

.wp-block-svbk-profile__picture {
	width: 170px;
	height: 170px;
	margin: 0 auto;
	
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		border: 8px solid #dfdfdf;

		.has-image-border & {
			border-color: $color__corporate;
		}
	}
}

.wp-block-svbk-profile__name,
.wp-block-svbk-profile__role {
	text-align: center;
}

.wp-block-svbk-profile__name {
	@include font-size(1.25);
	margin: 15px auto 10px;
	font-weight: normal;

	.is-style-featured & {
		display: inline-block;
		position: relative;
		margin-top: -50px;
		text-align: center;
	}
}

.wp-block-svbk-profile__role {
	margin: 0;
}

.wp-block-svbk-profile__content {
	margin-top: 10px;
	text-align: left;
}

.wp-block-svbk-profile__button {
	display: inline-block;
}

.wp-block-svbk-profile__link {
	color: $color__link;
}