.wp-block-svbk-card {
	padding: 0 20px 15px;
	background: #fff;
	box-shadow: 1px 1px 4px rgba(0,0,0,.1);
	color: $color__text-main;
	
	p {
		margin-bottom: 15px;
	}
	
	.wp-block-group {
		padding: 15px 15px 5px;
		
		p {
			margin-top: 0;
			margin-bottom: 10px
		}

		ul {
			
			li {
				margin-bottom: 5px;
			}
		}	
	}
		
	.wp-block-svbk-card__picture {
		margin-left: -20px;
		margin-right: -20px;
		
		img {
			width: 100%;
		}
	}
	
	.wp-block-svbk-card__title {
		margin: 20px 0 10px;
	}
	
	.wp-block-button {
		margin-top: 20px;
	}
	
	&.is-style-featured {
		
		.wp-block-svbk-card__title {
			margin: 0 -20px;
			text-align: center;
		}
	}
	
	&.has-icon {
		
		.has-background & svg {
			fill: $color__text-main;
		}
		
		.wp-block-svbk-card__title,
		.wp-block-svbk-card__subtitle {
			text-align: center;
			margin: 10px 0;
		}
		
		@media screen and (min-width: breakpoint('tablet-portrait')) {
			padding-bottom: 20px;
			
			.wp-block-button {
				position: static;
			}
		}
	}

	.wp-block-svbk-card__ribbon {
		@include font-size(.75);
		position: absolute;
		top: 30px;
		right: -35px;
		transform: rotate(45deg);
		border-bottom-width: 31px;
		border-bottom-style: solid;
		border-left: 31px solid transparent;
		border-right: 31px solid transparent;
		height: 0;
		width: 160px;
		line-height: 28px;
		text-align: center;

		&.has-primary-ribbon {
			border-bottom-color: $color__corporate;
			color: #fff;
		}

		&.has-secondary-ribbon {
			border-bottom-color: $color__corporate-secondary;
		}

		&.has-dark-gray-ribbon {
			border-bottom-color: $color__background-dark;
			color: #fff;
		}

		&.has-light-gray-ribbon {
			border-bottom-color: $color__background-light;
		}

		&.has-white-ribbon {
			border-bottom-color: #fff;
		}
	}
	
	@media screen and (min-width: breakpoint('tablet-portrait')) {
		padding: 0 20px 75px;
		position: relative;
		
		.wp-block-button {
			position: absolute;
			left: 20px;
			right: 20px;
			bottom: 15px;
		}
	}
}