.wp-block-svbk-stats {
    text-align: center;
    
    .wp-block-svbk-stats__icon,
    .wp-block-svbk-stats__metric {
        display: inline-block;
        vertical-align: bottom;
    }
    
    .wp-block-svbk-stats__icon {
        width: 3.7rem;
        height: 3.7rem;
        margin-right: 20px;
    }
    
    .wp-block-svbk-stats__metric {
        @include font-size(3.8);
        line-height: 1em;
        margin: 0;
    }
    
    .wp-block-svbk-stats__description {
        border-top: 1px solid $color__background-light;
        padding-top: 10px;
        margin-bottom: 0;
    }
    
    @media screen and (min-width: breakpoint('tablet-portrait')) {
        padding: 0 20px;
        margin-bottom: 0;
    }
}