.site-header {

	@media screen and (min-width: breakpoint('tablet-landscape')) {

		#site-navigation a {
			line-height: 45px;
		}

		div#main-navigation {
			margin-right: 0;
		}

		#site-navigation {
			display: block;

			li {
				display: inline-block;
				float: none;

				a {
					display: block;
				}
			}
		}

		.site-branding {
			float: none;
			display: block;
			padding: 15px;
			margin: 0;
			border-bottom: 1px solid #ddd;

			img {
				margin: 0 auto;
			}
		}

		&.stuck div#main-navigation li {

			a {
				line-height: 45px;
			}

			&.cta-item {
				height: 33px;
			}
		}
	}
}

//@import "has-search";
//@import "has-cart";
@import "has-search-and-cart";
