.author-bio-section {
	@include rem( "margin-bottom", ( $spacing * 2 ) );
	text-align: center;

	p {
		@include rem( "margin-bottom", ( $line * 0.5 ) );
	}

}

.author-image {

	img {
		width: 250px;
		max-width: 250px; /* Override max-width:100%, which breaks in IE8 */
		height: 250px;
		border: 50px solid $white;
	}

}

.author-header {
	background: $color__allaboutyu;
}

.author-title {
	@include rem( "margin", ( $spacing * 0.5 ) 0 );
	@include font-size-line( "larger" );
	font-weight: $font-weight__serif;
	font-family: $font-family__main;
	letter-spacing: normal;
	text-transform: none;
}

.author-student-details {
	font-style: italic;
}

.author-website {
	@include rem( "margin-top", ( $line * 0.5 ) );
}

.author-index-posts {

	.entry-meta {
		display: none;
	}

}
