.comments-footer {
	position: relative; /* to overlap fixed-position content images */
	background: $background-color__footer;
}

.comment-content  {
	@include font-size-line( "small" );

	a {
		word-wrap: break-word;
	}

}

.bypostauthor {
	display: block;
}

/* Comment form help. */
.form-allowed-tags {
	@include font-size-line( "small" );
	font-family: $font-family__meta;
}
