.issue-header {
	@include rem( "margin-bottom", ( $line * 2.5 ) );
}

.issue-title {
	@include font-size-line( "normal" );
	margin: 0;
	font-weight: normal;
	font-family: $font-family__main;
	text-transform: none;

	a {
		@extend %hide-underline;
		font-weight: inherit;
		color: $black;
	}

}

/* eg 'ISSUE ONE' */
.issue-number {
	font-weight: bold;
	letter-spacing: $letter-spacing__caps;
	text-align: center;
	text-transform: uppercase;
	font-family: $font-family__button;
}

/* eg 'April 2015' */
.issue-date {
}
