.issue-title {
	@include font-size-line( "normal" );
	margin-top: 0;
	font-family: $font-family__main;

	a {
		border-bottom: 0;
		font-weight: normal;
		color: $black;

		&:hover,
		&:focus {
			color: $color__link-hover;
		}

	}

}

/* eg 'ISSUE ONE' */
.issue-number {
	font-weight: bold;
	letter-spacing: $letter-spacing__caps;
	text-align: center;
	text-transform: uppercase;
	font-family: $font-family__button;
}

/* eg 'April 2015' */
.issue-date {
}
