.sticky {
	display: block;
}

.hentry {
	@include rem("margin", 0 0 $spacing);
}

.entry-title {
	font-weight: bold;
	font-family: $font-family__title;
	word-wrap: break-word;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	@include rem("margin", $spacing 0 0);
}

.page-links {
	@include rem("margin", 0 0 $spacing);
	clear: both;
}

/* Byline and other metadata. */
.entry-meta,
.entry-footer {
	font-weight: bold;
	font-family: $font-family__meta;
}

/* Author photos. */
.avatar {
	border-radius: 50% 50%;
}

/* Dropcaps. */
.dropcap {
	margin-right: 3px;
	font-weight: bold;
	font-family: $font-family__dropcap;
}
