.sticky {
	display: block;
}

.entry-title {
	@include font-size-line( "gigantic", 2.5 );
	font-weight: bold;
	font-family: $font-family__title;
	word-wrap: break-word;

	a {
		border-bottom: 0;
		color: inherit;
	}

	.single-entry & {
		@include rem( "margin-bottom", $spacing );
	}

}

.updated:not(.published){
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	@include rem( "margin", $spacing 0 ( $spacing * 4 ) );
}

.page-links {
	@include rem( "margin", 0 0 $spacing );
	clear: both;
}

/* Byline. */
.entry-meta,
.entry-author {
	font-family: $font-family__meta;
	text-align: center;

	/* The author's name */
	a {
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: $letter-spacing__caps;
		border-bottom: 0;
	}

}

/* Author photos. */
.avatar {
	border-radius: 50% 50%;
}

/* Categories in entry footer. */
.entry-issue,
.cat-links a {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: $letter-spacing__caps;
	border-bottom: 0;
}

.tags-links a {
	font-weight: bold;
	border-bottom: 0;
}

/* Dropcaps. */
// @todo: fix when the first paragraph is bolded/a standfirst.
.dropcap {
	margin-left: -5px;
	margin-right: 3px;
	font-weight: bold;
	font-family: $font-family__dropcap;
}

/* Metadata */
.entry-footer {
	@include font-size-line( "small" );
	font-family: $font-family__meta;
}

/* Post footer meta lines. */
.posted-on,
.tags-links {
	@include rem( "margin-bottom", $spacing );
	display: block;
}

