.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $size__site-spacing;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $size__site-spacing 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $size__site-spacing;
}