.category-header {
	@include rem( "margin-bottom", ( $line * 2 ) ); /* leave room for the description */
	position: relative;
	text-align: center;

	&:before {
		@include rem( "height", $height__rule );
		@include rem( "margin-top", ( $height__rule * -0.5 ) );
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		background: $color__neutral;
		z-index: 0;
	}

}

.single .category-header {
	@include rem( "margin-top", $spacing );
}

.category-title {
	@include rem( "padding", ( $line * 0.5 ) );
	@include font-size-line( "huger", 1.5 );
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0;
	font-weight: bold;
	letter-spacing: $letter-spacing__caps;
	font-family: $font-family__category;
	text-align: center;
	text-transform: uppercase;
	background: $background-color;

	a {
		@extend %hide-underline;
	}

}

.category-description {
	@include rem( "margin-top", ( $line * -0.5 ) );
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 1;
	font-weight: bold;
	font-family: $font-family__category;
	text-align: center;
}

.issue-section {
	@include rem( "margin-top", ( $line * 2 ) );
	@include rem( "margin-bottom", ( $line * 2 ) );
}

/* Posts list for this section. */
.index-posts {
	position: relative;
	float: left;
	left: 50%;

	& > div {
		position: relative;
		float: left;
		left: -50%;
	}

	.entry {
		@include rem( "margin-bottom", $line )
	}

	.entry-image {
		@include rem( "margin-bottom", ( $spacing / 2 ) );
	}

	.entry-title,
	.entry-subtitle {
		@include font-size-line( "normal" );
		margin: 0;
		text-align: left;
	}

	.entry-title {
		@include font-size-line( "large" );
		font-family: $font-family__main;
	}

	.entry-content,
	.entry-footer {
		display: none;
	}

	.entry-meta {
		@include font-size-line( "small" );
		display: block;
		text-align: left;

		a {
			@extend %hide-underline;
			color: $color__main;

			&:hover,
			&:focus,
			&:active {
				color: $color__link-hover;
			}

		}

	}

	.read-more {
		display: none;
	}

	@include media( "issue-2-columns" ) {

		.entry {
			@include rem( "max-width", ( 333px + ( $spacing * 0.5 ) ) );
			@include rem( "padding", 0 ( $spacing * 0.5 ) );
			float: left;
			margin-bottom: 0;

			&:nth-child(2n+1) {
				clear: left;
			}

			@include quantity-query( 2, "greater" ) {
				width: 50%;
			}

		}

		.entry-content {
			@include rem( "margin", ( $line * 0.5 ) 0 0 );
			@include font-size-line( "small" );
			display: block;
			text-align: left;
		}

	}

}

.search-results .index-posts {

	.entry-meta {
		display: none;
	}

}

.archive:not(.tax-pp_issue) .index-posts,
.search-results .index-posts {

	.entry-footer {
		@include rem( "margin", ( $line * -0.5 ) 0 $line );
		@include font-size-line( "smaller" );
		display: block;
		font-family: $font-family__meta;
	}

	.read-more {
		display: block;
	}

	@include media( "issue-3-columns" ) {

		.entry {

			@include quantity-query( 3, "greater" ) {
				width: 33%;
				clear: none;

				&:nth-child(3n+1) {
					clear: left;
				}

			}

		}

	}

}
