button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button__link {
	border: 1px solid;
	border-color: $color__border-button;
	background: $color__background-button;
	@include font-size(.9);
	text-transform: uppercase;
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
