button,
.button,
.button:visited,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button .wp-block-button__link {
	border: 1px solid;
	border-color: $color__border-button;
	background: $color__background-button;
	color: $color__text-button;
	@include font-size(1);
	text-transform: uppercase;
	line-height: 1;
	padding: .7em 1.2em;
	text-decoration: none;
	text-align: center;
	border-radius: 8px;
	font-weight: bold;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.35);
	transition: background .15s ease-in-out,
				border .15s ease-in-out,
				color .15s ease-in-out,
				box-shadow .15s ease-in-out;

	&:hover,
	&:focus {
		background: $color__background-button-hover;
		border-color: $color__border-button-hover;
		box-shadow: 0 2px 4px rgba(0,0,0,0.35);
	}

	&:active {
		border-color: $color__border-button-focus;
		background-color: $color__background-button-focus;
		outline: none;
		color: $color__text-button;
		box-shadow: 0 0 2px rgba(0,0,0,0.4);
	}
}

.wp-block-button {

	&.is-style-outline .wp-block-button__link {
		color: $color__border-button;
		border-color: $color__border-button;
		background: rgba(255,255,255,0);
		box-shadow: 0 0 0 1px transparent;

		&:hover,
		&:active,
		&:focus,
		&:visited {
			background: rgba(255,255,255,0);
		}

		&:hover,
		&:focus {
			color: $color__border-button-hover;
			box-shadow: 0 0 0 1px $color__border-button-hover;
			border-color: $color__border-button-hover;
		}

		&:active {
			color: $color__border-button-focus;
			border-color: $color__border-button-focus;
		}
	}
}

.wp-block-button.is-style-secondary,
.is-style-download input[type="submit"] {
	background: $color__background-button-secondary;
	border-color: $color__border-button-secondary;

	&:hover,
	&:focus {
		background: $color__background-button-hover-secondary;
		border-color: $color__border-button-hover-secondary;
	}

	&:active {
		border-color: $color__border-button-focus-secondary;
		background-color: $color__background-button-focus-secondary;
	}
}

/* Multiple buttons group */
.buttons-wrap {
	width: 100%;
	padding: 0;

	.wp-block-column:after {
		@include clearfix();
		@include clearfix-after();
	}

	.wp-block-button {
		margin-bottom: 15px;
		display: block;

		.wp-block-button__link {
			width: 100%;
		}
	}

	@media screen and (min-width: 480px) {
		@include clearfix();
		@include clearfix-after();

		.wp-block-button {
			float: left;
			margin-right: 10px;

			&:last-of-type {
				margin-right: 0;
			}

			.wp-block-button__link {
				width: auto;
			}
		}
	}
}
