input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	padding: 7px 10px;
	width: 100%;
	transition: border-color 0.1s linear;
	-webkit-appearance: none;
	-moz-appearance:	 none;
	appearance: none;

	&:focus {
		color: $color__text-input-focus;
		border: 1px solid $color__corporate;
	}

	&:focus,
	&:active,
	&:hover {
		outline: none;
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #bbb;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #bbb;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #bbb;
}
:-moz-placeholder { /* Firefox 18- */
	color: #bbb;
}

label {
	font-weight: 600;
	display: block;
	margin-bottom: 3px;
	@include font-size(.9);

	.required {
		color: $color__error;
	}
}

input[type="checkbox"],
input[type="radio"] {
	width: 20px;
	height: 20px;
	appearance: none;
	cursor: pointer;
	vertical-align: middle;
	margin-right: 5px;
}

input[type="checkbox"] {
	border: 2px solid $color__text-main;
	background-color: #fff;
	background-image: url("images/check.png");
	background-position: -9999px center;
	background-repeat: no-repeat;
	background-size: 80%;
	text-align: center;

	&:checked {
		background-position: center center;
	}

	+ span {
		font-weight: normal;
	}
}

input[type="radio"] {
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0 0 0 1px $color__corporate;

	&:checked {
		background-color: $color__corporate;
	}
}

textarea {
	max-width: 100%;
	min-height: 100px;
	height: 150px;
}

select {
	max-width: 100%;
}

.select2-selection:focus {
	outline: none;
}

.select2-container--default .select2-selection--single {
	border-radius: 0;
	height: 36px;
	border: 1px solid $color__border-input;

	.select2-selection__rendered {
		line-height: 36px;
	}

	.select2-selection__arrow {
		height: 34px;
	}
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
	background-color: $color__corporate;
}

.select2-container--default li:focus {
	outline: none;
}
