@import "buttons";
@import "fields";
@import "search-form";

.wp-block-hubspot-form {
	padding: 30px 20px;
	
	.wp-block-hubspot-form__title {
		@include font-size(1.5);
		margin-top: 0;
		margin-bottom: 10px;
	}
	
	.wp-block-hubspot-form__subtitle {
		@include font-size(1.3);
		font-weight: bold;
		margin: 10px 0;
	}
	
	.wp-block-hubspot-form__content {
		margin-bottom: 15px;
	}
	
	&.has-background {
		box-shadow: $shadow__card;
	}
	
	@media screen and (min-width: breakpoint('desktop')) {
		padding: 30px 40px 20px;
	}
}
