@import "buttons";
@import "fields";
@import "search-form";

fieldset {
	max-width: none !important;

	&.form-columns-1 {

		.hs-input {
			width: 100% !important;
		}

		input[type="checkbox"] {
			width: 1.25em !important;
		}

		input[type="radop"] {
			width: 1em !important;
		}
	}
}

.inputs-list {
	padding: 0;

	li {

		&:before {
			display: none;
		}
	}
}

.hs-form-required,
.hs-error-msgs li {
	color: $color__error;
}

.hs-error-msgs {
	margin: 0;

	li label {
		font-weight: normal;
		padding: 0;
	}
}

.legal-consent-container ~ .hs_recaptcha {
	margin-bottom: 15px;
}

.legal-consent-container {
	@include font-size(.75);
	margin: 18px 0;
	line-height: 1.3em;

	p, .inputs-list {
		margin: 15px 0;
	}

	label {
		@include font-size(.75);
	}
}
